
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
} 
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
} 
.am-u-sm6{
    width:50px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}

.stable{
    display: inline-block !important;
    width: 45% !important;
}
.linkWord{
    width: 10% !important;
}
.deleteImg{
        display:inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:  1px solid #ddd;
       float:left;
       margin-left: 40%;
    }
     .clickUp{
        display: inline-block;
        float: left;
        margin-left: 100px;
    } 

 .wx_type_img{ 
    width: 100%;
     height:140px !important;
       
    }
    #preview{
        height:140px !important;
    }
    #preview #imghead,#preview img{
      height: 130px !important; 
    }
    textarea{
        border: none;
        border-bottom: 1px solid #ccc;
    }
    .goodsState{
        background: #15b5ac;
        border-radius: 5px;
        border: 1px solid #15b5ac;
        padding:5px 5px;
        color: #fff;
        text-align: center;
    }

    .goodsState option{
        background: #fff;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding:2px 5px;
        color: #000;
        text-align: center;
    }
    .goodsState option[selected="selected"]{
        background: #15b5ac;
    }
.wx_type_img{
    height:28px;
    line-height: 24px !important;
    display: inline-block;
    vertical-align: middle;
    float:left;
}
.am-btn-toolbar{
    height: 50px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>
            <a href="<?php echo site_url().'/serveForPeople/serveForPeople/serveForPeople';?>" style="font-size:18px;">为民服务</a>&nbsp;&nbsp;<a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" style="font-size:16px;">邻水帮帮团</a>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">帮帮团搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" enctype="multipart/form-data" >
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-4 am-form-label">姓名:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入帮帮团名称" id="helpgroupName" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-4 am-form-label">所在地区:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入所在地区" id="helpgroupArea" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-4 am-form-label">职业:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入搜索的职业" id="helpgroupJob" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-4 am-form-label">所在社区:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入所在社区" id="helpgroupAddress" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-4 am-form-label">关键词搜索:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入关键词" id="helpgroupkey" />
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchGoods"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">帮帮团成员信息列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a type="button" href="<?php echo site_url().'/serveForPeople/serveForPeople/addhelpgroup';?>" class="am-btn am-btn-default am-btn-success" ><span class="am-icon-plus" ></span> 新增成员</a>
                            <a type="button" class="am-btn am-btn-default am-btn-danger" data-am-modal="{target: '#deleteAll'}"><span class="am-icon-trash " ></span> 批量删除</a>
                             <a href="upload/xls/import_help_user.xlsx" class="am-btn am-btn-warning"><span class="am-icon-arrow-down" ></span>下载导入模板</a>
                            <!-- <a class="am-btn am-btn-secondary am-btn-xs" >
                                 <input type="file" id="imgUpload" name="" onchange="uploadFiles()" class="upload-add fileUpLoad">
                                  <button class=""><span class="am-icon-arrow-down"></span> 导入</button>
                            </a> -->
                            
                        </div><a class="wx_type_img am-inline am-fl" style="height: 28px !important;width:100px;">
                                 <input type="file" id="imgUpload" name="file" onchange="uploadFiles()" class="upload-add fileUpLoad">
                                  <!-- 图片实时预览 -->
                                  <button class="am-btn am-btn-secondary am-btn-xs"><span class="am-icon-arrow-down"></span> 导入</button>
                            </a>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox"></th>
                                    <th class="shop_id">编号 </th>
                                    <th class="moll_name">姓名 </th>
                                    <th class="moll_name">头像 </th>
                                    <th class="moll_name">年龄 </th>
                                    <th class="shop_id">职业</th>
                                    <th class="shop_id">联系方式</th>
                                    <th class="shop_name">帮扶内容 </th>
                                    <th class="shop_yetai">所在地区</th>
                                    <th class="brand">所在社区</th>
                                    <th class="brand">是否推荐</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="helpUserList">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center">
                        <div class="" id="paging_list">
                        </div>
                        <p>共<span class="dataNumber"></span>条数据，共<span class="pageNumber"></span>页</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--批量删除的弹窗-->
 <div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAll">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定删除所有选中的记录吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn deleteAll"  data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/js/artTemplate-native.js"></script>
<script src="assets/laypage/laypage.js"></script>
<script type="text/javascript">
    function uploadFiles(){
        var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象
       // console.log(fileObj.name.split('.')[1]);
        var FileController="<?php echo site_url('/serveForPeople/serveForPeople/impolt_help_user');?>";//上传文件的后台地址
        if(fileObj.name.split('.')[1]=='xml' || fileObj.name.split('.')[1]=='xlsx'){
           var form=new FormData();
            form.append('file',fileObj); //文件对象
            //实例化XMLHttpRequest对象
            var xhr=new XMLHttpRequest();
            xhr.open('post',FileController,true);
            xhr.onload=function(){
                alert("导入成功！");
                location.reload();
            
            };
            xhr.send(form); 
            return true;
        }else{
            alert("上传文件的格式错误！");
            return false;
        }
        
    }




var nums=0,flag=0;
    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){   
            var res = eval(result);
            console.log(res);
            if(res!=2){
                nums = 10; //每页出现的数量
                var pages = Math.ceil(res.length/nums); //得到总页数
                $('.dataNumber').html(res.length);
                $('.pageNumber').html(pages);
                var thisDate = function(curr){
                    var listData = '' , last = curr*nums - 1;
                    last = last >= res.length ? (res.length-1) : last;
                     for(var i = (curr*nums - nums); i <= last; i++){
                        res[i].competency=eval(res[i].competency);
                        listData+= template('helpUserModal',res[i]);
                     }
                    return listData;
                };
                //调用分页
                laypage({
                    cont: 'paging_list',
                    pages: pages,
                    jump: function(obj){
                        document.getElementById('helpUserList').innerHTML = thisDate(obj.curr);
                        //点击选中所有
                        $('.tablecheck').click(function() {
                            if(flag==0){
                              for(var i=0;i<$('.commentBox').length;i++) {
                                document.getElementsByClassName('commentBox')[i].checked=true;
                              }  
                              flag=1;
                            }else{
                               for(var i=0;i<$('.commentBox').length;i++) {
                                // $('.commentBox').eq(i).attr('checked',false);
                                document.getElementsByClassName('commentBox')[i].checked=false;
                                }
                               flag=0;
                            }
                        });
                        for(var i=0;i<$('.tpl-del').length;i++){
                            var dataId=$('.tpl-del').eq(i).attr('data-id'),edDataId=$('.editHelpUser').eq(i).attr('data-id');
                            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
                            $('.editHelpUser').eq(i).attr("data-am-modal","{target: '#ed"+ edDataId +"'}")
                            if($('.goodsState option:selected').eq(i).val()=="0"){
                                $('.goodsState').eq(i).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'});
                            }                          
                        }
                        //更改帮帮团成员的状态
                        $('.goodsState').change(function(){
                            var dataId=$(this).attr('data-id');
                            if($(this).find('option:selected').val()=="1"){
                                $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/serveForPeople/serveForPeople/recommend');?>',
                                    data: 'state=1&id='+dataId,
                                    success: function(data){
                                        if(data==1){
                                        }else{
                                            alert("操作失败！");
                                        }
                                        
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                                $(this).css({'background':' #15b5ac','border-radius':'5px','border':'1px solid #15b5ac','padding':'5px 5px','color': '#fff'}); 
                            }else{
                                $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/serveForPeople/serveForPeople/recommend');?>',
                                    data: 'state=0&id='+dataId,
                                    success: function(data){
                                        if(data==1){

                                        }else{
                                            alert("操作失败！");
                                        }
                                        
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                                $(this).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'}); 
                            }                                                
                        });

                        //单个帮帮成员删除
                        $('.sureDelete').click(function(){
                            var deleteId=$(this).attr('data-id'); 
                            $.ajax({
                                type:'post',
                                url:'<?php echo site_url('/serveForPeople/serveForPeople/del_help_user');?>',
                                data: 'id='+deleteId,
                                success: function(data){
                                    if(data==1){
                                        getList('<?php echo site_url('/serveForPeople/serveForPeople/helpUser_list');?>','default=1');
                                    }else{
                                        alert("操作失败！");
                                    }
                                    
                                },
                                error:function(xhr,type,errorThrown){
                                    alert("操作失败，请检查网络设置！");
                                }
                            });                       
                        });
                        
                        //多个帮帮成员删除
                        $('.deleteAll').click(function(){
                            var deleteId=$(this).attr('data-id');
                            var array=[];
                            for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){                            
                                array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
                            }
                            array=JSON.stringify(array);
                            console.log(array)
                            $.ajax({
                                type:'post',
                                url:'<?php echo site_url('/serveForPeople/serveForPeople/del_users');?>',
                                data: 'id='+array,
                                success: function(data){
                                    if(data==1){
                                        getList('<?php echo site_url('/serveForPeople/serveForPeople/helpUser_list');?>','default=1');
                                    }else{
                                        alert("操作失败！");
                                    }
                                    
                                },
                                error:function(xhr,type,errorThrown){
                                    alert("操作失败，请检查网络设置！");
                                }
                            });
                            
                        });
                         //删除图片
                        $(".deleteImg").click(function(){      
                            $(this).prevUntil('#preview').find('img').attr('src','assets/img/nullImg.jpg');
                            $(this).prevUntil('#preview').find('input').val("");
                            $(this).prevUntil('#preview').find('input').files="";
                        });
                        //上传图片
                        var picArray=[];//定义一个定时器
                        for(var i=0;i<$('.imgUp').length;i++){
                            $('.imgUp').eq(i).change(function() {
                                var dataId=$(this).attr('data-id');                              
                                if(this.files[0] && this.files){
                                    picArray[0]=this.files[0];
                                    var reader = new FileReader();
                                    reader.readAsDataURL(this.files[0]);
                                    reader.onload = function(e) {
                                        var str='<img class="picimg" src="'+this.result+'"/>';
                                        document.getElementsByClassName('preview'+dataId)[0].innerHTML=str;
                                    } 
                                    console.log(picArray);
                                    
                                }
                            });
                            //保存编辑后的成员信息
                            $('.sureSave').eq(i).click(function(){
                                var dataId=$(this).attr('data-id'),formD = new FormData(),FileController="<?php echo site_url('/serveForPeople/serveForPeople/edit_hele_user');?>";//上传文件的后台地址;
                                var name=document.getElementsByClassName('name'+dataId)[0].value,job=document.getElementsByClassName('job'+dataId)[0].value,phone=document.getElementsByClassName('phone'+dataId)[0].value,content=document.getElementsByClassName('content'+dataId)[0].value,area=document.getElementsByClassName('area'+dataId)[0].value,address=document.getElementsByClassName('address'+dataId)[0].value,age=document.getElementsByClassName('age'+dataId)[0].value,state=$('.state'+dataId+' option:selected').eq('0').val();
                                console.log(name+picArray[0] +job+phone+content+area+address+state);
                                formD.append('id',dataId);
                                formD.append('name',name);
                                formD.append('picArray',picArray[0]);
                                formD.append('age',age);
                                formD.append('occupation',job);
                                formD.append('phone',phone);
                                formD.append('competency',content);
                                formD.append('area',area);
                                formD.append('address',address);
                                formD.append('recommend',state);
                                 //实例化XMLHttpRequest对象
                                var xhr=new XMLHttpRequest();
                                xhr.open('post',FileController,true);
                                xhr.send(formD);
                                xhr.onreadystatechange = function(){
                                    if (xhr.readyState===4) {  
                                        if (xhr.status===200) {
                                            alert("保存成功！");
                                            $('#ed'+dataId).modal('close');
                                            // console.log(xhr.responseText)
                                            getList('<?php echo site_url('/serveForPeople/serveForPeople/helpUser_list');?>','default=1');
                                            return true;
                                        }
                                    }
                                }  
                            });
                        }
                        
                        
                    }
                })
            }else{
                $('<tr><td colspan="12" class="am-text-center">暂无帮帮团成员信息！</td><td></td></tr>').appendTo("#helpUserList");
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}



$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/serveForPeople/serveForPeople/helpUser_list');?>','default=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/serveForPeople/serveForPeople/helpUser_list');?>','default=1');
    });
    //点击搜索
    $('.searchGoods').click(function(){
        var helpgroupName=$('#helpgroupName').val(),helpgroupArea=$('#helpgroupArea').val(),helpgroupJob=$('#helpgroupJob').val(),helpgroupAddress=$('#helpgroupAddress').val(),helpgroupkey=$('#helpgroupkey').val();
        getList('<?php echo site_url('/serveForPeople/serveForPeople/help_search');?>','name='+ helpgroupName +'&area=' + helpgroupArea +'&address='+ helpgroupAddress +'&occupation='+ helpgroupJob +'&sear='+ helpgroupkey);
    });

    
})
</script>
<script type="text/html" id="helpUserModal">
    <tr class="trClass" data-id="<%= helper_id%>">
        <td  class="am-text-middle" ><input type="checkbox" class="commentBox" data-id="<%= helper_id%>" name="commentBox"></td>

        <td class="am-text-middle"><%= helper_id%></td>
        <td class="am-text-middle"><%= name%></td>
        <td class="am-text-middle">
        <%if(headPic){%>
            <img src="<%= headPic%>" class="am-img-responsive" alt=""/>
        <%}else{%>  
            暂无
        <%}%>
        </td>
        <td class="am-text-middle"><%= age%></td>
        <td class="am-text-middle"><%= occupation%></td>
        <td class="am-text-middle"><%= phone%></td>
        <td class="am-text-middle">
        <%for(var i=0;i<competency.length;i++){%>
            <%= competency[i]%>  
        <%}%>
        </td>
        <td class="am-text-middle"><%= area%></td>
        <td class="am-text-middle"><%= address%></td>
        <td class="am-text-middle">
        <%if(recommend=="1"){%>
            <select id="" class="goodsState" name="goodsState" data-id="<%= helper_id%>">
                <option value="">-=请选择一项=-</option>
                <option value="1" selected="selected">是</option>
                <option value="0">否</option>
            </select>
        <%}else{%>
            <select id="" class="goodsState" name="goodsState" data-id="<%= helper_id%>">
                <option value="">-=请选择一项=-</option>
                <option value="1">是</option>
                <option value="0" selected="selected">否</option>
            </select>
        <%}%>
        </td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= helper_id%>" class="editHelpUser">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= helper_id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= helper_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= helper_id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-confirm" tabindex="-1" id="ed<%= helper_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">编辑帮帮成员信息</div>
            <div class="am-modal-bd">
                <form class="am-form tpl-form-line-form"  data-am-validator enctype='multipart/form-data'>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">姓名 <span class="red">*</span>：</label>
                    <div class="am-u-sm-9">
                        <input type='hidden' name='type_id' />
                        <input type="text" placeholder="姓名" class="name<%= helper_id%>" value="<%= name%>" name='name' minlength="4" required="">
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">头像<span class="red">*</span>： </label>
                    <div class="am-u-sm-9">
                        <div class="wx_type_img">
                            <input type="file" name="img1" data-id="<%= helper_id%>" id="imgUpload" class="upload-add imgUp" multiple="multiple" required>
                              <!-- 图片实时预览 -->
                              <div id="preview" class="preview<%= helper_id%>">
                                <%if(headPic){%>
                                <img style="border-radius: 3px;" src="<%= headPic%>" class="am-img-responsive cardView"> 
                                <%}else{%>  
                                    暂无图片信息
                                <%}%>
                                </div>
                        </div>
                        <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">年龄<span class="red">*</span>： </label>
                    <div class="am-u-sm-9">
                        <input type="number" name='house_layout' class="age<%= helper_id%>" value="<%= age%>" required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">职业<span class="red">*</span>： </label>
                    <div class="am-u-sm-9">
                        <input type="text" name='house_layout' class="job<%= helper_id%>" value="<%= occupation%>" required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">联系方式<span class="red">*</span>： </label>
                    <div class="am-u-sm-9">
                        <input type="tel" value="<%= phone%>" class="phone<%= helper_id%>" name='quarters' required>
                    </div>
                </div>
            
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">帮扶内容 <span class="red">*</span>：</label>
                    <div class="am-u-sm-9">                     
                        <input type="text" name='area_address' class="content<%= helper_id%>" value="<%for(var i=0;i<competency.length;i++){%><%= competency[i]%>，<%}%>" required />
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">所在地区 <span class="red">*</span>：</label>
                    <div class="am-u-sm-9">
                        <input type="text" name='address' class="area<%= helper_id%>"  placeholder="如：邻水xxxx" value="<%= area%>" required>
                    </div>
                </div>
               
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">所在街道 <span class="red">*</span>：</label>
                    <div class="am-u-sm-9">
                        <input type="text" name="phone" class="address<%= helper_id%>" value="<%= address%>" placeholder="输入所在街道" required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">是否推荐 <span class="red">*</span>：</label>
                    <div class="am-u-sm-9">
                    <%if(recommend=="1"){%>
                        <select class="am-u-sm-12 state<%= helper_id%>" name="goodsState" data-id="<%= helper_id%>" data-am-selected="{searchBox: 1,maxHeight: 200}">
                            <option value="">-=请选择一项=-</option>
                            <option value="1" selected="selected">是</option>
                            <option value="0">否</option>
                        </select>
                    <%}else{%>
                        <select class="am-u-sm-12 state<%= helper_id%>" name="goodsState" data-id="<%= helper_id%>" data-am-selected="{searchBox: 1,maxHeight: 200}">
                            <option value="">-=请选择一项=-</option>
                            <option value="1">是</option>
                            <option value="0" selected="selected">否</option>
                        </select>
                    <%}%>
                    </div>
                </div>
                
                </form>
                
            </div>
            <div class="am-modal-footer">
                <div class="am-form-group am-btn-group-xs" style="margin-top: 20px;">
                    <button type="reset" class="am-btn am-btn-default" data-am-modal-close>取消<tton>
                    <button type="button" class="am-btn am-btn-secondary sureSave" data-id="<%= helper_id%>" data-am-modal-confirm>保存<tton>
                </div>
            </div>
        </div>
    </div>
</script>
