
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:50px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}

.stable{
    display: inline-block !important;
    width: 45% !important;
}
.linkWord{
    width: 10% !important;
}
.conResponse{
    border: 1px solid #F37B1D !important;
    color: #F37B1D !important;
}
.conResponse:hover{
    background: #F37B1D !important; 
    color: #fff !important;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>
            <a href="<?php echo site_url().'/serveForPeople/serveForPeople/serveForPeople';?>" style="font-size:18px;">为民服务</a>&nbsp;&nbsp;<a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" style="font-size:16px;">邻水帮帮团服务</a>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">帮帮团搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" enctype="multipart/form-data" data-am-validator>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">求助人姓名:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入帮帮团名称" id="helpgroupName" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">求助对象姓名:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入帮帮团名称" id="helpgroupName" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">服务状态:</label>
                        <div class="am-u-sm-8">
                            <select id="source_state">
                                <option value="已帮助">已帮助</option>
                                <option value="待帮助">待帮助</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">关键字搜索:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入搜素的关键字" id="searchKey" />
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchGoods"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">帮帮团服务信息列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a type="button" class="am-btn am-btn-default am-btn-danger" data-am-modal="{target: '#deleteAll'}"><span class="am-icon-trash " ></span> 批量删除</a>
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-arrow-up"></span> 导出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox"></th>
                                    <th class="shop_id">编号 </th>
                                    <th class="moll_name">求助人姓名 </th>
                                    <th class="moll_name">求助内容 </th>
                                    <th class="shop_id">求助时间</th>
                                    <th class="shop_id">联系方式</th>
                                    <th class="moll_name">求助对象</th>
                                    <th class="shop_id">服务状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="helpGroupList">
                                
                                <!-- more data -->
                                
                            </tbody>
                        </table>
                        <!--查看详情模态框开始-->
                        
                        <!--查看详情模态框结束-->
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center">
                        <div class="" id="paging_list">
                        </div>
                        <p>共<span class="dataNumber"></span>条数据，共<span class="pageNumber"></span>页</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--批量删除的弹窗-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAll">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定删除所有选中的记录吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn deleteAll"  data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<script src="assets/js/artTemplate-native.js"></script>
<script src="assets/laypage/laypage.js"></script>
<script type="text/javascript">
    var nums=0,flag=0
    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){         
            var res = eval(result);
            
            if(res!=2){
                nums = 10; //每页出现的数量
                var pages = Math.ceil(res.length/nums); //得到总页数
                $('.dataNumber').html(res.length);
                $('.pageNumber').html(pages);
                var thisDate = function(curr){
                    var listData = '' , last = curr*nums - 1;
                    last = last >= res.length ? (res.length-1) : last;
                     for(var i = (curr*nums - nums); i <= last; i++){
                        res[i].pics=eval(res[i].pics);

                        listData+= template('storeGoodsModal',res[i]);
                     }
                    console.log(res);
                    return listData;
                };
                //调用分页
                laypage({
                    cont: 'paging_list',
                    pages: pages,
                    jump: function(obj){
                        document.getElementById('helpGroupList').innerHTML = thisDate(obj.curr);
                        //点击选中所有
                         $('.tablecheck').click(function() {
                            if(flag==0){
                              for(var i=0;i<$('.commentBox').length;i++) {
                                document.getElementsByClassName('commentBox')[i].checked=true;
                              }  
                              flag=1;
                            }else{
                               for(var i=0;i<$('.commentBox').length;i++) {
                                // $('.commentBox').eq(i).attr('checked',false);
                                document.getElementsByClassName('commentBox')[i].checked=false;
                                }
                               flag=0;
                            }
                        });
                        for(var i=0;i<$('.tpl-del').length;i++){
                            var dataId=$('.tpl-del').eq(i).attr('data-id'),detailId=$('.bangServeDetail').eq(i).attr('data-id'),reDataId=$('.conResponse').eq(i).attr('data-id');
                            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
                            $('.bangServeDetail').eq(i).attr("data-am-modal","{target: '#detail"+ detailId +"'}");
                            $('.conResponse').eq(i).attr("data-am-modal","{target: '#re"+ reDataId +"'}");                     
                        }
                        
                        //回复某个服务
                        $('.response').click(function(){
                            var serveId=$(this).attr('data-id'),user_id=$('this').attr('data_id');
                            var content=document.getElementsByClassName('content'+serveId)[0].value;
                            console.log(content);
                            $.ajax({
                                type:'post',
                                url:'<?php echo site_url('/serveForPeople/serveForPeople/reply_help_request');?>',
                                data: 'content='+ content +'&id='+ serveId +'&userid='+user_id,
                                success: function(data){
                                    console.log(data);
                                    if(data==1){
                                        $('#re'+dataId).modal('close');
                                        getList('<?php echo site_url('/serveForPeople/serveForPeople/help_request_list');?>','default=1');
                                    }else{
                                        alert("操作失败！");
                                    }
                                    
                                },
                                error:function(xhr,type,errorThrown){
                                    alert("操作失败，请检查网络设置！");
                                }
                            });
                            
                        });
                        //单个帮帮服务删除
                        $('.sureDelete').click(function(){
                            var deleteId=$(this).attr('data-id');
                            var array=[]; 
                            array[0]=deleteId;
                            array=JSON.stringify(array);
                            $.ajax({
                                type:'post',
                                url:'<?php echo site_url('/serveForPeople/serveForPeople/del_help_request');?>',
                                data: 'id='+array,
                                success: function(data){
                                    if(data==1){
                                        getList('<?php echo site_url('/serveForPeople/serveForPeople/help_request_list');?>','default=1');
                                    }else{
                                        alert("操作失败！");
                                    }
                                    
                                },
                                error:function(xhr,type,errorThrown){
                                    alert("操作失败，请检查网络设置！");
                                }
                            });
                            
                        });
                        
                        //多个帮帮服务删除
                        $('.deleteAll').click(function(){
                            var deleteId=$(this).attr('data-id');
                            var array=[];
                            for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){                            
                                array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
                            }
                            array=JSON.stringify(array);
                            $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/serveForPeople/serveForPeople/del_help_request');?>',
                                    data: 'id='+array,
                                    success: function(data){
                                        if(data==1){
                                            getList('<?php echo site_url('/serveForPeople/serveForPeople/help_request_list');?>','default=1');
                                        }else{
                                            alert("操作失败！");
                                        }
                                        
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                            
                        });
                        
                    }
                })
            }else{
                $('<tr><td colspan="12" class="am-text-center">暂无相关服务信息！</td><td></td></tr>').appendTo("#helpGroupList");
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}
$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/serveForPeople/serveForPeople/help_request_list');?>','default=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/serveForPeople/serveForPeople/help_request_list');?>','default=1');
    });
    //点击搜索
    $('.searchGoods').click(function(){
        var goodsType=$('#goodsType option:selected').val(),goodsBatch=$('#goodsBatch option:selected').val(),keywords=$('#searchKey').val();
        var startPrice=$('#startPrice').val(),endPrice=$('#endPrice').val(),
        startRepertory=$('#startRepertory').val(),endRepertory=$('#endRepertory').val(),
        goodsState=$('#goodsState option:selected').val(),checkState=$('#checkState option:selected').val();
        getList('<?php echo site_url('/serveForPeople/serveForPeople/search_request');?>','sear='+keywords);
    });
})
</script>
<script type="text/html" id="storeGoodsModal">

    <tr class="trClass" data-id="<%= id%>">
        <td  class="am-text-middle" ><input type="checkbox" class="commentBox" data-id="<%= id%>" name="commentBox"></td>
        <td class="am-text-middle"><%= id%></td>
        <td class="am-text-middle"><%= username%></td>
        <td class="am-text-middle"><%= content%></td>
        <td class="am-text-middle"><%= create_time%></td>
        <td class="am-text-middle"><%= phone%></td>
        <td class="am-text-middle"><%= name%></td>
        <td class="am-text-middle">
        <%if(state=="1"){%>
            已帮助
        <%}else{%>
            待帮助
        <%}%>
        </td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= id%>" class="bangServeDetail">
                    <i class="am-icon-info-circle"></i> 查看详情
                </a>
                <%if(state=="1"){%>
                
                <%}else{%>
                <a data-id="<%= id%>"  class="conResponse">
                    <i class="am-icon-pencil"></i> 给予答复
                </a>
                <%}%>
                <a data-id="<%= id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="detail<%= id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">帮帮服务信息</div>
            <div class="am-modal-bd">
                <form class="am-form tpl-form-line-form"  data-am-validator enctype='multipart/form-data'>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">姓名 ：</label>
                    <div class="am-u-sm-9">
                        <input type='hidden' name='type_id' />
                        <span class="am-text-left"><%= username%></span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">联系方式 ：</label>
                    <div class="am-u-sm-9">
                        <input type='hidden' name='type_id' />
                        <span class="am-text-left"><%= phone%></span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">求助内容 ：</label>
                    <div class="am-u-sm-9">
                        <input type='hidden' name='type_id' />
                        <span class="am-text-left"><%= content%></span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">图片描述： </label>
                    <div class="am-u-sm-9">
                        <span class="am-text-left">
                        <%if(pics){%>
                            <%for(var i=0;i<pics.length;i++){%>
                                <img style="border-radius: 3px;width: 100px;margin-left: 36%;" src="<%= pics[i].picImg%>" class="am-img-responsive cardView"> 
                            <%}%>
                        <%}else{%>
                            暂无图片
                        <%}%>
                        
                        </span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">求助时间 ：</label>
                    <div class="am-u-sm-9">
                        <input type='hidden' name='type_id' />
                        <span class="am-text-left"><%= create_time%></span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">求助时间 ：</label>
                    <div class="am-u-sm-9">
                        <input type='hidden' name='type_id' />
                        <span class="am-text-left"><%= create_time%></span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">求助对象： </label>
                    <div class="am-u-sm-9">
                        <span class="am-text-left"><%= name%></span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">服务状态： </label>
                    <div class="am-u-sm-9">
                        <span class="am-text-left">
                            <%if(state=="1"){%>
                                已帮助
                            <%}else{%>
                                待帮助
                            <%}%>
                        </span>
                    </div>
                </div>
            
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">回复内容 ：</label>
                    <div class="am-u-sm-9">
                        <span class="am-text-left">
                            <%if(state=="1"){%>
                            <%= reply_content%>
                            <%}else{%>
                            暂无
                            <%}%>
                        </span>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">回复时间 ：</label>
                    <div class="am-u-sm-9">
                        <span class="am-text-left">
                            <%if(state=="1"){%>
                            <%= reply_time%>
                            <%}else{%>
                            暂无
                            <%}%>
                        </span>
                    </div>
                </div>
            </form>
                
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-close>关闭</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="re<%= id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">答复求助人员</div>
            <div class="am-modal-bd">
                <form class="am-form tpl-form-line-form"  enctype='multipart/form-data'>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">回复内容 </label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="请输入回复内容" value="" class="content<%= id%>" name='name' minlength="4" required />
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="am-modal-footer" style="margin-top: 20px !important;">
            <div class="am-form-group am-cf">
                <button type="reset" class="am-btn am-btn-default am-btn-xs" data-am-modal-close>取消</button>
                <button type="button" data-id="<%= id%>" data_id="<%= user_id%>" class="am-btn am-btn-secondary am-btn-xs response" data-am-modal-confirm>回复</button>
                </div>
            </div>
        </div>
    </div>
</script>
