 <style type="text/css">
     .imgbox{
        width: 100px;
        height: 100px;
        border: 1px solid #fff;
        border-radius: 5px;
     }
 </style>

 <script src="assets/js/echarts.min.js"></script>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>主页模块 
                <a href="<?php echo site_url().'/serveForPeople/serveForPeople/serveForPeople';?>" style="font-size: 18px;">为民服务</a> 
                <small></small></div>
            </div>
        </div>

    </div>

    <div class="row-content am-cf">
        <div class="row  am-cf">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                <div class="widget widget-primary am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">义工团队
                            
                        </div>
                        <div class="am-fr">
                            <img class="imgbox" src="assets/img/yigongtuan.jpg">
                        </div>                                
                    </div>
                    <div class="widget-body am-fr">
                        <div class="am-fl">
                            <div class="widget-fluctuation-period-text">                                      
                                <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" class="am-btn am-btn-secondary">                                         
                                    义工团队成员信息
                                    <i class="am-icon-cog"></i>
                                  </a>
                                  <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" class="am-btn am-btn-warning">
                                    义工团队服务信息
                                    <i class="am-icon-cog"></i>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
           <div class="am-u-sm-12 am-u-md-12 am-u-lg-6" >
                <div class="widget widget-purple am-cf">
                    <div class="widget-head am-cf" >
                        <div class="widget-title am-fl">邻水帮帮团
                        </div>
                        <div class="am-fr">
                            <img class="imgbox" src="assets/img/bangbang.jpg">
                        </div> 
                    </div>
                    <div class="widget-body am-fr">
                        <div class="am-fl">
                            <div class="widget-fluctuation-period-text">                                    
                                <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" class="am-btn am-btn-secondary">
                                    帮帮团成员信息
                                    <i class="am-icon-cog"></i>
                                  </a>
                                  <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgroupservelist';?>" class="am-btn am-btn-warning">
                                    帮帮团服务信息
                                    <i class="am-icon-cog"></i>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

