 <script src="assets/js/echarts.min.js"></script>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>主页模块 
                        <a href="<?php echo site_url().'/serveForPeople/serveForPeople/serveForPeople';?>">为民服务</a> 
                        <small></small></div>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">
                <div class="row  am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">义工团队</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                    义工团队团队信息列表
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="am-fl">
                                    <div class="widget-fluctuation-period-text">
                                        
                                        <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" class="am-btn am-btn-secondary">
                                            <i class="am-icon-eye"></i>
                                            点击查看详情
                                          </a>
                                    </div>
                                </div>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">义工团队</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                    义工团队服务信息列表
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="am-fl">
                                    <div class="widget-fluctuation-period-text">
                                        
                                        <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" class="am-btn am-btn-secondary">
                                            <i class="am-icon-eye"></i>
                                            点击查看详情
                                          </a>
                                    </div>
                                </div>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                   <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">邻水帮帮团</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                    帮帮团队成员信息列表
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="am-fl">
                                    <div class="widget-fluctuation-period-text">
                                        
                                        <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgrouplist';?>" class="am-btn am-btn-secondary">
                                            <i class="am-icon-eye"></i>
                                            点击查看详情
                                          </a>
                                    </div>
                                </div>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">邻水帮帮团</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                    帮帮团队服务信息列表
                                </div>
                            </div>
                            <div class="widget-body am-fr">
                                <div class="am-fl">
                                    <div class="widget-fluctuation-period-text">
                                        
                                        <a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgroupservelist';?>" class="am-btn am-btn-secondary">
                                            <i class="am-icon-eye"></i>
                                            点击查看详情
                                          </a>
                                    </div>
                                </div>
                                <div class="am-fr am-cf">
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        

                                    </div>
                                    <div class="widget-fluctuation-description-text am-text-right">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

