
<style type="text/css" media="screen">
.am-selected {
    width: 100%!important;
} 
.table-check {
    width: 30px;
}
.hf-dropdown {
    font-size: 12px!important;
    padding: 5px 6px!important;
}
td.am-text-middle img {
    width: 80px;
}
.am-u-sm6 {
    width:50px !important;
    margin:0;
}
.am-form-group div {
    line-height: 37px;
}
 
.stable {
    display: inline-block !important;
    width: 45% !important;
}
.linkWord {
    width: 10% !important;
}
.conResponse {
    border: 1px solid #F37B1D !important;
    color: #F37B1D !important;
}
.conResponse:hover {
    background: #F37B1D !important; 
    color: #fff !important;
}
.imgbox {
    width: 100% !important;
}
label {
    font-weight: normal;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>
            <a href="<?php echo site_url().'/serveForPeople/serveForPeople/serveForPeople';?>" style="font-size:18px;">为民活动</a>
            <small><a href="<?php echo site_url().'/serveForPeople/serveForPeople/helpgroupservelist';?>">
            义工团队活动列表</a></small>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">义工团队 活动列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a  class="am-btn am-btn-warning am-btn-xs" data-am-modal="{target: '#volunteerActivity'}">
                                          <i class="am-icon-paper-plane"></i>&nbsp;发起活动
                                    </a>
                                    <a type="button" class="am-btn am-btn-default am-btn-danger" data-am-modal="{target: '#deleteAll'}"><span class="am-icon-trash " ></span> 批量删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox">全选</th>
                                    <th>编号 </th>
                                    <th>活动名称 </th>
                                    <th活动缩略图</th>
                                    <th>活动发布时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                <tr class="trClass"><td colspan="12" class="am-text-center"><img class="imgBox" src="assets/img/huanchong.gif"></td><td></td></tr>
                                <!-- more data -->
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center pagebox">
                        <div id="Pagination">
                            <div class="pagination">
                                <a class="prev"><i></i>上一页</a>
                                <a class="current">1</a>
                                <a >2</a>
                                <a>3</a>
                                <a>4</a>
                                <span class="pagination-break">...</span>
                                <a class="ep">15</a>
                                <a class="next">下一页 <i></i></a>
                            </div>
                        </div>
                        <div class="searchPage">
                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                          <span class="page-go">跳转<input type="text">页</span>
                          <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                        <div claa="am-text-middle">
                           <span>共<span class="allData">15</span>条数据</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--批量删除的弹窗-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAll">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定删除所有选中的记录吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn deleteAll"  data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<!-- 为民服务 义工团队活动 开始 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="volunteerActivity">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">义工团队活动</div>
        <div class="am-modal-bd">
            <form class="am-form tpl-form-line-form" enctype="multipart/form-data" action="<?php echo site_url('/serveForPeople/ServeForPeople/add_volunteer_activities');?>" method="post">
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">名称<span class="red">*</span>：</label>
                    <div class="am-u-sm-8">  
                        <input type="text" placeholder="名称，2-30个字符" name='title' minlength="2" maxlength="30" required onblur="validate(this,2,30,1)">
                    </div>
                    <div class="am-u-sm-1 am-u-end red redtips1" style="display: none;"><i class="am-icon-close"></i></div>
                    <div class="am-u-sm-1 am-u-end green blacktips1" style="display: none;"><i class="am-icon-check"></i></div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">地点<span class="red">*</span>：</label>
                    <div class="am-u-sm-9">  
                        <input type="text"  placeholder="请输入活动举办的地点,2-50个字符" name='address' minlength="2" maxlength="50" required onblur="validate(this,2,50,2)">
                    </div>
                    <div class="am-u-sm-1 am-u-end red redtips2" style="display: none;"><i class="am-icon-close"></i></div>
                    <div class="am-u-sm-1 am-u-end green blacktips2" style="display: none;"><i class="am-icon-check"></i></div>
                </div>
                <div class="am-form-group am-cf">
                    <label for="" class="am-u-sm-3 am-form-label">缩略图<span class="red">*</span>：</label>
                     <div class="am-u-sm-9 am-u-end">
                        <div class="wx_type_img">
                         <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>
                          <!-- 图片实时预览 -->
                          <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                        </div>
                        <span class="deleteImg am-fl"><i class="am-icon-trash"></i> 删除</span>
                        <small class="tpl-form-line-small-title red" style="clear: both;">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small> 
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">详情<span class="red">*</span>：</label>
                    <div class="am-u-sm-9">
                        <textarea rows='8' id="editor" placeholder="主要包括活动目的，活动内容等" type="text/plain" name='content'></textarea>
                    </div>
                </div>
                
                <div class="am-form-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                    <button type="submit" class="am-btn am-btn-secondary" data-am-modal-confirm>发起</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 为民服务 义工团队活动 结束 -->
<script src="assets/js/artTemplate-native.js"></script>
<script src="assets/laypage/laypage.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length<minlen || content.length>maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}
var total_page = 0,pageflag = 1,flag = 0,current_page=0,$volunteerTeamservelist = parseInt(sessionStorage.getItem('volunteerTeamservelist')) || 0, ue = UE.getEditor('editor');
//点击前往某一页的函数
function go_to_page(page_num){
    $('.page_link').removeClass('active_page');
    $('.page_link').eq(page_num).addClass('active_page');
    $("#dataList").children('tr').css("display","none");
    var start_page=parseInt(15)*parseInt(page_num);
    var end_page=parseInt(15)*parseInt(page_num+1);
    $('#dataList').children('tr').slice(start_page,end_page).css('display','');
    current_page=page_num;
    sessionStorage.setItem('volunteerTeamservelist', current_page);
    $volunteerTeamservelist = parseInt(sessionStorage.getItem('volunteerTeamservelist'));
    
}

//点击上一页的函数
function previous(){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(0).html()) - 2;
    }else {
        new_page = parseInt($('.current').html()) - 2;
    }
    if(new_page >= 0) {
        go_to_page(new_page);
    }
}

//点击下一页的函数
function next(argu){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(1).html());
    }else {
        new_page = parseInt($('.current').html());
    }
    
    
    if(new_page < argu){   
        console.log(new_page + ' ' + argu);
        go_to_page(new_page);
    }
}
function otherOperation() {
    //点击选中所有
    $('.tablecheck').click(function() {
        if(flag==0){
          for(var i=0;i<$('.commentBox').length;i++) {
            document.getElementsByClassName('commentBox')[i].checked=true;
          }  
          flag=1;
        }else{
           for(var i=0;i<$('.commentBox').length;i++) {
            document.getElementsByClassName('commentBox')[i].checked=false;
            }
           flag=0;
        }
    });

    
    for(var i=0;i<$('.tpl-del').length;i++){
        var dataId=$('.tpl-del').eq(i).attr('data-id'),detailId=$('.bangServeDetail').eq(i).attr('data-id'),reDataId=$('.conResponse').eq(i).attr('data-id');
        $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
        $('.bangServeDetail').eq(i).attr("href","<?php echo site_url().'/serveForPeople/serveForPeople/volunteerActivityEdit/" + detailId + "';?>");
        $('.conResponse').eq(i).attr("data-am-modal","{target: '#re"+ reDataId +"'}");
                           
    }
    
   
    //单个义工活动删除
    $('.sureDelete').click(function(){
        var deleteId=$(this).attr('data-id');
        var array=[]; 
        array[0]=deleteId;
        array=JSON.stringify(array);

        $.ajax({
            type:'post',
            url:'<?php echo site_url('/serveForPeople/serveForPeople/del_volunter_activivies');?>',
            data: 'id='+array,
            success: function(data){
                if(data==1){
                    alert('操作成功');
                    getList('<?php echo site_url('/serveForPeople/serveForPeople/get_volunter_activities_list');?>','default=1');
                }else{
                    alert("操作失败！");
                }
            },
            error:function(xhr,type,errorThrown){
                alert("操作失败，请检查网络设置！");
            }
        });
        
    });
    
    //多个义工活动删除
    $('.deleteAll').click(function(){
        var deleteId=$(this).attr('data-id');
        var array=[];
        if($('tr.trClass td input:checkbox[name=commentBox]:checked').length) {
            for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){                            
                array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
            }
            array=JSON.stringify(array);
            $.ajax({
                type:'post',
                url:'<?php echo site_url('/serveForPeople/serveForPeople/del_volunter_activivies');?>',
                data: 'id='+array,
                success: function(data){
                    if(data==1){
                         alert('操作成功');
                        getList('<?php echo site_url('/serveForPeople/serveForPeople/get_volunter_activities_list');?>','default=1');
                    }else{
                        alert("操作失败！");
                    }
                    
                },
                error:function(xhr,type,errorThrown){
                    alert("操作失败，请检查网络设置！");
                }
            });
            return true;
        } else {
            alert("你还未选择活动！");
            return false;
        }
    
    });
    //删除图片
    $(".deleteImg").click(function(){
        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
        $(this).siblings('.wx_type_img').find('input').val("");
        $(this).siblings('.wx_type_img').find('input').files="";
    });
}
//异步刷新的ajax请求 
function getList(dataurl,data){
    $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){         
            var res = eval(result);
            if(res != 2 && res != 3){
                var listData = ''; //每页出现的数量
                total_page = Math.ceil(res.length/15); //得到总页数
                for(var i = 0; i < res.length; i++){
                    listData += template('dataModal',res[i]);
                 }
                document.getElementById('dataList').innerHTML = listData;
                $('.allData').html(res.length);
                $('.pagebox').css('display', 'block');
                if(total_page <= 1) {
                    $('#Pagination').css('display', 'none');
                    $('.searchPage').css('display', 'none');
                } else {
                    if(pageflag) {
                        var opts={};
                        opts.current_page = $volunteerTeamservelist;
                        $("#Pagination").pagination(total_page, opts);go_to_page($volunteerTeamservelist);
                        pageflag = 0;
                    } else {
                        $("#Pagination").pagination(total_page);
                        go_to_page(0);
                        
                    }
                    if(total_page < 5) {
                        $('.searchPage').css('display', 'none');
                    }
                }
                
                otherOperation();
            }else{
                $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无义工活动信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
            $('#dataList').find('tr').remove();
            $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无义工活动信息！</p></td></tr>').appendTo('#dataList');
            $('.pagebox').css('display', 'none');
        }
    });
}
$(document).ready(function(){
     //加载列表数数据
    getList('<?php echo site_url('/serveForPeople/serveForPeople/get_volunter_activities_list');?>','default=1');
})
</script>
<script type="text/html" id="dataModal">

    <tr class="trClass" id="trClass<%= id%>" data-id="<%= id%>">
        <td  class="am-text-middle" ><input type="checkbox" class="commentBox" data-id="<%= id%>" name="commentBox"></td>
        <td class="am-text-middle"><%= id%></td>
        <td class="am-text-middle"><%= title%></td>
        <td class="am-text-middle"><img src="<%= picImg%>"></td>
        <td class="am-text-middle"><%= create_time%></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= id%>" class="bangServeDetail">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</script>
