  <style type="text/css" media="screen">
.am-selected{
    width: 100%!important;
} 
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}
.tpl-del{
    border: 1px solid #ff0000 !important;
    color: #ff0000 !important;
}
.refresh{
    cursor: pointer;
}

.pagebox {
        width: 100%;
        padding-left: 20%;
        margin: 0 auto;
    }

.am-btn-group-xs a {
    display: inline-block;
    margin-right: 10px;
}
label {
	font-size: 14px !important;
}
.imgbox {
    width: 100px;
    height: 100px;
}
.read-more a {
    color: #1fb5ac;
}
.checkComment {
    border: 1px solid #e0690c !important;
    padding: 5px 6px !important;
    color: #e0690c !important;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>发现 &nbsp;&nbsp;<a href="<?php echo site_url().'/find/Find/findContent';?>" style="font-size:16px;">发现 帖子</a>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">帖子搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">分类搜索:</label>
                        <div class="am-u-sm-8">
                            <select id="goodsType" name="cateid">
                                <option value="">-=请选择一项=-</option>
                                <option value="0">帖子分类</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">关键字搜素:</label>
                        <div class="am-u-sm-8">
                            <input type="text" class="" placeholder="请输入搜素的关键字" id="searchKey" name="sear" />
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6 am-text-left">
                        <button type="button" class="am-btn am-btn-secondary am-btn-xs searchSort"><i class="am-icon-search"></i> 搜索</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">帖子列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/find/Find/addService';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger refresh"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>  
                                    <th>编号</th>
                                    <th>缩略图 </th>
                                    <th>分类 </th>
                                    <th>发布用户 </th>
                                    <th width="400">发帖内容 </th>
                                    <th>发帖时间 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                <tr class="trClass"><td colspan="12" class="am-text-center"><img class="imgBox" src="assets/img/huanchong.gif"></td><td></td></tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center pagebox">
                        <div id="Pagination">
                            <div class="pagination">
                                <a class="prev"><i></i>上一页</a>
                                <a class="current">1</a>
                                <a >2</a>
                                <a>3</a>
                                <a>4</a>
                                <span class="pagination-break">...</span>
                                <a class="ep">15</a>
                                <a class="next">下一页 <i></i></a>
                            </div>
                        </div>
                        <div class="searchPage">
                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                          <span class="page-go">跳转<input type="text">页</span>
                          <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--编辑帖子开始-->

<!--编辑帖子结束-->
<!--删除帖子开始-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="delete_content">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定要删除该发现帖子吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn sureDelete" data-id="" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<!--删除帖子结束-->
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/js/artTemplate-native.js"></script>
<script type="text/javascript">
var total_page = 0,pageflag = 1,current_page=0,$findContent = parseInt(sessionStorage.getItem('findContent')) || 0;
//点击前往某一页的函数
function go_to_page(page_num){
    $('.page_link').removeClass('active_page');
    $('.page_link').eq(page_num).addClass('active_page');
    $("#dataList").children('tr').css("display","none");
    var start_page=parseInt(15)*parseInt(page_num);
    var end_page=parseInt(15)*parseInt(page_num+1);
    $('#dataList').children('tr').slice(start_page,end_page).css('display','');
    current_page=page_num;
    sessionStorage.setItem('findContent', current_page);
    $findContent = parseInt(sessionStorage.getItem('findContent'));
    
}

//点击上一页的函数
function previous(){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(0).html()) - 2;
    }else {
        new_page = parseInt($('.current').html()) - 2;
    }
    if(new_page >= 0) {
        go_to_page(new_page);
    }
}

//点击下一页的函数
function next(argu){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(1).html());
    }else {
        new_page = parseInt($('.current').html());
    }
    
    
    if(new_page < argu){   
        console.log(new_page + ' ' + argu);
        go_to_page(new_page);
    }
}
function otherFunction() {
    for(var i=0; i<$('.tpl-del').length; i++) {
        var dataId = $('.tpl-del').eq(i).attr('data-id'), editId = $('.editSort').eq(i).attr('data-id'), checkId =$('.checkComment').eq(i).attr('data-id') ;
        $('.tpl-del').eq(i).attr("data-am-modal","{target: '#de"+ dataId +"'}");
        $('.editContent').eq(i).attr("href","<?php echo site_url().'/find/Find/editFindService/" + editId + "';?>");
        $('.checkComment').eq(i).attr("href","<?php echo site_url().'/find/Find/findComment/" + checkId + "';?>");  
    }
    //删除帖子
    $('.sureDelete').click(function () {
        var dataId = $(this).attr("data-id");
        $.ajax({
            type:'post',
            url: "<?php echo site_url('/find/Find/del_sercive');?>",
            data: 'find_id='+ dataId,
            success: function(result){    
                console.log(result);     
                var res = eval(result);
                if(res == 1){
                    alert("删除成功！");
                    $('#de'+dataId).fadeOut();
                    $('.am-dimmer').removeClass('am-active');
                    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    });
    
}
//异步刷新的ajax请求 
function getList(dataurl,data){
    $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){         
            var res = eval(result);
            if(res != 2){
                var listData = ''; //每页出现的数量
                total_page = Math.ceil(res.length/8); //得到总页数
                for(var i = 0; i < res.length; i++){
                    listData += template('dataModal',res[i]);
                }
                document.getElementById('dataList').innerHTML = listData;
                if(pageflag) {
                    var opts={};
                    opts.current_page = $findContent;
                    $("#Pagination").pagination(total_page, opts);
                    go_to_page($findContent);
                } else {
                    $("#Pagination").pagination(total_page);
                    go_to_page(0);
                    
                }
                if(total_page < 5) {
                    $('.searchPage').css('display', 'none');
                }
                otherFunction();
            }else{
                $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关发现帖子信息！</p></td></tr>').appendTo('#dataList');
            }         
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}
//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length < minlen || content.length > maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}
$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/find/Find/ret_find_service');?>','default=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/find/Find/ret_find_service');?>','default=1');
    });
})
</script>
<script type="text/html" id="dataModal">
    <tr class="trClass" data-id="<%= news_id%>">
        <td class="am-text-middle"><%= news_id%></td>
        <td class="am-text-middle">
            <img src="<%= pic%>" class="am-img-responsive imgbox" alt=""/>
        </td>
         <td class="am-text-middle"><%= cate_name%></td>
         <% if(username){%>
         <td class="am-text-middle"><%= username%></td>
         <%}else{%>
         <td class="am-text-middle"><%= nickname%></td>
         <%}%>
          <td class="am-text-middle"><%= content%></td>
        <td class="am-text-middle"><%= create_time%></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a  data-id="<%= news_id%>" class="checkComment">
                    <i class="am-icon-pencil"></i> 查看评论
                </a>
                <a  data-id="<%= news_id%>" class="editContent">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= news_id%>" class="tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="de<%= news_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= news_id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>
