  <style type="text/css" media="screen">
.am-selected{
    width: 100%!important;
} 
.table-check{
    width: 30px; 
}
.hf-dropdown{
    font-size: 12px!important;
    padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}
.tpl-del{
    border: 1px solid #ff0000 !important;
    color: #ff0000 !important;
}
.refresh{
    cursor: pointer;
}

.pagebox {
        width: 100%;
        padding-left: 30%;
        margin: 0 auto;
    }

.am-btn-group-xs a {
    display: inline-block;
    margin-right: 10px;
}
label {
	font-size: 14px !important;
}
.imgbox {
    width: 80px;
    height: 80px;
}
.read-more a {
    color: #1fb5ac;
}
.checkComment {
    border: 1px solid #e0690c !important;
    padding: 5px 6px !important;
    color: #e0690c !important;
}
#preview {
    min-height: 100px !important;
}
.yesRecommand, .noRecommand {
    border: 1px solid #5eb95e !important;
    color: #5eb95e !important;
}


</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>发现 &nbsp;&nbsp;<a href="<?php echo site_url().'/find/Find/findContent';?>" style="font-size:16px;">发现 帖子</a>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">帖子搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">分类搜索:</label>
                        <div class="am-u-sm-8">
                            <select id="tieziType" name="cateid">
                                <option value="">-=请选择一项=-</option>
                                <?php foreach($cates as $val):?>
                                <option value="<?php echo $val['cate_id'];?>"><?php echo $val['cate_name'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">帖子专题:</label>
                        <div class="am-u-sm-8">
                            <select id="tieziSpecial" name="special">
                                <option value="">-=请选择一项=-</option>
                                <option value="1">专题一</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="businessTime" class="am-u-sm-3 am-text-right">下单时间：</label>
                        <div class="am-u-sm-9  am-u-end">
                            <div class="am-alert am-alert-danger" id="lineTime" style="display: none">
                              <p>开始日期应小于结束日期！</p>
                            </div>
                            <div class="am-g">
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-start">开始日期</button><input type="hidden" id="begin_date" name="begin_time" value="" /><span id="my-startDate">2017-01-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-end">结束日期</button><input type="hidden" id="end_date" name="end_time" value="" /><span id="my-endDate">2017-12-31</span>
                              </div>
                              <small class="red redtips">请先选择结束日期</small>
                            </div>
                        </div>
                        
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3 am-text-center">
                        <label for="source_state" class="am-u-sm-4 am-form-label">关键字搜素:</label>
                        <div class="am-u-sm-8">
                            <input type="text" class="" placeholder="请输入搜素的关键字" id="searchKey" name="sear" />
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchSort"><i class="am-icon-search"></i> 搜索</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">帖子列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/find/Find/addService';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <a type="button" class="am-btn am-btn-default am-btn-danger" data-am-modal="{target: '#deleteAll'}"><span class="am-icon-trash " ></span> 批量删除</a><a type="button" class="am-btn am-btn-default am-btn-secondary" data-am-modal="{target: '#sortAll'}"><span class="am-icon-paper-plane" ></span> 批量分类</a>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><a href="<?php echo site_url().'/find/Find/findReport';?>"><span class="am-icon-eye"></span> 被举报的帖子</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox">全选</th>  
                                    <th>编号</th>
                                    <th>缩略图 </th>
                                    <th>分类 </th>
                                    <th>发布用户 </th>
                                    <th width="350">发帖内容 </th>
                                    <th>发帖时间 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                <tr class="trClass"><td colspan="12" class="am-text-center"><img class="imgBox" src="assets/img/huanchong.gif"></td><td></td></tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center pagebox">
                        <div id="Pagination">
                            <div class="pagination">
                                <a class="prev"><i></i>上一页</a>
                                <a class="current">1</a>
                                <a >2</a>
                                <a>3</a>
                                <a>4</a>
                                <span class="pagination-break">...</span>
                                <a class="ep">15</a>
                                <a class="next">下一页 <i></i></a>
                            </div>
                        </div>
                        <div class="searchPage">
                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                          <span class="page-go">跳转<input type="text">页</span>
                          <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                        <div claa="am-text-middle">
                           <span>共<span class="allData">15</span>条数据</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--批量分类-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="sortAll">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">批量分类</div>
        <div class="am-modal-bd" >
            <form class="am-form tpl-form-line-form"  data-am-validator method="post" enctype='multipart/form-data' >
                <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12" style="height: 150px;">
                    <label class="am-u-sm-3 am-text-right">帖子分类<span class="red">*</span>：</label>
                    <div class="am-u-sm-8 am-u-end">
                        <select id="firstSort" required="required" data-am-selected="{searchBox: 1,maxHeight: 300}" name='categoryid'>
                            <option value=''>请选择一个！</option>
                            <?php foreach($cates as $val):?>
                            <option value="<?php echo $val['cate_id'];?>"><?php echo $val['cate_name'];?></option>
                            <?php endforeach;?>
                            
                        </select>
                    </div>
                </div>
            </form>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sortAll"  data-am-modal-confirm>保存</span>
            </div>      
        </div>
        
    </div>
</div>
<!--批量删除的弹窗-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAll">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定删除所有选中的记录吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn deleteAll"  data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<!--删除帖子开始-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="delete_content">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定要删除该发现帖子吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn sureDelete" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<!--删除帖子结束-->
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/js/artTemplate-native.js"></script>
<script type="text/javascript">
var total_page = 0,pageflag = 1,flag = 0,current_page=0,findContent = parseInt(sessionStorage.getItem('$findContent')) || 0, isFindContent = parseInt(sessionStorage.getItem('$isFindContent')) || 0;
$(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
          $('#begin_date').val($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
          $('#end_date').val($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
//点击前往某一页的函数
function go_to_page(page_num){
    $('.page_link').removeClass('active_page');
    $('.page_link').eq(page_num).addClass('active_page');
    $("#dataList").children('tr').css("display","none");
    var start_page=parseInt(10)*parseInt(page_num);
    var end_page=parseInt(10)*parseInt(page_num+1);
    $('#dataList').children('tr').slice(start_page,end_page).css('display','');
    current_page=page_num;
    sessionStorage.setItem('$findContent', current_page);
    findContent = parseInt(sessionStorage.getItem('$findContent'));
    
}

//点击上一页的函数
function previous(){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(0).html()) - 2;
    }else {
        new_page = parseInt($('.current').html()) - 2;
    }
    if(new_page >= 0) {
        go_to_page(new_page);
    }
}

//点击下一页的函数
function next(argu){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(1).html());
    }else {
        new_page = parseInt($('.current').html());
    }
    
    
    if(new_page < argu){   
        console.log(new_page + ' ' + argu);
        go_to_page(new_page);
    }
}
function otherFunction() {
    for(var i=0; i<$('.tpl-del').length; i++) {
        var dataId = $('.tpl-del').eq(i).attr('data-id'), editId = $('.editContent').eq(i).attr('data-id'), checkId =$('.checkComment').eq(i).attr('data-id'), recommandId =  $('.yesRecommand').eq(i).attr('data-id'), recooo = $('.noRecommand').eq(i).attr('data-id');
        $('.tpl-del').eq(i).attr("data-am-modal","{target: '#de"+ dataId +"'}");
        $('.editContent').eq(i).attr("href","<?php echo site_url().'/find/Find/editFindService/" + editId + "';?>");
        $('.checkComment').eq(i).attr("href","<?php echo site_url().'/find/Find/findComment/" + checkId + "';?>");  
        $('.yesRecommand').eq(i).attr("data-am-modal","{target: '#re"+ recommandId +"'}");
        $('.noRecommand').eq(i).attr("data-am-modal","{target: '#re"+ recooo +"'}");
    }
    //点击选中所有
    $('.tablecheck').click(function() {
        if(flag==0){
          for(var i=0;i<$('.commentBox').length;i++) {
            document.getElementsByClassName('commentBox')[i].checked=true;
          }  
          flag=1;
        }else{
           for(var i=0;i<$('.commentBox').length;i++) {
            // $('.commentBox').eq(i).attr('checked',false);
            document.getElementsByClassName('commentBox')[i].checked=false;
            }
           flag=0;
        }
    });
    //删除帖子
    $('.sureDelete').click(function () {
        var dataId = $(this).attr("data-id");
        $.ajax({
            type:'post',
            url: "<?php echo site_url('/find/Find/del_sercive');?>",
            data: 'find_id='+ dataId,
            success: function(result){    
                console.log(result);     
                var res = eval(result);
                if(res == 1){
                    alert("删除成功！");
                    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    });
    //批量删除
    $('.deleteAll').click(function(){
        var deleteId=$(this).attr('data-id');
        var array=[];
        for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){                            
            array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
        }
        array=JSON.stringify(array);
        // console.log(array);
        $.ajax({
            type:'post',
            url:'<?php echo site_url('/find/Find/del_service_find');?>',
            data: 'ids='+array,
            success: function(data){
                if(data==1){
                    alert('操作成功！'); 
                    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
                }else{
                    alert("操作失败！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("操作失败，请检查网络设置！");
            }
        });
        
    });
    //批量分类
    $('.sortAll').click(function(){
        var deleteId=$(this).attr('data-id'), tagName = $('#firstSort').val();
        var array=[];
        for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){                            
            array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
        }
        array=JSON.stringify(array);
        // console.log(array + tagName);
        $.ajax({
            type:'post',
            url:'<?php echo site_url('/find/Find/find_service_cate');?>',
            data: 'ids='+array+'&cate_id='+ tagName,
            success: function(data){
                if(data==1){
                    alert('操作成功！'); 
                    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
                }else{
                    alert("操作失败！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("操作失败，请检查网络设置！");
            }
        });
        
    });
    //设置首页推荐
    $('.sureRecommand').click(function(){
        var dataId=$(this).attr('data-id'), FileController = "<?php echo site_url('/find/Find/find_recommend');?>", formD = new FormData();
        var recommandNum = $('#isrecommand'+ dataId).val();
         
        if($('#banner_pic'+ dataId).attr('src')) {
            alert('请上传图片！');
            return false;
        }
        if(picArray[0]) {
            formD.append('picArray',picArray[0]);
        } 
        formD.append('type',recommandNum);
        formD.append('newsid',dataId);
        //实例化XMLHttpRequest对象
        var xhr=new XMLHttpRequest();
        xhr.open('post',FileController,true);
        xhr.send(formD);
        xhr.onreadystatechange = function(data){
            console.log(data);
            if (xhr.readyState===4) {  
                if (xhr.status===200) {
                    alert("保存成功！");
                    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
                }
            }
        }
        $('#re'+dataId).modal('close');
    });

    //取消推荐
    $('.quRecommand').click(function () {
        var dataId = $(this).attr("data-id");
        $.ajax({
            type:'post',
            url: "<?php echo site_url('/find/Find/findSpecial_Qurecommend');?>",
            data: 'id='+ dataId,
            success: function(result){    
                console.log(result);     
                var res = eval(result);
                if(res == 1){
                    alert("取消成功！");
                    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    });
    
}
//异步刷新的ajax请求 
function getList(dataurl,data){
    $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){ 
            var res = eval(result);
            console.log(res);   
           
            if(res != 2 && res != 3){
                var listData = ''; //每页出现的数量
                total_page = Math.ceil(res.length/10); //得到总页数
                for(var i = 0; i < res.length; i++){

                    if(res[i].pic.indexOf('http')>-1){
                        res[i].pic =  res[i].pic;
                    }else{
                        if(JSON.parse(res[i].pic).length){
                            res[i].pic = JSON.parse(res[i].pic)[0].picImg;
                        }else{
                            res[i].pic = '';
                        }
                    }
                    listData += template('dataModal',res[i]);
                }
                document.getElementById('dataList').innerHTML = listData;
                $('.allData').html(res.length);
                $('.pagebox').css('display', 'block');
                if(total_page <= 1) {
                    $('#Pagination').css('display', 'none');
                    $('.searchPage').css('display', 'none');
                } else {
                    if(pageflag) {
                        var opts={};
                        opts.current_page = findContent;
                        $("#Pagination").pagination(total_page, opts);
                        go_to_page(findContent);
                        pageflag = 0;
                    } else {
                        $("#Pagination").pagination(total_page);
                        go_to_page(0);
                        
                    }
                    if(total_page < 5) {
                        $('.searchPage').css('display', 'none');
                    }
                }
                
                otherFunction();
            }else{
                $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无帖子信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
            }         
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
            $('#dataList').find('tr').remove();
            $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无帖子信息！</p></td></tr>').appendTo('#dataList');
            $('.pagebox').css('display', 'none');
        }
    });
}
//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length < minlen || content.length > maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}
$(document).ready(function(){
    //加载列表数数据
    if(isFindContent) {
        var keywords=$('#searchKey').val(), cate_id = $('#tieziType option:selected').val(), tieziSpecial = $('#tieziSpecial option:selected').val(),begin_date = $('#begin_date').val(), end_date = $('#end_date').val();
        console.log('search='+ keywords + '&cate_id=' + cate_id + '&tieziSpecial='+ tieziSpecial + '&begin_date='+ begin_date + '&end_date='+end_date);
        // getList('<?php echo site_url('/find/Find/search_find_service');?>','search='+ keywords + '&cate_id=' + cate_id + '&tieziSpecial='+ tieziSpecial + '&begin_date='+ begin_date + '&end_date='+end_date);
        sessionStorage.setItem('$isFindContent', 1);
    }
    getList("<?php echo site_url('/find/Find/ret_find_service');?>",'default=1');
    //点击搜索
    $('.searchSort').click(function(){
        var keywords=$('#searchKey').val(), cate_id = $('#tieziType option:selected').val(), tieziSpecial = $('#tieziSpecial option:selected').val(),begin_date = $('#begin_date').val(), end_date = $('#end_date').val();
        console.log('search='+ keywords + '&cate_id=' + cate_id + '&tieziSpecial='+ tieziSpecial + '&begin_date='+ begin_date + '&end_date='+end_date);
        // getList('<?php echo site_url('/find/Find/search_find_service');?>','search='+ keywords + '&cate_id=' + cate_id + '&tieziSpecial='+ tieziSpecial + '&begin_date='+ begin_date + '&end_date='+end_date);
        sessionStorage.setItem('$isFindContent', 1);
    });
})
</script>
<script type="text/html" id="dataModal">
    <tr class="trClass" data-id="<%= news_id %>">
        <td  class="am-text-middle" ><input type="checkbox" class="commentBox" data-id="<%= news_id %>" name="commentBox"></td>
        <td class="am-text-middle"><%= news_id %></td>
        <td class="am-text-middle">
            <img src="<%= pic%>" class="am-img-responsive imgbox" alt=""/>
        </td>
         <td class="am-text-middle"><%= cate_name %></td>
         <% if(username){%>
         <td class="am-text-middle"><%= username %></td>
         <%}else{%>
         <td class="am-text-middle"><%= nickname %></td>
         <%}%>
          <td class="am-text-middle"><%= content %></td>
        <td class="am-text-middle"><%= create_news_time %></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <%if(type_name == "2" || type_name == "1") {%>
                <a data-id="<%= news_id %>" class="yesRecommand">
                    <i class="am-icon-star"></i> 修改推荐
                </a>
                <a data-id="<%= news_id %>" class="quRecommand" style="color: black;">
                    <i class="am-icon-star"></i> 取消推荐
                </a>

                <%} else { %>
                <a data-id="<%= news_id %>" class="noRecommand">
                    <i class="am-icon-star-o"></i> 推荐到首页
                </a> 
                <% } %>
                <a  data-id="<%= news_id %>" class="checkComment">
                    <i class="am-icon-eye"></i> 查看评论
                </a>
                <a  data-id="<%= news_id %>" class="editContent">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= news_id %>" class="tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="re<%= news_id %>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">推荐</div>
            <div class="am-modal-bd">
                <form class="am-form tpl-form-line-form"  data-am-validator method="post" enctype='multipart/form-data'>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-text-right">推荐图<span class="red">*</span>：</label>
                        <div class="am-u-sm-8 am-u-end">
                            <div class="wx_type_img">
                                <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>
                                <div id="preview"> 
                                <% if(banner_pic) { %><img style="border-radius: 3px;" src="<%= banner_pic %>" class="am-img-responsive cardView" id="banner_pic<%= news_id %>">
                                <% } else { %>
                                <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView" id="banner_pic<%= news_id %>">
                                <% } %>
                                </div>
                            </div>
                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                            <small class="red" style="white-space: initial;">提示：图片格式支持：PNG、JPG、JPEG，最大支持800k；图片尺寸为宽500px高200px</small>
                        </div>
                    </div>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-text-right">推荐到<span class="red">*</span>：</label>
                        <div class="am-u-sm-8 am-u-end">
                            <% if(type_name == "2" ) {%>
                            <select class="am-form-field isrecommand" name="isrecommand" required id="isrecommand<%= news_id %>">
                                <option value="">-=请选择一项=-</option>
                                <option value="2" selected="selected">每日精选</option>
                                <option value="1">热门推荐</option>
                                <option value="0">不推荐</option>
                            </select>
                            <% } else if(type_name == "1") { %> 
                            <select class="am-form-field isrecommand" name="isrecommand" required id="isrecommand<%= news_id %>">
                                <option value="">-=请选择一项=-</option>
                                <option value="2" >每日精选</option>
                                <option value="1" selected="selected">热门推荐</option>
                                <option value="0">不推荐</option>
                            </select>
                            <% } else { %>
                            <select class="am-form-field isrecommand" name="isrecommand" required id="isrecommand<%= news_id %>">
                                <option value="">-=请选择一项=-</option>
                                <option value="2" >每日精选</option>
                                <option value="1" >热门推荐</option>
                                <option value="0" selected="selected">不推荐</option>
                            </select>
                            <% } %>
                        </div>
                    </div>
                    <div class="am-form-group am-cf am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                        <button type="submit" class="am-btn am-btn-secondary sureRecommand" data-id="<%= news_id %>">保存</button>
                    </div>
                </form>      
            </div>
            
        </div>
    </div>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="de<%= news_id %>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= news_id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>
