  <style type="text/css" media="screen">
.am-selected{
    width: 100%!important;
} 
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}
.tpl-del{
    border: 1px solid #ff0000 !important;
    color: #ff0000 !important;
}
.refresh{
    cursor: pointer;
}

.pagebox {
        width: 100%;
        padding-left: 20%;
        margin: 0 auto;
    }
#searchKey {
	height: 28px;
}
.am-btn-group-xs a {
    display: inline-block;
    margin-right: 10px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>发现 &nbsp;&nbsp;<a href="<?php echo site_url().'/find/Find/findContent';?>" style="font-size:16px;">发现 标签</a>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">标签搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">标签搜索:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="searchKey" placeholder="请输入搜素的关键字">
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-9 am-u-md-9 am-u-lg-9 am-text-left">
                        <button type="button" class="am-btn am-btn-secondary am-btn-xs searchSort"><i class="am-icon-search"></i> 搜索</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">标签列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a data-am-modal="{target:'#add_tags'}"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger refresh"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>  
                                    <th>标签编号</th>
                                    <th>标签名 </th>
                                    <th>更新时间 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                <tr class="trClass"><td colspan="12" class="am-text-center"><img class="imgBox" src="assets/img/huanchong.gif"></td><td></td></tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--新增标签开始-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="add_tags">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">新增标签</div>
        <div class="am-modal-bd">
            <form class="am-form tpl-form-line-form" action="<?php echo site_url('/find/Find/add_find_tags');?>"  data-am-validator method="post" enctype='multipart/form-data'>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">标签名 ：</label>
                    <div class="am-u-sm-8 am-u-end">
                        <input type="text" name="tagName" required minlength="2" maxlength="15" onblur="validate(this,2,15,1)" />
                        
                    </div>
                    <small class="am-u-sm-1 red redtips1" style="display: none;"><i class="am-icon-close"></i></small>
                    <small class="am-u-sm-1 green blacktips1" style="display: none;"><i class="am-icon-check"></i></small>
                </div>
                <div class="am-form-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                    <button type="submit" class="am-btn am-btn-secondary">提交</button>
                </div>
            </form>      
        </div>
        
    </div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/js/artTemplate-native.js"></script>

<script type="text/javascript">
var total_page = 0,pageflag = 1,current_page=0,$storeGoodsSort = parseInt(sessionStorage.getItem('storeGoodsSort')) || 0;
//点击前往某一页的函数
function go_to_page(page_num){
    $('.page_link').removeClass('active_page');
    $('.page_link').eq(page_num).addClass('active_page');
    $("#dataList").children('tr').css("display","none");
    var start_page=parseInt(15)*parseInt(page_num);
    var end_page=parseInt(15)*parseInt(page_num+1);
    $('#dataList').children('tr').slice(start_page,end_page).css('display','');
    current_page=page_num;
    sessionStorage.setItem('storeGoodsSort', current_page);
    $storeGoodsSort = parseInt(sessionStorage.getItem('storeGoodsSort'));
    
}

//点击上一页的函数
function previous(){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(0).html()) - 2;
    }else {
        new_page = parseInt($('.current').html()) - 2;
    }
    if(new_page >= 0) {
        go_to_page(new_page);
    }
}

//点击下一页的函数
function next(argu){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(1).html());
    }else {
        new_page = parseInt($('.current').html());
    }
    
    
    if(new_page < argu){   
        console.log(new_page + ' ' + argu);
        go_to_page(new_page);
    }
}
function otherFunction() {
    for(var i=0; i<$('.tpl-del').length; i++) {
        var dataId = $('.tpl-del').eq(i).attr('data-id'), editId = $('.edit_tags').eq(i).attr('data-id');
        $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
        $('.edit_tags').eq(i).attr("data-am-modal","{target: '#edit"+ dataId +"'}");    
    }
    //编辑标签
    $('.sureSave').click(function () {
        var dataId = $(this).attr("data-id");
        var tagName = $(this).parent('.am-form-group').siblings(".am-form-group").find('input').val();
        console.log(tagName);
        $.ajax({
            type:'post',
            url: '<?php echo site_url('/find/Find/edit_find_tags');?>',
            data: 'tag_id='+ dataId + '&tagName=' +tagName,
            success: function(result){ 
            console.log(result);        
                var res = eval(result);
                if(res == 1){
                    getList('<?php echo site_url('/find/Find/ret_find_tags');?>','default=1');
                    
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                $('#edit'+dataId).fadeOut();
                $('.am-dimmer').removeClass('am-active');
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    });
    //删除标签
    $('.sureDelete').click(function () {
        var dataId = $(this).attr("data-id");
        $.ajax({
            type:'post',
            url: '<?php echo site_url('/find/Find/del_find_tags');?>',
            data: 'tagid='+ dataId,
            success: function(result){    
                var res = eval(result);
                if(res == 1){
                    alert("删除成功！");
                    getList('<?php echo site_url('/find/Find/ret_find_tags');?>','default=1');
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                $('#de'+dataId).fadeOut();
                $('.am-dimmer').removeClass('am-active');
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    }); 
}
//异步刷新的ajax请求 
function getList(dataurl,data){
    $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){         
            var res = eval(result);
            console.log(res);
            if(res != 2 && res != 3){
                var listData = ''; //每页出现的数量
                total_page = Math.ceil(res.length/15); //得到总页数
                for(var i = 0; i < res.length; i++){
                    listData += template('dataModal',res[i]);
                 }
                document.getElementById('dataList').innerHTML = listData;
                $('.pagebox').css('display', 'block');
                if(pageflag) {
                    go_to_page($storeGoodsSort);
                    var opts={};
                    opts.current_page = $storeGoodsSort;
                    $("#Pagination").pagination(total_page, opts);
                    pageflag = 0;
                } else {
                    $("#Pagination").pagination(total_page);
                    go_to_page(0);
                    
                }
                if(total_page < 5) {
                    $('.searchPage').css('display', 'none');
                }
                otherFunction();
            }else{
                $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关标签信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
            $('#dataList').find('tr').remove();
            $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关标签信息！</p></td></tr>').appendTo('#dataList');
            $('.pagebox').css('display', 'none');
        }
    });
}
//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length < minlen || content.length > maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}
$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/find/Find/ret_find_tags');?>','default=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/find/Find/ret_find_tags');?>','default=1');
    });
    //点击搜索
    $('.searchSort').click(function(){
        var keywords=$('#searchKey').val();
        getList('<?php echo site_url('/find/Find/search_find_tags');?>','search='+keywords);
    });
})
</script>
<script type="text/html" id="dataModal">
    <tr class="trClass" data-id="<%= tag_id%>">
        <td class="am-text-middle"><%= tag_id%></td>
        <td class="am-text-middle"><%= tagName%></td>
        <td class="am-text-middle"><%= create_time%></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a  data-id="<%= tag_id%>" class="edit_tags">
                    <i class="am-icon-pencil"></i> 编辑 
                </a>
                &nbsp;&nbsp;
                <a data-id="<%= tag_id%>" class="tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="edit<%= tag_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">编辑标签</div>
            <div class="am-modal-bd">
                <form class="am-form tpl-form-line-form"  data-am-validator method="post" enctype='multipart/form-data'> 
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">标签名 ：</label>
                        <div class="am-u-sm-8 am-u-end">
                            <input type="text" id="name<%= tag_id%>" name="name" required minlength="2" maxlength="15" onblur="validate(this,2,15,0)" value="<%= tagName%>" />
                            
                        </div>
                        <small class="am-u-sm-1 red redtips0" style="display: none;"><i class="am-icon-close"></i></small>
                        <small class="am-u-sm-1 green blacktips0" style="display: none;"><i class="am-icon-check"></i></small>
                    </div>
                    <div class="am-form-group am-btn-group-xs">
                        <input type="hidden" name="id" value="">
                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                        <button type="submit" class="am-btn am-btn-secondary sureSave" data-id="<%= tag_id%>" data-am-modal-confirm>保存</button>
                    </div>
                </form>      
            </div>
            
        </div>
    </div>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= tag_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= tag_id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>
