<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}

</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 交友

            <small> > 虚拟礼物管理</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">



    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf">虚拟礼物管理</div>

                </div>

                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">

                        <div class="am-form-group">

                            <div class="am-btn-toolbar">

                                <div class="am-btn-group am-btn-group-xs">

                                    <button type="button" class="am-btn am-btn-default am-btn-success" data-am-modal="{target: '#add'}"><span class="am-icon-plus"></span> 新增</button>

                                </div>

                            </div>

                        </div>

                    </div>

                 <div class="am-modal am-modal-confirm" tabindex="-1" id="add">

                        <div class="am-modal-dialog">

                            <div class="am-modal-hd">新增</div>

                            <div class="am-modal-bd"> 

                                <!-- 本地生活 信息展示类 -->

                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Friends/add_fictitious')?>" method='post' enctype='multipart/form-data'>

                                    

                                    <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">标题 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <input type="text" name="title" class="js-pattern-mobile" placeholder="输入标题"  required>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">价格(HI豆) <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <input type="number" name="price" class="js-pattern-mobile" placeholder="输入标题"  required>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">礼物图片 <span class="red">*</span></label>

                                         <div class="am-u-sm-8 am-u-end">

                                            <div class="wx_type_img">

                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>

                                              <!-- 图片实时预览 -->

                                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

                                              <span class="clickUp">缩略图</span>

                                            </div>

                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                            <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

                                        </div>

                                    </div>
                                    
                                    <div class="am-form-group am-btn-group-xs">
                               

                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                        <button type="submit" class="am-btn am-btn-danger">提交</button>

                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>



                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>

                                <tr>

                                    <th>编号</th>

                                    <!-- <th>所属圈子</th> -->

                                    <th>标题</th>

                                    <th>礼物图片</th>

                                    <th>购买价格</th>

                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody id="dataList">

                                <!-- more data -->
                                <?php if(!empty($lists)):?>
                                    <?php foreach($lists as $val):?>
                                        <tr>
                                            <td><?php echo $val['id'];?></td>
                                            <!-- <td><?php echo $val['name'];?></td> -->
                                            <td><?php echo $val['title'];?></td>
                                          
                                            <?php $logo = json_decode($val['picImg'],true);?>
                                            <?php if(!isset($logo[0]['picImg'])):?>
                                                <td>无图</td>
                                            <?php else:?>
                                               <td><img src="<?php echo $logo[0]['picImg'];?>" style="width: 100px;height: 100px;"></td> 
                                            <?php endif;?>
                                            <td><?php echo $val['price'];?></td>
                                          
                                            <td>
                                               <div class="tpl-table-black-operation">
                                                      
                                                    <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_edite<?php echo $val['id']?>'}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="<?php echo site_url('/friends/Friends/del_friends_news/'.$val['id']);?>" onclick="return confirm('确定删除?');" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除

                                                    </a>

                                                </div>  
                                            </td>
                                        </tr>
                                        <div class="am-modal am-modal-confirm" tabindex="-1" id="m_edite<?php echo $val['id']?>">

                                    <div class="am-modal-dialog">

                                        <div class="am-modal-hd">编辑</div>

                                        <div class="am-modal-bd">
                                            
                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Friends/edit_fictitious')?>" method='post' enctype='multipart/form-data'>

                                    

                                    <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">标题 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <input type="text" name="title" value="<?php echo $val['title'];?>" class="js-pattern-mobile" placeholder="输入标题"  required>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">价格(HI豆) <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <input type="number" name="price" value="<?php echo $val['price'];?>" class="js-pattern-mobile" placeholder="输入标题"  required>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">礼物图片 <span class="red">*</span></label>

                                         <div class="am-u-sm-8 am-u-end">

                                            <div class="wx_type_img">

                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>

                                              <!-- 图片实时预览 -->
                                                <?php if(isset($logo[0]['picImg'])):?>
                                              <div id="preview"> <img style="border-radius: 3px;" src="<?php echo $logo[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                          <?php else:?>
                                            <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                          <?php endif;?>

                                              <span class="clickUp">缩略图</span>

                                            </div>

                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                            <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

                                        </div>

                                    </div>
                                    
                                    <div class="am-form-group am-btn-group-xs">
                                    <input type="hidden" name="id" value="<?php echo $val['id'];?>">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                        <button type="submit" class="am-btn am-btn-danger">提交</button>

                                    </div>

                                </form>
                                            

                                        </div>

                                    </div>

                                </div>
                                    <?php endforeach;?>
                                <?php else:?>
                                    <th colspan="9">暂无内容！</th>
                                <?php endif;?>
        
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>

        </div>

    </div>





</div>

</div>

</body>

</html>



