<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}

</style>
<!-- 新分页开始 -->
<style>
    .page_div {margin-top: 20px;margin-bottom: 20px;font-size: 15px;font-family: "microsoft yahei";color: #666666;margin-right: 10px;padding-left: 20px;box-sizing: border-box;text-align: center;-moz-user-select:none;-webkit-user-select:none;}
    .page_div a {min-width: 32px;height: 40px;border: 1px solid #dce0e0!important;text-align: center;margin: 0 4px;cursor: pointer;line-height: 40px;color: #666666;font-size: 13px;display: inline-block;}
    #firstPage,#lastPage {width: 50px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    #prePage, #nextPage {width: 70px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    .page_div .current {background-color: #1fb5ac;border-color: #1fb5ac;color: #FFFFFF;}
    .totalPages {margin: 0 10px;}
    .totalPages span, .totalSize span {color: #1fb5ac;margin: 0 5px;}
</style>
<script src="assets/js/pagingY.js"></script> 




<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 交友

            <small> > 动态列表</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">



    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf">动态列表</div>

                </div>

                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">

                        <div class="am-form-group">

                            <div class="am-btn-toolbar">

                                <div class="am-btn-group am-btn-group-xs">

                                    <button type="button" class="am-btn am-btn-default am-btn-success" data-am-modal="{target: '#add'}"><span class="am-icon-plus"></span> 新增</button>

                                </div>

                            </div>

                        </div>

                    </div>

                 <div class="am-modal am-modal-confirm" tabindex="-1" id="add">

                        <div class="am-modal-dialog">

                            <div class="am-modal-hd">新增</div>

                            <div class="am-modal-bd"> 

                                <!-- 本地生活 信息展示类 -->

                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Friends/add_friends_news')?>" method='post' enctype='multipart/form-data'>

                                    

                                    <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">内容 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <textarea type="text" rows="4" name="content" class="js-pattern-mobile" placeholder="输入动态内容"  required></textarea> 

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">动态图片 <span class="red">*</span></label>

                                         <div class="am-u-sm-8 am-u-end">

                                            <div class="wx_type_img">

                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>

                                              <!-- 图片实时预览 -->

                                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

                                              <span class="clickUp">缩略图</span>

                                            </div>

                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                            <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

                                        </div>

                                    </div>
                                    
                                    <div class="am-form-group am-btn-group-xs">

                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                        <button type="submit" class="am-btn am-btn-danger">提交</button>

                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>



                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>

                                <tr>

                                    <th>编号</th>

                                    <!-- <th>所属圈子</th> -->

                                    <th>发布人</th>

                                    <th>内容</th>

                                    <th>动态图片</th>

                                    <th>点赞数</th>

                                    <th>阅读量</th>

                                    <th>发表时间</th>
                                

                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody id="infolistDiv">

                                <!-- more data -->
                           
        
                            </tbody>

                        </table>
                         <script type="text/html" id="infolist">
                            <% for(var i=0; i<list.length; i++){ %>
                                <tr>
                                    <td><%= list[i].id%></td>
                                    <td><%= list[i].nickname%></td>
                                    <td><%= list[i].content%></td>
                                    <%if(list[i].pic == ''){%>
                                    <td>无图</td>
                                    <%}else{%>
                                    <td><img width="100px;" src="<%= list[i].pic%>" ></td>
                                    <%}%>
                                    <td><%= list[i].likes%></td>
                                    <td><%= list[i].read%></td>
                                    <td><%= list[i].create_time%></td>
                                    <td> 
                                        <div class="tpl-table-black-operation">
                                            <%if(list[i].award == '1'){%>
                                            <a href="<?php echo site_url('/friends/Friends/grantHidou/');?><%= list[i].id%>" class="tpl-table-black-operation-set" >
                                                <i class="am-icon-pencil"></i> 发放HI豆
                                            </a>
                                            <%}%>
                                            <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_info<%= list[i].id%>'}">
                                                <i class="am-icon-pencil"></i> 查看详情
                                            </a>
                                              
                                            <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_edite<%= list[i].id%>'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="<?php echo site_url('/friends/Friends/del_friends_news/');?><%= list[i].id%>/<%= list[i].spaceType%>" onclick="return confirm('确定删除?');" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除

                                            </a>

                                        </div>  
                                    </td>
                                </tr>
                                 <div class="am-modal am-modal-confirm" tabindex="-1" id="m_edite<%= list[i].id%>">

                                    <div class="am-modal-dialog">

                                        <div class="am-modal-hd">编辑</div>

                                        <div class="am-modal-bd">

                                            <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Friends/edit_friends_news')?>" method='post' enctype='multipart/form-data'>

                                    

                                     <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">内容 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <textarea type="text" rows="4" name="content" class="js-pattern-mobile" placeholder="输入动态内容"  required><%= list[i].content%></textarea> 

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">动态图片 <span class="red">*</span></label>

                                         <div class="am-u-sm-8 am-u-end">

                                            <div class="wx_type_img">

                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>

                                              <!-- 图片实时预览 -->
                                            <%if(list[i].pic != ''){%>
                                              <div id="preview"> <img style="border-radius: 3px;" src="<%= list[i].pic%>" class="am-img-responsive cardView"> </div>
                                            <% }else{%>
                                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                            <%}%>

                                              <span class="clickUp">缩略图</span>

                                            </div>

                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                            <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

                                        </div>

                                    </div>
                                    
                                    <div class="am-form-group am-btn-group-xs">
                                         <input type="hidden" name="id" value="<%= list[i].id%>">
                                         <!-- <input type="hidden" name="spaceType" value="<?php echo $val['spaceType'];?>"> -->

                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                        <button type="submit" class="am-btn am-btn-danger">提交</button>

                                    </div>

                                </form>

                                        </div>

                                    </div>

                                </div>
                                 <div class="am-modal am-modal-confirm" tabindex="-1" id="m_info<%= list[i].id%>">

                                    <div class="am-modal-dialog">

                                        <div class="am-modal-hd">详情</div>

                                        <div class="am-modal-bd">
                                     <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">内容 </label>

                                        <div class="am-u-sm-8">

                                            <%= list[i].content%>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">动态图片 </label>

                                         <div class="am-u-sm-8 am-u-end">
                                            <%if(list[i].pic != ''){%>
                                                <img src="<%= list[i].pic%>" style="width: 100%;height: 100%;">
                                            <%}%>
                                                
                                        </div>

                                    </div>
                                    

                                        </div>

                                    </div>

                                </div>
                            <%}%>
                        </script>

                    </div>
          

                      <div value="1 0"></div>
                    <div id="page" class="page_div"></div>

                </div>

            </div>

        </div>

    </div>





</div>

</div>

<script>  

$(document).ready(function(){


    // 初始化节点，无数据关联
    $("#page").paging({
        pageNo: 1,
        totalPage: 10,
        totalSize: 100,
        callback: function(num) {
            getListinfo(num,"<?php echo site_url("/friends/Friends/retFriendsNews");?>");
        }
    })
    
    // 初始化,加载第一页
    var page = "<?php if(!isset($_SESSION['friendsNews'])){echo '0';}else{echo $_SESSION['friendsNews'];}?>"/10 +1;


    getListinfo(page,"<?php echo site_url("/friends/Friends/retFriendsNews");?>");
    
    // 新分页方法
    function getListinfo(num,url) {

        var pagenum10 = (num-1) *10;
       
        $.ajax({
            url: url,
            type: "post",
            data: {
                'start':pagenum10,
                'count':10,
                
            },
            // dataType: "json",
            success: function(data) {
                // console.log(data);
                if(data != 2){
                    var res = JSON.parse(data);
                    var allpage = Math.ceil(res.total/10);  
                    //分页
                    $("#page").paging({
                        pageNo: num,
                        totalPage: allpage,
                        totalSize: res.total,
                        callback: function(num) { //点击页码的 回调 方法
                            // console.log(num);
                            getListinfo(num,"<?php echo site_url("/friends/Friends/retFriendsNews");?>");
                        }
                    })
                    // 铺数据
                    var dataobj = {};
                    var lists = res.subjects;
                    // 头像
                    lists.forEach(function(ele,index){
                       if (ele.pic.length > 5) {
                            var pic = JSON.parse(ele.pic);
                            // console.log(pic)
                           ele.pic = pic[0].picImg;
                        }else{
                            ele.pic = '';
                        }
                    })
                    dataobj.list = lists;
                    var html=template("infolist",dataobj);
                    document.getElementById("infolistDiv").innerHTML = html;
                }
            },
            error:function(data){
                console.log(data);
            }
        })
    }
    

    //点击搜索

    // $('.searchOrder').click(function(){

    //     var faqsType=$('#faqsType option:selected').val(),questionStates = $('#questionStates option:selected').val(),begin_date = $('#begin_date').val(), end_date = $('#end_date').val(), keywords = $('#sear').val();

    //     console.log('faqsType='+ faqsType +'&questionStates='+ questionStates  +'&end_time='+ end_date + '&begin_time='+ begin_date  +'&sear='+ keywords);
    //     getListinfo(1,faqsType,questionStates,end_date,begin_date,keywords,"<?php echo site_url('/friends/Question/searchQuestion');?>");

    // });



})
</script> 


</body>

</html>



