<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}

</style>
<!-- 新分页开始 -->
<style>
    .page_div {margin-top: 20px;margin-bottom: 20px;font-size: 15px;font-family: "microsoft yahei";color: #666666;margin-right: 10px;padding-left: 20px;box-sizing: border-box;text-align: center;-moz-user-select:none;-webkit-user-select:none;}
    .page_div a {min-width: 32px;height: 40px;border: 1px solid #dce0e0!important;text-align: center;margin: 0 4px;cursor: pointer;line-height: 40px;color: #666666;font-size: 13px;display: inline-block;}
    #firstPage,#lastPage {width: 50px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    #prePage, #nextPage {width: 70px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    .page_div .current {background-color: #1fb5ac;border-color: #1fb5ac;color: #FFFFFF;}
    .totalPages {margin: 0 10px;}
    .totalPages span, .totalSize span {color: #1fb5ac;margin: 0 5px;}
</style>
<script src="assets/js/pagingY.js"></script> 



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 交友

            <small> > 会员列表</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">



    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">


               

                <div class="widget-body  am-fr">
                     <div class="widget-head am-cf">

                    <div class="widget-title  am-cf">APP首页推荐</div>

                     </div>

                  

                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>

                                <tr>

                                    <th>编号</th>

                                    <th>排序</th>

                                    <th>账号</th>

                                    <th>昵称</th>

                                    <th>头像</th>

                                    <th>电话</th>

                                    <th>性别</th>

                                    <th>积分</th>

                                    <th>注册时间</th>

                                    <th>年龄</th>

                                    <th>星座</th>
                                    <th>榜单</th>
                                    <th>是否推荐</th>
                                  
                                    <th>操作</th>
                                </tr>

                            </thead>

                            <tbody id="doc-modal-list">
                                
                            </tbody>
                            <script type="text/html" id="infolist">
                            <% for(var i=0; i<list.length; i++){ %>
                                <tr>
                                    <td class="user_id"><%= list[i].user_id;%></td>
                                    <td class="sort"><%= list[i].resommendOnHomeIndex;%></td>
                                    <td><%= list[i].phone;%></td>
                                    <td><%= list[i].nickname;%></td>
                                    <% if(list[i].avatar == ''){%>
                                        <td>无图</td>
                                   <% }else{%>
                                       <td><img src="<%= list[i].avatar;%>" style="width: 100px;height: 100px;"></td> 
                                   <% }%>
                                    <td><%= list[i].phone;%></td>
                                   
                                   <% if(list[i].gender == '1'){%>
                                    <td>男</td>
                                   <% }else if(list[i].gender == '2'){%>
                                    <td>女</td>
                                   <%}else{%> 
                                    <td>其他</td>   
                                   <%}%> 
                                    <td><%= list[i].intergral;%></td>

                                    <td><%= list[i].create_time;%></td>
                                    <td><%= list[i].age;%></td>
                                    <td><%= list[i].horoscope;%></td>
                                   <% if(list[i].gender == '1'){%>
                                    <td>男神榜</td>
                                   <% }else{%>
                                        <td>女神榜</td>
                                   <% }%>
                                   <% if(list[i].recommend == "1"){%>
                                    <td>已推荐</td>
                                   <% }else{%>
                                    <td>未推荐</td>
                                   <% }%> 
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <% if(list[i].recommend=='1'){%>
                                                 <a href="<?php echo site_url('/friends/Friends/edit_recommend_state/');?><%=list[i].user_id%>/2" class="tpl-table-black-operation-del" >
                                                     取消推荐榜推荐
                                                </a>
                                               
                                            <%}else{%>
                                                <a href="<?php echo site_url('/friends/Friends/edit_recommend_state/');?><%=list[i].user_id%>/1" class="tpl-table-black-operation-sccess" >
                                                     推荐到推荐榜
                                                </a>
                                            <%}%>
                                            <%if(list[i].resommendOnHome == "1"){%>
                                                <a href="<?php echo site_url('/friends/Friends/recommend_home/');?><%=list[i].user_id%>/2" class="tpl-table-black-operation-blue" >
                                                     取消APP首页推荐
                                                </a>
                                            <%}else{%>
                                                 <a href="<?php echo site_url('/friends/Friends/recommend_home/');?><%=list[i].user_id%>/1" class="tpl-table-black-operation-sccess" >
                                                     APP首页推荐
                                                </a>
                                            <%}%>
                                            <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_sort<%=list[i].user_id%>'}">
                                                <i class="am-icon-pencil"></i> 修改排序
                                            </a>
                                                     



                                             <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_edite<%=list[i].user_id%>'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                     
                                          
                                        </div>  
                                    </td>  
                                   
                                </tr>
                                 <div class="am-modal am-modal-confirm" tabindex="-1" id="m_edite<%=list[i].user_id%>">
                                    <div class="am-modal-dialog">
                                        <div class="am-modal-hd">编辑</div>
                                        <!-- <form class="am-form tpl-form-line-form" action="<?php echo site_url('friends/Friends/edit_member_info')?>" method='post' enctype='multipart/form-data'> -->
                                            <div class="am-form-group am-cf">

                                                <label class="am-u-sm-3 am-form-label">昵称 <span class="red">*</span></label>

                                                <div class="am-u-sm-8">
                                                    <input type="text" id="nicheng" name="nickname" value="<%=list[i].nickname%>" class="js-pattern-mobile" placeholder="输入昵称" >

                                                </div>

                                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                            </div>
                                            <div class="am-form-group am-cf">

                                                <label class="am-u-sm-3 am-form-label">电话 <span class="red">*</span></label>

                                                <div class="am-u-sm-8">

                                                    <input type="text" id="dianhuaY0" name="phone" value="<%=list[i].phone%>" class="js-pattern-mobile" placeholder="输入昵称" >
                                                </div>

                                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                            </div>
                                            <div class="am-form-group am-cf">

                                                <label class="am-u-sm-3 am-form-label">性别 <span class="red">*</span></label>

                                                <div class="am-u-sm-8">

                                                   <select name="gender" id="xingbeiY0">
                                                       <option value="1" <% if(list[i].gender == '1'){%>selected<%}%>>男</option>
                                                       <option value="2" <% if(list[i].gender == '2'){%>selected<%}%>>女</option>
                                                   </select>

                                                </div>

                                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                            </div>
                                            <div class="am-form-group am-cf">

                                                <label class="am-u-sm-3 am-form-label">年龄 <span class="red">*</span></label>

                                                <div class="am-u-sm-8">

                                                    <input type="text" id="nianlinY"  name="age" value="<%=list[i].age%>" class="js-pattern-mobile" placeholder="输入年龄" >

                                                </div>

                                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                            </div>
                                            <div class="am-form-group am-cf">

                                                <label class="am-u-sm-3 am-form-label">星座 <span class="red">*</span></label>

                                                <div class="am-u-sm-8">

                                                    <input type="text" id="xingzuoY" name="horoscope" value="<%=list[i].horoscope%>" class="js-pattern-mobile" placeholder="输入星座" >

                                                </div>

                                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                            </div>
                                              <div class="am-form-group am-cf">

                                                <label for="" class="am-u-sm-3 am-form-label">头像 <span class="red">*</span></label>

                                                 <div class="am-u-sm-8 am-u-end">

                                                    <div class="wx_type_img">

                                                     <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>

                                                      <!-- 图片实时预览 -->
                                                      <%if(list[i].avatar == ''){%>
                                                    
                                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                      <%}else{%>
                                                            <div id="preview"> <img style="border-radius: 3px;" src="<%=list[i].avatar;%>" class="am-img-responsive cardView"> </div>
                                                      <%}%>

                                                      <span class="clickUp">缩略图</span>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="am-form-group am-btn-group-xs">
                                                <input type="hidden" id="user_id" name="user_id" value="<%=list[i].user_id;%>">
                                                <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                                <button  type="submit" onclick="submitfun0(this)" class="am-btn am-btn-danger">提交</button>

                                            </div>
                                        <!-- </form> -->
                                    </div>
                                </div>
                                  <div class="am-modal am-modal-confirm" tabindex="-1" id="m_sort<%=list[i].user_id;%>">

                                            <div class="am-modal-dialog">

                                                <div class="am-modal-hd">修改排序</div>

                                                <div class="am-modal-bd">
                                                    <!-- <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Friends/edit_member_sort')?>" method='post' enctype='multipart/form-data'> -->

                                                    <div class="am-form-group am-cf">

                                                        <label class="am-u-sm-3 am-form-label">排序 <span class="red">*</span></label>

                                                        <div class="am-u-sm-8">

                                                            <input type="number" id="resommendOnHomeIndex" name="resommendOnHomeIndex" value="<%=list[i].resommendOnHomeIndex;%>" class="js-pattern-mobile" placeholder="排序"  required> 

                                                        </div>

                                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                                    </div>
                                                     <div class="am-form-group am-btn-group-xs">
                                                        <input type="hidden" id="user_id" name="user_id" value="<%=list[i].user_id;%>">

                                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                                        <button type="submit" onclick="submitfun1(this)" class="am-btn am-btn-danger">提交</button>

                                                    </div>

                                                <!-- </form> -->
                                                </div>


                                            </div>

                                        </div>
                              



                            <%}%>
                            </script>


                        </table>

                    </div>

                    <div value="1 0"></div>
                    <div id="page" class="page_div"></div>

                </div>

            </div>

        </div>

    </div>






</div>

</div>
<script type="text/javascript">
    function submitfun0(that){
        var nickname = $(that).parentsUntil('.am-modal-confirm').find('#nicheng').val();//昵称
        var phone = $(that).parentsUntil('.am-modal-confirm').find('#dianhuaY0').val();
        var gender = $(that).parentsUntil('.am-modal-confirm').find('#xingbeiY0').val();
        var age = $(that).parentsUntil('.am-modal-confirm').find('#nianlinY').val();
        var horoscope = $(that).parentsUntil('.am-modal-confirm').find('#xingzuoY').val();
        var user_id = $(that).parentsUntil('.am-modal-confirm').find('#user_id').val();
        var img = $(that).parentsUntil('.am-modal-confirm').find('#imgUpload').prop('files')[0] || '';
        // var dataObj = {
        //     nickname:nickname,
        //     phone:phone,
        //     gender:gender,
        //     age:age,
        //     horoscope:horoscope,
        //     img:img,
        //     user_id:user_id
        // }
        var dataForm = new FormData();
            dataForm.append('nickname', nickname);
            dataForm.append('phone', phone);
            dataForm.append('gender', gender);
            dataForm.append('horoscope', horoscope);
            dataForm.append('age', age);
            img && dataForm.append('img', img);//判断存在img ，再添加 数据
            dataForm.append('user_id', user_id);

        var request = new XMLHttpRequest();
        request.open("POST", "<?php echo site_url('friends/Friends/edit_member_info')?>");
        request.onload = function(data) {
                 if (data == 1) {//响应成功
                    alert('操作成功！');
                    window.location.reload();
                } else if(data == 3) {
                    alert('图片上传失败！');
                    window.location.reload();

                }else{
                     alert('操作失败！');
                    window.location.reload();
                }
        };
        request.send(dataForm);
        
    }
    function submitfun1(that){
        var resommendOnHomeIndex = $(that).parentsUntil('.am-modal-confirm').find('#resommendOnHomeIndex').val();
        var user_id = $(that).parentsUntil('.am-modal-confirm').find('#user_id').val();
        var dataForm = new FormData();
            dataForm.append('resommendOnHomeIndex', resommendOnHomeIndex);
            dataForm.append('user_id', user_id);
            var request = new XMLHttpRequest();
            request.open("POST", "<?php echo site_url('friends/Friends/edit_member_sort')?>");
            request.onload = function(data) {
                if (data == 1) {//响应成功
                    alert('操作成功！');
                    window.location.reload();
                } else {
                    alert('失败');
                     window.location.reload();

                }
            };
            request.send(dataForm);
    }

$(document).ready(function(){


    // 初始化节点，无数据关联
    $("#page").paging({
        pageNo: 1,
        totalPage: 10,
        totalSize: 100,
        callback: function(num) {
            getListinfo(num,'',"<?php echo site_url("/friends/Friends/appHomeMember");?>");
        }
    })
    
    // 初始化,加载第一页
    var page = "<?php if(!isset($_SESSION['friendsHome'])){echo '0';}else{echo $_SESSION['friendsHome']/10 +1;}?>";


    getListinfo(page,'',"<?php echo site_url("/friends/Friends/appHomeMember");?>");
    
    // 新分页方法
    function getListinfo(num,sear,url) {

        var pagenum10 = (num-1) *10;
       
        $.ajax({
            url: url,
            type: "post",
            data: {
                'start':pagenum10,
                'count':10,
                'sear':sear,
            },
            // dataType: "json",
            success: function(data) {
                // console.log(data);
                if(data != 2){
                    var res = JSON.parse(data);
                    var allpage = Math.ceil(res.total/10);  
                    //分页
                    $("#page").paging({
                        pageNo: num,
                        totalPage: allpage,
                        totalSize: res.total,
                        callback: function(num) { //点击页码的 回调 方法
                            // console.log(num);
                            getListinfo(num,sear,"<?php echo site_url("/friends/Friends/appHomeMember");?>");
                        }
                    })
                    // 铺数据
                    var dataobj = {};
                    var lists = res.subjects;
                    // 头像
                    lists.forEach(function(ele,index){
                       if (ele.avatar && ele.avatar.length > 5) {
                            var pic = JSON.parse(ele.avatar);
                            // console.log(pic)
                           ele.avatar = pic[0].picImg;
                        }else{
                            ele.avatar = '';
                        }
                    })
                    dataobj.list = lists;
                    var html=template("infolist",dataobj);
                    document.getElementById("doc-modal-list").innerHTML = html;
                }
            },
            error:function(data){
                console.log(data);
            }
        })
    }


})

</script>

</body>

</html>



