<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}



</style>
<style>  
    *{  
        padding: 0px;  
        margin: 0px;  
    }  
    *{ margin:0; padding:0; list-style:none;}  
    a{ text-decoration:none;}  
    a:hover{ text-decoration:none;}  
    .tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;}  
    .tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;  
    line-height: 25px;    padding: 0 10px;border: 1px solid #ddd;    margin: 0 2px;border-radius: 4px;vertical-align: middle;}  
    .tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}  
    .tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;  
    margin: 0 2px;color: #fff;background-color: #428bca;    border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}  
    .tcdPageCode span.disabled{    display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;  
    margin: 0 2px;    color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}  
    ul{  
        list-style: none;  
    }  
    .wrap >ul > li{  
        width: 250px;  
        height: 350px;  
        margin: 20px;  
        /*border: 1px green solid;*/  
        float: left;  
        margin-bottom: 40px;  
    }  
    .wrap >ul > li>img{  
        width: 100%;  
        height: 100%;  
    }  
    .wrap >ul > li>p{  
        text-align: center;  
        line-height: 30px;  
        height: 30px;  
    }  
    .wrap{  
        margin: 100px auto;  
        border: 1px solid red;  
        height: 1800px;  
        width: 1460px;  
    }  
</style>  


<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 交友

            <small> > 动态列表</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">



    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf">动态列表</div>

                </div>

                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">

                        <div class="am-form-group">

                            <div class="am-btn-toolbar">

                                <div class="am-btn-group am-btn-group-xs">

                                    <button type="button" class="am-btn am-btn-default am-btn-success" data-am-modal="{target: '#add'}"><span class="am-icon-plus"></span> 新增</button>

                                </div>

                            </div>

                        </div>

                    </div>

                 <div class="am-modal am-modal-confirm" tabindex="-1" id="add">

                        <div class="am-modal-dialog">

                            <div class="am-modal-hd">新增</div>

                            <div class="am-modal-bd"> 

                                <!-- 本地生活 信息展示类 -->

                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Question/add_problem')?>" method='post' enctype='multipart/form-data'>

                                      <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">内容 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                           <select name="faqsType" required>
                                               <option value="">请选择一项</option>
                                               <?php foreach($cates as $v):?>
                                               <option value="<?php echo $v['id'];?>"><?php echo $v['name'];?></option>
                                                <?php endforeach;?>
                                           </select>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">提问内容 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <textarea type="text" rows="4" name="content" class="js-pattern-mobile" placeholder="输入提问内容"  required></textarea> 

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>

                                    <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">悬赏HI豆 </label>

                                        <div class="am-u-sm-8">

                                            <input type="number" name="price" class="js-pattern-mobile" placeholder="输入悬赏HI豆"  > 

                                        </div>
                                         <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>
                                 

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">动态图片</label>

                                         <div class="am-u-sm-8 am-u-end">

                                            <div class="wx_type_img">

                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field" >

                                              <!-- 图片实时预览 -->

                                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

                                              <span class="clickUp">缩略图</span>

                                            </div>

                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                            <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

                                        </div>

                                    </div>
                                    
                                    <div class="am-form-group am-btn-group-xs">
                                    <!-- <input type="hidden" name="spaceType" value="<?php echo $spaceType;?>"> -->

                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                        <button type="submit" class="am-btn am-btn-danger">提交</button>

                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>



                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>
                                <tr>

                                    <th>编号</th>

                                    <th>问题类型</th>

                                    <th>提问人</th>

                                    <th>提问内容</th>

                                    <th>图片</th>

                                    <th>是否回答</th>

                                    <th>回答指定</th>

                                    <th>回答数</th>
                                    <th>问题悬赏</th>
                                    <th>提问时间</th>
                                

                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody id="infolistDiv">

                             
        
                            </tbody>

                        </table>
                        <script type="text/html" id="infolist">
                            <% for(var i=0; i<list.length; i++){ %>
                                <tr>
                                           <td><%= list[i].id%></td>
                                           <td><%= list[i].name%></td>
                                           <td><%= list[i].nickname%></td>
                                           <td><%= list[i].content%></td>
                                           <% if(list[i].pic == ''){%>
                                                <td>无图</td>
                                            <% }else{%>
                                               <td><img src="<%= list[i].pic%>" style="width: 100px;height: 100px;"></td> 
                                            <%}%>
                                            <%if(list[i].questionStates == '1'){%>
                                            <td>已回答</td>
                                           <%}else{%>
                                           <td>未回答</td>
                                           <%}%>
                                           <%if(list[i].onlyExpert == '1'){%>
                                            <td>仅专家</td>
                                           <%}else{%>
                                           <td>所有人</td>
                                           <%}%>
                                           <td><%= list[i].answerNums%></td>
                                           <td><%= list[i].price%></td>
                                           <td><%= list[i].create_time%></td>
                                           <td>
                                               <div class="tpl-table-black-operation">
                                                    <a href="<?php echo site_url('/friends/Question/see_problem/');?><%= list[i].id%>"  class="tpl-table-black-operation-info">
                                                    查看回答

                                                    </a>

                                                    <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_edite<%= list[i].id%>'}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="<?php echo site_url('/friends/Question/del_problem/');?><%= list[i].id%>" onclick="return confirm('确定删除?');" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除

                                                    </a>

                                                </div>  
                                            </td>
                                        </tr>
                                         <div class="am-modal am-modal-confirm" tabindex="-1" id="m_edite<%= list[i].id%>">

                                    <div class="am-modal-dialog">

                                        <div class="am-modal-hd">编辑</div>

                                        <div class="am-modal-bd">

                                        <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('friends/Question/edit_problem')?>" method='post' enctype='multipart/form-data'>

                                      <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">内容 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                           <select name="faqsType" required>
                                               <option value="">请选择一项</option>
                                               <?php foreach($cates as $v):?>
                                               <option value="<?php echo $v['id'];?>" ><?php echo $v['name'];?></option>
                                                <?php endforeach;?>
                                           </select>

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">提问内容 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">

                                            <textarea type="text" rows="4" name="content" class="js-pattern-mobile" placeholder="输入提问内容"  required><%= list[i].content%></textarea> 

                                        </div>

                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>

                                    <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">悬赏HI豆 </label>

                                        <div class="am-u-sm-8">

                                            <input type="number" name="price" value="<%= list[i].price%>" class="js-pattern-mobile" placeholder="输入悬赏HI豆"  > 

                                        </div>
                                         <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>
                                 

                                    </div>
                                      <div class="am-form-group am-cf">

                                        <label for="" class="am-u-sm-3 am-form-label">动态图片 </label>

                                         <div class="am-u-sm-8 am-u-end">

                                            <div class="wx_type_img">

                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  >

                                              <!-- 图片实时预览 -->
                                             <%if(list[i].pic == ''){%>
                                                <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                            <%}else{%>
                                                <div id="preview"> <img style="border-radius: 3px;" src="<%= list[i].pic%>" class="am-img-responsive cardView"> </div>
                                            <%}%>

                                              <span class="clickUp">缩略图</span>

                                            </div>

                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 


                                        </div>

                                    </div>
                                    
                                    <div class="am-form-group am-btn-group-xs">
                                    <input type="hidden" name="id" value="<%= list[i].id%>">
    
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>

                                        <button type="submit" class="am-btn am-btn-danger">提交</button>

                                    </div>

                                </form>
                                        </div>

                                    </div>

                                </div>
                            <%}%> 
                        </script>

                    </div>

                    <div class="am-u-lg-12 am-cf am-text-center pagebox">

                       <!--  <div id="Pagination">


                               <?php echo $pages;?>


                        </div> -->
                        <div class="tcdPageCode">  
                        </div>  

                      

                    </div>

                </div>

            </div>

        </div>

    </div>





</div>

</div>
<script src="assets/js/jquery.page.js"></script>
<script>  
    $(function () {  
       //初始化第一页数据；  
        var urlApi = '<?php echo site_url("/friends/Question/retQuestionList");?>' ;

        var page =  "<?php if(isset($_SESSION['pageNum'])){echo $_SESSION['pageNum'];}else{echo '0';}?>";
        $.ajax({  
            url:urlApi,  
            type:'POST',  
            // dataType:'jsonp',  
            data:{  
                //从第几条开始请求；  
                "start" : page,  
                //请求多少条数据  
                "count" : 10  
            },  
            success:function(data){ 

            //total总条数属性，计算总页数；  
                var res = JSON.parse(data)  
                var total = parseInt(res.total/10);  
                var result  = res.subjects;  
                var dataobj = {};
                result.forEach(function(ele,index){
                    // console.log(result.pic);
                    if (ele.pic.length > 5) {
                        var pic = JSON.parse(ele.pic);
                        // console.log(pic)
                        ele.pic = pic.picImg;
                    }else{
                        ele.pic = '';
                    }
                })
                                  
                dataobj.list = result;
                var html=template("infolist",dataobj);
                document.getElementById("infolistDiv").innerHTML = html;
                if(page == 0){
                    num = 1;
                }else{
                     num = (parseInt(page) + 10)/10;
                }
                // console.log(num);
                //分页插件，  
                $(".tcdPageCode").createPage({  
                    //pageCount：总页数  
                    pageCount:total,  
                    //current：当前页  
                    current:num,  
                    backFn:function(pageIndex){  
                    //单击回调方法，pageIndex是当前页码  
                        $(".movieList").empty();  
                      
                        var start = 10*(pageIndex-1); 
                        $.ajax({  
                            url:urlApi,  
                            type:'POST',  
                            // dataType:'jsonp',  
                            data:{  
                                "start" : start,  
                                "count" : 10,  
                            },  
                            success:function(data){  
                                var res = JSON.parse(data)  

                                var result  = res.subjects;  
                                console.log(res);
                                var dataobj = {};
                                  // 头像
                                result.forEach(function(ele,index){
                                    // console.log();
                                    if (ele.pic.length > 5) {
                                        var pic = JSON.parse(ele.pic);
                                        // console.log(pic)
                                       ele.pic = pic[0].picImg;
                                    }else{
                                        ele.pic = '';
                                    }
                                })
                                dataobj.list = result;
                                var html=template("infolist",dataobj);
                                document.getElementById("infolistDiv").innerHTML = html;
                                
                            }  
                        })  
                    }  
                });  
            }  
        })  
    })  
</script> 



</body>

</html>



