<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}

</style>
<style>
    .page_div {margin-top: 20px;margin-bottom: 20px;font-size: 15px;font-family: "microsoft yahei";color: #666666;margin-right: 10px;padding-left: 20px;box-sizing: border-box;text-align: center;-moz-user-select:none;-webkit-user-select:none;}
    .page_div a {min-width: 32px;height: 40px;border: 1px solid #dce0e0!important;text-align: center;margin: 0 4px;cursor: pointer;line-height: 40px;color: #666666;font-size: 13px;display: inline-block;}
    #firstPage,#lastPage {width: 50px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    #prePage, #nextPage {width: 70px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    .page_div .current {background-color: #1fb5ac;border-color: #1fb5ac;color: #FFFFFF;}
    .totalPages {margin: 0 10px;}
    .totalPages span, .totalSize span {color: #1fb5ac;margin: 0 5px;}
</style>
<script src="assets/js/pagingY.js"></script> 


<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 交友

            <small> > 动态列表</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">



    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-cf">举报帖子搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" >
                   
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4 am-fl" >
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">关键字:</label>
                        <div class="am-u-sm-9 am-u-end">
                            <input type="text" id="sear" name="sear" />
                        </div>
                    </div>
                   
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchOrder"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">

                    <div class="widget-title  am-cf">动态列表</div>

                </div>

                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">

                        <div class="am-form-group">

                            <div class="am-btn-toolbar">

                                <div class="am-btn-group am-btn-group-xs">

                                    <!-- <button type="button" class="am-btn am-btn-default am-btn-success" data-am-modal="{target: '#add'}"><span class="am-icon-plus"></span> 新增</button> -->

                                </div>

                            </div>

                        </div>

                    </div>

                



                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>

                                <tr>

                                    <th>编号</th>

                                    <th>发布人</th>

                                    <th>内容</th>

                                    <th>动态图片</th>

                                    <th>点赞数</th>

                                    <th>阅读量</th>

                                    <th>发表时间</th>
                                

                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody id="infolistDiv">

                                <!-- more data -->
                               
        
                            </tbody>

                        </table>
                         <script type="text/html" id="infolist">
                               <% for(var i=0; i<list.length; i++){ %>
                                    <tr>
                                        <td><%= list[i].id%></td>
                                        <td><%= list[i].nickname%></td>
                                        <td><%= list[i].content%></td>
                                        <%if(list[i].pic){%>
                                            <td><img src="<%=list[i].pic%>" style="width: 100px;height: 100px;"></td> 

                                        <%}else{%>
                                          <td>无图</td>
                                        <%}%>
                                        <td><%=list[i].likes%></td>
                                        <td><%=list[i].read%></td>
                                        <td><%=list[i].create_time%></td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                               
                                                      
                                                    <a href="<?php echo site_url('/friends/Friends/edit_news_state/');?><%= list[i].id%>/4"  class="tpl-table-black-operation-green">恢复正常显示</a>
                                                    <a href="<?php echo site_url('/friends/Friends/del_friends_news/');?><%= list[i].id%>/<%= list[i].spaceType%>" onclick="return confirm('确定删除?');" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除

                                                    </a>
                                            </div> 
                                        </td>
                                    </tr>
                               <%}%>
                        </script>

                    </div>
                    <div value="1 0"></div>
                    <div id="page" class="page_div"></div>

                </div>

            </div>

        </div>

    </div>


<script type="text/javascript">
    
$(document).ready(function(){


    // 初始化节点，无数据关联
    $("#page").paging({
        pageNo: 1,
        totalPage: 10,
        totalSize: 100,
        callback: function(num) {
            getListinfo(num,'',"<?php echo site_url("/friends/Friends/retReport");?>");
        }
    })
    
    // 初始化,加载第一页
    var page = "<?php if(!isset($_SESSION['reportNews'])){echo '0';}else{echo $_SESSION['reportNews']/10 +1;}?>";


    getListinfo(page,'',"<?php echo site_url("/friends/Friends/retReport");?>");
    
    // 新分页方法
    function getListinfo(num,sear,url) {

        var pagenum10 = (num-1) *10;
       
        $.ajax({
            url: url,
            type: "post",
            data: {
                'start':pagenum10,
                'count':10,
                'sear':sear
            },
            // dataType: "json",
            success: function(data) {
                // console.log(data);
                if(data != 2){
                    var res = JSON.parse(data);
                    var allpage = parseInt(res.total/10);  
                    //分页
                    $("#page").paging({
                        pageNo: num,
                        totalPage: allpage,
                        totalSize: res.total,
                        callback: function(num) { //点击页码的 回调 方法
                            // console.log(num);
                            getListinfo(num,sear,"<?php echo site_url("/friends/Friends/retReport");?>");
                        }
                    })
                    // 铺数据
                    var dataobj = {};
                    var lists = res.subjects;
                    // 头像
                    lists.forEach(function(ele,index){
                       if (ele.pic.length > 5) {
                            var pic = JSON.parse(ele.pic);
                            // console.log(pic)
                           ele.pic = pic[0].picImg;
                        }else{
                            ele.pic = '';
                        }
                    })
                    dataobj.list = lists;
                    var html=template("infolist",dataobj);
                    document.getElementById("infolistDiv").innerHTML = html;
                }
            },
            error:function(data){
                console.log(data);
            }
        })
    }
    

    //点击搜索

    $('.searchOrder').click(function(){

        var keywords = $('#sear').val();

       
        getListinfo(1,keywords,"<?php echo site_url("/friends/Friends/retReport");?>");

    });



})
</script>


</div>

</div>

</body>

</html>



