<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}

</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 交友

            <small> > 奖励设置</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">


 <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">奖励设置</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <form class="am-form tpl-form-border-form tpl-form-border-br" action="<?php echo site_url('/friends/Friends/editReward');?>" method="post">
                                    <div class="am-form-group am-u-sm-5">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">HI友圈发帖</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" class="tpl-form-input" id="ptPrice" name="dynamicNum" value="<?php echo get_option('dynamicNum');?>" placeholder="请输入大于0的整数" ><small>条/天</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">HI友圈帖子奖励</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="dynamicPrice" value="<?php echo get_option('dynamicPrice');?>" >
                                            <small>HI豆/条</small>
                                        </div>
                                    </div>
   
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">HI友圈回复</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="dynamicCom" value="<?php echo get_option('dynamicCom');?>" >
                                            <small>条/天</small>
                                        </div>
                                    </div>

                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">HI友圈回复奖励</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="dynamicComNum" value="<?php echo get_option('dynamicComNum');?>" >
                                            <small>HI豆/条</small>
                                        </div>
                                    </div> 

                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">问答提问</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="questionNum" value="<?php echo get_option('questionNum');?>" >
                                            <small>条/天</small>
                                        </div>
                                    </div>   
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">问答题问奖励</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="questionPrice" value="<?php echo get_option('questionPrice');?>" >
                                            <small>HI豆/条</small>
                                        </div>
                                    </div>   
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">问答提问回答</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="questionComNum" value="<?php echo get_option('questionComNum');?>" >
                                            <small>条/天</small>
                                        </div>
                                    </div>   
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">问答提问回答奖励</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="questionCom" value="<?php echo get_option('questionCom');?>" >
                                            <small>HI豆/条</small>
                                        </div>
                                    </div> 
                                    
                                   
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="reset" class="am-btn">取消</button>
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">完成资料奖励设置</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <form class="am-form tpl-form-border-form tpl-form-border-br" action="<?php echo site_url('/friends/Friends/editDataReward');?>" method="post">
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">完成昵称</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" placeholder="请输入大于0的整数" name="HI-nickName[]" value="<?php echo get_option('HI-nickName');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-nickName[]" value="<?php echo get_optionName('HI-nickName');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">个性签名</label>
                                        <div class="am-u-sm-9">
                                              <input type="number" placeholder="请输入大于0的整数" name="HI-explain[]" value="<?php echo get_option('HI-explain');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-explain[]" value="<?php echo get_optionName('HI-explain');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">性别</label>
                                        <div class="am-u-sm-9">
                                              <input type="number" placeholder="请输入大于0的整数" name="HI-gender[]" value="<?php echo get_option('HI-gender');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-gender[]" value="<?php echo get_optionName('HI-gender');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">星座</label>
                                        <div class="am-u-sm-9">
                                              <input type="number" placeholder="请输入大于0的整数" name="HI-startMap[]" value="<?php echo get_option('HI-startMap');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-startMap[]" value="<?php echo get_optionName('HI-startMap');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div> 
                                     <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">年龄</label>
                                        <div class="am-u-sm-9">
                                              <input type="number" placeholder="请输入大于0的整数" name="HI-age[]" value="<?php echo get_option('HI-age');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-age[]" value="<?php echo get_optionName('HI-age');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div>  
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">头像</label>
                                        <div class="am-u-sm-9">
                                              <input type="number" placeholder="请输入大于0的整数" name="HI-avatar[]" value="<?php echo get_option('HI-avatar');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-avatar[]" value="<?php echo get_optionName('HI-avatar');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">背景</label>
                                        <div class="am-u-sm-9">
                                              <input type="number" placeholder="请输入大于0的整数" name="HI-bgi[]" value="<?php echo get_option('HI-bgi');?>" >
                                            <small>奖励HI豆</small>
                                             <input type="text" placeholder="请输入提示消息" name="HI-bgi[]" value="<?php echo get_optionName('HI-bgi');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div>  
                                    <div class="am-form-group am-u-sm-5">
                                        <label class="am-u-sm-3 am-form-label">所有任务</label>
                                        <div class="am-u-sm-9">
                                              <input type="hidden" placeholder="请输入大于0的整数" name="HI-All[]" value="0" >
                                            <!-- <small>奖励HI豆</small> -->
                                             <input type="text" placeholder="请输入提示消息" name="HI-All[]" value="<?php echo get_optionName('HI-All');?>" >
                                            <small>提示信息</small>
                                        </div>
                                    </div> 
                                     <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="reset" class="am-btn">取消</button>
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>





</div>

</div>

</body>

</html>



