<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.imgbox{
    width: 100px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>
            <a href="<?php echo site_url().'/marketActivity/MarketActivity/activity';?>" style="font-size: 18px;">活动 & 优惠</a>  
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">活动 & 优惠列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/marketActivity/MarketActivity/marketAddActivity';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="shop_id">编号 </th>
                                    <th class="moll_name">缩略图 </th>
                                    <th class="moll_name">名称 </th>
                                    <th class="moll_name">所属商家 </th>
                                    <th class="shop_id">时间</th>
                                    <th class="moll_name">性质</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="shopActivityList">
                                <!-- more data -->
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center">
                        <div class="" id="paging_list">
                        </div>
                        <p>共<span class="dataNumber"></span>条数据，共<span class="pageNumber"></span>页</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
    var nums=0,flag=0;
    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){   
            var res = eval(result);
            console.log(res);
            if(res!=2){
                nums = 10; //每页出现的数量
                var pages = Math.ceil(res.length/nums); //得到总页数
                $('.dataNumber').html(res.length);
                $('.pageNumber').html(pages);
                var thisDate = function(curr){
                    var listData = '' , last = curr*nums - 1;
                    last = last >= res.length ? (res.length-1) : last;
                     for(var i = (curr*nums - nums); i <= last; i++){
                        res[i].begin_time=res[i].begin_time.split(' ')[0];
                        res[i].end_time=res[i].end_time.split(' ')[0];
                        listData+= template('shopActivityModal',res[i]);
                     }
                    return listData;
                };
                //调用分页
                laypage({
                    cont: 'paging_list',
                    pages: pages,
                    jump: function(obj){
                        document.getElementById('shopActivityList').innerHTML = thisDate(obj.curr);
                        //点击选中所有
                        $('.tablecheck').click(function() {
                            if(flag==0){
                              for(var i=0;i<$('.commentBox').length;i++) {
                                document.getElementsByClassName('commentBox')[i].checked=true;
                              }  
                              flag=1;
                            }else{
                               for(var i=0;i<$('.commentBox').length;i++) {
                                // $('.commentBox').eq(i).attr('checked',false);
                                document.getElementsByClassName('commentBox')[i].checked=false;
                                }
                               flag=0;
                            }
                        });
                        for(var i=0;i<$('.tpl-del').length;i++){
                            var dataId=$('.tpl-del').eq(i).attr('data-id'),edDataId=$('.editActivity').eq(i).attr('data-id');
                            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
                            $('.editActivity').eq(i).attr("href","<?php echo site_url().'/marketActivity/MarketActivity/marketEditActivity/"+ dataId +"';?>");                         
                        }

                        //单个商家活动删除
                        $('.sureDelete').click(function(){
                            var deleteId=$(this).attr('data-id'); 
                            $.ajax({
                                type:'post',
                                url:'<?php echo site_url('/marketActivity/MarketActivity/del_Activity');?>',
                                data: 'id='+deleteId,
                                success: function(data){
                                    if(data==1){
                                        $('#trClass'+deleteId).remove();
                                    }else{
                                        alert("操作失败！");
                                    }
                                    
                                },
                                error:function(xhr,type,errorThrown){
                                    alert("操作失败，请检查网络设置！");
                                }
                            });                       
                        });
                        
                    }
                })
            }else{
                $("#shopActivityList").find('tr').remove();
                $('#paging_list').html("");
                $('.dataNumber').html("");
                $('.pageNumber').html("");
                $('<tr><td colspan="12" class="am-text-center">暂无帮帮团成员信息！</td><td></td></tr>').appendTo("#shopActivityList");
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}



$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/marketActivity/MarketActivity/get_activity_list');?>','default=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/marketActivity/MarketActivity/get_activity_list');?>','default=1');
    });
    //点击搜索
    $('.searchGoods').click(function(){
        var helpgroupName=$('#helpgroupName').val(),helpgroupArea=$('#helpgroupArea').val(),helpgroupJob=$('#helpgroupJob').val(),helpgroupAddress=$('#helpgroupAddress').val(),helpgroupkey=$('#helpgroupkey').val();
        getList('<?php echo site_url('/serveForPeople/serveForPeople/help_search');?>','name='+ helpgroupName +'&area=' + helpgroupArea +'&address='+ helpgroupAddress +'&occupation='+ helpgroupJob +'&sear='+ helpgroupkey);
    });

    
})
</script>
<script type="text/html" id="shopActivityModal">
    <tr class="trClass" id="trClass<%= id%>" data-id="<%= id%>">
        <td class="am-text-middle"><%= id%></td>
        <td class="am-text-middle">
        <%if(picImg){%>
            <img src="<%= picImg%>" class="am-img-responsive imgbox" alt="<%= title%>"/>
        <%}else{%>  
            暂无
        <%}%>
        </td>
        <td class="am-text-middle"><%= title%></td>
        <%if(store_name){%>
         <td class="am-text-middle"><%= store_name%></td>
        <%}else{%>
         <td class="am-text-middle">宏帆商场</td>
        <%}%>
        <td class="am-text-middle"><%= begin_time%>至<%= end_time%></td>
        <td class="am-text-middle">
        <%if(type=="2"){%>
            优惠活动
        <%}else{%>
            商场活动
        <%}%>
        </td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= id%>" class="editActivity">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>
