<style type="text/css" media="screen">

    .am-selected {

        width: 100%!important;

    }

    .table-check {

        width: 30px;

    } 

    .hf-dropdown {

        font-size: 12px!important;

        padding: 5px 6px!important;

    } 

    #preview {

        height:200px !important;

    }

    #preview #imghead,#preview img {

        

        height:190px;

    }



    .deleteImg {

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

    .addpadding {

        padding-left:10%;

    }

    .clickUp {

        margin-left: 150px;

    }

    label {

        font-weight: normal;

    }

    .am-list>li {

        border: none;

    }

     .am-list>li.quan {

        width: 300px;

        height: 80px;

        border-radius: 10px;

        margin-bottom: 10px;

        background: #f43b41;

        color:#fff;

        padding-top:10px;

        position: relative;

    }

    .am-list>li.quan span {

        position: absolute;

        left:90%;

        top:8%;

    }

    .am-list>li.quan:hover {

        color:#fff;

    }

    .am-list>li.quan div {

        height: 50px;

        line-height: 50px;

        display: inline-block;

        vertical-align:middle;

        font-size:30px;

    }

    .am-list>li.quan div.am-u-sm-3 {

        text-align: center;

    }

    .am-list>li.quan div p {

        padding:0;

        margin:0;

        color:#ccc;

        height:20px;

        line-height: 20px;

        font-size:10px;

    }

    .am-list>li.quan div p:first-child{

        color:#fff;

        font-size:16px;

    }



</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>商家管理

            <a href="<?php echo site_url().'/marketActivity/MarketActivity/activity';?>" style="font-size: 18px;">活动 & 优惠</a>  

            <small><a href="<?php echo site_url().'/marketActivity/MarketActivity/marketAddActivity';?>">新增</a></small>

            </div>

        </div>

    </div>

</div>

<div class="row-content am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <form class="am-form" action="<?php echo site_url('/marketActivity/MarketActivity/market_add_activity'); ?>" method="post" enctype="multipart/form-data" data-am-validator>

                <div class="widget am-cf">

                    <div class="widget-head am-cf">

                        <div class="widget-title  am-cf">新增</div>

                    </div>

                    <div class="widget-body">

                        <div class="memberInfo padding-horizontal-lg">

                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                <label class="am-u-sm-3 am-text-right">名称<span class="red">*</span>：</label>

                                <div class="am-u-sm-6 am-u-end">

                                    <input type="text" minlength="2" placeholder="请输入名称,2-50字以内" required="required" name="title" onblur="validate(this,2,50,1)" />

                                </div>

                                <div class="am-u-sm-1 am-u-end red redtips1" style="display: none;"><i class="am-icon-close"></i></div>

                                <div class="am-u-sm-1 am-u-end green blacktips1" style="display: none;"><i class="am-icon-check"></i></div>                                    

                            </div>

                            <?php if($_SESSION['city'] == 0):?>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                
                                <label class="am-u-sm-3 am-text-right">所属城市<span class="red">*</span>：</label>

                                <div class="am-u-sm-6 am-u-end">
                                    <select name="city" id="" required>
                                        <option value="">请选择一项</option>
                                        <option value="1">重庆(凤凰湾)</option>
                                        <option value="2">南江</option>
                                        <option value="3">宣汉</option>
                                        <option value="4">邻水</option>
                                    </select>

                                </div>

                                <div class="am-u-sm-1 am-u-end red redtips1" style="display: none;"><i class="am-icon-close"></i></div>

                                <div class="am-u-sm-1 am-u-end green blacktips1" style="display: none;"><i class="am-icon-check"></i></div>                                    

                            </div>
                            <?php endif;?>

                            
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12" id="store_name" >

                                <label class="am-u-sm-3 am-text-right">商家名称<span class="red">*</span>：</label>

                                <div class="am-u-sm-6 am-u-end">

                                    <input type="text" id="doc-vld-name-1" minlength="2" placeholder="请输入商家名称,2-30字以内"  name="storeName" onblur="validate(this,2,30,2)" />

                                </div>

                                <div class="am-u-sm-1 am-u-end red redtips2" style="display: none;"><i class="am-icon-close"></i></div>

                                <div class="am-u-sm-1 am-u-end green blacktips2" style="display: none;"><i class="am-icon-check"></i></div>

                            </div>

                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                <label class="am-u-sm-3 am-text-right">缩略图<span class="red">*</span>：</label>

                                 <div class="am-u-sm-6 am-u-end">

                                    <div class="wx_type_img">

                                     <input type="file" id="imgUpload" name="img" onblur="previewImage(this)" class="upload-add am-form-field"  required>

                                      <!-- 图片实时预览 -->

                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

                                    </div>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                    <small class="red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb；</small> 

                                </div>

                            </div>

                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                <label for="businessTime" class="am-u-sm-3 am-text-right">时间<span class="red">*</span>：</label>

                                <div class="am-u-sm-6  am-u-end">

                                    <div class="am-alert am-alert-danger" id="lineTime" style="display: none">

                                      <p>开始日期应小于结束日期！</p>

                                    </div>

                                    <div class="am-g">

                                      <div class="am-u-sm-6">

                                        <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-start">开始日期</button><input type="hidden" id="begin_date" name="begin_time" value="" /><span id="my-startDate">2017-01-01</span>

                                      </div>

                                      <div class="am-u-sm-6">

                                        <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-end">结束日期</button><input type="hidden" id="end_date" name="end_time" value="" /><span id="my-endDate">2017-12-30</span>

                                      </div>

                                      <small class="red redtips">请先选择结束日期</small>

                                    </div>

                                </div>                                       

                            </div>

                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12" id="activity_address">

                                <label class="am-u-sm-3 am-text-right">活动地点：</label>

                                <div class="am-u-sm-6 am-u-end">

                                    <input type="text" id=""  placeholder="请输入活动地点,2-50字以内"  name="address_str"  />

                                </div>

                                <div class="am-u-sm-1 am-u-end red redtips3" style="display: none;"><i class="am-icon-close"></i></div>

                                <div class="am-u-sm-1 am-u-end green blacktips3" style="display: none;"><i class="am-icon-check"></i></div>

                            </div>

                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">

                                <label class="am-u-sm-3 am-text-right">详情<span class="red">*</span>：</label>

                                <div class="am-u-sm-6 am-u-end">

                                    <div>

                                        <script id="editor" type="text/plain" name="content"></script>

                                    </div>

                                </div>                            

                            </div>

                        </div>

                    </div>



                    <div class="am-form-group am-u-xs-12 am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center" style="margin:20px auto;">

                        <button class="am-btn am-btn-secondary am-btn-xs" type="submit" id="submit">新增</button>

                        <button class="am-btn am-btn-default am-btn-xs" type="reset">取消</button> 

                    </div>

                </div>

            </form>

        </div>

    </div>



</div>

</div>

<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>

<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.min.js"> </script>

<script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript">

    //删除图片

    $(".deleteImg").click(function(){

        

        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');

        $(this).siblings('.wx_type_img').find('input').val("");

        $(this).siblings('.wx_type_img').find('input').files="";

        

    });

    //表单验证函数

    function validate(obj,minlen,maxlen,i){

        var content=obj.value;

        if(content.length<minlen || content.length>maxlen){

            $('.blacktips'+ i).css('display','none');

            $('.redtips'+ i).css('display','inline-block');

        }else{

            $('.redtips'+ i).css('display','none');

            $('.blacktips'+ i).css('display','inline-block');

        }

    }

    //点击取消返回上一页

    $('#cancle').click(function(){

      history.go(-1);

    });



    //实例化编辑器

    var ue = UE.getEditor('editor');
 

    $(document).ready(function(){

        var startDate = new Date(2014, 11, 20);

        var endDate = new Date(2014, 11, 25);

        var $alert = $('#my-alert');

        $('#my-start').datepicker().

          on('changeDate.datepicker.amui', function(event) {

            if (event.date.valueOf() > endDate.valueOf()) {

              $alert.find('p').text('开始日期应小于结束日期！').end().show();

            } else {

              $alert.hide();

              startDate = new Date(event.date);

              $('#my-startDate').text($('#my-start').data('date'));

              $('#begin_date').val($('#my-start').data('date'));

            }

            $(this).datepicker('close');

          });



        $('#my-end').datepicker().

          on('changeDate.datepicker.amui', function(event) {

            if (event.date.valueOf() < startDate.valueOf()) {

              $alert.find('p').text('结束日期应大于开始日期！').end().show();

            } else {

              $alert.hide();

              endDate = new Date(event.date);

              $('#my-endDate').text($('#my-end').data('date'));

              $('#end_date').val($('#my-end').data('date'));

            }

            $(this).datepicker('close');

          });



        //优惠和活动的选择

        $(".discount").click(function(){ 

            $('#discountCard').css('display','none');       

            $('#store_name').css('display','block');       

        });

        $(".activity").click(function(){ 

            $('#discountCard').css('display','block'); 

            $('#store_name').css('display','none');       

      

        });   

         var clickflag=1,clickarray=[],str='';

        //优惠券选中状态

        $(".quan").each(function(){

            $(this).click(function(){

                var dataId=$(this).attr("data-id");

                if($(this).attr("state")=="0"){

                    $(this).css({"box-shadow":"5px 5px 5px #ccc","background":"rgba(244,60,65,0.8)","border":"2px solid #fff"});

                    $(this).attr("state","1");

                    $(this).find('.saveid').val(dataId);

                    $(this).find('span').addClass("am-icon-check");

                }else{

                    $(this).css({"box-shadow":"none","background":"rgba(244,60,65,1)","border":"2px solid #fff"});

                    $(this).attr("state","0");

                    $(this).find('.saveid').val("");

                    $(this).find('span').removeClass("am-icon-check");

                }

            });

            

        });

        //点击保存按钮作验证

        $('#submit').click(function(){

            if($('#end_date').val()=="" || $('#begin_date').val()==""){

                alert("请选择活动时间！");

                return false;

            }else{

                return true;

            }

        });

        

    });



</script>

</body>

</html>

