<style type="text/css">
    .widget-body-lg {
        min-height: 500px;
        border: 26px solid #ffffff !important;
    }
    .theme-white .tpl-user-card-title{
        margin-top: 60px;
    }
    .theme-white .achievement-image {
        width: 45%;
    }
</style>

        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="<?php echo site_url().'/admin';?>">管理中心</a></div>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">
                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                        <div class="tpl-user-card am-text-center widget-body-lg">
                        <?php if(!empty($_SESSION['users']['avatar'])):?>
                            <div class="achievement-subheading" style="width:200px;height:200px;border-radius: 100%;overflow:hidden;margin-left:30%;margin-top: 10%;">
                                 <img style="width:200px;height:200px;" src="<?php echo $_SESSION['users']['avatar'];?>">
                            </div>
                            
                          <?php endif;?>
                            <div class="tpl-user-card-title">
                                欢迎<?php echo $_SESSION['users']['username'];?>登录宏帆后台管理系统
                            </div>
                            <div class="achievement-subheading">
                                您总共登录&nbsp;<b style="color: red;"><?php echo $loginNum;?></b>&nbsp;次，上次登录时间是：<?php echo $lastTime['create_time'];?><br/>
                            上次登录ip为：<?php echo $lastTime['userip'];?>&nbsp;&nbsp;&nbsp;&nbsp; 登录地址是：<?php echo $lastTime['login_address'];?>
                            </div>  
                        
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

                        <div class="widget am-cf widget-body-lg">

                            <div class="widget-body  am-fr">
                                <img src="assets/img/banner.jpg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
