
<?php $this->load->view('common.html');?>

    <script src="assets/js/echarts.min.js"></script>
<style type="text/css">
    #paging_list div a{
    border: 1px solid #19a7f0;
    color: #19a7f0;
    }
    #paging_list div a:hover{
        background: #19a7f0;
        color: #fff;
    }
    #paging_list div .laypage_curr{
        background: #19a7f0;
        color: #fff;
    }
</style>
 <!-- 菜单 -->
 <?php if(empty($menu)){$menu = array('index','index');}?>
 <?php if($this->session->users['gid'] == '2' || isset($this->session->businessId)):?>
    <ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/shop/singleShop/shopAdmin';?>" <?php if($menu[0] == 'index'){echo "class='active'";}?>>
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'shop'){echo 'active';}?>" >
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'shop'){ echo "style='display:block;'";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopBaseInfo';?>" <?php if($menu[1] == 'shopBaseInfo'){ echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/goodsList';?>" <?php if($menu[1] == 'goodsList'){ echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopOrder';?>" <?php if($menu[1] == 'shopOrder'){ echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopComment';?>" <?php if($menu[1] == 'shopComment'){ echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'sales'){echo 'active';}?>" >
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 优惠券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'sales'){echo "style='display:block;'";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddSales';?>" <?php if($menu[1] == 'shopAddSales'){echo "class='sub-active';";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增优惠券
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopSalesList';?>" <?php if($menu[1] == 'shopSalesList'){echo "class='sub-active';";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优惠券列表
                </a>
            </li>
            <li class="sidebar-nav-link" >
                <a href="<?php echo site_url().'/shop/singleShop/shopCheckSales';?>" <?php if($menu[1] == 'shopCheckSales'){echo "class='sub-active';";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优惠券验证
                </a>
            </li>
        </ul>
    </li>
   <!--   <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 团购管理
        </a>
    </li> -->
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'activity'){echo 'active';}?>">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'activity'){echo 'style="display:block;"';}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddActivity';?>" <?php if($menu[1] == 'shopAddActivity'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增活动
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopActivityList';?>" <?php if($menu[1] == 'shopActivityList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动列表
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url('/login/loginOut?id=1');?>">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 退出登录
        </a>
    </li>
</ul>

 <?php else:?>
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/admin';?>" <?php if($menu[0] == 'index'){echo "class='active'";}?>>
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'systemSet'){echo "active";}?>" >
            <i class="am-icon-cogs sidebar-nav-link-logo"></i> 系统设置
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub"<?php if($menu[0] == 'systemSet'){echo "style='display:block;'";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/memberLimit';?>" <?php if($menu[1] == 'memberLimit'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet';?>" <?php if($menu[1] == 'systemSet'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理员账号管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/bannerList';?>" <?php if($menu[1] == 'banner'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> APP Banner管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/apliyManage';?>" <?php if($menu[1] == 'apliyManage'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 支付账号管理
                </a>
            </li>
            <!-- <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/other';?>" <?php if($menu[1] == 'other'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 其他管理
                </a>
            </li> -->
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/webMessage';?>" <?php if($menu[1] == 'webMessage'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 网站信息管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'moll'){echo 'active';}?>">
            <i class="am-icon-fax sidebar-nav-link-logo"></i> 商场管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'moll'){echo "style='display:block;'";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollBrief';?>" <?php if($menu[1] == 'mollBrief'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商场简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollFloorInfo';?>" <?php if($menu[1] == 'mollFloorInfo'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 楼层信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollyetaiList';?>" <?php if($menu[1] == 'mollyetaiList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态列表
                </a>
            </li>
             
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'store'){echo 'active';}?>">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 电商管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'store'){echo "style='display:block;'";}?>>
             <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop';?>" <?php if($menu[1] == 'shopList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsList';?>" <?php if($menu[1] == 'storeGoodsList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 
                    商品列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsSort';?>" <?php if($menu[1] == 'storeGoodsSort'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品分类
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeOrderList';?>" <?php if($menu[1] == 'storeOrderList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeDeliveryList';?>" <?php if($menu[1] == 'storeDeliveryList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 快递管理
                </a>
            </li>
        </ul>
    </li> 
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-cart-plus sidebar-nav-link-logo"></i> 爱购保税
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
             <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/loveToGo/loveToGo/loveToGoList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'member'){echo 'active';}?>">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'member'){echo 'style="display:block;"';}?>>
          <!--   <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li> -->
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/addMember';?>" <?php if($menu[1] == 'addMember'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>" <?php if($menu[1] == 'memberList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberCard';?>" <?php if($menu[1] == 'memberCard'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'integral'){ echo 'active';}?>">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 积分商城
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'integral'){ echo "style='display:block;'";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/integral/integral/integralList';?>" <?php if($menu[1] == 'integralList'){ echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分商品管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/integral/integral/integralOrderList';?>" <?php if($menu[1] == 'integralOrderList'){ echo "class='sub-active'";}?>> 
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分订单管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'localLife'){ echo 'active';}?>">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 主页模块
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'localLife'){ echo "style='display:block;'";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/localLife/localLifeList';?>" <?php if($menu[1] == 'service'){ echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 本地生活
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/payment/payment/payment';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值缴费
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 一键钟情
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/homeReport/index';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 家乡报道
                </a>
            </li>
            <li class="sidebar-nav-link" >
                <a href="<?php echo site_url().'/serveForPeople/serveForPeople/serveForPeople';?>" <?php if($menu[1] == 'serveForPeople'){echo "class='sub-active';";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 为民服务
                </a>
            </li>
          <!--   <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> HI.团购
                </a>
            </li> -->
          <!--   <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 购物中心
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线金融
                </a>
            </li> -->
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 游戏娱乐
                </a>
            </li>
           <!--  <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优品汇
                </a>
            </li> -->
        </ul>
    </li>


    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title <?php if($menu[0] == 'electronic'){ echo 'active';}?>">
            <i class="am-icon-credit-card sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" <?php if($menu[0] == 'electronic'){echo "style='display:block';";}?>>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/electronic/electronic/electronicList';?>" <?php if($menu[1] == 'electronicList'){echo "class='sub-active'";}?>>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券列表
                </a>
            </li>

           <!--  <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li> -->
        </ul>
    </li>
</ul>
<?php endif;?>
        </div>

        <!-- 内容区域 -->
        <?php $this->load->view($page);?>
        <!--  -->
    </div>
    </div>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>
<script src="assets/js/artTemplate-native.js"></script>
<script src="assets/laypage/laypage.js"></script>
 <script type="text/javascript">
       //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });
    //密码验证
    function confirm(obj){
        var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;//密码验证的正则表达式
        if(reg.test(obj.value)){
            return true;
        }else{
            alert("请输入合法的密码");
            obj.focus();
            return false;
        }
    }
    //下拉选框的必须验证
    function confirmSelect(){
        if($('select option:selected').val()==""){
            alert("请至少选择一项");
            return false;
        }else{
            return true;
        }
    }
    //手机号验证
    function confirmPhone(obj){
        var regA = /^1((3|4|5|8|7){1}\d{1}|70)\d{8}$/;
        if(regA.test(obj.value)){
            return true;
        }else{
            alert("请输入合法的手机号");
            obj.focus();
            return false;
        }
    }



   
 </script>

</body>

</html>
