
 <div class="tpl-content-wrapper" style="margin-top: 20px">

    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
           	<div class="widget am-cf">
	            <div class="widget-head am-cf">
	                <div class="widget-title  am-cf">中奖记录</div>
	            </div>
	            <div class="widget-body  am-fr">
	                 
	                <div class="am-u-sm-12">
	                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
	                        <thead>
	                            <tr>
	                                <th>ID</th> 
	                                <th>用户名</th>
	                                <th>奖品名称</th>
	                                <th>时间</th>
	                                <th>操作</th>
	                            </tr>
	                        </thead>
	                        <tbody id="doc-modal-list">
	                        	<?php foreach($lists as $val):?>
	                            <tr class="gradeX">
	                                <td><?php echo $val['id'];?></td> 
	                                <td><?php echo $val['id'];?></td> 
	                                <td class="awName"><?php echo $val['id'];?></td> 
	                                <td><?php echo  date('Y-m-d H:i:s', $val['createTime'] / 1000);?></td> 
	                                <td>
	                                    <div class="tpl-table-black-operation"> 

	                                    	<!-- 红包才提现 -->
	                                    	
	                                        <a href="javascript:;" id="1" class="tpl-table-black-operation tixian">
	                                            提现
	                                        </a>
	                                        <a href="javascript:;" class="tpl-table-black-operation">
	                                            已提现
	                                        </a>
	                                        <a href="javascript:;" id="1" class="tpl-table-black-operation-del">
	                                            <i class="am-icon-trash"></i> 删除
	                                        </a>
	                                    </div>
	                                </td>
	                            </tr>
	                        <?php endforeach;?>
	                          

	                            <!-- more data -->
	                        </tbody>
	                    </table>
	                </div>

	             
	                <div class="am-u-lg-12 am-cf">

	                    <div class="am-fr">
	                       <?php echo $pages;?>
	                    </div>
	                </div>
	            </div>
        </div>
    
	</div>
</div>
<!-- 提现弹框 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
	<div class="am-modal-dialog">
		<div class="am-modal-hd">提现</div>
		<form class="am-form am-form-horizontal">
			 
            <div class="am-modal-bd">
                确认提现吗？

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span> 
      			<span class="am-modal-btn" data-am-modal-confirm>确定</span>

                <!-- <button type="submit" style="padding:0;border:none;background:none;width: 100%;height: 100%;outline: none;">提交</button> -->
                
            </div> 
        </form>
	</div>
</div>
<!-- 删除弹框 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">删除提示</div>
    <div class="am-modal-bd">
      你，确定要删除这条记录吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>
<script>
	
 //提现提示
   $(function() {
      $('#doc-modal-list').find('.tixian').add('#doc-prompt-toggle').
        on('click', function() {
          $('#my-prompt').modal({
            relatedTarget: this,
            onConfirm: function(options) { 
              var msg = '你要提现的链接 ID 为 ' + $(this.relatedTarget).attr('id');
              alert(msg);
            },
            // closeOnConfirm: false,
            onCancel: function() {
              
            }
          });
        });
    });
    //删除提示
   $(function() {
      $('#doc-modal-list').find('.tpl-table-black-operation-del').add('#doc-confirm-toggle').
        on('click', function() {
          $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
              var $link = $(this.relatedTarget).prev('a');
              var msg = '你要删除的链接 ID 为 ' + $(this.relatedTarget).attr('id');
              alert(msg);
            },
            // closeOnConfirm: false,
            onCancel: function() {
              
            }
          });
        });
    });
</script>
