
<style type="text/css" media="screen">
    .am-selected{
        width: 100%!important;
    }
    .table-check{
        width: 30px;
    }
    .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
#preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        height:190px;
    }

    .deleteImg{
        display: inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color:#666;
        font-size:1.2rem;
        font-size: 1.2rem;border:1px solid #ddd;
    }
     .deleteImg:hover{
        cursor: pointer;
     }
    small{
font-size: 1.2rem;
    }
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>商场管理 &nbsp;&nbsp;<a style="font-size:16px;" href="<?php echo site_url().'/moll/moll/mollBrief';?>">商场简介</a>
            
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商场信息：</div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">商场名称<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid "  value="宏帆广场" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">英文名称<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid " placeholder="" required value="Mallcoo" >
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">城市<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid " placeholder="" value="成都市" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">区县<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <select id="" name="goodsBatch" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="option1">锦江区</option>
                                    <option value="option2">青羊区</option>
                                    <option value="option2">金牛区</option>
                                    <option value="option1">武侯区</option>
                                    <option value="option2">成华区</option>
                                    <option value="option2">龙泉驿区</option>
                                    <option value="option1">青白江区</option>
                                    <option value="option2">新都区</option>
                                    <option value="option2">温江区</option>
                                    <option value="option1">双流区</option>
                                    <option value="option2">金堂县</option>
                                    <option value="option2">郫县</option>
                                    <option value="option1">大邑县</option>
                                    <option value="option2">蒲江县</option>
                                    <option value="option2">新津县</option>
                                    <option value="option1">都江堰市</option>
                                    <option value="option2">彭州市</option>
                                    <option value="option2">邛崃市</option>
                                    <option value="option1">崇州市</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">所在商圈<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid " required placeholder="" value="商场所在商圈" >
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">地址<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid " required placeholder="" value="灵石路658号" >
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label am-fl">LOGO<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                            <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                      <br />
                                </div>
                                <div class="am-text-center father">
                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                    <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group am-backdrop-on-box am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">商家图片<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                      <br />
                                </div>
                                <div class="am-text-center father">
                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                    <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                                </div>
                            </div> 
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">营业时间<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid"   value="10:00-22:00" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">联系电话<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="tel" name="" class="am-form-field tpl-form-no-bg am-field-valid"  value="4000480484" placeholder="请输入11位的手机号码" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">新浪微博： </label>
                            <div class="am-u-sm-9">
                               <input type="text" name="" class="am-form-field tpl-form-no-bg am-field-valid"   placeholder="请不要输入@" >
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">腾讯微博：</label>
                            <div class="am-u-sm-9">
                               <input type="text" class="am-form-field tpl-form-no-bg am-field-valid" placeholder="请不要输入@">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">商场会员卡简介<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <textarea name="" rows="5" cols="40" required>
                                    VERO MODA是丹麦国际时装公司BESTSELLER集团旗下知名品牌之一。2001年VERO MODA进入中国市场，面向25-35岁女性的职业休闲装。Vero Moda专为25岁以上拥有超强自我意识和独立性的女士设计。年龄不再敏感，因为Vero Moda女性对时尚有独特的感悟。
                                </textarea>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">开通绑定商场会员卡提示<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <textarea name="" rows="5" cols="40" required>
                                    VERO MODA是丹麦国际时装公司BESTSELLER集团旗下知名品牌之一。2001年VERO MODA进入中国市场，面向25-35岁女性的职业休闲装。Vero Moda专为25岁以上拥有超强自我意识和独立性的女士设计。年龄不再敏感，因为Vero Moda女性对时尚有独特的感悟。
                                </textarea>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">文字简介<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <textarea name="" rows="5" cols="40" required>
                                    “猫酷”是艾逛的主打产品，是中国领先的实体商业数字化运营服务平台。致力于为实体商场/购物中心/商家提供移动端O2O应用、智能WIFI、云CRM、消费者大数据采集与分析、精准营销等服务。猫酷系列的商场APP、微信轻应用，已经在全国上百家商场上线使用，其中多项功能均为业内首创，目前已经成为各商场移动应用的标配。同时，猫酷也是国内最早在商业地产中实现室内定位的公司，并基于用户位置数据、消费数据、偏好数据，形成了一套完整的商场大数据采集与分析系统，并通过全渠道平台帮助商场实现精准营销。我们在带给用户全新商场消费体验的同时，帮助商场提高运营效率、推进商业转型。。
                                </textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">保存</button>
                                <button type="button" class="am-btn am-btn-default am-btn-sm">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
    //删除图片
    $(".deleteImg").click(function(){
        $(this).parent('div.father').siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
        
    });
</script>

