
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:50px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}

</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>商场管理 <small> > 
            <a style="font-size:16px" href="<?php echo site_url().'/moll/moll/mollyetaiList';?>">业态管理</a></small> </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">业态查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsType" class="am-form-label am-u-sm-4">状态:</label>
                        <div class="am-u-sm-8">
                            <select id="goodsType" name="goodsType">
                                <option value="">-=请选择一项=-</option>
                                <option value="option1">全部</option>
                                <option value="option2">正常</option>
                                <option value="option2">冻结</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">业态名称:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="startPrice" name="startPrice" min="0" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsBatch" class="am-form-label am-u-sm-4">一级业态:</label>
                        <div class="am-u-sm-8">
                        <select id="goodsBatch" name="gid">
                            <option value="">-=请选择一项=-</option>
                            <?php foreach($level as $v):?>
                            <option value="<?php echo $v['id'];?>"><?php echo $v['type_name'];?></option>
                             <?php endforeach;?>
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <!-- <div class="widget-title  am-cf">业态列表(注意：仅允许对一级业态设置颜色) 复制猫酷业态</div> -->
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                      <!--           <button type="button" class="am-btn am-btn-default am-btn-secondary"><a href="java
                                :;"><span class="am-icon-tags"></span> 复制宏帆业态</a></button>
                                <button type="button" class="am-btn am-btn-default am-btn-warning"><a href="javascript:;"><span class="am-icon-gear"></span> 配置[全部]ICON</a></button> -->
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/moll/moll/mollAddYetai';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger am-refresh"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <!-- <th class="table-check"><input type="checkbox"></th> -->
                                    <th class="shop_id">编号 </th>
                                    <th class="moll_name">父代码 </th>
                                    <th class="shop_id">名称 </th>
                                    <th class="shop_name">图标 </th>
                                    <th class="shop_type">排序 </th>
                                    <th class="shop_yetai">创建时间 </th>
                                    <th class="shop_block">商品状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php if(!empty($store)):?>
                                <?php foreach($store as $val):?>
                                <tr>
                                    <!-- <td class="am-text-middle"><input type="checkbox"></td> -->
                                    <td class="am-text-middle"><?php echo $val['id'];?></td>
                                    <td class="am-text-middle"><?php if($val['gid'] == '0'){echo "--";}else{echo $val['gid'];}?></td>
                                    <td class="am-text-middle"><?php echo $val['type_name'];?></td>
                                    <td class="am-text-middle">
                                    <?php if(!empty($val['icon'])):?>
                                        <img src="<?php echo $val['icon'];?>" class="am-img-responsive" alt="<?php echo $val['type_name'];?>"/>
                                    <?php else:?>
                                    <?php endif;?>
                                    </td>
                                    <td class="am-text-middle"><?php echo $val['sort'];?></td>
                                    <td class="am-text-middle"><?php echo $val['create_time'];?></td>
                                    <td class="am-text-middle">
                                        <div class="am-dropdown" data-am-dropdown>
                                        <?php if($val['state'] == 1):?>
                                            <button class="am-btn am-btn-primary am-dropdown-toggle hf-dropdown" data-am-dropdown-toggle>正常 <span class="am-icon-caret-down"></span></button>
                                      <?php else:?>
                                          <button class="am-btn am-btn-warning am-dropdown-toggle hf-dropdown" data-am-dropdown-toggle>冻结 <span class="am-icon-caret-down"></span></button>
                                      <?php endif;?>
                                            <ul class="am-dropdown-content">
                                                <li><a class="yataiState"  name="1" data-id="<?php echo $val['id']?>" >正常</a></li>
                                                <li><a class="yataiState"  name="2" data-id="<?php echo $val['id']?>">冻结</a></li>
                                                <li><a data-am-modal="{target: '#delete<?php echo $val['id']?>'}"  name="3" data-id="<?php echo $val['id']?>">删除</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/moll/moll/mollEditYetai/'.$val['id'];?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                 <div class="am-modal am-modal-confirm" tabindex="-1" id="delete<?php echo $val['id']?>">
                                    <div class="am-modal-dialog">
                                        <div class="am-modal-hd">删除提示</div>
                                        <div class="am-modal-bd">
                                            <p class="black">你，确定要删除这条记录吗？</p>
                                        </div>
                                        <div class="am-modal-footer">
                                            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                            <span class="am-modal-btn yetaiDelete" data-id="<?php echo $val['id']?>" data-am-modal-confirm>确定</span>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach;?>
                            <?php else:?>
                                <th colspan="9" style="text-align: center;"> 暂无内容！</th>
                            <?php endif;?>
                                
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>

                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fl">
                          <?php echo $pages;?>
                        </div>
                        <?php if(!empty($pages)):?>
                        <div class="am-fl">
                            <p>共 <?php echo $total_rows;?>条数据，共<?php echo ceil($total_rows/$per_page);?>页</p>
                        </div>
                        <?php endif;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
  $('.yataiState').click(function(){
        var yetaiId=$(this).attr("data-id");
        var yetaiSign=$(this).attr("name");
      
        $.ajax({
              type: 'POST',
              url: "<?php echo site_url('/moll/moll/storeType_state');?>",
              data: 'id='+yetaiId+"&action="+yetaiSign,
              success: function(data){
                if(data == 1){
                    window.location.reload();
                }else{
                    alert('操作失败！');
                }
              },
          
        });
    })

$('.yetaiDelete').click(function(){
    var yetaiId=$(this).attr("data-id");
     $.ajax({
              type: 'POST',
              url: "<?php echo site_url('/moll/moll/storeType_state');?>",
              data: 'id='+yetaiId,
              success: function(data){
                if(data == 1){
                    window.location.reload();
                }else{
                    alert('删除失败！');
                }
              },
        });

})

</script>
