<style type="text/css" media="screen">
#preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }

   .deleteImg{
        display: inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:1px solid #ddd;
    }
     .deleteImg:hover{
        cursor: pointer;
     }
    .addpadding{
        padding-left:10%;
    }
    small{
        font-size: 1.2rem;
    }
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 优惠券管理 
            <a href="<?php echo site_url().'/electronic/electronic/electronicList';?>" style="font-size:16px;">优惠券列表</a>
            <small><a href="<?php echo site_url().'/electronic/electronic/editElectronic';?>" style="font-size:16px;">编辑优惠券</a></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">编辑优惠券</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" enctype="multipart/form-data" data-am-validator>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="user-email" class="am-u-sm-3 am-form-label">优惠券名称<span class="red">*</span>：</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="" value="优惠券名称" maxlength="15" class="am-form-field tpl-form-no-bg" placeholder="建议不超过14个字符"  required>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="user-email" class="am-u-sm-3 am-form-label">标题<span class="red">*</span>：</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="" value="优惠券标题" maxlength="15" class="am-form-field tpl-form-no-bg" placeholder="建议不超过14个字符"  required>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">优惠券类型<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="礼品券">礼品券</option>
                                <option value="代金券" selected="selected">代金券</option>
                                <option value="折扣券">折扣券</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">领取等级限制<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="" required class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="不限制">不限制</option>
                                <option value="商家促销" selected="selected">超级VIP</option>
                                <option value="商家活动">普通会员</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">领取次数限制<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="" required class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="不限制" selected="selected">不限制</option>
                                <option value="商家促销">仅一次</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">核销方式<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="" required class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="到店核销">到店核销</option>
                                <option value="扫码" selected="selected">扫码</option>
                                <option value="在线核销">在线抵用</option>
                                <option value="不限">不限</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="user-email" class="am-u-sm-3 am-form-label">库存数<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <input type="number" name="" min="0"  class="am-form-field tpl-form-no-bg" placeholder="请输入库存数量"  required>
                        </div>
                    </div>
                    
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="source_state" class="am-u-sm-3 am-form-label">优惠券发放方式<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select id="source_state" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="请选择">请选择</option>
                                <option value="免费">免费</option>
                                <option value="购买">购买</option>
                                <option value="分享链接" selected="selected">分享链接</option>
                                <option value="到店领取">到店领取</option>
                                <option value="消费金额限制">消费金额限制</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="source_state" class="am-u-sm-3 am-form-label">优惠券使用方式<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select id="source_state" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="请选择">请选择</option>
                                <option value="免费">免费</option>
                                <option value="购买" selected="selected">购买</option>
                                <option value="分享链接">分享链接</option>
                                <option value="短信">短信</option>
                                <option value="消费金额限制">消费金额限制</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6 am-text-center">
                        <label for="user-email" class="am-u-sm-3 am-form-label">优惠券内容<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <textarea rows="5" required class="" name="">
                                
                            </textarea>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">二维码：</label>
                        <div class="am-u-sm-9 ">
                            <div class="wx_type_img">
                                 <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                  <!-- 图片实时预览 -->
                                  <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                  <br />
                            </div>
                            <div class="am-text-center father">
                                <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                            </div> 
                        </div>                        
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 addpadding am-text-center">
                        <button class="am-btn am-btn-secondary" type="submit">添加优惠券</button><button class="am-btn am-btn-default" id="cancle" type="reset">取消</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
    //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });
  //删除图片
    $(".deleteImg").click(function(){
        
        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
        
    });
</script>