<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
</style>
<!-- 菜单 -->
</ul><ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-cogs sidebar-nav-link-logo"></i> 系统设置
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理员账号管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberLimit';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/apliyManage';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 支付账号管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/other';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 其他管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/webMessage';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 网站信息管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-fax sidebar-nav-link-logo"></i> 商场管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollBrief';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商场简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollFloorInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 楼层信息
                </a>
            </li>
             <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollyetaiList';?>" >
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollAddYetai';?>">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增业态
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-graduation-cap sidebar-nav-link-logo"></i> 商铺管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商铺列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop/addShop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增商铺
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商城管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 
                    商品列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsSort';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品分类
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeOrderList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeDeliveryList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 快递管理
                </a>
            </li>
        </ul>
    </li> 
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-paper-plane sidebar-nav-link-logo"></i> Banner管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/banner/banner';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> Banner列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/banner/banner/addBanner';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增Banner
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <!-- <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li> -->
            
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberCard';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-credit-card sidebar-nav-link-logo"></i> 电子券管理
            <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/electronic/electronic/addElectronic';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增电子券
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/electronic/electronic';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券列表
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 主页模块
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/localLife/localLifeList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 本地生活
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/module/charge';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值缴费
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 一键钟情
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/homeReport/index';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 家乡报道
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 为民服务
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> HI.团购
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 购物中心
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线金融
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 游戏娱乐
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优品汇
                </a>
            </li>
        </ul>
    </li>
    <!-- <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="table-list.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li>
        </ul>
    </li>
 -->
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 电子券管理 
            <a href="<?php echo site_url().'/electronic/electronic';?>" style="font-size:16px;">电子券列表</a>
            <small></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">电子券查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="source_state" class="am-u-sm-3 am-form-label">类型：</label>
                        <div class="am-u-sm-9">
                            <select id="source_state">
                                <option value="请选择">请选择</option>
                                <option value="礼品券">礼品券</option>
                                <option value="代金券">代金券</option>
                                <option value="折扣券">折扣券</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="openTime" class="am-u-sm-3 am-form-label">有效期：</label>
                        <div class="am-u-sm-9">
                            <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6" style="clear: both;">
                        <label for="" class="am-u-sm-3 am-form-label">领取等级：</label>
                        <div class="am-u-sm-9">
                            <select name="" required class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="不限制">不限制</option>
                                <option value="商家促销">超级VIP</option>
                                <option value="商家活动">普通会员</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">审核状态：</label>
                        <div class="am-u-sm-9">
                            <select id="source_state">
                                <option value="请选择">请选择</option>
                                <option value="0">待审核</option>
                                <option value="1">通过审核</option>
                                <option value="2">驳回</option>
                                <option value="3">删除</option>
                                <option value="3">过期</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear:both;">电子券列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/electronic/electronic/addElectronic';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="moll_name">编号</th>
                                    <th class="shop_id">名称</th>
                                    <th class="shop_name">标题 </th>
                                    <th class="shop_type">类型 </th>
                                     <th class="shop_type">库存数</th>
                                    <th class="shop_yetai">有效期</th>
                                    <th class="brand">领取限制</th>
                                    <th class="brand">核销方式</th>
                                    <th class="brand">二维码</th>
                                    <th class="brand">发放方式</th>
                                    <th class="brand">使用方式</th>
                                    <th class="floor_shopId">审核状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="am-text-middle">S10022></td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">折扣券</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26至2016-11-20</td>
                                    <td class="am-text-middle">普通会员</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">免费领取</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/electronic/electronic/editElectronic';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S10022></td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">折扣券</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26至2016-11-20</td>
                                    <td class="am-text-middle">普通会员</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">免费领取</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/electronic/electronic/editElectronic';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S10022></td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">折扣券</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26至2016-11-20</td>
                                    <td class="am-text-middle">普通会员</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">免费领取</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/electronic/electronic/editElectronic';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S10022></td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">满记甜品促销</td>
                                    <td class="am-text-middle">折扣券</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26至2016-11-20</td>
                                    <td class="am-text-middle">普通会员</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">免费领取</td>
                                    <td class="am-text-middle">到店核销</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/electronic/electronic/editElectronicy';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
