/*会员卡管理页面*/
.am-gallery-item-link{
	position: relative;
	display: inline-block;
}
.am-gallery-item-link .am-backdrop{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	background: rgba(255,255,255,0.2);
	display: none;
}
.am-gallery-item-link:hover .am-backdrop{
	display: block;
}
.am-padding{
	padding-top:1.2rem;
}
.am-backdrop-on-box{
	position: relative;
}
.am-backdrop-on-box:hover .am-backdrop-on{
	display: block;
}
.am-backdrop-on{
	position: absolute;
	top:2.5rem;
	right: 0;
	bottom:0;
	left:0;
	background: rgba(0,0,0,.3);
	text-align: center;
	vertical-align: middle;
	display: none;
}
a.am-btn-secondary{
	color:#ffffff !important;
}
/*会员卡信息详情页面*/
.am-pull-left{
	float:left !important;

}
.tpl-table-black{
	margin-top:32%;
}
.tpl-table-black button{
	margin:0 20px;
}

/*本地生活页面样式*/
