.lightBlue{
	color: #32c5d2;
}
.lightGray{
	color:#999;
}
.logoname{
	font-size: 22px;
	line-height: 57px;
}
.black{
	color: black!important;
}
 .am-selected{
        width: 100%!important;
    }
.padding-horizontal-lg{
	padding: 0 4rem!important;
}
.red{
	color: red;
}
a{
	color: inherit;
}
 .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
