.lightBlue{
	color: #32c5d2;
}
.lightGray{
	color:#999;
}
.logoname{
	font-size: 22px;
	line-height: 57px;
}
.white{
	color: white!important;
}
.black{
	color: black!important;
}
 .am-selected{
        width: 100%!important;
    }
.padding-horizontal-lg{
	padding: 0 4rem!important;
}
.red{
	color: red;
}
a{
	color: inherit;
}
 .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
.memberBrief label{
	padding-top: 5px;
    font-size: 15px;
    color: #888;
    font-weight: inherit;
    text-align: left;
}
.memberBrief span{
	font-size: 14px;
}
.tpl-table-black-operation-look{
	border: 1px solid #f37b1d!important;
    color: #f37b1d!important;
}
.tpl-table-black-operation-look:hover{
	background-color: #f37b1d!important;
    color: white!important;
}
