 
<style type="text/css">
  #preview{
        width:150px !important;
    }
    #preview #imghead,#preview img{
     width:140px !important;
    }
    .widget{
        font-color:#000 !;
    } 

    .postageNumber{
        display: none;
    }
   
    .addStyle{
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #1fb5ac;
        color: #1fb5ac;
        margin-left: 10px;
    }
    .addStyle:hover{
        cursor: pointer;
    }
    table tbody tr td,table thead tr th{
        font-weight: normal;
    }
    .addPropertyContent{
        margin-left: 80px;
    }
    table tbody tr{
        margin: 20px 0 !important;
    }
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>积分商城
            <a href="<?php echo site_url().'/integral/integral/integralGoodList';?>">积分商品管理</a> 
            <small><a href="<?php echo site_url().'/integral/integral/integralGoodAdd';?>">新增商品</a> </small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo site_url('/integral/integral/add_goods');?>" method="post" enctype="multipart/form-data">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">商品基础信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                    <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">                                        
                        <div class="am-form-group">
                            <label for="Name">商品名称<span class="red">*</span>：</label>
                            <input type="text" id="Name" name='title' required="required" />
                        </div>
                          <div class="am-form-group">
                            <label>商品分类<span class="red">*</span>：</label>
                            <select id="yetai" required="required" data-am-selected="{searchBox: 1,maxHeight: 200}" name='categoryid'>
                                <option value=''>请选择一个！</option>
                                <?php foreach($cates as $val):?>
                                <option value="<?php echo $val['catid'];?>"><?php echo $val['catname'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                        
                        <div class="am-form-group">
                            <label for="englishName">商品积分<span class="red">*</span>：</label>
                             <input type="number" class="am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6" id="lowprice" name="price" required="required" />
                        </div>
                         
                        <div class="am-form-group">
                            <label for="englishName">商品品牌：</label>
                            <input type="text" name='brand' id="englishName"  />
                        </div>
                        
<!--                         <div class="am-form-group">
                            <label for="englishName">添加属性：</label>
                            <div class="tableContainer">
                                <table class="addProperty">
                                <thead>
                                    <th>属性名称</th>
                                    <th>&nbsp;</th>
                                </thead>
                                <tbody class="addPropertyBody">
                                    <td class="propertyName"><input type="text"></td>
                                    <td><i class="am-icon am-icon-plus addStyle createMoreName"></i></td>
                                    <table class="addPropertyContent">
                                        <thead>
                                            <th>属性值</th>
                                            <th>附加值</th>
                                            <th>库存</th>
                                            <th>&nbsp;</th>
                                        </thead>
                                        <tbody class="addPropertyTr">
                                            <tr class="addPropertytr">
                                                <td class="propertyValue"><input type="text" ></td>
                                                <td class="propertyValue"><input type="text"></td>
                                                <td class="propertyValue"><input type="text" ></td>
                                                <td class="propertyValue"><i class="am-icon am-icon-plus addStyle createMore1"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </tbody>
                            </table>
                           <input type="hidden" name="parameter" id='inputproperty'>
                            </div>
                        </div> -->
                        <div class="am-form-group" >
                            <label for="oneType">是否包邮：</label>
                            <input type="radio" name="cod" value="1" id="dispostage" />是
                            <input type="radio" name="cod" id="postage" value="0"/>否
                        </div>
                        <div class="am-form-group postageNumber" >
                            <label for="englishName">请输入运费<span class="red">*</span>：</label>
                            <input type="number"  id="postageNum" name="postage"  />
                        </div>
                       <!--  <div class="am-form-group">
                            <label for="oneType">货到付款：</label>
                            <select id="oneType" required="required" name="cod">
                                <option value="">-=请选择一项=-</option>
                                <option value="1">支持货到付款</option>
                                <option value="0">不支持货到付款</option>
                            </select>
                        </div> -->
                        
                    </div>
                    <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                  
                       <!--  <div class="am-form-group"> 
                            <label for="oneType">是否是推荐产品<span class="red">*</span>：</label>
                            <input type="radio" name="recommend" value="1"/>是
                            <input type="radio" name="recommend" value="0"/>否
                        </div> -->
                        
                        <div class="am-form-group">
                            <label for="englishName">商品库存(件)<span class="red">*</span>：</label>
                            <input type="number"  id="respority" name="amount" required="required" />
                        </div>
                       
                        <div class="am-form-group">
                            <label for="englishName">商品状态：<span class="red">*</span>：</label>
                            <input type="radio" name="goods_state" value="1"/>上架
                            <input type="radio" name="goods_state" value="0"/>下架
                        </div>
                        <div class="am-form-group">
                            <label for="user-weibo" >商品图片：</label>
                            <div class="am-u-sm-12">
                                <div class="am-u-sm-4">
                                    <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img1" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                    </div>
                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                </div>
                                <div class="am-u-sm-4">
                                    <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add" multiple="multiple">
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                    </div>
                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                </div>
                                <div class="am-u-sm-4">
                                    <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add" multiple="multiple">
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                    </div>
                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                </div>
                            </div>
                            <div class="am-text-center father">
                              
                              <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；不超过三张，最大支持2M</small> 
                          </div> 
                        </div>
                        <div class="am-form-group">
                            <label for="englishName">商品信息详情<span class="red">*</span>：</label>
                            <div>
                                <script id="editor" type="text/plain" name='content'></script>
                            </div>                  
                        </div>
                    </div>
                </div>

                    <div class="am-form-group am-text-center">
                        <button class="am-btn am-btn-secondary" type="submit" id='addProperty'>提交</button>
                        <button class="am-btn am-btn-default" type="reset" id="cancle">取消</button> 
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- 设置运费弹出框开始 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="myModal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">请输入运费</div>
        <div class="am-modal-bd">
            <input type="number" class="am-modal-prompt-input" name="" required>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancle>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<!-- 设置运费弹出框结束 -->
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>
</body>
<script type="text/javascript">
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });

      
  });
//点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });

  //点击进行运费设置
$('#postage').click(function(){
    $('.postageNumber').css('display','block');

});
//点击取消运费设置
$('#dispostage').click(function(){
    $('.postageNumber').css('display','none');
});

 //删除图片
$(".deleteImg").click(function(){
    $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
    $(this).siblings('.wx_type_img').find('input').val("");
    $(this).siblings('.wx_type_img').find('input').files="";
});
var i=1;
  
//实例化编辑器
  var ue = UE.getEditor('editor');

</script>
