 

<style type="text/css">

  #preview{

        width:150px !important;

    }

    #preview #imghead,#preview img{

     width:140px !important;

    }

    .widget{

        font-color:#000 !;

    } 



    .postageNumber{

        display: none;

    }

   

    .addStyle{

        display: inline-block;

        padding: 3px 5px;

        border: 1px solid #1fb5ac;

        color: #1fb5ac;

        margin-left: 10px;

    }

    .addStyle:hover{

        cursor: pointer;

    }

    table tbody tr td,table thead tr th{

        font-weight: normal;

    }

    .addPropertyContent{

        margin-left: 80px;

    }

    table tbody tr{

        margin: 20px 0 !important;

    }

    .signIn{

        width:100px !important;

        display: inline-block !important;

    }

    label{

        padding-top:0 !important;

        font-weight: normal;

        line-height: 28px;

    }

    .am-u-sm-2,.am-u-sm-5{

        line-height: 28px;

    }



</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>会员管理

            <a href="<?php echo site_url().'/integral/Integral/integralRule';?>" style="font-size: 18px;">新人注册奖励设置</a>  

            <small></small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">


 <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">奖励设置</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <form class="am-form tpl-form-border-form tpl-form-border-br" action="<?php echo site_url('/integral/Integral/editNewUser');?>" method="post">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">新人注册送HI豆</label>
                                        <div class="am-u-sm-9">
                                            <input type="number" class="tpl-form-input" id="ptPrice" name="newUserAwardHI" value="<?php echo get_option('newUserAwardHI');?>" placeholder="请输入大于0的整数" ><small>HI豆</small>
                                        </div>
                                    </div>
    

                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">新人注册送卡卷</label>
                                        <div class="am-u-sm-9">
                                           <select name="newUserAwardCoupon" data-am-selected="{searchBox: 1,maxHeight: 300}">
                                               <?php $cid = get_option('newUserAwardCoupon');?>
                                               <option value="0" <?php if($cid== '0'){echo "selected";}?>>不赠送</option>
                                               <?php foreach($coupon as $val):?>
                                               <option value="<?php echo $val['id'];?>" <?php if($cid== $val['id']){echo "selected";}?> ><?php echo $val['id'];?> | <?php echo $val['name'].'-'.$val['title']?></option>
                                                <?php endforeach;?>
                                           </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="reset" class="am-btn">取消</button>
                                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">保存</button>
                                        </div>
                                    </div>
                                </form>
 
                            </div>
                        </div>
                    </div>
                </div>





</div>

</div>



<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>



</body>

<script type="text/javascript">

//签到送积分

$('#changeSign').click(function(){

    for(var i=0;i<$('.changeSign').length;i++){

        $('.changeSign').eq(i).css('display','none');

        $('.saveSign').eq(i).css('display','block');

    }



});

$('#saveSign').click(function(){

    for(var i=0;i<$('.saveSign').length;i++){

        $('.saveSign').eq(i).css('display','none');

        $('.changeSign').eq(i).css('display','block');       

    }

    var integral=$('.saveSign').eq('0').find('input').val();

    var id=$('.saveSign').eq('1').find('input').val();

    $.ajax({

        type:'post',

        url:'<?php echo site_url('/integral/Integral/edit_integralrule');?>',

        data: 'id='+ id +'&integral='+ integral,

        success: function(data){

            if(data==1){

               $('.changeSign').eq('0').find('span').html(integral); 

            }else{

                alert("操作失败！");

            }

        },

        error:function(xhr,type,errorThrown){

            alert("操作失败，请检查网络设置！");

        }

    });

});



//连续签到送积分

$('#changeSignThree').click(function(){//三次

    for(var i=0;i<$('.changeSignThree').length;i++){

        $('.changeSignThree').eq(i).css('display','none');

        $('.saveSignThree').eq(i).css('display','block');

    }

});

$('#saveSignThree').click(function(){

    for(var i=0;i<$('.saveSignThree').length;i++){

        $('.saveSignThree').eq(i).css('display','none');

        $('.changeSignThree').eq(i).css('display','block');       

    }

    var integral=$('.saveSignThree').eq('0').find('input').val();

    var id=$('.saveSignThree').eq('1').find('input').val();

    $.ajax({

        type:'post',

        url:'<?php echo site_url('/integral/Integral/edit_integralrule');?>',

        data: 'id='+ id +'&integral='+ integral,

        success: function(data){

            if(data==1){

               $('.changeSignThree').eq('0').find('span').html(integral); 

            }else{

                alert("操作失败！");

            }

        },

        error:function(xhr,type,errorThrown){

            alert("操作失败，请检查网络设置！");

        }

    });

});

$('#changeSignFour').click(function(){//四次

    for(var i=0;i<$('.changeSignFour').length;i++){

        $('.changeSignFour').eq(i).css('display','none');

        $('.saveSignFour').eq(i).css('display','block');

    }

});

$('#saveSignFour').click(function(){

    for(var i=0;i<$('.saveSignFour').length;i++){

        $('.saveSignFour').eq(i).css('display','none');

        $('.changeSignFour').eq(i).css('display','block');       

    }

});



$('#changeSignFive').click(function(){//五次

    for(var i=0;i<$('.changeSignFive').length;i++){

        $('.changeSignFive').eq(i).css('display','none');

        $('.saveSignFive').eq(i).css('display','block');

    }

});

$('#saveSignFive').click(function(){

    for(var i=0;i<$('.saveSignFive').length;i++){

        $('.saveSignFive').eq(i).css('display','none');

        $('.changeSignFive').eq(i).css('display','block');       

    }

});



$('#changeSignSix').click(function(){//六次

    for(var i=0;i<$('.changeSignSix').length;i++){

        $('.changeSignSix').eq(i).css('display','none');

        $('.saveSignSix').eq(i).css('display','block');

    }

});

$('#saveSignSix').click(function(){

    for(var i=0;i<$('.saveSignSix').length;i++){

        $('.saveSignSix').eq(i).css('display','none');

        $('.changeSignSix').eq(i).css('display','block');       

    }

});



$('#changeSignWeek').click(function(){//一周

    for(var i=0;i<$('.changeSignWeek').length;i++){

        $('.changeSignWeek').eq(i).css('display','none');

        $('.saveSignWeek').eq(i).css('display','block');

    }

});

$('#saveSignWeek').click(function(){

    for(var i=0;i<$('.saveSignWeek').length;i++){

        $('.saveSignWeek').eq(i).css('display','none');

        $('.changeSignWeek').eq(i).css('display','block');       

    }

});



//购买送积分

$('#changeBuy').click(function(){

    for(var i=0;i<$('.changeBuy').length;i++){

        $('.changeBuy').eq(i).css('display','none');

        $('.saveBuy').eq(i).css('display','block');

    }

});

$('#saveBuy').click(function(){

    for(var i=0;i<$('.saveBuy').length;i++){

        $('.saveBuy').eq(i).css('display','none');

        $('.changeBuy').eq(i).css('display','block');

    }

    var integral=$('.saveBuy').eq('0').find('input').val();

    var id=$('.saveBuy').eq('1').find('input').val();

    $.ajax({

        type:'post',

        url:'<?php echo site_url('/integral/Integral/edit_integralrule');?>',

        data: 'id='+ id +'&integral='+ integral,

        success: function(data){

            if(data==1){

               $('.changeBuy').eq('0').find('span').html(integral); 

            }else{

                alert("操作失败！");

            }

        },

        error:function(xhr,type,errorThrown){

            alert("操作失败，请检查网络设置！");

        }

    });

});

$('#changeActivity').click(function(){

    for(var i=0;i<$('.changeActivity').length;i++){

        $('.changeActivity').eq(i).css('display','none');

        $('.saveActivity').eq(i).css('display','block');

    }

});

$('#saveActivity').click(function(){

    for(var i=0;i<$('.saveActivity').length;i++){

        $('.saveActivity').eq(i).css('display','none');

        $('.changeActivity').eq(i).css('display','block');

    }

    var integral=$('.saveActivity').eq('0').find('input').val();

    var id=$('.saveActivity').eq('1').find('input').val();

    $.ajax({

        type:'post',

        url:'<?php echo site_url('/integral/Integral/edit_integralrule');?>',

        data: 'id='+ id +'&integral='+ integral,

        success: function(data){

            if(data==1){

               $('.changeActivity').eq('0').find('span').html(integral); 

            }else{

                alert("操作失败！");

            }

        },

        error:function(xhr,type,errorThrown){

            alert("操作失败，请检查网络设置！");

        }

    });

});

</script>

