<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
} 
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.am-modal-bd {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.am-modal-bd textarea{
    margin:0 40px;
    margin-top: 30px;
    margin-bottom: 10px;

} 
.goodsName{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.commentState{
    background: #15b5ac;
    border-radius: 5px;
    border: 1px solid #15b5ac;
    padding:5px 5px;
    color: #fff;
    text-align: center;
}
.commentState option{
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding:2px 5px;
    color: #000;
    text-align: center;
}
.commentState option[selected="selected"]{
    background: #15b5ac;
}
.modal-content{
    width: 400px;
    height: 30px;
    margin:20px auto;
    
}
.modal-content span.am-fr{
    color: #15b5ac;
}
.commentImg{
    width:100px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>主页模块 
                <a href="<?php echo site_url().'/payment/payment/payment';?>" style="font-size: 18px;">充值缴费</a> 
                <small style="font-size: 16px;"><a href="<?php echo site_url().'/payment/payment/waterRate';?>">手机充值记录</a></small>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
              
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear:both;">手机充值缴费记录
                    </div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>编号 </th>
                                    <th>用户名 </th>
                                    <th>手机号</th>
                                    <th>充值金额(元) </th>
                                    <th>优惠金额(元) </th>
                                    <th>充值时间</th>
                                    <th>供应商编号</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center pagebox">
                        <div id="Pagination">
                            <div class="pagination">
                                <a class="prev"><i></i>上一页</a>
                                <a class="current">1</a>
                                <a >2</a>
                                <a>3</a>
                                <a>4</a>
                                <span class="pagination-break">...</span>
                                <a class="ep">15</a>
                                <a class="next">下一页 <i></i></a>
                            </div>
                        </div>
                        <div class="searchPage">
                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                          <span class="page-go">跳转<input type="text">页</span>
                          <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                        <div claa="am-text-middle">
                           <span>共<span class="allData">15</span>条数据</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/laypage/laypage.js"></script>
<script type="text/javascript">
    function otherFunction() {
        for(var i=0;i<$('.tpl-del').length;i++){
            var dataId=$('.tpl-del').eq(i).attr('data-id');
            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");                       
        }

        //单个记录删除
        $('.sureDelete').click(function(){
            var deleteId=$(this).attr('data-id');
            $.ajax({
                type:'post',
                url:'<?php echo site_url('/shop/singleShop/del_comment_single');?>',
                data: 'commentid='+deleteArray,
                success: function(data){
                    if(data==1){                                           
                        alert("删除成功！");
                        getList('<?php echo site_url('/payment/Payment/qianmi_order_list');?>','type=1');
                    }else{
                        alert("操作失败！");
                        return false;
                    }
                    
                },
                error:function(xhr,type,errorThrown){
                    alert("操作失败，请检查网络设置！");
                    return false;
                }
            });
        });
    }
    var flag=0,current_page=0,total_page=0,pageflag = 1,storageFlag=1,priceFlag=1,timeFlag=1;
    var $EnergyCharge = parseInt(sessionStorage.getItem('EnergyCharge')) || 0, $isEnergyCharge = parseInt(sessionStorage.getItem('isEnergyCharge')) || 0, totalNum = 0;
    //点击前往某一页的函数
    function go_to_page(page_num){
        $('.page_link').removeClass('active_page');
        $('.page_link').eq(page_num).addClass('active_page');
        $("#dataList").children('tr').css("display","none");
        var start_page=parseInt(15)*parseInt(page_num);
        var end_page=parseInt(15)*parseInt(page_num+1);
        $('#dataList').children('tr').slice(start_page,end_page).css('display','');
        current_page = page_num;
        sessionStorage.setItem('EnergyCharge', current_page);
        $EnergyCharge = parseInt(sessionStorage.getItem('EnergyCharge'));
        
    }

    //点击上一页的函数
    function previous(){
        if($('.current').length>1) {
            new_page = parseInt($('.current').eq(0).html()) - 2;
        }else {
            new_page = parseInt($('.current').html()) - 2;
        }
        if(new_page >= 0) {
            go_to_page(new_page);
        }
    }

    //点击下一页的函数
    function next(argu){
        if($('.current').length>1) {
            new_page = parseInt($('.current').eq(1).html());
        }else {
            new_page = parseInt($('.current').html());
        }
        if(new_page < argu){
            go_to_page(new_page);
        }
    }
    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
            type:'post',
            url:dataurl,
            data: data,
            success: function(result){     
                var res = eval(result);
                console.log(res);
                if(res != 2 && res != 3){
                    var listData = ''; //每页出现的数量
                    totalNum = res.length;
                    for(var i = 0; i < res.length; i++){
                        res[i].payment_data=JSON.parse(res[i].payment_data);
                        if(!res[i].payment_data.errorToken) {  
                            listData+= template('dataModal',res[i]);    
                        } else {
                            totalNum--;
                        }      
                    }
                    total_page = Math.ceil(totalNum/15); //得到总页数
                    document.getElementById('dataList').innerHTML = listData;
                    $('.allData').html(totalNum);
                    $('.pagebox').css('display', 'block');
                    if(pageflag) {
                        go_to_page($EnergyCharge);
                        var opts={};opts.current_page = $EnergyCharge;
                        $("#Pagination").pagination(total_page, opts);
                        pageflag = 0;
                    } else {
                        $("#Pagination").pagination(total_page);
                        go_to_page(0);
                        
                    }
                    if(total_page < 5) {
                        $('.searchPage').css('display', 'none');
                    }                             
                    otherFunction();                             
                }else{
                    $('#dataList').find('tr').remove();
                    $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无购票信息！</p></td></tr>').appendTo('#dataList');
                    $('.pagebox').css('display', 'none');
                }

                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
                $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无购票信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
            }
        });
    }
    $(document).ready(function(){
        //加载列表数数据
        getList('<?php echo site_url('/payment/Payment/qianmi_order_list');?>','type=1');
    })
</script>
<script type="text/html" id="dataModal">
<% if(!payment_data.message) {%>
    <tr class="trClass" data-id="<%= id %>">
        <td class="am-text-middle"><%= id %></td>
        <td class="am-text-middle"><%= nickname %></td>
        <td class="am-text-middle"><%= payment_data.data.rechargeAccount%></td>
        <td class="am-text-middle"><%= payment_data.data.saleAmount%></td>
        <td class="am-text-middle"><%= payment_data.data.orderProfit%></td>
        <td class="am-text-middle"><%= payment_data.data.orderTime%></td>
        <td class="am-text-middle"><%= payment_data.data.supId%></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

</div>
<% } %>
</script>
