 <style type="text/css">
     .imgbox{
        width: 100px;
        height: 100px;
        border: 1px solid #fff;
        border-radius: 5px;
     }
     .section{
     	padding: 0 5%;
     }
     a.am-btn-xs :hover{
     	cursor: pointer;
     }
     .widget-statistic-description{
     	height: 28px;
     	line-height:50px;
     }
     .widget-statistic-header{
     	font-size: 20px;
     }
     .theme-white .widget-water {
	    padding: 12px 17px;
	    border: 1px solid #77bde2;
	    border-top: 2px solid #77bde2;
	    background: #77bde2;
	    color: #ffffff;
	    min-height: 174px;
	}
	.theme-white .widget-elec {
	    padding: 12px 17px;
	    border: 1px solid #ba55d3;
	    border-top: 2px solid #ba55d3;
	    background: #ba55d3;
	    color: #ffffff;
	    min-height: 174px;
	}
	.theme-white .widget-cas {
	    padding: 12px 17px;
	    border: 1px solid #ff8800;
	    border-top: 2px solid #ff8800;
	    background: #ff8800;
	    color: #ffffff;
	    min-height: 174px;
	}
	.theme-white .widget-phone {
	    padding: 12px 17px;
	    border: 1px solid #eb503d;
	    border-top: 2px solid #eb503d;
	    background: #eb503d;
	    color: #ffffff;
	    min-height: 174px;
	}
	.theme-white .widget-plane {
	    padding: 12px 17px;
	    border: 1px solid #ECB132;
	    border-top: 2px solid #ECB132;
	    background: #ECB132;
	    color: #ffffff;
	    min-height: 174px;
	}
	.theme-white .widget-train {
	    padding: 12px 17px;
	    border: 1px solid #778899;
	    border-top: 2px solid #778899;
	    background: #778899;
	    color: #ffffff;
	    min-height: 174px;
	}
	
 </style>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">

    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>主页模块 
                <a href="<?php echo site_url().'/payment/Payment/payment';?>" style="font-size: 14px;">充值缴费</a> 
                <small></small></div>
            </div>
        </div>

    </div> 

    <div class="row-content am-cf">
        <div class="row  am-cf section">
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                <div class="widget widget-water am-cf">
                    <div class="widget-statistic-header">
                        水电费
                    </div>
                    <div class="widget-statistic-body">
                  <!--       <div class="widget-statistic-value">
                            ￥27,294
                        </div> -->
                        <a href="<?php echo site_url().'/payment/Payment/waterRate';?>" class="am-btn am-btn-secondary am-btn-xs">
	                          <i class="am-icon-eye"></i>查看缴费记录
	                          
	                        </a>
                        <div class="widget-statistic-description am-fr">
                        	
                           

                        </div>
                        
                    </div>
                </div>
            </div>
           <div class="am-u-sm-12 am-u-md-6 am-u-lg-6" >
                <div class="widget widget-elec am-cf">
                    <div class="widget-statistic-header">
                        手机充值
                    </div>
                    <div class="widget-statistic-body">
                  <!--       <div class="widget-statistic-value">
                            ￥27,294
                        </div> -->
                        <a href="<?php echo site_url().'/payment/Payment/energyCharge';?>" class="am-btn am-btn-secondary am-btn-xs">
	                           <i class="am-icon-eye"></i>查看充值记录
	                        </a>
                        <div class="widget-statistic-description am-fr">
                        	
                           

                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6" >
                <div class="widget widget-plane am-cf">
                    <div class="widget-statistic-header">
                        飞机票
                    </div>
                    <div class="widget-statistic-body">
                  <!--       <div class="widget-statistic-value">
                            ￥27,294
                        </div> -->
                        <a href="<?php echo site_url().'/payment/Payment/phoneCharge';?>" class="am-btn am-btn-secondary am-btn-xs">
	                           <i class="am-icon-eye"></i>查看购买记录
	                        </a>
                        <div class="widget-statistic-description am-fr">
                        	
                           

                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6" >
                <div class="widget widget-primary am-cf">
                    <div class="widget-statistic-header">
                        火车票
                    </div>
                    <div class="widget-statistic-body">
                  <!--       <div class="widget-statistic-value">
                            ￥27,294
                        </div> -->
                        <a href="<?php echo site_url().'/payment/Payment/trainTicket';?>" class="am-btn am-btn-secondary am-btn-xs">
	                           <i class="am-icon-eye"></i>查看购买记录
	                        </a>
                        <div class="widget-statistic-description am-fr">
                        	
                           

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>