<style type="text/css" media="screen">
.am-selected{
    width: 100%!important;
}
.table-check{
    width: 30px;
}
.hf-dropdown{
    font-size: 12px!important;
    padding: 5px 6px!important;
}
.am-imgContainer{
    width:50%;
}
.disclaimerArea{
    min-height: 500px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 本地生活 <small>本地生活列表</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">本地生活列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary" data-am-modal="{target: '#disclaimer'}"><span class="am-icon-pencil"></span> 修改免责声明</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--免责协议弹窗开始-->
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="disclaimer">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">免责协议</div>
                            <div class="am-modal-bd">
                                <!-- 本地生活 信息展示类 -->
                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator  method='post' enctype='multipart/form-data'>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">免责协议 <span class="red">*</span>：</label>
                                        <div class="am-u-sm-8 am-u-end">
                                            <textarea rows='4' type="text"  name='' class="disclaimerArea am-text-left" required>
                                            免责声明:
                                            1、该协议的目的是为了活动发起人或组织者或领队（以下协议中简称：发起者）和同行成员明确知晓户外活动所存在的风险，提高参加人员的抗风险和自律能力，免除活动的发起人和同行成员在活动中出现的相关赔偿及法律连带等责任，让户外活动更加安全、健康、快乐。
                                            2、活动中，对于违犯国家相关法规、恶意侵犯他人或其它涉及犯罪行为的事件，则不在此协议范围内，必须由个人承担相应的法律责任。
                                            3、凡报名参加活动的人员，均视为具有完全民事行为能力的人，均视为你已经仔细阅读和完全理解并同意接受以下《户外活动免责协议书》的全部条款，并要在参加本次活动前（集合时）均应该在本协议上“成员签名”外签定网名+真实姓名。方可参加本次活动。
                                            4、此协议为相关责任的豁免，权利的放弃，风险的承担和免赔的协议。你如果在此协议上签字，你就已经完全知晓、理解和同意接受《户外活动免责协议书》全部条款，你就放弃了向活动发起者和其他参加成员提起诉讼的权利；永远免除此次活动的发起者和同行成员的赔偿及法律连带责任。
                                            </textarea>
                                        </div>
                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                        <button type="submit" class="am-btn am-btn-danger">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--免责协议弹窗结束-->
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="add">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新增</div>
                            <div class="am-modal-bd">
                                 <form class="am-form tpl-form-line-form" action="<?php echo site_url('/module/module/add_cates');?>"  method="post" enctype="multipart/form-data" data-am-validator>
                                     <div class="am-form-group am-cf">
                                        <label for="doc-ipt-1" class="am-u-sm-2 am-form-label">名称 <span class="red">*</span></label>
                                        <div class="am-u-sm-10">
                                          <input type="text" id="doc-ipt-1" placeholder="请输入2-4个字" minlength="2" name="name" maxlength="4" required="">
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="doc-ipt-2" class="am-u-sm-2 am-form-label">类别 <span class="red">*</span></label>
                                        <div class="am-u-sm-10">
                                            <select name="typeid" id="doc-select-1" required>
                                                <option value="">--请选择类别--</option>
                                                <option value="1">普通信息类</option>
                                                <option value="2">房产信息类</option>
                                                <option value="3">跳蚤市场</option>
                                                <option value="4">快递上门</option>
                                                <option value="5">超市比价</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">排序 <span class="red">*</span></label>
                                        <div class="am-u-sm-10">
                                          <input type="number" name="sort" id="doc-ipt-3" min="1" required>
                                        </div>
                                      </div>
                                     <div class="am-form-group am-cf">
                                         <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">icon 背景色 <span class="red">*</span></label>
                                         <div class="am-u-sm-10">
                                             <input type="color" name="icon_color" id="doc-ipt-3" min="1" required>
                                         </div>
                                     </div>
                                      <div class="am-form-group am-cf">
                                            <label for="imgUpload" class="am-u-sm-2 am-form-label">ICON <span class="red">*</span></label>
                                            <div class="am-u-sm-10">
                                                <div class="wx_type_img">
                                                 <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add" required>
                                                  图片实时预览
                                                  <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                  <div class="am-text-xs">点击选择图片</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="reset" class="am-btn am-btn-default">重置</button>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <!--<th class="table-check"><input type="checkbox"></th>-->
                                    <th class="shop_id">名称</th>
                                    <th class="moll_name">排序</th>
                                    <th class="shop_id">类别</th>
                                    <th class="shop_name">icon</th>
                                    <th class="shop_name">icon背景色</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php if(!empty($cates)):?>
                                <?php foreach($cates as $v):?>
                                <tr>
                                    <!--<td class="am-text-middle"><input type="checkbox"></td>-->
                                    <td class="am-text-middle"><?php echo $v['name'];?></td>
                                    <td class="am-text-middle"><?php echo $v['sort'];?></td>
                                    <td class="am-text-middle"><?php switch($v['typeid']){case '1': echo "普通信息类";break;case '2': echo "房产信息类";break;case '3': echo "跳蚤市场";break;case '4': echo "快递上门";break;case '5': echo "超市比价";break; }?></td>
                                    <?php $icon = json_decode($v['icon'],true); ?>
                                    <td class="am-text-middle"><img class="am-imgContainer" src="<?php echo $icon[0]['picImg'];?>" ></td>
                                    <td class="am-text-middle"><input type="color" value="<?php echo $v['icon_color'];?>" disabled="disabled"/></td>
                                    <td class="am-text-middle"><?php echo $v['create_time'];?></td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/module/localLife/serviceList/'.$v['id'];?>" class="tpl-table-black-operation-set">
                                                <i class="am-icon-eye" ></i> 查看
                                            </a>
                                            <a href="javascript:;" data-am-modal="{target: '#edited<?=$v['id']?>'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <!--<a href="javascript:;" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete1'}">-->
                                                <!--<i class="am-icon-trash"></i> 删除-->
                                            <!--</a>-->
                                        </div>
                                    </td>
                                </tr>

                                    <!-- 编辑 模态框 -->
                                    <div class="am-modal am-modal-confirm" tabindex="-1" id="edited<?=$v['id']?>">
                                        <div class="am-modal-dialog">
                                            <div class="am-modal-hd">编辑</div>
                                            <div class="am-modal-bd">
                                                <form class="am-form tpl-form-line-form" action="<?php echo site_url('/module/localLife/edit_cates');?>"  method="post" enctype="multipart/form-data" data-am-validator>
                                                     <div class="am-form-group am-cf">
                                                        <label class="am-u-sm-2 am-form-label">名称 <span class="red">*</span></label>
                                                        <div class="am-u-sm-10">
                                                          <input type="text" placeholder="请输入2-4个字" name="name" value="<?php echo $v['name'];?>" minlength="2" maxlength="4" required="">
                                                        </div>
                                                      </div>
                                                      <div class="am-form-group am-cf">
                                                        <label class="am-u-sm-2 am-form-label">类别 <span class="red">*</span></label>
                                                        <div class="am-u-sm-10">
                                                            <select name="typeid" id="doc-select-1" required>
                                                                <option value="">&#45;&#45;请选择类别&#45;&#45;</option>
                                                                <option value="1" <?php if($v['typeid'] ==1){echo "selected";}?>>普通信息类</option>
                                                                <option value="2" <?php if($v['typeid'] ==2){echo "selected";}?>>房产信息类</option>
                                                                <option value="3" <?php if($v['typeid'] ==3){echo "selected";}?>>法律咨询类</option>
                                                                <option value="4" <?php if($v['typeid'] ==4){echo "selected";}?>>闲置商品类</option> <option value="5" <?php if($v['typeid'] ==5){echo "selected";}?>>超市比价类</option>
                                                            </select>
                                                        </div>
                                                      </div>
                                                      <div class="am-form-group am-cf">
                                                        <label class="am-u-sm-2 am-form-label">排序 <span class="red">*</span></label>
                                                        <div class="am-u-sm-10">
                                                            <input type="hidden" value="<?php echo $v['id'];?>" name="id" />
                                                            <input type="number" name="sort" value="<?php echo $v['sort'];?>" min="1" required>
                                                        </div>
                                                      </div>
                                                      <div class="am-form-group am-cf">
                                                         <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">icon 背景色 <span class="red">*</span></label>
                                                         <div class="am-u-sm-10">
                                                             <input type="color" name="icon_color" id="doc-ipt-3" min="1" value="<?php echo $v['icon_color']?>" required>
                                                         </div>
                                                     </div>
                                                      <div class="am-form-group am-cf">
                                                            <label for="imgUpload" class="am-u-sm-2 am-form-label">LOGO <span class="red">*</span></label>
                                                            <div class="am-u-sm-10">
                                                                <div class="wx_type_img">
                                                                 <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add" required>
                                                                    <?php if(empty($v['icon'])):?>
                                                                  <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                                    <?php else:?>
                                                                    <input type="hidden" name="icon" value="<?php echo $v['icon'];?>" />
                                                                    <div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $v['icon'];?>" class="am-img-responsive cardView"> </div>
                                                                    <?php endif;?>
                                                                  <div class="am-text-xs">点击选择图片</div>
                                                                </div>
                                                            </div>

                                                      </div>
                                                    <div class="am-form-group am-btn-group-xs">
                                                        <button type="reset" class="am-btn am-btn-default">重置</button>

                                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                                    </div>
                                                </div>
                                               <!--  <div class="am-form-group am-btn-group-xs">
                                                    <button type="reset" class="am-btn am-btn-default">重置</button>
                                                    <button type="submit" class="am-btn am-btn-danger">提交</button>
                                                </div> -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--&lt;!&ndash; 删除弹框 &ndash;&gt;-->
                                <!--<div class="am-modal am-modal-confirm" tabindex="-1" id="delete1">-->
                                    <!--<div class="am-modal-dialog">-->
                                        <!--<div class="am-modal-hd">删除提示</div>-->
                                        <!--<div class="am-modal-bd">-->
                                            <!--<p class="black">你，确定要删除这条记录吗？</p>-->
                                        <!--</div>-->
                                        <!--<div class="am-modal-footer">-->
                                            <!--<span class="am-modal-btn" data-am-modal-cancel>取消</span>-->
                                            <!--<span class="am-modal-btn" data-am-modal-confirm>确定</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <?php endforeach;?>
                                <?php else:?>
                                    <th colspan="8" style="text-align:center;">暂无分类</th>
                                <?php endif;?>
                                <!--&lt;!&ndash; more data &ndash;&gt;-->
                            <!--</tbody>-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

