<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.am-imgContainer{
    width:50%;
    }
.deleteImg{
        display:inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:  1px solid #ddd;
    }
     .clickUp{
        display: inline-block;
        float: left;
        margin-left: 100px;
    }

    .preview{
        height:170px !important;
    }
    .preview #imghead,#preview img{
        
        height:160px;
    }
    .am-modal-bd input[type='radio'] {
        width: 50%;
        border: none;
    }
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="<?php echo site_url('/module/LocalLife/localLifeList');?>">本地生活</a> 
            <small>><?php if(isset($catename)):?><a href="<?php echo site_url('/module/LocalLife/serviceList/').$id;?>"><?php echo $catename;?></a>><?php endif;?> <?php echo $name;?></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <!-- 以下列表 根据传过来的类别进行判断 控制显示和隐藏 -->

    <!-- 超市比价 -->
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">超市比价</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success" data-am-modal="{target: '#add4'}"><span class="am-icon-plus"></span> 新增</button>
                                    <a type="button" class="am-btn am-btn-default am-btn-danger" data-am-modal="{target: '#deleteAll'}"><span class="am-icon-trash " ></span> 批量删除</a>
                                    <div class="wx_type_img am-inline">
                                         <input type="file" id="imgUpload" name="img[]" onchange="uploadFiles()" class="upload-add fileUpLoad" >
                                          <!-- 图片实时预览 -->
                                          <button class="am-btn am-btn-secondary am-btn-xs"><span class="am-icon-arrow-up"></span> 导入</button>
                                    </div>
                                    <!-- <a href="<?php echo site_url('module/LocalLife/dowload_market_data/1')?>" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-arrow-up"></span> 导出</a> -->
                                    <a href="Upload/xls/import.xlsx" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-arrow-down"></span> 下载导入模板</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--批量删除的弹窗-->
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAll">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">删除提示</div>
                            <div class="am-modal-bd">
                                <p class="black">你，确定删除所有选中的记录吗？</p>
                            </div>
                            <div class="am-modal-footer">
                                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                <span class="am-modal-btn deleteAll"  data-am-modal-confirm>确定</span>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                        <form action="<?php echo site_url('module/LocalLife/search')?>" method="post">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" name='sear' class="am-form-field" placeholder="超市名/商品名" required>
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                            </span>
                        </div>
                          </form>
                    </div>

                    <div class="am-modal am-modal-confirm" tabindex="-1" id="add4">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新增</div>
                            <div class="am-modal-bd">
                                <!-- 本地生活 跳蚤市场类 -->
                                <form class="am-form tpl-form-line-form" action='<?php echo site_url('module/LocalLife/add_market_goods')?>' method='post' enctype='multipart/form-data'>
                                   <!--  <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">超市名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text"  name='market_name' required="">
                                        </div>
                                    </div> -->
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">商品名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name='goods_name' required>
                                        </div>
                                    </div>
                                        <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">原价 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="float" name='orginal_price' required>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">价格 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="float" name='date_price' required>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">单位 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name='unit' placeholder="斤、瓶、两" required>
                                        </div>
                                    </div> 
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">规格 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name='standard' placeholder="kg、袋" required>
                                        </div>
                                    </div>

                                    <!-- <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">发布人身份<span class="red">*</span></label>
                                        <div class="am-u-sm-3">
                                            <input type="radio" class="am-inline" name='isbusiness' value='1'>商家
                                        </div>
                                        <div class="am-u-sm-3 am-u-end">
                                            <input type="radio" class="am-inline" name='isbusiness' value="0" >个人
                                        </div>
                                    </div> -->
                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="reset" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox">全选</th>
                                    <th>编号</th>
                                    <!-- <td class="am-text-middle">超市名</td> -->
                                    <th>商品名</th>
                                    <th>原价</th>
                                    <th>现价</th>
                                    <th>规格</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php if(!empty($lists)):?>
                                <?php foreach($lists as $val):?>
                                <tr class="trClass">
                                    <td  class="am-text-middle"><input type="checkbox" class="commentBox" data-id="<?php echo $val['id'];?>" name="commentBox"></td>
                                    <td class="am-text-middle"><?php echo $val['id'];?></td>
                                    <!-- <td class="am-text-middle"><?php echo $val['market_name'];?></td> -->
                                    <td class="am-text-middle"><?php echo $val['goods_name'];?></td>
                                    <td class="am-text-middle"><?php echo $val['orginal_price'];?>/<?php echo $val['unit'];?></td>
                                    <td class="am-text-middle"><?php echo $val['date_price']?>/<?php echo $val['unit']?></td>
                                     <td class="am-text-middle"><?php echo $val['standard']?></td>
                                    <td class="am-text-middle"><?php echo $val['date'];?></td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_edite<?php echo $val['id']?>'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="<?php echo site_url('/module/LocalLife/del_market_data/'.$val['id']);?>" onclick="return confirm('确定删除?');" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- 编辑弹框 -->
                                <div class="am-modal am-modal-confirm" tabindex="-1" id="m_edite<?php echo $val['id']?>">
                                    <div class="am-modal-dialog">
                                        <div class="am-modal-hd">编辑</div>
                                        <div class="am-modal-bd">
                                            <!-- 本地生活 跳蚤市场类 -->
                                            <form class="am-form tpl-form-line-form" action='<?php echo site_url('module/LocalLife/edit_market_data')?>' method='post' enctype='multipart/form-data'>
                                            <!--     <div class="am-form-group am-cf">
                                                    <label class="am-u-sm-3 am-form-label">超市名 <span class="red">*</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" name="market_name" value="<?php echo $val['market_name']?>" minlength="4" required="">
                                                    </div>
                                                </div> -->
                                                <div class="am-form-group am-cf">
                                                    <label class="am-u-sm-3 am-form-label">商品名 <span class="red">*</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" name="goods_name" value="<?php echo $val['goods_name']?>" required>
                                                    </div>
                                                </div>
                                                <div class="am-form-group am-cf">
                                                    <label class="am-u-sm-3 am-form-label">原价 <span class="red">*</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="float" name='orginal_price' value="<?php echo $val['orginal_price']?>" required>
                                                    </div>
                                                </div> 
                                                <div class="am-form-group am-cf">
                                                    <label class="am-u-sm-3 am-form-label">价格 <span class="red">*</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" value="<?php echo $val['date_price']?>" name="date_price" required>
                                                    </div>
                                                </div>   
                                                <div class="am-form-group am-cf">
                                                    <label class="am-u-sm-3 am-form-label">单位 <span class="red">*</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" value="<?php echo $val['unit']?>" name='unit' placeholder='斤、瓶、两' required>
                                                    </div>
                                                </div> 
                                                <div class="am-form-group am-cf">
                                                    <label class="am-u-sm-3 am-form-label">规格 <span class="red">*</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" value="<?php echo $val['standard']?>" name='standard' placeholder='kg' >
                                                    </div>
                                                </div>
                                                <div class="am-form-group am-btn-group-xs">
                                                    <button type="reset" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                                    <input type="hidden" name="id" value="<?php echo $val['id'];?>" />
                                                    <button type="submit" class="am-btn am-btn-danger">提交</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <?php endforeach;?>
                                <?php else:?>
                                    <th colspan="7" style="text-align: center;">暂无内容！</th>
                                <?php endif;?>
                                <!-- 删除弹框 -->
                
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                          <?php echo $pages;?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
<script type="text/javascript">
    var flag = 0;
    function uploadFiles(){
        var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象
       // console.log(fileObj.name.split('.')[1]);
        var FileController="<?php echo site_url('/module/LocalLife/send_market_data');?>";//上传文件的后台地址
        if(fileObj.name.split('.')[1]=='xls' || fileObj.name.split('.')[1]=='xlsx'){
           var form=new FormData();
            form.append('file',fileObj); //文件对象
            //实例化XMLHttpRequest对象
            var xhr=new XMLHttpRequest();
            xhr.open('post',FileController,true);
            xhr.onload=function(data) {
                // console.log(data);
                var jsondata=JSON.parse(data.currentTarget.response);
                alert("导入成功！成功"+jsondata.yes+'条');
                location.reload();
            
            };
            xhr.send(form); 
            return true;
        }else{
            alert("上传文件的格式错误！");
            return false;
        }
        
    }

    //删除图片
    $(".deleteImg").click(function(){      
        $(this).prevUntil('.preview').find('img').attr('src','assets/img/nullImg.jpg');
        $(this).prevUntil('.preview').find('input').val(" ");
        $(this).prevUntil('.preview').find('input').files="";
    });
    $(document).ready(function () {
        //点击选中所有
        $('.tablecheck').click(function() {
            if(flag==0){
              for(var i=0;i<$('.commentBox').length;i++) {
                document.getElementsByClassName('commentBox')[i].checked=true;
              }  
              flag=1;
            }else{
               for(var i=0;i<$('.commentBox').length;i++) {
                document.getElementsByClassName('commentBox')[i].checked=false;
                }
               flag=0;
            }
        });
        //多个超市比价删除
        $('.deleteAll').click(function(){
           // var deleteId=$(this).attr('data-id');
            var array=[];
            for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){                            
                array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
            }
        
            array=JSON.stringify(array);
            console.log(array);
            $.ajax({
                type:'post',
                url:'<?php echo site_url('/module/LocalLife/batch_del_market');?>',
                data: 'id='+array,
                success: function(data){
                    if(data==1){
                        alert('操作成功！');
                       window.location.href='<?php echo site_url('/module/LocalLife/market_data');?>';
                    }else{
                        alert("操作失败！");
                    }
                    
                },
                error:function(xhr,type,errorThrown){
                    alert("操作失败，请检查网络设置！");
                }
            });
        });
    })
    
</script>
</body>
</html>

