<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.am-imgContainer{
    width:50%;
    }
.deleteImg{
        display:inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:  1px solid #ddd;
    }
     .clickUp{
        display: inline-block;
        float: left;
        margin-left: 100px;
    }

 .preview{
        height:170px !important;
    }
    .preview #imghead,#preview img{
        
        height:160px;
    }
    .am-modal-bd input[type='radio'] {
        width: 50%;
        border: none;
    }
    .tpl-del {
        border: 1px solid #ff0000 !important;
        color: #ff0000 !important;
    }
    select.am-form-field {
        border: 1px solid #c2cad8 !important;
        border-radius: 5px !important;
    }
.isRecommand {
    width: 85px;
    background: #4db14d;
    border-radius: 5px;
    border: 1px solid #4db14d;
    padding:5px 5px;
    color: #fff;
    text-align: center;
}
.isRecommand option {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding:2px 5px;
    color: #000;
    text-align: center;
} 
.otherMessage {
    display: none;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="<?php echo site_url('/module/LocalLife/localLifeList');?>">本地生活</a> 
            <small>><?php if(isset($catename)):?><a href="<?php echo site_url('/module/LocalLife/serviceList/').$id;?>"><?php echo $catename;?></a>><?php endif;?> <?php echo $name;?></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">

    <!-- 招聘信息 -->
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf"><?php echo $name;?></div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success" data-am-modal="{target: '#add'}"><span class="am-icon-plus"></span> 新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                     <form action="<?php echo site_url('module/LocalLife/search')?>" method="post">
                        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                            <input type="text" name='sear' class="am-form-field" placeholder="标题/联系人" required id="searchKey">
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search searchSort" type="button"></button>
                            </span>
                          
                        </div>
                          </form>
                    </div>
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="add">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新增</div>
                            <div class="am-modal-bd"> 
                                <!-- 本地生活 信息展示类 -->
                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action="<?php echo site_url('module/LocalLife/add_recruit')?>" method='post' enctype='multipart/form-data'>
                                     <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">标题 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" placeholder="请输入标题,2-30个字符" name='name' minlength="2" maxlength="30" required onblur="validate(this,2,30,2)">
                                        </div>
                                        <small class="am-u-sm-1 red redtips2" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips2" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系人 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" placeholder="请输入联系人，2-10个字符" onblur="validate(this,2,10,4)" maxlength="10" minlength="2" name='link_man' required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips4" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips4" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="tel" name="phone" onblur="validate(this,11,12,5)" class="js-pattern-mobile" placeholder="输入合法的手机号" minlength="11" maxlength="12" required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">内容 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <textarea  name='content' rows="8" required placeholder="请输入详细地址，2-200个字符" onchange="validate(this,2,200,6)" minlength="2" maxlength="200"></textarea>
                                        </div>
                                        <small class="am-u-sm-1 red redtips6" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips6" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">类型<span class="red">*</span></label>
                                         <div class="am-u-sm-8 am-u-end">
                                            <select class="am-form-field isbusiness" name="type_name" required>
                                                <option value="">-=请选择一项=-</option>
                                                <option value="5">求职</option>
                                                <option value="4">招聘</option>
                                            </select>
                                        </div>                       
                                    </div>
                                    <div class="otherMessage">
                                        <div class="am-form-group am-cf">
                                            <label class="am-u-sm-3 am-form-label">公司名称 <span class="red">*</span></label>
                                            <div class="am-u-sm-8">
                                                <input type="text" placeholder="请输入联系人，2-30个字符" onblur="validate(this,2,30,13)" maxlength="10" minlength="2" name='title' required>
                                            </div>
                                            <small class="am-u-sm-1 red redtips13" style="display: none;"><i class="am-icon-close"></i></small>
                                            <small class="am-u-sm-1 green blacktips13" style="display: none;"><i class="am-icon-check"></i></small>
                                        </div>
                                        <div class="am-form-group am-cf" >
                                            <label class="am-u-sm-3 am-form-label">地址 <span class="red">*</span></label>
                                            <div class="am-u-sm-8">
                                                <textarea  name='address' rows="2" required placeholder="请输入详细地址，2-100个字符" onchange="validate(this,2,100,14)" minlength="2" maxlength="200"></textarea>
                                            </div>
                                            <small class="am-u-sm-1 red redtips14" style="display: none;"><i class="am-icon-close"></i></small>
                                            <small class="am-u-sm-1 green blacktips14" style="display: none;"><i class="am-icon-check"></i></small>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-xs-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th width="15%">标题</th>
                                    <th>联系人</th>
                                    <th>联系电话</th>
                                    <th width='30%'>内容</th>
                                    <th>类型</th>
                                    <!--<th>本地生活推荐</th>-->
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center pagebox">
                        <div id="Pagination">
                            <div class="pagination">
                                <a class="prev"><i></i>上一页</a>
                                <a class="current">1</a>
                                <a >2</a>
                                <a>3</a>
                                <a>4</a>
                                <span class="pagination-break">...</span>
                                <a class="ep">15</a>
                                <a class="next">下一页 <i></i></a>
                            </div>
                        </div>
                        <div class="searchPage">
                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                          <span class="page-go">跳转<input type="text">页</span>
                          <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                        <div claa="am-text-middle">
                           <span>共<span class="allData">15</span>条数据</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
<script type="text/javascript">
    //表单验证函数
    function validate(obj,minlen,maxlen,i){
        var content=obj.value;
        if(content.length<minlen || content.length>maxlen){
            $('.blacktips'+ i).css('display','none');
            $('.redtips'+ i).css('display','inline-block');
        }else{
            $('.redtips'+ i).css('display','none');
            $('.blacktips'+ i).css('display','inline-block');
        }
    }
    function validate1(obj,minlen,maxlen,i){
        var content=obj.value;
        if(content.length<minlen || content.length>maxlen || parseInt(content)>5 || parseInt(content)<1){
            $('.blacktips'+ i).css('display','none');
            $('.redtips'+ i).css('display','inline-block');
        }else{
            $('.redtips'+ i).css('display','none');
            $('.blacktips'+ i).css('display','inline-block');
        }
    }

    function uploadFiles(){
        var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象
       // console.log(fileObj.name.split('.')[1]);
        var FileController="<?php echo site_url('/module/LocalLife/send_market_data');?>";//上传文件的后台地址
        if(fileObj.name.split('.')[1]=='xml' || fileObj.name.split('.')[1]=='xlsx'){
           var form=new FormData();
            form.append('file',fileObj); //文件对象
            //实例化XMLHttpRequest对象
            var xhr=new XMLHttpRequest();
            xhr.open('post',FileController,true);
            xhr.onload=function(){
                alert("导入成功！");
                location.reload();
            
            };
            xhr.send(form); 
            return true;
        }else{
            alert("上传文件的格式错误！");
            return false;
        }
        
    }

//删除图片
$(".deleteImg").click(function(){      
    $(this).prevUntil('.preview').find('img').attr('src','assets/img/nullImg.jpg');
    $(this).prevUntil('.preview').find('input').val("");
    $(this).prevUntil('.preview').find('input').files="";
});
var total_page = 0,pageflag = 1,current_page=0,$recruitList = parseInt(sessionStorage.getItem('recruitList')) || 0;
//点击前往某一页的函数
function go_to_page(page_num){
    $('.page_link').removeClass('active_page');
    $('.page_link').eq(page_num).addClass('active_page');
    $("#dataList").children('tr').css("display","none");
    var start_page=parseInt(15)*parseInt(page_num);
    var end_page=parseInt(15)*parseInt(page_num+1);
    $('#dataList').children('tr').slice(start_page,end_page).css('display','');
    current_page=page_num;
    sessionStorage.setItem('recruitList', current_page);
    $recruitList = parseInt(sessionStorage.getItem('recruitList'));
    
}

//点击上一页的函数
function previous(){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(0).html()) - 2;
    }else {
        new_page = parseInt($('.current').html()) - 2;
    }
    if(new_page >= 0) {
        go_to_page(new_page);
    }
}

//点击下一页的函数
function next(argu){
    if($('.current').length>1) {
        new_page = parseInt($('.current').eq(1).html());
    }else {
        new_page = parseInt($('.current').html());
    }
    
    
    if(new_page < argu){   
        console.log(new_page + ' ' + argu);
        go_to_page(new_page);
    }
}
function otherOperation() {
    for(var i=0; i<$('.tpl-del').length; i++) {
        var dataId = $('.tpl-del').eq(i).attr('data-id'), editId = $('.editRecruit').eq(i).attr('data-id'), business = $('.isbusiness').eq(i+1).attr('data-id');
        console.log($('.isbusiness').length);
        $('.tpl-del').eq(i).attr("data-am-modal","{target: '#de"+ dataId +"'}");
        $('.editRecruit').eq(i).attr("data-am-modal","{target: '#edit"+ dataId +"'}");
        if($('#isbusiness'+ business ).val() == 4) {
            $('#otherMessage'+ business).css('display', 'block');
        }                         
    }
    //编辑招聘信息
    $('.saveRecruit').click(function () {
        var dataId = $(this).attr("data-id"),
            name = $('.title' + dataId).val(),
            content = $('.content' + dataId).val(), 
            link_man = $('.link_man' + dataId).val(),
            phone = $('.phone'+dataId).val(),
            isbusiness = $('#isbusiness'+ dataId).val();  
            title = $('.title'+ dataId).val();  
            address = $('.address'+ dataId).val();  
        $.ajax({
            type:'post',
            url: "<?php echo site_url('/module/LocalLife/edit_recruit');?>",
            data: 'id='+ dataId +"&name="+ name +"&content="+ content  +"&link_man="+ link_man +"&phone="+ phone +"&type_name="+ isbusiness+'&title='+title + '&address='+address,
            success: function(result){       
                // console.log(result);  
                var res = eval(result);
                if(res == 1){
                    alert("修改成功！");
                    getList("<?php echo site_url('/module/LocalLife/ret_recruit_list');?>",'default=1');
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
        $('#edit'+dataId).modal('close');
    });
    //删除招聘
    $('.sureDelete').click(function () {
        var dataId = $(this).attr("data-id");
        $.ajax({
            type:'post',
            url: "<?php echo site_url('/module/LocalLife/del_recruit');?>",
            data: 'id='+ dataId,
            success: function(result){         
                var res = eval(result);
                if(res == 1){
                    alert("删除成功！");
                    $('#edit'+dataId).fadeOut();
                    $('.am-dimmer').removeClass('am-active');
                    getList("<?php echo site_url('/module/LocalLife/ret_recruit_list');?>",'default=1');
                }else{
                   alert("网络状况不佳，请稍后重试！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    });
    for(var i=0; i<$('.isRecommand').length; i++) {
        if($('.isRecommand').eq(i).val()=="1") {
            $('.isRecommand').eq(i).css({'background':'#4db14d','border':'1px solid #4db14d'});
        } else {
            $('.isRecommand').css({'background':' #e0690c','border':'1px solid #e0690c'});
        }
    }

}
//异步刷新的ajax请求 
function getList(dataurl,data){
    $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){         
            var res = eval(result);
        //    console.log(result);
            if(res != 2 && res != 3){
                var listData = ''; //每页出现的数量
                total_page = Math.ceil(res.length/15); //得到总页数
                for(var i = 0; i < res.length; i++){
                    res[i].content = JSON.parse(res[i].content);
                    listData += template('dataModal',res[i]);
                 }
                document.getElementById('dataList').innerHTML = listData;
                $('.allData').html(res.length);
                $('.pagebox').css('display', 'block');
                if(total_page <= 1) {
                    $('#Pagination').css('display', 'none');
                    $('.searchPage').css('display', 'none');
                } else {
                    if(pageflag) {  
                        var opts={};
                        opts.current_page = $recruitList;
                        $("#Pagination").pagination(total_page, opts);go_to_page($recruitList);
                        pageflag = 0;
                    } else {
                        $("#Pagination").pagination(total_page);
                        go_to_page(0);
                        
                    }
                    if(total_page < 5) {
                        $('.searchPage').css('display', 'none');
                    }
                }
                
                otherOperation();
            }else{
                $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关招聘信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
            $('#dataList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关招聘信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
        }
    });
}
function chooseZhaopin (obj) {
    var dataId = $(obj).attr('data-id');
    if($(obj).val() == 4) {
        $('#otherMessage'+ dataId).css('display', 'block');
    }
}
$(document).ready(function(){
    //加载列表数数据
    getList("<?php echo site_url('/module/LocalLife/ret_recruit_list');?>",'default=1');
    //点击搜索
    $('.searchSort').click(function(){
        var keywords=$('#searchKey').val();

        getList("<?php echo site_url('/module/LocalLife/search_recruit');?>",'sear='+ keywords);
    });
    //根据类型显示
    $('.isbusiness').change(function () {
        if($(this).val() == 4) {
            $('.otherMessage').css('display', 'block');
        }
    })
})
</script>
<script type="text/html" id="dataModal">
    <tr class="trClass" data-id="<%= id %>">
        <td class="am-text-middle"><%= id %></td>
        <td class="am-text-middle"><%= name %></td>
        <td class="am-text-middle"><%= link_man %></td>
        <td class="am-text-middle"><%= phone %></td>
        <td class="am-text-middle"><%= content.content %></td>
        <td class="am-text-middle">
        <% if(type_name == 5) { %>
        求职
        <% } else { %>
        招聘
        <% } %>
        </td>
        <!--<td class="am-text-middle">
            <select class="isRecommand" name="recommend" data-id="<%= q_id %>">
                <option value="">-=请选择一项=-</option>
                <option value="1">推荐</option>
                <option value="0" selected="selected" >不推荐</option>
            </select>
        </td>-->
        <td class="am-text-middle"><%= create_time %></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a  data-id="<%= id %>" class="editRecruit">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= id %>" class="tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="de<%= id %>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= id %>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="edit<%= id %>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">编辑</div>
            <div class="am-modal-bd"> 
                <!-- 本地生活 信息展示类 -->
                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">标题 <span class="red">*</span></label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入标题,2-30个字符" class='title<%= id %>' minlength="2" maxlength="30" value="<%= name %>" required onblur="validate(this,2,30,8)">
                        </div>
                        <small class="am-u-sm-1 red redtips8" style="display: none;"><i class="am-icon-close"></i></small>
                        <small class="am-u-sm-1 green blacktips8" style="display: none;"><i class="am-icon-check"></i></small>
                    </div>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">联系人 <span class="red">*</span></label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入联系人，2-10个字符" onblur="validate(this,2,10,10)" value="<%= link_man %>" maxlength="10" minlength="2" class='link_man<%= id %>' required>
                        </div>
                        <small class="am-u-sm-1 red redtips10" style="display: none;"><i class="am-icon-close"></i></small>
                        <small class="am-u-sm-1 green blacktips10" style="display: none;"><i class="am-icon-check"></i></small>
                    </div>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                        <div class="am-u-sm-8">
                            <input type="tel" onblur="validate(this,11,12,11)" class="js-pattern-mobile phone<%= id %>" value="<%= phone %>" placeholder="输入合法的手机号" minlength="11" maxlength="12" required>
                        </div>
                        <small class="am-u-sm-1 red redtips11" style="display: none;"><i class="am-icon-close"></i></small>
                        <small class="am-u-sm-1 green blacktips11" style="display: none;"><i class="am-icon-check"></i></small>
                    </div>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">内容 <span class="red">*</span></label>
                        <div class="am-u-sm-8">
                            <textarea  name='content' class='content<%= id%>' rows="8" required placeholder="请输入详细地址，2-200个字符" onchange="validate(this,2,200,6)" minlength="2" maxlength="200"><%= content.content %></textarea>
                        </div>
                        <small class="am-u-sm-1 red redtips12" style="display: none;"><i class="am-icon-close"></i></small>
                        <small class="am-u-sm-1 green blacktips12" style="display: none;"><i class="am-icon-check"></i></small>
                    </div>
                    <div class="am-form-group am-cf">
                        <label class="am-u-sm-3 am-form-label">类型<span class="red">*</span></label>
                        <div class="am-u-sm-8 am-u-end">
                            <% if(type_name == '5') { %>
                            <select class="am-form-field isbusiness" id="isbusiness<%= id %>" data-id="<%= id %>" name="type_name" onchange="chooseZhaopin(this)">
                                <option value="">-=请选择一项=-</option>
                                <option value="5" selected="selected">求职</option>
                                <option value="4">招聘</option>
                            </select>
                            <% } else { %>
                            <select class="am-form-field isbusiness" id="isbusiness<%= id %>" data-id="<%= id %>" name="type_name" onchange="chooseZhaopin(this)">
                                <option value="">-=请选择一项=-</option>
                                <option value="5" >求职</option>
                                <option value="4" selected="selected" >招聘</option>
                            </select>
                            <% } %>
                        </div>
                        
                    </div>
                    <div class="otherMessage" id="otherMessage<%= id %>">
                        <div class="am-form-group am-cf">
                            <label class="am-u-sm-3 am-form-label">公司名称 <span class="red">*</span></label>
                            <div class="am-u-sm-8">
                                <input type="text" class="title<%= id%>" placeholder="请输入联系人，2-30个字符" value="<%= name%>" onblur="validate(this,2,30,15)" maxlength="10" minlength="2" name='title' required>
                            </div>
                            <small class="am-u-sm-1 red redtips15" style="display: none;"><i class="am-icon-close"></i></small>
                            <small class="am-u-sm-1 green blacktips15" style="display: none;"><i class="am-icon-check"></i></small>
                        </div>
                        <div class="am-form-group am-cf" >
                            <label class="am-u-sm-3 am-form-label">地址 <span class="red">*</span></label>
                            <div class="am-u-sm-8">
                                <textarea  name='address'  class="address<%= id%>"  rows="2"  required placeholder="请输入详细地址，2-100个字符" onchange="validate(this,2,100,14)" minlength="2" maxlength="200"><%= address%></textarea>
                            </div>
                            <small class="am-u-sm-1 red redtips16" style="display: none;"><i class="am-icon-close"></i></small>
                            <small class="am-u-sm-1 green blacktips16" style="display: none;"><i class="am-icon-check"></i></small>
                        </div>
                    </div>
                    <div class="am-form-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                        <button type="button" class="am-btn am-btn-danger saveRecruit" data-id="<%= id %>">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
</body>
</html>

