<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
} 
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.am-imgContainer{
width:50%;
}
.deleteImg{
        display: inline-block;
        border:1px solid #ddd;
        width:60px;
        height:20px;
        line-height: 20px;
        text-align: center;
        color:#666;
        font-size: 1.2rem;
        margin-left: 50px;
    }
</style>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="<?php echo site_url('/module/localLife/localLifeList');?>">本地生活</a> <small> > <a href="<?php echo site_url('/module/localLife/serviceList/'.$cateid);?>"><?php echo $title;?></a></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf"><?php if(isset($info['name'])){echo $info['name'];}else{echo $info['title'];}?> <small>详情</small></div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-9">
					<?php if($type_id == 1){?>
                        <!-- 本地生活 服务类 -->
                        <form class="am-form tpl-form-line-form" data-am-validator action='<?php echo site_url('/module/localLife/edit_service');?>' method='post' enctype='multipart/form-data' >
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">标题名 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                	<input type='hidden' name='type_id' value="<?php echo $type_id?>"/>
									<input type='hidden' name='type_name' value='<?php echo $info['type_name'];?>'/>
                                    <input type="text" placeholder="请输入标题" name='name' onblur="validate(this,2,100,1)" value='<?php echo $info['name'];?>' minlength="2" maxlength="100" required>
                                </div>
                                <small class="am-u-sm-1 red redtips1" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips1" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
							<div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">服务内容 <span class="red">*</span></label>
                                 <div class="am-u-sm-8">
                                    <textarea class="am-validate" rows='4' name='content' placeholder="如:空调·热水器·洗衣机类维修，2-500个字符" minlength="2" maxlength="500" onblur="validate(this,2,500,2)" id="myue" required><?php echo $info['content'];?></textarea>
                                </div>
                                <small class="am-u-sm-1 red redtips2" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips2" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">服务范围 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                    <input type="text" placeholder="如：邻水xxxx街道，2-40个字符" minlength="2" maxlength=40" onblur="validate(this,2,40,3)" name='service_cope' value='<?php echo $info['service_cope'];?>' required>
                                </div>
                                <small class="am-u-sm-1 red redtips3" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips3" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">评分 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                    <input type="number" placeholder="请输入评分,1-5之间的数字"  name='star' value="<?php echo $info['star']?>" min="1" max="5" minlength="1" maxlength="1" onblur="validate1(this,1,1,4)" required>
                                </div>
                                <small class="am-u-sm-1 red redtips4" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips4" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>    
							<div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">营业时间 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                    <input type="text" placeholder="例如：8:00-18:00" minlength="2" maxlength="15" onblur="validate(this,2,15,5)" name='open_time' value='<?php echo $info['open_time'];?>' required>
                                </div>
                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">联系人 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                    <input type="text" name='link_man' placeholder="请输入联系人，2-10个字符" minlength="2" maxlength="10" onblur="validate(this,2,10,6)" value='<?php echo $info['link_man'];?>' required>
                                </div>
                                <small class="am-u-sm-1 red redtips6" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips6" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                    <input type="tel" name='phone' minlength="11" maxlength="12" onblur="validate(this,11,12,7)" value='<?php echo $info['phone'];?>' class="js-pattern-mobile" placeholder="输入合法的手机号" required>
                                </div>
                                <small class="am-u-sm-1 red redtips7" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips7" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">详细地址 <span class="red">*</span></label>
                                <div class="am-u-sm-8">
                                    <input type="text" name='address' placeholder="请输入详细地址，2-50个字符" onblur="validate(this,2,50,8)" minlength="2" maxlength="50" value='<?php echo $info['address'];?>' required>
                                </div>
                                <small class="am-u-sm-1 red redtips8" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips8" style="display: none;"><i class="am-icon-check"></i></small>
                            </div> 
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">发布人身份<span class="red">*</span></label>
                                <div class="am-u-sm-3">
                                    <input type="radio" class="am-inline" name='isbusiness' value='1' <?php if($info['isbusiness'] == 1){echo "checked";}?> >商家
                                </div>
                                <div class="am-u-sm-3 am-u-end">
                                    <input type="radio" class="am-inline" name='isbusiness' value="0" <?php if($info['isbusiness'] != 1){echo "checked";}?> >个人
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
								<?php $banner = json_decode($info['pic'],true); $logo = json_decode($info['logo'],true);?>
                                <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>
                                <div class="am-u-sm-8 am-u-end">
										<div class="wx_type_img">
											<input type="file" id="imgUpload" name="img1" onchange="previewImage(this)" class="upload-add">
											<!-- 图片实时预览 -->
                                            <?php if(isset($banner[0]['picImg'])):?>
											<input type='hidden' name='img1' value='<?php echo $banner[0]['picImg'];?>' />
											<div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                            <?php else:?>
                                            <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                            <?php endif;?>
											
										</div><span>banner1</span>
                                        <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                        <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
										<?php if(isset($banner[1]['picImg'])):?>
										<div class="wx_type_img">
											<input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add">
											<!-- 图片实时预览 -->
											<input type='hidden' name='img2' value='<?php echo $banner[1]['picImg'];?>' />
											<div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[1]['picImg'];?>" class="am-img-responsive cardView"> </div>

										</div><span>banner2</span>
                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
										<?php else:?>
										<div class="wx_type_img">
											<input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add" >
											<!-- 图片实时预览 -->
											<div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

										</div><span>banner2</span>
                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
										<?php endif;?>
										<?php if(isset($banner[2]['picImg'])):?>
										<div class="wx_type_img">
											<input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add" >
											<!-- 图片实时预览 -->
											<input type='hidden' name='img3' value='<?php echo $banner[2]['picImg'];?>' />

											<div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[2]['picImg'];?>" class="am-img-responsive cardView"> </div>

										</div><span>banner3</span>
                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
										<?php else:?>
										<div class="wx_type_img">
											<input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add">
											<!-- 图片实时预览 -->
											<div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
											 
										</div><span>banner3</span>
                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
										<?php endif;?>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>
                                <div class="am-u-sm-8 am-u-end">
									<?php if(!empty($logo[0]['picImg'])):?>
                                    <div class="wx_type_img">
                                        <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add">
                                        <!-- 图片实时预览 -->
										<input hidden='type' name='logo' value='<?php echo $logo[0]['picImg'];?>'/>	
                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $logo[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                        <span class="am-text-xs">点击选择图片</span>
                                        <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small>
                                    </div>
									<?php else:?>
									<div class="wx_type_img">
                                        <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add" required>
                                        <!-- 图片实时预览 -->
                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                        <span class="am-text-xs">点击选择图片</span>
                                        <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small>
                                    </div>
									<?php endif;?>
									</div>
                            </div>
                     
                            <div class="am-form-group am-text-center am-btn-group-xs">
                                 <button type="reset" class="am-btn am-btn-default">重置</button>
                                 <input type='hidden' name='id' value='<?php echo $info['id'];?>'/>
								 <input type='hidden' name='cateid' value='<?php echo $cateid;?>'/>
                                 <button type="submit" class="am-btn am-btn-danger">提交</button>
                            </div>
                        </form>

						<?php }else if($type_id == 2){?>
                        <!-- 本地生活 房产资讯类类 -->
                                <form class="am-form tpl-form-line-form" data-am-validator action='<?php echo site_url('/module/localLife/edit_service');?>' method='post' enctype='multipart/form-data'  >
                                      <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">标题名 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
											<input type='hidden' name='type_id' value='<?php echo $type_id;?>'/>
                                            <input type="text" placeholder="请输入标题名" onblur="validate(this,2,100,9)" name='name' value='<?php echo $info['name'];?>' minlength="2" maxlength="100" required="">
                                        </div>
                                        <small class="am-u-sm-1 red redtips9" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips9" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">户型 </label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='house_layout' placeholder="请输入户型，2-30个字符" onblur="validate(this,2,30,10)" minlength="2" maxlength="30" value='<?php echo $info['house_layout'];?>' required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips10" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips10" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
									<div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">小区名称 </label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='quarters' onblur="validate(this,2,20,11)" placeholder="请输入小区名称，2-20个字符" minlength="2" maxlength="20" value='<?php echo $info['quarters'];?>' required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips11" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips11" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">小区地址 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name='area_address' onblur="validate(this,2,50,12)" placeholder="请输入小区地址，2-50个字符" minlength="2" maxlength="50" value='<?php echo $info['area_address'];?>' required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips12" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips12" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">房屋类型<span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <select name='house_type' required onchange="validate(this,2,50,28)">
                                                <option value="">-=请选择一项=-</option>
                                                <option value="二手房" <?php if($info['house_type'] == '二手房'){ echo "selected";}?>>二手房</option>
                                                <option value="新房" <?php if($info['house_type'] == '新房'){ echo "selected";}?>>新房</option>
                                                <option value="商铺" <?php if($info['house_type'] == '商铺'){ echo "selected";}?>>商铺</option>
                                                <option value="写字楼" <?php if($info['house_type'] == '写字楼'){ echo "selected";}?>>写字楼</option>
                                                <option value="学区房" <?php if($info['house_type'] == '学区房'){ echo "selected";}?>>学区房</option>
                                                <option value="其他" <?php if($info['house_type'] == '其他'){ echo "selected";}?>>其他</option>
                                            </select>
                                        </div>
                                        <small class="am-u-sm-1 red redtips28" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips28" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">中介名称 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='intermediary_name' placeholder="请输入中介名称，2-15个字符" onblur="validate(this,2,15,13)" minlength="2" maxlength="15" value='<?php echo $info['intermediary_name'];?>' required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips13" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips13" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">中介地址 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='address' minlength="2" maxlength="50" onblur="validate(this,2,50,14)" value='<?php echo $info['address'];?>' placeholder="如：邻水xxxx街道,2-50个字符" required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips14" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips14" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                   
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="tel" name="phone" minlength="11" maxlength="12" onblur="validate(this,11,12,15)" value='<?php echo $info['phone'];?>' class="js-pattern-mobile" placeholder="输入合法的手机号" required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips15" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips15" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">面积(平米) <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='house_area' minlength="2" maxlength="10" placeholder="请输入面积，2-10个字符" onblur="validate(this,2,10,16)" value='<?php echo $info['house_area'];?>'  required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips16" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips16" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">售价(元/平米) <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='avg_price' onblur="validate(this,2,10,17)" placeholder="请输入平均售价,2-10个字符" minlength="2" maxlength="10" value='<?php echo $info['avg_price'];?>'  required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips17" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips17" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div> 
									<div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">总售价(元) <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" minlength="2" maxlength="10" name='price' placeholder="请输入总售价,2-10个字符" onblur="validate(this,2,10,18)" value='<?php echo $info['price'];?>'  required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips18" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips18" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                 
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">发布人身份<span class="red">*</span></label>
                                        <div class="am-u-sm-3">
                                            <input type="radio" class="am-inline" name='isbusiness' value='1' <?php if($info['isbusiness'] == 1){echo "checked";}?> >商家
                                        </div>
                                        <div class="am-u-sm-3 am-u-end">
                                            <input type="radio" class="am-inline" name='isbusiness' value="0" <?php if($info['isbusiness'] != 1){echo "checked";}?> >个人
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>
                                        <div class="am-u-sm-8 am-u-end">
										<?php $banner = json_decode($info['pic'],true);?>
											<?php if(isset($banner[0]['picImg'])):?>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img1" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
												<input type='hidden' name='img1' value='<?php echo $banner[0]['picImg'];?>'/>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                <span class="am-text-xs">banner1</span>
                                            </div>
											<?php else:?>
											<div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img1" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <span class="am-text-xs">banner1</span>
                                            </div>
											<?php endif;?>
											<?php if(isset($banner[1]['picImg'])):?>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
												<input type='hidden' name='img2' value='<?php echo $banner[1]['picImg'];?>'/>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[1]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                <span class="am-text-xs">banner2</span>
                                            </div>
											<?php else:?>
											<div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner2</div>
                                            </div>
											<?php endif;?>
											<?php if(isset($banner[2]['picImg'])):?>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
												<input type='hidden' name='img3' value='<?php echo $banner[2]['picImg'];?>'/>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[2]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                <span class="am-text-xs">banner3</span>
                                            </div>
											<?php else:?>
											<div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner3</div>
                                            </div>
											<?php endif;?>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>
                                        <div class="am-u-sm-8 am-u-end">
										
                                            <div class="wx_type_img">
                                            <?php $list_pic = json_decode($info['list_pic'],true);?>
                                            <?php if(empty($list_pic[0]['picImg'])):?>
                                                <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <?php else:?>
                                                <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add">
											    <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $list_pic[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
												<input type='hidden' name='img4' value='<?php echo $list_pic[0]['picImg'];?>'/>
												<?php endif;?>
												<div class="am-text-xs">点击选择图片</div>
                                            </div>
										
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">房屋简介 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <textarea class="am-validate" name="content" placeholder="请输入房屋简介，2-500个字符" onblur="validate(this,2,500,20)" id="myue" minlength="2" maxlength=500" rows="5" required><?php echo $info['content'];?></textarea>
                                        </div>
                                        <small class="am-u-sm-1 red redtips20" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips20" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                     <div class="am-form-group am-text-center am-btn-group-xs">
                                        <button type="reset" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                        <input type='hidden' name='id' value='<?php echo $info['house_id'];?>'/>
										<input type='hidden' name='cateid' value='<?php echo $cateid;?>'/>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>

						<?php }else if($type_id == 3){?>
                        <!-- 跳蚤市场 -->
                        <form class="am-form tpl-form-line-form" action="<?php echo site_url('/module/localLife/edit_service');?>" method='post' enctype='multipart/form-data' data-am-validator>
                                     <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">宝贝名 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" placeholder="请输入宝贝名，2-15个字符" onblur="validate(this,2,15,21)" name='title' value="<?php echo $info['title']?>" minlength="2" maxlength="15" minlength="4" required="">
                                        </div>
                                        <small class="am-u-sm-1 red redtips21" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips21" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">售价 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" placeholder="请输入售价，2-10个字符" onblur="validate(this,2,10,22)" value="<?php echo $info['price']?>" minlength="2" maxlength="10" name='price' required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips22" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips22" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">新旧程度 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" value="<?php echo $info['colour']?>" name='colour' placeholder="如：9成新，2-10个字符" minlength="2" maxlength="10" onblur="validate(this,2,10,23)" required>
                                        </div>
                                        <small class="am-u-sm-1 red redtips23" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips23" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">商品类别<span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <select name='type' required onchange="validate(this,1,20,29)">
                                                <option value="">-=请选择一项=-</option>
												<?php foreach($type as $v):?>
                                                <option value="<?php echo $v['tagid'];?>" <?php if($info['type'] == $v['tagid']){echo "selected";}?>><?php echo $v['tag'];?></option>
												<?php endforeach;?>
                                            </select>
                                        </div>
                                        <small class="am-u-sm-1 red redtips29" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips29" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系地址 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="text" name='address' value="<?php echo $info['address']?>" placeholder="如：邻水xxxx街道，2-50个字符" minlength="2" maxlength="50" required onblur="validate(this,2,50,24)">
                                        </div>
                                        <small class="am-u-sm-1 red redtips24" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips24" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                  
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="tel" name="phone" value="<?php echo $info['phone']?>" class="js-pattern-mobile" placeholder="输入手机号" required onblur="validate(this,11,12,25)">
                                        </div>
                                        <small class="am-u-sm-1 red redtips25" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips25" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">评分 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <input type="number" onblur="validate1(this,1,1,26)" placeholder="请输入评分,1-5之间的数字" name='' min="1" max="5" required minlength="1" maxlength="1">
                                        </div>
                                        <small class="am-u-sm-1 red redtips26" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips26" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div> 
                                     <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">发布人身份<span class="red">*</span></label>
                                        <div class="am-u-sm-3">
                                            <input type="radio" class="am-inline" name='isbusiness' value='1' <?php if($info['isbusiness'] == 1){echo "checked";}?> >商家
                                        </div>
                                        <div class="am-u-sm-3 am-u-end">
                                            <input type="radio" class="am-inline" name='isbusiness' value="0" <?php if($info['isbusiness'] != 1){echo "checked";}?> >个人
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>
                                        <?php $banner = json_decode($info['pic'],true);?>
                                        <div class="am-u-sm-8 am-u-end">
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img1" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <?php if(isset($banner[0]['picImg'])):?>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                <input type='hidden' name='img1' value="<?php echo $banner[0]['picImg'];?>" />
	                                            <?php else:?>
	                                           	<div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
	                                            <?php endif;?>

                                            </div><sapn class="am-text-xs">banner1</span>
                                                <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                 <?php if(isset($banner[1]['picImg'])):?>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[1]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                <input type='hidden' name='img2' value="<?php echo $banner[1]['picImg'];?>" />
	                                            <?php else:?>
	                                            	  <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
	                                            <?php endif;?>

                                            </div><span class="am-text-xs">banner2</span>
                                                <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                  <?php if(isset($banner[2]['picImg'])):?>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[2]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                        <input type='hidden' name='img3' value="<?php echo $banner[2]['picImg'];?>" />
	                                            <?php else:?>
	                                            	  <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
	                                            <?php endif;?>

                                            </div><span class="am-text-xs">banner3</span>
                                                <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>
                                        <div class="am-u-sm-8 am-u-end">
                                            <div class="wx_type_img">
                                                <?php $list_pic = json_decode($info['list_pic'],true);?>
                                                <!-- 图片实时预览 -->
                                               <?php if(!empty($list_pic[0]['picImg'])):?>
                                                <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add" required>
                                                <div class="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $list_pic[0]['picImg'];?>" class="am-img-responsive cardView"> </div>
                                                 <input type='hidden' name='list_pic' value="<?php echo $list_pic[0]['picImg'];?>" />
	                                            <?php else:?>
                                                <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add">
	                                            <div class="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
	                                            <?php endif;?>
                                            </div>
                                            <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">简介 <span class="red">*</span></label>
                                        <div class="am-u-sm-8">
                                            <textarea class="am-validate" placeholder="请输入简介，2-500个字符" onblur="validate(this,2,500,27)" name="content" id="myue" rows="5" minlength="2" maxlength="500" required><?php echo $info['content'];?></textarea>
                                        </div>
                                        <small class="am-u-sm-1 red redtips27" style="display: none;"><i class="am-icon-close"></i></small>
                                        <small class="am-u-sm-1 green blacktips27" style="display: none;"><i class="am-icon-check"></i></small>
                                    </div>
                                    <div class="am-form-group am-text-center am-btn-group-xs">
                                        <button type="reset" class="am-btn am-btn-default">重置</button>
                                        <input type='hidden' name='id' value="<?php echo $info['id']?>"/>
                                        <input type='hidden' name='type_id' value="<?php echo $type_id;?>"/>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>
								<?php }?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript">
    //表单验证函数
    function validate(obj,minlen,maxlen,i){
        var content=obj.value;
        if(content.length<minlen || content.length>maxlen){
            $('.blacktips'+ i).css('display','none');
            $('.redtips'+ i).css('display','inline-block');
        }else{
            $('.redtips'+ i).css('display','none');
            $('.blacktips'+ i).css('display','inline-block');
        }
    }
    function validate1(obj,minlen,maxlen,i){
        var content=obj.value;
        if(content.length<minlen || content.length>maxlen || parseInt(content)>5 || parseInt(content)<1){
            $('.blacktips'+ i).css('display','none');
            $('.redtips'+ i).css('display','inline-block');
        }else{
            $('.redtips'+ i).css('display','none');
            $('.blacktips'+ i).css('display','inline-block');
        }
    }
    //删除图片
    $(".deleteImg").click(function(){
        
        $(this).prevUntil('.preview').find('img').attr('src','assets/img/nullImg.jpg');
        
    });
</script>
</body>
</html>

