<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.am-imgContainer{
width:50%;
}
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo base_url().'admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/shop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/shop/addShop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增商家
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberCard';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
    <!-- <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动审核
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动/促销审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 团购审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 特卖审核
                </a>
            </li>
        </ul>
    </li> -->
    <li class="sidebar-nav-link">
        <a href="calendar.html" class="sub-active">
            <i class="am-icon-map-marker sidebar-nav-link-logo"></i> 本地生活
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="form.html">
            <i class="am-icon-money sidebar-nav-link-logo"></i> 充值缴费
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="chart.html">
            <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="table-list.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="sign-up.html">
            <i class="am-icon-heart sidebar-nav-link-logo"></i> 一键钟情
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 管理员管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-unlock sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="404.html">
            <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
        </a>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 本地生活 <small>维修服务</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">本地生活类别名 <small>列表名</small></div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-9">
                        <!-- 本地生活 服务类 -->
                        <form class="am-form tpl-form-line-form" data-am-validator>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">标题名 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" placeholder="请输入标题" minlength="4" required="">
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">星级 </label>
                                <div class="am-u-sm-9">
                                    <input type="number" min="0">
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">标签说明 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">公司名称 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">服务内容 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" placeholder="如:空调·热水器·洗衣机类维修" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">服务范围 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" placeholder="如：邻水xxxx街道" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">联系人 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="phone" class="js-pattern-mobile" placeholder="输入手机号" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">详细地址 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" required>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <div class="wx_type_img">
                                        <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                        <!-- 图片实时预览 -->
                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                        <div class="am-text-xs">banner1</div>
                                    </div>
                                    <div class="wx_type_img">
                                        <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add">
                                        <!-- 图片实时预览 -->
                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                        <div class="am-text-xs">banner2</div>
                                    </div>
                                    <div class="wx_type_img">
                                        <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add">
                                        <!-- 图片实时预览 -->
                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                        <div class="am-text-xs">banner3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>
                                <div class="am-u-sm-9">
                                    <div class="wx_type_img">
                                        <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                        <!-- 图片实时预览 -->
                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                        <div class="am-text-xs">点击选择图片</div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group am-cf">
                                <label class="am-u-sm-3 am-form-label">服务简介 <span class="red">*</span></label>
                                 <div class="am-u-sm-9">
                                    <textarea class="am-validate" name="myue" id="myue" required></textarea>
                                </div>
                            </div>
                            <div class="am-form-group am-text-center am-btn-group-xs">
                                <button type="reset" class="am-btn am-btn-default">重置</button>
                                <button type="submit" class="am-btn am-btn-danger">提交</button>
                            </div>
                        </form>


                        <!-- 本地生活 房产资讯类类 -->
                                <form class="am-form tpl-form-line-form" data-am-validator>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">标题名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="请输入标题" minlength="4" required="">
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">户型 </label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">标签说明 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">房屋地址 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">房屋类型<span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select required>
                                                <option value="">-=请选择一项=-</option>
                                                <option value="option1">二手房</option>
                                                <option value="option2">新房</option>
                                                <option value="option3">商铺</option>
                                                <option value="option3">写字楼</option>
                                                <option value="option3">学区房</option>
                                                <option value="option3">其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">中介名称 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">公司地址 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="如：邻水xxxx街道" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">中介 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="phone" class="js-pattern-mobile" placeholder="输入手机号" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">面积(平米) <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="number" min="0" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">售价(元/平米) <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="number" min="0" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner1</div>
                                            </div>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner2</div>
                                            </div>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner3</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">点击选择图片</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">房屋简介 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <textarea class="am-validate" name="myue" id="myue" rows="5" required></textarea>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-text-center am-btn-group-xs">
                                        <button type="reset" class="am-btn am-btn-default">重置</button>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>


                        <!-- 跳蚤市场 -->
                        <form class="am-form tpl-form-line-form" data-am-validator>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">宝贝名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="请输入标题" minlength="4" required="">
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">售价范围 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">标签说明 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">新旧 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="如：9成新" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">商品类别<span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <select required>
                                                <option value="">-=请选择一项=-</option>
                                                <option value="option1">数码</option>
                                                <option value="option2">文具</option>
                                                <option value="option3">服装</option>
                                                <option value="option3">美妆</option>
                                                <option value="option3">家用电器</option>
                                                <option value="option3">其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系地址 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" placeholder="如：邻水xxxx街道" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系人 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="phone" class="js-pattern-mobile" placeholder="输入手机号" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner1</div>
                                            </div>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner2</div>
                                            </div>
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add">
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">banner3</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <div class="wx_type_img">
                                                <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                                <!-- 图片实时预览 -->
                                                <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <div class="am-text-xs">点击选择图片</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">简介 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">
                                            <textarea class="am-validate" name="myue" id="myue" rows="5" required></textarea>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-text-center am-btn-group-xs">
                                        <button type="reset" class="am-btn am-btn-default">重置</button>
                                        <button type="submit" class="am-btn am-btn-danger">提交</button>
                                    </div>
                                </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
