<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

} 

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

width:50%;

}

.deleteImg{

        display: inline-block;

        border:1px solid #ddd;

        width:60px;

        height:20px;

        line-height: 20px;

        text-align: center;

        color:#666;

        font-size: 1.2rem;

        margin-left: 50px;

    }

    .am-form-group.am-cf .am-u-sm-9 {

        float: right;

    }

</style>

<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="<?php echo site_url('/module/localLife/localLifeList');?>">本地生活</a> <small> > <a href="<?php echo site_url('/module/localLife/serviceList/'.$cateid);?>"><?php echo $title;?></a></small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf"><?php if(isset($info['name'])){echo $info['name'];}else{echo $info['title'];}?> <small>详情</small></div>

                </div>

                <div class="widget-body  am-fr">

                    <div class="am-u-sm-9">

                        <!-- 本地生活 服务类 -->

                        <form class="am-form tpl-form-line-form" data-am-validator action='<?php echo site_url('/module/LocalLife/edit_service');?>' method='post' enctype='multipart/form-data' >

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">标题名 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                	<input type='hidden' name='type_id' value="<?php echo $type_id?>"/>

									<input type='hidden' name='type_name' value="<?php echo $info['type_name'];?>"/>

                                    <input type="text" placeholder="请输入标题" name='name' onblur="validate(this,2,100,1)" value="<?php echo $info['name'];?>" minlength="2" maxlength="100" required>

                                </div>

                                <small class="am-u-sm-1 red redtips1" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips1" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>
                            <?php if($_SESSION['city'] == '0'):?>
                                    <div class="am-form-group am-cf">

                                        <label class="am-u-sm-3 am-form-label">所属城市 <span class="red">*</span></label>

                                        <div class="am-u-sm-8">
                                            <select name="city" id="">
                                                <option value="">请选择一项</option>
                                                <option value="1" <?php if($info['city'] == '1'){echo "selected";}?>>重庆</option>
                                                <option value="2" <?php if($info['city'] == '2'){echo "selected";}?>>南江</option>
                                                <option value="3" <?php if($info['city'] == '3'){echo "selected";}?>>宣汉</option>
                                                <option value="4" <?php if($info['city'] == '4'){echo "selected";}?>>邻水</option>
                                            </select>


                                        </div>

                                        <small class="am-u-sm-1 red redtips1" style="display: none;"><i class="am-icon-close"></i></small>

                                        <small class="am-u-sm-1 green blacktips1" style="display: none;"><i class="am-icon-check"></i></small>

                                    </div>

                                    <?php endif;?>
							<div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">服务内容 <span class="red">*</span></label>

                                 <div class="am-u-sm-8">

                                    <textarea class="am-validate" rows='4' name='content' placeholder="如:空调·热水器·洗衣机类维修，2-500个字符" minlength="2" maxlength="500" onblur="validate(this,2,500,2)" id="myue" required><?php echo $info['content'];?></textarea>

                                </div>

                                <small class="am-u-sm-1 red redtips2" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips2" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">服务范围 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                    <input type="text" placeholder="如：邻水xxxx街道，2-40个字符" minlength="2" maxlength="40" onblur="validate(this,2,40,3)" name='service_cope' value="<?php echo $info['service_cope'];?>" required>

                                </div>

                                <small class="am-u-sm-1 red redtips3" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips3" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">评分 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                    <input type="number" placeholder="请输入评分,1-5之间的数字"  name='star' value="<?php echo $info['star']?>" min="1" max="5" minlength="0" maxlength="1" onblur="validate1(this,0,1,4)" required>

                                </div>

                                <small class="am-u-sm-1 red redtips4" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips4" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>    

							<div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">营业时间 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                    <input type="text" placeholder="例如：8:00-18:00" minlength="2" maxlength="15" onblur="validate(this,2,15,5)" name='open_time' value="<?php echo $info['open_time'];?>" required>

                                </div>

                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">联系人 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                    <input type="text" name='link_man' placeholder="请输入联系人，2-11个字符" minlength="2" maxlength="11" onblur="validate(this,2,11,6)" value="<?php echo $info['link_man'];?>" required>

                                </div>

                                <small class="am-u-sm-1 red redtips6" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips6" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">联系电话 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                    <input type="tel" name='phone' minlength="11" maxlength="12" onblur="validate(this,11,12,7)" value="<?php echo $info['phone'];?>" class="js-pattern-mobile" placeholder="输入合法的手机号" required>

                                </div>

                                <small class="am-u-sm-1 red redtips7" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips7" style="display: none;"><i class="am-icon-check"></i></small>

                            </div>

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">详细地址 <span class="red">*</span></label>

                                <div class="am-u-sm-8">

                                    <input type="text" name='address' placeholder="请输入详细地址，2-50个字符" onblur="validate(this,2,50,8)" minlength="2" maxlength="50" value="<?php echo $info['address'];?>" required>

                                </div>

                                <small class="am-u-sm-1 red redtips8" style="display: none;"><i class="am-icon-close"></i></small>

                                <small class="am-u-sm-1 green blacktips8" style="display: none;"><i class="am-icon-check"></i></small>

                            </div> 

                            <div class="am-form-group am-cf">

                                <label class="am-u-sm-3 am-form-label">发布人身份<span class="red">*</span></label>

                                <div class="am-u-sm-3">

                                    <input type="radio" class="am-inline" name='isbusiness' value='1' <?php if($info['isbusiness'] == 1){echo "checked";}?> >商家

                                </div>

                                <div class="am-u-sm-3 am-u-end">

                                    <input type="radio" class="am-inline" name='isbusiness' value="0" <?php if($info['isbusiness'] != 1){echo "checked";}?> >个人

                                </div>

                            </div>

                            <div class="am-form-group am-cf">

								<?php $banner = json_decode($info['pic'],true); $logo = json_decode($info['logo'],true);?>

                                <label class="am-u-sm-3 am-form-label">详情banner图 <span class="red">*</span></label>

                                <div class="am-u-sm-9">

									<div class="wx_type_img">

										<input type="file" id="imgUpload" name="img1" onchange="previewImage(this)" class="upload-add">

										<!-- 图片实时预览 -->

                                        <?php if(isset($banner[0]['picImg'])):?>

										<input type='hidden' name='img1' value='<?php echo $banner[0]['picImg'];?>' />

										<div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[0]['picImg'];?>" class="am-img-responsive cardView"> </div>

                                        <?php else:?>

                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

                                        <?php endif;?>

										

									</div><span>banner1</span>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small> 

                                </div>

                                <?php if(isset($banner[1]['picImg'])):?>

                                <div class="am-u-sm-9">

									<div class="wx_type_img">

										<input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add">

										<!-- 图片实时预览 -->

										<input type='hidden' name='img2' value='<?php echo $banner[1]['picImg'];?>' />

										<div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[1]['picImg'];?>" class="am-img-responsive cardView"> </div>



									</div><span>banner2</span>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small> 	

                                </div>

                                <?php else:?>

                                <div class="am-u-sm-9">

									<div class="wx_type_img">

										<input type="file" id="imgUpload" name="img2" onchange="previewImage(this)" class="upload-add" >

										<!-- 图片实时预览 -->

										<div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>



									</div><span>banner2</span>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small> 

                                </div>

								<?php endif;?>

								<?php if(isset($banner[2]['picImg'])):?>

                                <div class="am-u-sm-9">

									<div class="wx_type_img">

										<input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add" >

										<!-- 图片实时预览 -->

										<input type='hidden' name='img3' value='<?php echo $banner[2]['picImg'];?>' />



										<div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $banner[2]['picImg'];?>" class="am-img-responsive cardView"> </div>



									</div><span>banner3</span>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

                                </div>

								<?php else:?>

                                <div class="am-u-sm-9">

									<div class="wx_type_img">

										<input type="file" id="imgUpload" name="img3" onchange="previewImage(this)" class="upload-add">

										<!-- 图片实时预览 -->

										<div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

										 

									</div><span>banner3</span>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small> 	

                                </div>

                                <?php endif;?>

                            </div>

                            <div class="am-form-group am-cf">

                                <label for="imgUpload" class="am-u-sm-3 am-form-label">缩略图 <span class="red">*</span></label>

                                <div class="am-u-sm-9">

									<?php if(!empty($logo[0]['picImg'])):?>

                                    <div class="wx_type_img">

                                        <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add">

                                        <!-- 图片实时预览 -->

										<input hidden='type' name='logo' value='<?php echo $logo[0]['picImg'];?>'/>	

                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="<?php echo $logo[0]['picImg'];?>" class="am-img-responsive cardView"> </div>

                                       

                                    </div><span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

									<?php else:?>

									<div class="wx_type_img">

                                        <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add">

                                        <!-- 图片实时预览 -->

                                        <div id="preview"> <img style="border-radius: 3px;width:8rem" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>

                                        

                                    </div>

                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>

                                    <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif，图片大小不超过800kb;</small>

									<?php endif;?>

								</div>

                            </div>

                     

                            <div class="am-form-group am-text-center am-btn-group-xs">

                                 <button type="reset" class="am-btn am-btn-default">重置</button>

                                 <input type='hidden' name='id' value='<?php echo $info['id'];?>'/>

								 <input type='hidden' name='cateid' value='<?php echo $cateid;?>'/>

                                 <button type="submit" class="am-btn am-btn-danger">提交</button>

                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</div>

</div>

</div>

<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>


<script type="text/javascript">

    //表单验证函数

    function validate(obj,minlen,maxlen,i){

        var content=obj.value;

        if(content.length<minlen || content.length>maxlen){

            $('.blacktips'+ i).css('display','none');

            $('.redtips'+ i).css('display','inline-block');

        }else{

            $('.redtips'+ i).css('display','none');

            $('.blacktips'+ i).css('display','inline-block');

        }

    }

    function validate1(obj,minlen,maxlen,i){

        var content=obj.value;

        if(content.length<minlen || content.length>maxlen || parseInt(content)>5 || parseInt(content)<1){

            $('.blacktips'+ i).css('display','none');

            $('.redtips'+ i).css('display','inline-block');

        }else{

            $('.redtips'+ i).css('display','none');

            $('.blacktips'+ i).css('display','inline-block');

        }

    }

    //删除图片

    $(".deleteImg").click(function(){

        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');

        $(this).siblings('.wx_type_img').find('input').eq(0).val("");

    });

</script>

</body>

</html>



