<?php $this->load->view('common.html');?>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-building sidebar-nav-link-logo"></i> 商场管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollBrief';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商场简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollFloorInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 楼层信息
                </a>
            </li>
             <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollyetaiList';?>" >
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollAddYetai';?>">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增业态
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub"  style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop/addShop';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增商家
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商城管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 
                    商品列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsSort';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品分类
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeOrderList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeDeliveryList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 快递管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> Banner管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/banner/banner';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> Banner列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/banner/banner/addBanner';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增Banner
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberLimit';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberCard';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 主页模块
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/localLife/localLifeList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 本地生活
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/module/charge';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值缴费
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 一键钟情
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/homeReport/index';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 家乡报道
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 为民服务
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> HI.团购
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 购物中心
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线金融
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 游戏娱乐
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优品汇
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="chart.html">
            <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="table-list.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 管理员管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-unlock sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="404.html">
            <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
        </a>
    </li>

</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 
            <a href="<?php echo site_url().'/shop/shop';?>">商家列表</a><small>/新增商家</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="" method="" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">商家基础信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group">
                                <label for="doc-vld-name-1">商场名 <span class="red">*</span>：</label>
                                <input type="text" name="doc-vld-name-1" id="marketName" minlength="2" value="宏帆广场" readonly required />
                            </div>
                            <div class="am-form-group">
                                <label for="manageBrand">经营品牌 <span class="red">*</span>：</label>
                                <select id="manageBrand" name="manageBrand" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="0">xxxx</option>
                                    <option value="1">xxxx</option>
                                    <option value="2">xxxx</option>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="shopName">商家名称 ：</label>
                                <input type="text" id="shopName" name="shopName" value="" required />
                            </div>
                            <div class="am-form-group">
                                <label for="englishName">英文名称 ：</label>
                                <input type="text" id="englishName" name="englishName" value=""/>
                            </div>
                            <div class="am-form-group">
                                <label for="onlineTime">开业时间<span class="red">*</span>：</label>
                                <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                  <input type="text" name="onlineTime" id="onlineTime" class="am-form-field" placeholder="日历组件" readonly>
                                  <span class="am-input-group-btn am-datepicker-add-on">
                                    <button class="am-btn am-btn-secondary" type="button"><span class="am-icon-calendar"></span> </button>
                                  </span>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="oneType">一级业态<span class="red">*</span>：</label>
                                <select id="oneType" name="oneType" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="option1">百货</option>
                                    <option value="option2">配套服务</option>
                                    <option value="option3">超市/便利店</option>
                                    <option value="option3">数码音像</option>
                                    <option value="option3">家居生活</option>
                                    <option value="option3">儿童</option>
                                    <option value="option3">休闲娱乐</option>
                                    <option value="option3">餐饮</option>
                                    <option value="option3">饰品</option>
                                    <option value="option3">药品/护理/保健</option>
                                    <option value="option3">鞋包</option>
                                    <option value="option3">服装</option>
                                </select>
                            </div>
                             <div class="am-form-group">
                                <label for="twoType">二级业态<span class="red">*</span>：</label>
                                <select id="twoType" name="twoType" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="option1">OUTLETS</option>
                                    <option value="option2">百货</option>
                                </select>
                            </div>
                        </div>
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group">
                                <label for="shopType">商家类型 <span class="red">*</span>：</label>
                                <select id="shopType" name="shopType" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="option1">普通</option>
                                    <option value="option2">餐饮</option>
                                    <option value="option3">影院</option>
                                    <option value="option3">KTV</option>
                                    <option value="option3">冰场</option>
                                </select>
                                <span class="am-form-caret"></span>
                            </div>
                            <div class="am-form-group">
                                <label for="shopState">营业状态<span class="red">*</span>：</label>
                                <select id="shopState" name="shopState" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="option1">营业中</option>
                                    <option value="option2">装修中</option>
                                    <option value="option3">停止营业</option>
                                    <option value="option3">即将营业</option>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="shopFloor">所在楼层<span class="red">*</span>：</label>
                                <select id="shopFloor" name="shopFloor" required>
                                    <option value="0">F1</option>
                                    <option value="1">F2</option>
                                    <option value="2">F3</option>
                                    <option value="3">F4</option>
                                    <option value="4">F5</option>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="businessTime">营业时间<span class="red">*</span>：</label>
                                <input type="text" placeholder="9:20-22:00" class="" name="comments"  id="comments"  min="0" required />
                                
                            </div>
                            <div class="am-form-group">
                                <label for="area">面积/平方米<span class="red">*</span>：</label>
                                <input type="number" name="area" id="area" min="0" required />
                            </div>
                            <div class="am-form-group">
                                <label for="comments">当前评价<span class="red">*</span>：</label>
                                <input type="number" class="" name="comments"  id="comments"  min="0" required />
                            </div>
                            <div class="am-form-group">
                                <label class="am-form-label" data-am-popover="{content: '开启口令验证，用户可以在商场用口令自助验证券', trigger: 'hover focus'}">是否开启核销口令:</label>
                                <label class="am-radio-inline">
                                    <input type="radio" value="1" name="docVlCb"> 是
                                </label>
                                <label class="am-checkbox-inline">
                                    <input type="radio" value="0" name="docVlCb"> 否
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="am-form-group am-text-center">
                        <button class="am-btn am-btn-default" type="reset">重置</button> <button class="am-btn am-btn-secondary" type="submit">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
<script type="text/javascript">
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
</script>
</html>
