
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理
            <a href="<?php echo site_url().'/shop/shop/addShop';?>" style="font-size:16px;">新增商家</a><small></small></div>
        </div>
    </div> 
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo site_url('/shop/shop/add_shop_store');?>" method="post" enctype="multipart/form-data" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">商家基础信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group">
                                <label for="doc-vld-name-1">商场名 <span class="red">*</span>：</label>
                                <input type="text" id="marketName" minlength="2" value="宏帆广场" readonly required />
                            </div>
                            <div class="am-form-group">
                                <label for="username">账户 <span class="red">*</span>：</label>
                                <input type="text" minlength="2" name="username" required />
                            </div> 
                            <div class="am-form-group">
                                <label for="password">密码 <span class="red">*</span>：</label>
                                <input type="password" name="password" minlength="6"  required />
                            </div>
                         
                            <div class="am-form-group">
                                <label for="shopName">商家名称 ：</label>
                                <input type="text" id="shopName" name="store_name" value="" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="englishName">英文名称 ：</label>
                                <input type="text" id="englishName" name="en_name" value=""/>
                            </div>
                            <div class="am-form-group">
                                <label for="onlineTime">开业时间<span class="red">*</span>：</label>
                                <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                  <input type="text" name="open_busin" id="startBusinessTime" class="am-form-field" placeholder="日历组件" readonly>
                                  <span class="am-input-group-btn am-datepicker-add-on">
                                    <button class="am-btn am-btn-secondary" type="button"><span class="am-icon-calendar"></span> </button>
                                  </span>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="oneType">一级业态<span class="red">*</span>：</label>
                                <select id="firstYetai" name="commercial_type_name" required>
                                    <option value="">-=请选择一项=-</option>
                                    <?php foreach($yetai as $val):?>
                                    <option value="<?php echo $val['id'];?>"><?php echo $val['type_name'];?></option>
                                <?php endforeach;?>
                                  
                                </select>
                            </div>
                            <div class="am-form-group" id="secondYetai" style="clear: both;display: none;">
                                <label for="subcommercial_type_name">二级业态<span class="red">*</span>：</label>
                                <select name="subcommercial_type_name" id="secondYetaiSelect" required>
                                    <option value="">-=请选择一项=-</option>
                                </select>
                            </div>
                        </div>
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                           <div class="am-form-group">
                                <label for="manageBrand">经营品牌 <span class="red">*</span>：</label>
                               <!--  <select id="manageBrand" name="barnd_name" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="0">xxxx</option>
                                    <option value="1">xxxx</option>
                                    <option value="2">xxxx</option>
                                </select> -->
                                 <input type="text" id="barnd_name" name="barnd_name" value=""/>
                            </div>
                            <div class="am-form-group">
                                <label for="shopType">商家类型 <span class="red">*</span>：</label>
                                <select id="shopType" name="store_type" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="普通">普通</option>
                                    <option value="餐饮">餐饮</option>
                                    <option value="影院">影院</option>
                                    <option value="KTV">KTV</option>
                                    <option value="冰场">冰场</option>
                                </select>
                                <span class="am-form-caret"></span>
                            </div>
                            <div class="am-form-group">
                                <label for="shopState">营业状态<span class="red">*</span>：</label>
                                <select id="shopState" name="op_status" required>
                                    <option value="">-=请选择一项=-</option>
                                    <option value="营业中">营业中</option>
                                    <option value="装修中">装修中</option>
                                    <option value="停止营业">停止营业</option>
                                    <option value="即将营业">即将营业</option>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="shopFloor">所在楼层<span class="red">*</span>：</label>
                                <select id="shopFloor" name="floor_name" required>
                                    <option value="0">F1</option>
                                    <option value="1">F2</option>
                                    <option value="2">F3</option>
                                    <option value="3">F4</option>
                                    <option value="4">F5</option>
                                </select>
                            </div>
                            <div class="am-form-group">
                                <label for="businessTime">店铺编号<span class="red">*</span>：</label>
                                <input type="text" placeholder="1001" class="" name="door_no"  id="comments"  min="0" required />
                                
                            </div>
                            <div class="am-form-group">
                                <label for="businessTime">营业时间<span class="red">*</span>：</label>
                                <input type="text" placeholder="9:20-22:00" class="" name="business_hours"  id="comments"  min="0" required />
                                
                            </div>
                            <div class="am-form-group">
                                <label for="area">面积/平方米<span class="red">*</span>：</label>
                                <input type="number" name="area" id="area" min="0" required />
                            </div>
                           
                            <div class="am-form-group">
                                <label class="am-form-label" data-am-popover="{content: '开启口令验证，用户可以在商场用口令自助验证券', trigger: 'hover focus'}">是否开启核销口令:</label>
                                <label class="am-radio-inline">
                                    <input type="radio" value="1" name="verification"> 是
                                </label>
                                <label class="am-checkbox-inline">
                                    <input type="radio" value="0" name="verification"> 否
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="am-form-group am-text-center">
                        <button class="am-btn am-btn-default" type="reset">重置</button> <button class="am-btn am-btn-secondary" id="submit" type="submit">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

<script type="text/javascript">
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });


$(document).ready(function(){
    $('#firstYetai').change(function(){
        //根据一级业态的内容来控制二级业态的显示
        var firstYetai=$('#firstYetai option:selected').val(),str='',sttr='';
        $.ajax({
            type:'post',
            url:'<?php echo site_url('/shop/singleShop/shop_store_type');?>',
            data: 'gid='+ firstYetai,
            success: function(data){   
                var jsonData=eval(data);
                console.log(jsonData);
                if(data){
                    
                    for(var i=0;i<jsonData.length;i++){
                        str='<option value="'+ jsonData[i].id +'">' + jsonData[i].type_name + '</option>';
                        sttr=sttr+str;
                    }
                    console.log(sttr);
                    $('#secondYetai').css('display','block');
                    $("#secondYetaiSelect").append(sttr);
                }else{
                    alert("操作失败，请检查网络设置！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("操作失败，请检查网络设置！");
            }
        });
    });

    //点击保存按钮作验证
    $('#submit').click(function(){
        if($('#startBusinessTime').val()==""){
            alert("请选择开业时间！");
            return false;
        }else{
            return true;
        }
    });

})
</script>
