<style type="text/css">
    input{
        display: inline-block !important;
    } 
</style>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理
            <?php if($type == 1):?>
            <a href="<?php echo site_url().'/shop/Shop/marketBusiness';?>" style="font-size:16px;">商家列表</a>
            <?php else:?>
            <a href="<?php echo site_url().'/shop/Shop/index';?>" style="font-size:16px;">商家列表</a>
            <?php endif;?>
            <small>
            新增商家</small></div>
        </div>
    </div> 
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo site_url('/shop/shop/add_shop_store');?>" method="post" enctype="multipart/form-data" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">商家基础信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group  am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="marketName" class="am-u-sm-3 am-form-label">商场名 <span class="red">*</span>：</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <input type="text" id="marketName" minlength="2" value="宏帆广场" readonly required />
                                </div>
                                
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="username" class="am-u-sm-3 am-form-label">账户 <span class="red">*</span>：</label>
                                <div class="am-u-sm-8">
                                    <input type="text" minlength="2" placeholder="请输入2-15个字符" name="username" required onblur="validate(this,2,15,2)" />
                                </div>
                                <small class="am-u-sm-1 red redtips2" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips2" style="display: none;"><i class="am-icon-check"></i></small>
                            </div> 
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="password" class="am-u-sm-3 am-form-label">密码 <span class="red">*</span>：</label>
                                <div class="am-u-sm-8">
                                    <input type="password" name="password" placeholder="请输入6-16位的密码" minlength="6" maxlength="16" required onblur="validate(this,6,16,3)" />
                                </div>
                                <small class="am-u-sm-1 red redtips3" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips3" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                         
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="store_name" class="am-u-sm-3 am-form-label">商家名称 <span class="red">*</span>：</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <input type="text"  placeholder="请输入2-20个字符" name="store_name" required onblur="validate(this,2,20,4)" />
                                </div>
                                
                                <small class="am-u-sm-1 red redtips4" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips4" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group  am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="en_name" class="am-u-sm-3 am-form-label">英文名称 ：</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <input type="text" name="en_name" placeholder="例如：lisa" value=""/>
                                </div>
                                
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="open_busin" class="am-u-sm-3 am-form-label">开业时间<span class="red">*</span>：</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                      <input type="text" name="open_busin" id="startBusinessTime" class="am-form-field" placeholder="时间选择" readonly>
                                      <span class="am-input-group-btn am-datepicker-add-on">
                                        <button class="am-btn am-btn-secondary" type="button"><span class="am-icon-calendar"></span> </button>
                                      </span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="commercial_type_name" class="am-u-sm-3 am-form-label">一级业态<span class="red">*</span>：</label>
                                <div class="am-u-sm-8">
                                    <select id="firstYetai" name="commercial_type_name" required onchange="validate(this,1,20,5)" >
                                        <option value="">-=请选择一项=-</option>
                                        <?php foreach($yetai as $val):?>
                                        <option value="<?php echo $val['id'];?>"><?php echo $val['type_name'];?></option>
                                    <?php endforeach;?>
                                      
                                    </select>
                                </div>
                                <small class="am-u-sm-1 red redtips5" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips5" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12" id="secondYetai" style="clear: both;display: none;">
                                <label for="subcommercial_type_name" class="am-u-sm-3 am-form-label">二级业态：</label>
                                <div class="am-u-sm-8">
                                    <select name="subcommercial_type_name" id="secondYetaiSelect" onchange="validate(this,1,20,6)" >
                                        <option value="">-=请选择一项=-</option>
                                    </select>
                                </div>
                                <small class="am-u-sm-1 red redtips6" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips6" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                        </div>
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                           <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="barnd_name" class="am-u-sm-3 am-form-label">经营品牌 <span class="red">*</span>：</label>
                                <div class="am-u-sm-8">
                                     <input type="text" id="barnd_name" placeholder="请输入2-20个字符" name="barnd_name" onblur="validate(this,2,20,7)"  value="" required />
                                </div>
                                <small class="am-u-sm-1 red redtips7" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips7" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="store_type" class="am-u-sm-3 am-form-label">商家类型 <span class="red">*</span>：</label>
                                <div class="am-u-sm-8">
                                    <select id="store_type" name="store_type" required onchange="validate(this,1,20,8)" >
                                        <option value="">-=请选择一项=-</option>
                                        <option value="普通">普通</option>
                                        <option value="餐饮">餐饮</option>
                                        <option value="影院">影院</option>
                                        <option value="KTV">KTV</option>
                                        <option value="冰场">冰场</option>
                                    </select>
                                    <span class="am-form-caret"></span>
                                </div>
                                <small class="am-u-sm-1 red redtips8" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips8" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="op_status" class="am-u-sm-3 am-form-label">营业状态<span class="red">*</span>：</label>
                                <div class="am-u-sm-8">
                                    <select id="op_status" name="op_status" required onchange="validate(this,1,20,9)" >
                                        <option value="">-=请选择一项=-</option>
                                        <option value="营业中">营业中</option>
                                        <option value="装修中">装修中</option>
                                        <option value="停止营业">停止营业</option>
                                        <option value="即将营业">即将营业</option>
                                    </select>
                                </div>
                                <small class="am-u-sm-1 red redtips9" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="am-u-sm-1 green blacktips9" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="floor_name" class="am-u-sm-3 am-form-label">所在楼层 ：</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <select id="floor_name" name="floor_name">
                                        <option value="">-=请选择一项=-</option>
                                            <option value="B3">B3</option>
                                            <option value="B2">B2</option>
                                            <option value="B1">B1</option>
                                            <option value="F1">F1</option>
                                            <option value="F2">F2</option>
                                            <option value="F3">F3</option>
                                            <option value="F4">F4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="door_no" class="am-u-sm-3 am-form-label">店铺编号：</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <input type="text" placeholder="例如：S1001" class="" name="door_no"  id="comments"/>
                                </div>
                                
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="business_hours" class="am-u-sm-3 am-form-label">营业时间<span class="red">*</span>：</label>
                                <div class="am-u-sm-8 am-u-end">
                                   <input type="text" placeholder="例如：9:20-22:00" placeholder="例如：9:00-22:00" name="business_hours"  required onblur="validate(this,2,12,11)" /> 
                                </div>
                                
                                <small class="red redtips11" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="green blacktips11" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="area" class="am-u-sm-3 am-form-label">面积/平方米：</label>
                                <div class="am-u-sm-8 am-u-end">
                                   <input type="number" name="area" placeholder="例如：300.00" id="area" min="1" /> 
                                </div>  
                            </div> 
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label for="area" class="am-u-sm-3 am-form-label">QQ：</label>
                                <div class="am-u-sm-8 am-u-end">
                                   <input type="number" name="qq" placeholder="请输入QQ号码" id="QQ" min="1" /> 
                                </div>  
                            </div>
                           
                            <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                                <label class="am-u-sm-3 am-form-label" data-am-popover="{content: '开启口令验证，用户可以在商场用口令自助验证券', trigger: 'hover focus'}">是否开启核销口令:</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <label class="am-radio-inline">
                                        <input type="radio" id="verification" value="1" checked="checked" name="verification"> 是
                                    </label>
                                    <label class="am-checkbox-inline">
                                        <input type="radio" id="disverification" value="0" name="verification"> 否
                                    </label>
                                </div>    
                            </div>

                        </div>
                    </div>

                    <div class="am-form-group am-text-center">
                        <input type="hidden" name="store_distinction" value="<?php echo $type;?>">
                        <button class="am-btn am-btn-default" type="reset">重置</button> <button class="am-btn am-btn-secondary" id="submit" type="submit">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

<script type="text/javascript">

//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length<minlen || content.length>maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}

  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });


$(document).ready(function(){
    $('#firstYetai').change(function(){
        //根据一级业态的内容来控制二级业态的显示
        var firstYetai=$('#firstYetai option:selected').val(),str='',sttr='';
        $("#secondYetaiSelect").html('<option value="">-=请选择一项=-</option>');
        $.ajax({
            type:'post',
            url:'<?php echo site_url('/shop/singleShop/shop_store_type');?>',
            data: 'gid='+ firstYetai,
            success: function(data){   
                var jsonData=eval(data);
                console.log(jsonData);

                if(data){
                    if(data==2){
                           $('#secondYetai').css('display','none');
                            $("#secondYetaiSelect").removeAttr("required"); 
                            return;
                    } else {
                        for(var i=0;i<jsonData.length;i++){
                            str='<option value="'+ jsonData[i].id +'">' + jsonData[i].type_name + '</option>';
                            sttr=sttr+str;
                        }
                        // console.log(sttr);
                        $("#secondYetaiSelect").attr("required","required"); 
                        $('#secondYetai').css('display','block');
                        $("#secondYetaiSelect").append(sttr);
                    }
                    
                }else{
                    $('#secondYetai').css('display','none');
                    $("#secondYetaiSelect").removeAttr("required");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("操作失败，请检查网络设置！");
            }
        });
    });

    //点击保存按钮作验证
    $('#submit').click(function(){
        console.log(document.getElementById('verification').checked);
        console.log(document.getElementById('disverification').checked);
        if($('#startBusinessTime').val()==""){
            alert("请选择开业时间！");
            return false;
        }else{

            return true;
        }
    });

})
</script>
