<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
/*.theme-white .tpl-table-black-operation a {
    border:1px solid #75a5ca;
    color:#75a5ca;
}
.theme-white .tpl-table-black-operation a:last-child{
    border:1px solid #75a5ca;
    color:#75a5ca;
}*/
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo base_url().'admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopBaseInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopFloorRelation';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家楼层关系
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/goodsList';?>" class="active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopComment';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 <small>商品列表</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
            <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商品查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-2 am-form-label">模糊搜索:</label>
                        <div class="am-u-sm-10">
                            <input type="text" placeholder="请输入要搜索的关键字">
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-8 am-u-md-8 am-u-lg-8 am-text-left">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商品列表
                    </div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo base_url().'shop/singleShop/goodsAdd';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox"></th>
                                    <th class="shop_id">商品编号 <i class="am-icon-sort"></i></th>
                                    <th class="shop_name">商品图片 <i class="am-icon-sort"></i></th>
                                    <th class="shop_name">商品名称 <i class="am-icon-sort"></i></th>
                                    <th class="shop_type">说明 <i class="am-icon-sort"></i></th>
                                    <th class="shop_type">库存 <i class="am-icon-sort"></i></th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td  class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle"><img src="assets/img/user04.png" class="am-img-responsive" alt=""/></td>
                                    <td class="am-text-middle">女仔装</td>
                                    <td class="am-text-middle">非常畅销的品牌</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo base_url().'shop/singleShop/goodsDetail';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle"><img src="assets/img/user04.png" class="am-img-responsive" alt=""/></td>
                                    <td class="am-text-middle">女仔装</td>
                                    <td class="am-text-middle">非常畅销的品牌</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo base_url().'shop/singleShop/goodsDetail';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle"><img src="assets/img/user04.png" class="am-img-responsive" alt=""/></td>
                                    <td class="am-text-middle">女仔装</td>
                                    <td class="am-text-middle">非常畅销的品牌</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo base_url().'shop/singleShop/goodsDetail';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle"><img src="assets/img/user04.png" class="am-img-responsive" alt=""/></td>
                                    <td class="am-text-middle">女仔装</td>
                                    <td class="am-text-middle">非常畅销的品牌</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo base_url().'shop/singleShop/goodsDetail';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fl">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                            <p>共5条数据，共4页</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
