
<style type="text/css" media="screen">
    .am-selected{
        width: 100%!important;
    }
    .table-check{
        width: 30px;
    }
    .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
 #preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }

    .deleteImg{
        display: inline-block;
        background: #ff0000;
        width:60px;
        height:28px;
        line-height: 28px;
        text-align: center;
        position: absolute;
        left:330px;
        top:342px;
        color:#ffffff;
        font-size: 1.2rem;
    }
    .addpadding{
        padding-left:10%;
    }
    .clickUp{
        margin-left: 150px;
    }
    .tableImg{
    width:80px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理
                <a href="<?php echo site_url().'/shop/singleShop/shopOrder';?>" style="font-size:16px;">订单管理</a>
                <small><a href="<?php echo site_url().'/shop/singleShop/shopEditOrder';?>">订单修改</a></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator>
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">商品信息</div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">订单单号：</label>
                            <div class="am-u-sm-9">
                               2
                            </div>
                        </div>                         
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">商品名称：</label>
                            <div class="am-u-sm-9">
                               韩版上装
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">商品图片：</label>
                            <div class="am-u-sm-9">
                                <img class="tableImg" src="assets/img/a5.png">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">买家：</label>
                            <div class="am-u-sm-9">
                                1234
                            </div>
                        </div>
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">快递信息</div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">邮编：</label>
                            <div class="am-u-sm-9">
                               625014
                            </div>
                        </div>                         
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">地址：</label>
                            <div class="am-u-sm-9">
                                默认地址：天府三街新希望国际
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">姓名：</label>
                            <div class="am-u-sm-9">
                               张三
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">手机：</label>
                            <div class="am-u-sm-9">
                                18227587543
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">电话：</label>
                            <div class="am-u-sm-9">
                                18227587543
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">买家留言：</label>
                            <div class="am-u-sm-9">
                                无
                            </div>
                        </div>
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">价格信息</div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">下单时间：</label>
                            <div class="am-u-sm-9">
                               2016-12-12 15:58
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">最后更新：</label>
                            <div class="am-u-sm-9">
                               2016-12-12 15:58
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">订单状态：</label>
                            <div class="am-u-sm-9 success">
                                待确认
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">确认</button>
                            <button type="button" class="am-btn am-btn-default am-btn-sm" id="cancle">取消</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

</div>
</div>