<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.tpl-table{
    border: 1px solid #4aaa4a !important;
    color: #4aaa4a !important;
}
.salesErWeiCode{
    width:200px;
    margin-left:100px;
}
.erweiCodeLink{
    width: 300px;
    white-space: normal;

}
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/shop/singleShop/shopAdmin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopBaseInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopFloorRelation';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家楼层关系
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/goodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopOrder';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopComment';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 促销管理
            <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddSales';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增促销
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopSalesList';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 促销列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopCheckSales';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 促销验证
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 团购管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddActivity';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增活动
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopActivityList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动列表
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 注销
        </a>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 促销管理 
            <a href="<?php echo site_url().'/shop/singleShop/shopSalesList';?>" style="font-size:16px;">促销列表</a>
            
            <small></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">促销活动查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="openTime" class="am-u-sm-2 am-form-label">&nbsp;&nbsp;创建时间：</label>
                        <div class="am-u-sm-10">
                            <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="openTime" class="am-u-sm-2 am-form-label">&nbsp;&nbsp;活动时间：</label>
                        <div class="am-u-sm-10">
                            <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="yetai" class="am-u-sm-2 am-form-label">活动类型：</label>
                        <div class="am-u-sm-10">
                            <select id="yetai" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="输入查找/选择">输入查找/选择</option>
                                <option value="全部">全部</option>
                                <option value="商家促销">商家促销</option>
                                <option value="商家活动">商家活动</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="shop_state" class="am-u-sm-2 am-form-label">促销类型：</label>
                        <div class="am-u-sm-5">
                            <select id="shop_state">
                                <option value="请选择">请选择</option>
                                <option value="全部">全部</option>
                                <option value="普通">普通</option>
                                <option value="限时">限时</option>
                            </select>
                        </div>
                        <div class="am-u-sm-5">
                            <select id="shop_state">
                                <option value="请选择">请选择</option>
                                <option value="打折优惠">打折优惠</option>
                                <option value="满减/满赠">满减/满赠</option>
                                <option value="刷卡优惠">刷卡优惠</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="source_state" class="am-u-sm-2 am-form-label">审核状态：</label>
                        <div class="am-u-sm-10">
                            <select id="source_state">
                                <option value="请选择">请选择</option>
                                <option value="待审核">待审核</option>
                                <option value="通过审核">通过审核</option>
                                <option value="驳回">驳回</option>
                                <option value="删除">删除</option>
                                <option value="过期">过期</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" >
                    <div class="widget-title  am-cf" style="clear:both;">促销活动列</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success" ><a data-am-modal="{target: '#addSales'}"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="moll_name">编号</th>
                                    <th class="shop_id">卡券名</th>
                                    <th class="shop_name">类型 </th>
                                    <th class="shop_type">适用经销商 </th>
                                     <th class="shop_type">商户LOGO</th>
                                    <th class="shop_yetai">商户名字</th>
                                    <th class="brand">使用提醒</th>
                                    <th>备注及二维码</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S10022></td>
                                    <td>满记甜品促销</td>
                                    <td class="am-text-middle">2016-11-20 10:00:00</td>
                                    <td class="am-text-middle">商家促销</td>
                                    <td class="am-text-middle">普通</td>
                                    <td class="am-text-middle">活动券验证</td>
                                    <td class="am-text-middle">2016-11-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-am-modal="{target: '#lookSales'}">
                                                <i class="am-icon-eye"></i>查看 
                                            </a>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                            <a href="#" class="tpl-table">
                                                <i class="am-icon-location-arrow"></i>发送
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S10022></td>
                                    <td>满记甜品促销</td>
                                    <td class="am-text-middle">2016-11-20 10:00:00</td>
                                    <td class="am-text-middle">商家促销</td>
                                    <td class="am-text-middle">普通</td>
                                    <td class="am-text-middle">活动券验证</td>
                                    <td class="am-text-middle">2016-11-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-am-modal="{target: '#lookSales'}">
                                                <i class="am-icon-eye"></i>查看 
                                            </a>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                            <a href="#" class="tpl-table">
                                                <i class="am-icon-location-arrow"></i>发送
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!--新增促销的弹窗开始-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="addSales">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">新增促销</div>
        <div class="am-modal-bd">
            <!-- 本地生活 信息展示类 -->
            <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">卡券名 <span class="red">*</span></label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="总数上限为9个汉字" maxlength="9" name='' required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">优惠说明 <span class="red">*</span></label>
                    <div class="am-u-sm-9">
                        <textarea required rows="3"></textarea>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label for="" class="am-u-sm-3 am-form-label">商户logo <span class="red">*</span></label>
                     <div class="am-u-sm-9">
                        <div class="wx_type_img">
                         <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add am-form-field"  required>
                          <!-- 图片实时预览 -->
                          <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                        </div>
                        <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                        <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">code展示<span class="red">*</span> </label>
                    <div class="am-u-sm-9">
                        <select id="yetai" required="required" data-am-selected="{searchBox: 1,maxHeight: 200}" name="send_type">
                            <option value=''>输入查找/选择</option>
                            <option value="文本">文本</option>
                        </select>
                    </div>
                </div>
           
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">适用经销商 <span class="red">*</span></label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="经销商A|经销商B|经销商C" name='' required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">商户名字 <span class="red">*</span></label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="字数上限为12个汉字" name='' required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">券颜色 <span class="red">*</span></label>
                    <div class="am-u-sm-9">
                        <input type="color" placeholder="" name='' value="#000000" required>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">使用提醒 <span class="red">*</span></label>
                    <div class="am-u-sm-9">
                        <input type="text" placeholder="字数上限为16个汉字" maxlength="16" name='' required>
                    </div>
                </div>
                <div class="am-form-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                    <button type="submit" class="am-btn am-btn-secondary" >添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--新增促销的弹窗结束-->
<!--查看促销的弹窗开始-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="lookSales">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">二维码及备注</div>
        <div class="am-modal-bd am-text-left">
            <!-- 本地生活 信息展示类 -->
            <p style="white-space: normal;word-break: break-all;">
                二维码链接:<a href="http://localhost/hongfan/index.php/shop/singleShop/shopSalesList">http://localhost/hongfan/index.php/shop/singleShop/shopSalesListhttp://localhost/hongfan/index.php/shop/singleShop/shopSalesListhttp://localhost/hongfan/index.php/shop/singleShop/shopSalesListhttp://localhost/hongfan/index.php/shop/singleShop/</a>
            </p>
            <p class="" >
                备注：
                大字标题：女性不是男性的附属品<br /></p>
                <img src="assets/img/a5.png" class="salesErWeiCode" />
            
        </div>
    </div>
</div>
<!--查看促销的弹窗结束-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript">
    
    //删除图片
    $(".deleteImg").click(function(){
        
        $(this).prevUntil('.preview').find('img').attr('src','assets/img/nullImg.jpg');
        $(this).prevUntil('.preview').find('input').val(" ");
        $(this).prevUntil('.preview').find('input').files="";
    });
</script>
</body>
</html>
