<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
    .am-selected{
        width: 100%!important;
    }
    .table-check{
        width: 30px;
    }
    .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
#preview{
        width:200px;
        height:200px !important;
    }
    #preview #imghead,#preview img{
         width:200px;
        height:200px;
    }

    .am-form-group .deleteImg{
        display: inline-block;
        background: #ff0000;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        position: absolute;
        left:130px;
        top:202px;
        color:#ffffff;
    }
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/shop/singleShop/shopAdmin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopBaseInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopFloorRelation';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家楼层关系
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/goodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopComment';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 促销管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddSales';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增促销
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopSalesList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 促销列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopCheckSales';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 促销验证
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 团购管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddActivity';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增活动
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopActivityList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动列表
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 <small>新增促销活动</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">新增促销活动</div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form">
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">活动分类<span class="red">*</span></label>
                            <div class="am-u-sm-9">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="全部">全部</option>
                                    <option value="商家促销">商家促销</option>
                                    <option value="商家活动">商家活动</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">自定义活动分类<span class="red">*</span></label>
                            <div class="am-u-sm-9">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="全部">精选优惠</option>
                                    <option value="商家促销">衣服优惠</option>
                                    <option value="商家活动">鞋子特惠</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">活动名称<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="number" name="" class="am-form-field tpl-form-no-bg" placeholder="建议不超过14个字符" value="0" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">自定义活动编号：</label>
                            <div class="am-u-sm-9">
                                <input type="number" name="" class="am-form-field tpl-form-no-bg" placeholder="用于与第三方活动关联" value="0" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-4 am-form-label am-fl">活动图片(详情)<span class="red">*</span>：</label>
                            <div class="am-u-sm-8">
                            <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                      <button class="am-btn am-btn-secondary am-btn-xs"><i class="am-icon-cloud-upload"></i> 点击上传</button>
                                </div>
                                 <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                <button type="button" class="am-btn am-btn-warning am-btn-xs">注意!</button>
                                    <span class="tpl-form-line-small-title">图片尺寸限制：不小于720*360，长宽比为2：1或者不小于1280*960，长宽比为4：3，视前端效果来定；图片格式支持：PNG、JPG、JPEG；最大支持4M</span> 
                            </div>
                        </div>
                        <div class="am-form-group am-backdrop-on-box am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-4 am-form-label">活动图片(列表)<span class="red">*</span>：</label>
                            <div class="am-u-sm-8">
                                <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                      <button class="am-btn am-btn-secondary am-btn-xs"><i class="am-icon-cloud-upload"></i> 点击上传</button>
                                </div>
                                <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                <button type="button" class="am-btn am-btn-warning am-btn-xs">注意!</button>
                                    <span class="tpl-form-line-small-title">图片尺寸限制：不小于720*360，长宽比为2：1或者不小于1280*960，长宽比为4：3，视前端效果来定；图片格式支持：PNG、JPG、JPEG；最大支持4M</span> 
                            </div> 
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">活动开始时间<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                  <input type="text" name="openTime" id="openTime" class="am-form-field" placeholder="日历组件" readonly>
                                  <span class="am-input-group-btn am-datepicker-add-on">
                                    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">活动结束时间<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                  <input type="text" name="openTime" id="openTime" class="am-form-field" placeholder="日历组件" readonly>
                                  <span class="am-input-group-btn am-datepicker-add-on">
                                    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">验证方式<span class="red">*</span></label>
                            <div class="am-u-sm-9">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="">无需验证</option>
                                    <option value="">会员卡</option>
                                    <option value="">电子券</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">参与人数限制<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="tel" name="" class="am-form-field tpl-form-no-bg" placeholder="参加该活动的总人数限制" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">参与对象<span class="red">*</span></label>
                            <div class="am-u-sm-9">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="">不限制</option>
                                    <option value="">商场会员</option>
                                    <option value="">鞋子特惠</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">活动地点<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="tel" name="" class="am-form-field tpl-form-no-bg" placeholder="活动举办的地点" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">联系电话<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="tel" name="" class="am-form-field tpl-form-no-bg" placeholder="活动举办的地点" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">上线时间<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                  <input type="text" name="openTime" id="openTime" class="am-form-field" placeholder="日历组件" readonly>
                                  <span class="am-input-group-btn am-datepicker-add-on">
                                    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">下线时间<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}">
                                  <input type="text" name="openTime" id="openTime" class="am-form-field" placeholder="日历组件" readonly>
                                  <span class="am-input-group-btn am-datepicker-add-on">
                                    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">详情跳转至<span class="red">*</span></label>
                            <div class="am-u-sm-9">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="">活动详情页</option>
                                    <option value="">外部页面</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-6 am-form-label">是否可以使用核销口令<span class="red">*</span></label>
                            <div class="am-u-sm-6">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="">是</option>
                                    <option value="">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-6 am-form-label">是否可以一键领取所有券<span class="red">*</span></label>
                            <div class="am-u-sm-6">
                                <select id="" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                    <option value="">输入查找/选择</option>
                                    <option value="">是</option>
                                    <option value="">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">活动详情(纯文本)：</label>
                            <div class="am-u-sm-9">
                                <textarea name="" rows="5" cols="40">
                                    VERO MODA是丹麦国际时装公司BESTSELLER集团旗下知名品牌之一。2001年VERO MODA进入中国市场，面向25-35岁女性的职业休闲装。Vero Moda专为25岁以上拥有超强自我意识和独立性的女士设计。年龄不再敏感，因为Vero Moda女性对时尚有独特的感悟。
                                </textarea>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">使用说明：</label>
                            <div class="am-u-sm-9">
                                <textarea name="" rows="5" cols="40">
                                    VERO MODA是丹麦国际时装公司BESTSELLER集团旗下知名品牌之一。2001年VERO MODA进入中国市场，面向25-35岁女性的职业休闲装。Vero Moda专为25岁以上拥有超强自我意识和独立性的女士设计。年龄不再敏感，因为Vero Moda女性对时尚有独特的感悟。
                                </textarea>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <label for="englishName">活动详情(富文本)：</label>
                                <div>
                                    <script id="editor" type="text/plain"></script>
                                </div>
                                                     
                            </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">保存</button>
                                <button type="button" class="am-btn am-btn-default am-btn-sm">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    //删除图片
    $(".deleteImg").click(function(){
        
        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
        
    });



     //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
</script>
</body>
</html>
