<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
/*.theme-white .tpl-table-black-operation a {
    border:1px solid #75a5ca;
    color:#75a5ca;
}
.theme-white .tpl-table-black-operation a:last-child{
    border:1px solid #75a5ca;
    color:#75a5ca;
}*/
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/shop/singleShop/shopAdmin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopBaseInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopFloorRelation';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家楼层关系
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/goodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopComment';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 促销管理
        </a>
    </li>
     <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 团购管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 <small>评论管理</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">评论搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsType" class="am-form-label am-u-sm-4">商品分类:</label>
                        <div class="am-u-sm-8">
                            <select id="goodsType" name="goodsType">
                                <option value="">-=请选择一项=-</option>
                                <option value="option1">上衣</option>
                                <option value="option2">夏装</option>
                                <option value="option2">裙装</option>
                                <option value="option2">秋冬款</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsBatch" class="am-form-label am-u-sm-4">货物批次:</label>
                        <div class="am-u-sm-8">
                        <select id="goodsBatch" name="goodsBatch">
                            <option value="">-=请选择一项=-</option>
                            <option value="option1">2016年秋冬</option>
                            <option value="option2">2015年秋冬</option>
                            <option value="option2">2016年上半季</option>
                            <option value="option2">2016年冬新款</option>
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">评论列表
                    </div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox"></th>
                                    <th class="shop_id">编号 </th>
                                    <th class="shop_name">用户 </th>
                                    <th class="shop_name">提交时间 </th>
                                    <th class="shop_name">评论商品详情</th>
                                    <th class="shop_type">评论内容 </th>
                                    <th class="shop_type">回复内容 </th>
                                    <th>创建时间</th>
                                    <th>回复状态</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td  class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">用户family</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <a href="#" >
                                            商品详情
                                        </a>
                                    </td>
                                    <td class="am-text-middle">这个产品非常好，我很喜欢</td>
                                    <td class="am-text-middle">感谢，我们会再接再厉</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">已回复</td>
                                    <td class="am-text-middle">
                                        <div class="am-dropdown" data-am-dropdown>
                                            <button class="am-btn am-btn-primary am-dropdown-toggle hf-dropdown" data-am-dropdown-toggle>显示 <span class="am-icon-caret-down"></span></button>
                                            <ul class="am-dropdown-content">
                                                <li><a href="#">显示</a></li>
                                                <li><a href="#">隐藏</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">用户family</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <a href="#" >
                                            商品详情
                                        </a>
                                    </td>
                                    <td class="am-text-middle">这个产品非常好，我很喜欢</td>
                                    <td class="am-text-middle">感谢，我们会再接再厉</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">已回复</td>
                                    <td class="am-text-middle">
                                        <div class="am-dropdown" data-am-dropdown>
                                            <button class="am-btn am-btn-primary am-dropdown-toggle hf-dropdown" data-am-dropdown-toggle>显示 <span class="am-icon-caret-down"></span></button>
                                            <ul class="am-dropdown-content">
                                                <li><a href="#">显示</a></li>
                                                <li><a href="#">隐藏</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">用户family</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <a href="#" >
                                            商品详情
                                        </a>
                                    </td>
                                    <td class="am-text-middle">这个产品非常好，我很喜欢</td>
                                    <td class="am-text-middle">感谢，我们会再接再厉</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">已回复</td>
                                    <td class="am-text-middle">
                                        <div class="am-dropdown" data-am-dropdown>
                                            <button class="am-btn am-btn-primary am-dropdown-toggle hf-dropdown" data-am-dropdown-toggle>显示 <span class="am-icon-caret-down"></span></button>
                                            <ul class="am-dropdown-content">
                                                <li><a href="#">显示</a></li>
                                                <li><a href="#">隐藏</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td  class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">用户family</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">
                                        <a href="#" >
                                            商品详情
                                        </a>
                                    </td>
                                    <td class="am-text-middle">这个产品非常好，我很喜欢</td>
                                    <td class="am-text-middle">感谢，我们会再接再厉</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">已回复</td>
                                    <td class="am-text-middle">
                                        <div class="am-dropdown" data-am-dropdown>
                                            <button class="am-btn am-btn-primary am-dropdown-toggle hf-dropdown" data-am-dropdown-toggle>显示 <span class="am-icon-caret-down"></span></button>
                                            <ul class="am-dropdown-content">
                                                <li><a href="#">显示</a></li>
                                                <li><a href="#">隐藏</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fl">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                            <p>共5条数据，共4页</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
