

<style type="text/css" media="screen">

    .am-selected{

        width: 100%!important;

    }

    .table-check{

        width: 30px;

    }

    .hf-dropdown{

        font-size: 12px!important;

        padding: 5px 6px!important;

    }

    #preview{

        height:200px !important;

    }

    #preview #imghead,#preview img{

        

        height:190px;

    } 



    .deleteImg{

        display: inline-block;

        background: #ff0000;

        width:60px;

        height:28px;

        line-height: 28px;

        text-align: center;

        position: absolute;

        left:330px;

        top:342px;

        color:#ffffff;

        font-size: 1.2rem;

    }

    .addpadding{

        padding-left:10%;

    }

    .clickUp{

        margin-left: 150px;

    }

    .tableImg{

    width:80px;

}



label.am-u-sm-8, label.am-u-sm-4, label.am-u-sm-10{

        font-weight: normal;

        margin: 0 !important;

    font-size: 15px !important;

    padding-top: 5px;

    }

    label span.provalue {

        display: inline-block;

        padding:2px 5px;

        background: #1fb5ac;

        color: #fff;

    }

    .background{

        background: #eaeaea;

        clear: both;

        margin-left: -20px;

    }

</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理

                <a href="<?php echo site_url().'/shop/singleShop/shopOrder';?>" style="font-size:16px;">订单管理</a>

                <small>订单详情</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                

                <div class="widget-body am-fr">

                    <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator>

                        <div class="widget-head am-cf ">

                            <div class="widget-title  am-cf background">商品信息:</div>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单单号：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['order_id'];?>

                            </label>

                        </div>

                        <?php $goods = json_decode($order['goods_data'],true);?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">商品种类：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo count($goods['goods_Data']);?>

                            </label>

                        </div> 

                        <?php foreach($goods['goods_Data'] as $val):?>                         

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4" style="clear: both;">

                            <label for="user-email" class="am-u-sm-4 am-form-label">商品名称：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $val['title'];?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">商品图片：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                <img class="tableImg" src="<?php echo $val['thumb'];?>">

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">商品单价：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                 <?php echo $val['price']+$val['Floating_price'];?>

                            </label>

                        </div> 

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">商品数量：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $val['nums'];?>

                            </label>

                        </div>



                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label am-text-right">商品属性：</label>

                           

                              <?php for($i =1;$i < 5;$i++){?>

                                <?php if(!empty($val['stend'.$i])):?>

                                 <label class="am-u-sm-4 am-text-left am-u-end">

                                    <span><?php echo $val['stend'.$i];?> :   </span><span class="provalue"><?php echo $val['value'.$i];?></span>

                                </label>

                                <?php endif;?>

                              <?php }?>
                              
                        </div> 
                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label am-text-right">商品满减规则：</label>

                                 <label class="am-u-sm-4 am-text-left am-u-end">

                                        <?php if(!empty($val['reduction_rule'])):?>

                                            <?php $re = json_decode($val['reduction_rule'],true); foreach($re as $v):?>满<?php echo $v['reachPrice'];?>减<?php echo $v['reducePrice']?>&nbsp;<?php endforeach;?>
                                        <?php else:?>
                                            无
                                        <?php endif;?>

                                </label>
                        </div>
                      
                       <?php endforeach;?>
                         <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label am-text-right">商家满减规则：</label>
                                 <label class="am-u-sm-4 am-text-left am-u-end">

                                        <?php if(!empty($goods['stores']['store_reduction'])):?>

                                            <?php $re = json_decode($goods['stores']['store_reduction'],true); foreach($re as $v):?>满<?php echo $v['reachPrice'];?>减<?php echo $v['reducePrice']?>&nbsp;<?php endforeach;?>
                                        <?php else:?>
                                            无
                                        <?php endif;?>
                                </label>
                        </div>  
                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label am-text-right">商家满包邮规则：</label>
                                 <label class="am-u-sm-5 am-text-left am-u-end">

                                        <?php if(!empty($goods['stores']['mailRules'])):?>

                                            <?php $rusl = json_decode($goods['stores']['mailRules'],true); ?>
                                            满<?php echo $rusl['maxMoney'];?> 元包邮<br/>
                                            满<?php echo $rusl['maxNums'];?> 件包邮
                                        <?php else:?>
                                            无
                                        <?php endif;?>
                                </label>
                        </div>
                       <?php $inter = json_decode($order['PriceCalculation'],true); ?>
                        <?php if(isset($inter['nowIntergal']['storenowIntergal'])):?>

                            <div class="am-u-sm-4">

                                积分抵用金额：￥<?php echo round($inter['nowIntergal']['storenowIntergal'],2);?>
                                <br/>
                                <?php if(isset($inter['Params']['couponData']['coupon_amount'])):?>
                                优惠卷抵扣金额：<?php $coupon = $inter['Params']['couponData']['coupon_amount']; echo $inter['Params']['couponData']['coupon_amount'];?>
                            <?php else:?>
                                <?php $coupon = '0';?>
                                优惠卷抵扣金额：0
                            <?php endif;?>

                            </div> 
                              <div class="am-u-sm-4">

                                支付金额：￥<?php echo $goods['total_goods_prices'] + $order['fee'] - round($inter['nowIntergal']['storenowIntergal'],2) - $coupon;?>

                            </div>

                            <?php else:?>

                            <div class="am-u-sm-4">

                                积分抵用金额：未使用积分

                            </div> 

                              <div class="am-u-sm-4">

                                支付金额：￥<?php echo $goods['total_goods_prices'] + $order['fee'];?>

                            </div>

                            <?php endif;?>
                        <?php if(isset($inter['nowIntergal'])):?>


                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4" style="clear: both;">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单总金额：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['amount'] - $inter['nowIntergal']['intergral'];?>

                            </label>

                        </div>
                    <?php else:?>
                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4" style="clear: both;">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单总金额：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['amount'];?>

                            </label>

                        </div>
                    <?php endif;?>
                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">买家：</label>

                            <label class="am-u-sm-8 am-text-middle">



                                 <?php $name = user_name($order['buyer']);if(empty($name)){echo nick_name($order['buyer']);}else{ echo $name;}?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">用户所选快递模板：</label>

                            <label class="am-u-sm-8 am-text-middle">
                                 <?php echo $express['expressName'];?>

                            </label>

                        </div>

                        <?php if(!empty($order['fee_name'])):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4" style="clear: both;">

                            <label for="user-email" class="am-u-sm-4 am-form-label">改价原因：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['fee_name'];?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">改价后金额：</label>

                            <label class="am-u-sm-8 am-text-middle">
                               <?php echo $order['amount'] + $order['fee'];?>

                            </label>

                        </div>

                        <?php endif;?>

                     

      

                        <div class="widget-head am-cf">

                            <div class="widget-title  am-cf background" >收货信息:</div>

                        </div>

                                        

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">地址：</label>

                            <label class="am-u-sm-8 am-text-middle">
                                <?php if(!empty($address)):?>
                                <?php echo $address['province'].$address['city'].$address['area'].$address['address'];?>
                                 <?php else:?>
                                    <?php $address = json_decode($order['buyer_address'],true);?>
                                     <?php echo $address['province'].$address['city'].$address['area'].$address['address'];?>

                                <?php endif;?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">姓名：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $address['person'];?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">手机：</label>

                            <label class="am-u-sm-8 am-text-middle">

                              <?php echo $address['phone'];?>

                            </label>

                        </div>

                     <!--    <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">电话：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                18227587543

                            </label>

                        </div> -->

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">买家留言：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                 <?php $address = json_decode($order['userPostData'],true);?>

                                <?php echo  $address['notice'];?>

                            </label>

                        </div>

                        <div class="widget-head am-cf">

                            <div class="widget-title  am-cf background">订单状态:</div>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">下单时间：</label>

                            <label class="am-u-sm-8 am-text-middle">

                              <?php echo $order['create_time'];?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">最后更新：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['updatetime'];?>

                            </label>

                        </div>

                        <?php if($order['order_status'] == 1):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">未支付

                            </label>

                        </div>

                    <?php elseif($order['order_status'] == 2):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">已支付</label>

                        </div>

                     <?php elseif($order['order_status'] == 3):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">已发货</label>

                        </div>

                       

                  

                     <?php elseif($order['order_status'] == 4):?>

                           <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">已收货</label>

                        </div>



                     <?php elseif($order['order_status'] == 5):?>

                           <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">已评价</label>

                           </div>



                     <?php elseif($order['order_status'] == 6):?>

                           <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                              <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                              <label class="am-u-sm-8 success am-text-middle">请求退货</label>

                           </div> 

                           <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                              <label for="user-email" class="am-u-sm-4 am-form-label">退货理由：</label>

                              <label class="am-u-sm-8 success am-text-middle"><?php echo $order['buyer_reason']?></label>

                           </div>

                     <?php elseif($order['order_status'] == 7):?>

                           <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">等待退货物流</label>

                           </div>

                     <?php elseif($order['order_status'] == 8):?>

                           <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">退款成功</label>

                           </div>

                            <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">货物状态(退款理由)：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['buyer_reason'];?>

                            </label>

                        </div>

                         <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">退货留言：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                 <?php echo $order['refund_reason'];?>

                            </label>

                        </div>



                     <?php elseif($order['order_status'] == 10 && $order['admin_orderState'] ==0):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">退货物流已提交</label>

                        </div>

                     <?php elseif($order['order_status'] == 10 && $order['admin_orderState'] ==1):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">等待管理员退款</label>

                        </div>

                    <?php else:?>

                         <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">订单状态：</label>

                            <label class="am-u-sm-8 success am-text-middle">其他</label>

                        </div>

                    <?php endif;?>

                    <?php if($order['order_status'] == 3 || $order['order_status'] == 4 || $order['order_status'] == 5 || $order['shipper_code'] != NULL):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">快递公司：</label>

                            <?php if($order['shipper_code'] == "EMS"){

                                    $exporess  = "中国邮政";

                                }else if($order['shipper_code'] == "SF"){

                                    $exporess  = "顺丰";

                                }else if($order['shipper_code'] == "STO"){

                                    $exporess  = "申通";

                                }else if($order['shipper_code'] == "YTO"){

                                    $exporess  = "圆通";

                                }else if($order['shipper_code'] == "ZTO"){

                                    $exporess  = "中通";

                                }else if($order['shipper_code'] == "YD"){

                                    $exporess  = "韵达";

                                }else if($order['shipper_code'] == "HTKY"){

                                    $exporess  = "百世汇通";

                                }else if($order['shipper_code'] == "PJ"){

                                    $exporess  = "品骏";

                                }else if($order['shipper_code'] == "UAPEX"){

                                    $exporess  = "全一";

                                }else if($order['shipper_code'] == "HHTT"){

                                    $exporess  = "天天快递";

                                }else if($order['shipper_code'] == "ZT"){

                                    $exporess  = "自提";

                                }?>

                            <label class="am-u-sm-8 success am-text-middle"><?php echo $exporess;?></label>

                        </div>  

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">快递单号：</label>

                            <label class="am-u-sm-8 success am-text-middle"><?php echo $order['logistic_code'];?></label>

                        </div> 

                        <div class="am-form-group am-u-sm-12 am-u-md-8 am-u-lg-8">

                            <label for="user-email" class="am-u-sm-2 am-form-label am-text-left">物流信息:</label><br>

                             <?php if(!empty($express_w['Traces'])):?>

                            <label class="am-u-sm-10">

                                <?php rsort($express_w['Traces']); foreach($express_w['Traces'] as $k=>$v):?>

                                <p><?php echo $v['AcceptTime']?>

                                    <?php echo $v['AcceptStation']?></p>

                                <?php endforeach;?>

                            </label>

                            <?php else:?>

                                暂无物流信息

                            <?php endif;?>

                        </div>

                    <?php endif;?>

                    <?php if($order['order_status'] == 6 || $order['order_status'] == 7 || $order['order_status'] == 10):?>

                        <div class="widget-head am-cf">

                                <div class="widget-title  am-cf background" >退货信息:</div>

                        </div>

                         <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">货物状态(退款理由)：</label>

                            <label class="am-u-sm-8 am-text-middle">

                               <?php echo $order['buyer_reason'];?>

                            </label>

                        </div>

                         <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">退货留言：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                 <?php echo $order['refund_reason'];?>

                            </label>

                        </div>

                        <?php if($order['order_status'] == 10 && $order['saleReturn_num']):?>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">退货物流公司：</label>

                            <label class="am-u-sm-8 am-text-middle">

                                <?php  $a = explode(',',$order['saleReturn_num']);?>

                                 <?php echo $a['0'];?>

                            </label>

                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-4 am-u-lg-4">

                            <label for="user-email" class="am-u-sm-4 am-form-label">物流信息：</label>

                              <?php if(!empty($refund_express['Traces'])):?>

                            <label class="am-u-sm-10">

                                <?php rsort($refund_express['Traces']); foreach($refund_express['Traces'] as $k=>$v):?>

                                <p><?php echo $v['AcceptTime']?>

                                    <?php echo $v['AcceptStation']?></p>

                                <?php endforeach;?>

                            </label>

                            <?php else:?>

                                暂无物流信息

                            <?php endif;?>

                        </div>

                        <?php endif;?>





                    <?php endif;?>

               

                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">

                            <a href="<?php echo site_url('/shop/SingleShop/shopOrder');?>" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">返回订单列表</a>

                          <!--   <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">确认</button>

                            <button type="button" class="am-btn am-btn-default am-btn-sm" id="cancle">取消</button> -->

                        </div>

                    </form>

                </div>

            </div>

            

        </div>

    </div>



</div>

</div>

<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

<script type="text/javascript">

  //点击取消返回上一页

  $('#cancle').click(function(){

    history.go(0);

  });



$(".alink").click(function() {

  var dataId = $(this).attr('data-id');

  if(dataId){

        $.ajax({

            type:'post',

            url:'<?php echo site_url('/shop/singleShop/edit_goods_order');?>',

            data: 'orderid='+dataId+'&state=7',

            success: function(data){

                console.log(data);

                if(data==1){ 

                    location.reload();

                }else{



                    alert("操作失败！");

                }

            },

            error:function(xhr,type,errorThrown){

                alert("操作失败，请检查网络设置！");

            }

        });

}else{

    alert('操作失败！');

}

});

$(".confirm").click(function() {

  var dataId = $(this).attr('data-id');

  if(dataId){

        $.ajax({

            type:'post',

            url:'<?php echo site_url('/shop/singleShop/edit_goods_order');?>',

            data: 'orderid='+dataId+'&state=9',

            success: function(data){

                console.log(data);

                if(data==1){ 

                    location.reload();

                }else{



                    alert("操作失败！");

                }

            },

            error:function(xhr,type,errorThrown){

                alert("操作失败，请检查网络设置！");

            }

        });

}else{

    alert('操作失败！');

}

});

</script>