<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/shop/singleShop/shopAdmin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopBaseInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopFloorRelation';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家楼层关系
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/goodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopComment';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 促销管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddSales';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增促销
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopSalesList';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 促销列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopCheckSales';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 促销验证
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 团购管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopAddActivity';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增活动
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/singleShop/shopActivityList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动列表
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">商家管理<span class="am-icon-home page-header-heading-icon"></span> 促销管理 <small>促销列表</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">促销活动查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="openTime" class="am-u-sm-2 am-form-label">&nbsp;&nbsp;创建时间：</label>
                        <div class="am-u-sm-10">
                            <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="openTime" class="am-u-sm-2 am-form-label">&nbsp;&nbsp;活动时间：</label>
                        <div class="am-u-sm-10">
                            <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary am-margin-right" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="yetai" class="am-u-sm-2 am-form-label">活动类型：</label>
                        <div class="am-u-sm-10">
                            <select id="yetai" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="输入查找/选择">输入查找/选择</option>
                                <option value="全部">全部</option>
                                <option value="商家促销">商家促销</option>
                                <option value="商家活动">商家活动</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="shop_state" class="am-u-sm-2 am-form-label">促销类型：</label>
                        <div class="am-u-sm-5">
                            <select id="shop_state">
                                <option value="请选择">请选择</option>
                                <option value="全部">全部</option>
                                <option value="普通">普通</option>
                                <option value="限时">限时</option>
                            </select>
                        </div>
                        <div class="am-u-sm-5">
                            <select id="shop_state">
                                <option value="请选择">请选择</option>
                                <option value="打折优惠">打折优惠</option>
                                <option value="满减/满赠">满减/满赠</option>
                                <option value="刷卡优惠">刷卡优惠</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="source_state" class="am-u-sm-2 am-form-label">审核状态：</label>
                        <div class="am-u-sm-10">
                            <select id="source_state">
                                <option value="请选择">请选择</option>
                                <option value="待审核">待审核</option>
                                <option value="通过审核">通过审核</option>
                                <option value="驳回">驳回</option>
                                <option value="删除">删除</option>
                                <option value="过期">过期</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" >
                    <div class="widget-title  am-cf" style="clear:both;">促销活动列</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/shop/singleShop/shopAddSales';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="moll_name">编号</th>
                                    <th class="shop_id">名称</th>
                                    <th class="shop_name">提交时间 </th>
                                    <th class="shop_type">活动时间 </th>
                                     <th class="shop_type">活动类型</th>
                                    <th class="shop_yetai">促销类型</th>
                                    <th class="brand">验证方式</th>
                                    <th class="shop_block">上线时间</th>
                                    <th class="floor_shopId">审核状态</th>
                                    <th>审核意见</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S10022></td>
                                    <td>满记甜品促销</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">2016-11-20 10:00:00</td>
                                    <td class="am-text-middle">商家促销</td>
                                    <td class="am-text-middle">普通</td>
                                    <td class="am-text-middle">活动券验证</td>
                                    <td class="am-text-middle">2016-11-26 10:00:00</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">非常好</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/shop/singleShop/shopEditSales';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S10022></td>
                                    <td>满记甜品促销</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">2016-11-20 10:00:00</td>
                                    <td class="am-text-middle">商家促销</td>
                                    <td class="am-text-middle">普通</td>
                                    <td class="am-text-middle">活动券验证</td>
                                    <td class="am-text-middle">2016-11-26 10:00:00</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">非常好</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/shop/singleShop/shopEditSales';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S10022></td>
                                    <td>满记甜品促销</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">2016-11-20 10:00:00</td>
                                    <td class="am-text-middle">商家促销</td>
                                    <td class="am-text-middle">普通</td>
                                    <td class="am-text-middle">活动券验证</td>
                                    <td class="am-text-middle">2016-11-26 10:00:00</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">非常好</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/shop/singleShop/shopEditSales';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>S10022></td>
                                    <td>满记甜品促销</td>
                                    <td class="am-text-middle">2016-09-26 10:00:00</td>
                                    <td class="am-text-middle">2016-11-20 10:00:00</td>
                                    <td class="am-text-middle">商家促销</td>
                                    <td class="am-text-middle">普通</td>
                                    <td class="am-text-middle">活动券验证</td>
                                    <td class="am-text-middle">2016-11-26 10:00:00</td>
                                    <td class="am-text-middle">通过审核</td>
                                    <td class="am-text-middle">非常好</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/shop/singleShop/shopEditSales';?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
