<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon">商家管理
            <a href="<?php echo site_url().'/shop/singleShop/shopActivityList';?>" style="font-size: 16px;">活动列表</a></span>  
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">活动列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a type="button" class="am-btn am-btn-default am-btn-danger" ><span class="am-icon-refresh" ></span> 刷新</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox"></th>
                                    <th class="shop_id">编号 </th>
                                    <th class="moll_name">活动名称 </th>
                                    <th class="moll_name">活动分类 </th>
                                    <th class="shop_id">活动人数</th>
                                    <th class="shop_id">活动时间</th>
                                    <th class="moll_name">活动地点</th>
                                    <th class="shop_id">资费情况</th>
                                    <th class="shop_id">已报名人数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="helpGroupList">
                                <tr class="trClass" data-id="">
                                    <td  class="am-text-middle" ><input type="checkbox" class="commentBox" data-id="" name="commentBox"></td>
                                    <td class="am-text-middle">S154561</td>
                                    <td class="am-text-middle">遇见命中的他</td>
                                    <td class="am-text-middle">化妆舞会</td>
                                    <td class="am-text-middle">20</td>
                                    <td class="am-text-middle">2016.01.21-2016.01.30</td>
                                    <td class="am-text-middle">宏帆广场</td>
                                    <td class="am-text-middle">免费</td>
                                    <td class="am-text-middle">20</td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-id="" class="bangServeDetail" href="<?php echo site_url().'/module/fallinlove/loveEditactivity';?>">
                                                <i class="am-icon-pencil"></i> 编辑详情
                                            </a>
                                            <a data-id="" href="<?php echo site_url().'/module/fallinlove/loveApplyList';?>" class="conResponse">
                                                <i class="am-icon-eye"></i> 报名情况
                                            </a>
                                            <a data-id="" class="tpl-table-black-operation-del tpl-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center">
                        <div class="" id="paging_list">
                        </div>
                        <p>共<span class="dataNumber"></span>条数据，共<span class="pageNumber"></span>页</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>