 <style type="text/css">
     .widget-body-lg {
        min-height: 500px;
        border: 26px solid #ffffff !important;
    }
    .theme-white .tpl-user-card-title{
        margin-top: 60px;
    }
    .theme-white .achievement-image {
        width: 45%;
    }
 </style>
 <script src="assets/js/echarts.min.js"></script>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> <a href="<?php echo base_url().'admin';?>">宏帆广场</a> <small>管理商家</small></div>
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">
                <div class="row am-cf">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                        <div class="tpl-user-card am-text-center widget-body-lg">
                            <div class="tpl-user-card-title">
                                <?php echo $this->session->users['username'];?>
                            </div>
                         <!--    <div class="achievement-subheading">
                                普通管理员
                            </div> -->
                            
                  
                               <?php if(empty($this->session->users['avatar'])){ ?>
                        <img class="achievement-image" src="assets/img/user04.png" alt="">
                        <?php }else{ ?>
                        <img class="achievement-image" src="<?php echo $this->session->users['avatar'];?>" alt="">
                        <?php }?>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

                        <div class="widget am-cf widget-body-lg">

                            <div class="widget-body  am-fr">
                                <img src="assets/img/banner.jpg">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

