<style type="text/css" media="screen">
    .am-selected{
        width: 100%!important;
    }
    .table-check{
        width: 30px;
    }
    .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
#preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }

   .deleteImg{
        display: inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:1px solid #ddd;
    }
     .deleteImg:hover{
        cursor: pointer;
     }
    .addpadding{
        padding-left:10%;
    }
    .clickUp{
        margin-left: 150px;
    }
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 <small>商家简介</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商家信息 <small>/所在商场：宏帆广场<small></div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label am-fl">LOGO<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                      <br />
                                </div>
                                 <div class="am-text-center father">
                                      <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                      <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                                  </div>   
                            </div>
                        </div>
                        <div class="am-form-group am-backdrop-on-box am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">商家图片<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="wx_type_img">
                                     <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" multiple="multiple" required>
                                      <!-- 图片实时预览 -->
                                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                      <br />                                </div>
                                 <div class="am-text-center father">
                                      <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                      <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                                  </div> 
                            </div> 
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">客单价<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="number" name="" class="am-form-field tpl-form-no-bg" placeholder="" value="0" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">营业时间<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="text" name="" class="am-form-field tpl-form-no-bg" placeholder="9:00-22:00" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="" class="am-u-sm-3 am-form-label">联系电话<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <input type="tel" name="" class="am-form-field tpl-form-no-bg" placeholder="请输入11位的手机号码" required>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">新浪微博： </label>
                            <div class="am-u-sm-9">
                               <input type="text" name="" class="am-form-field tpl-form-no-bg" placeholder="" >
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">腾讯微博：</label>
                            <div class="am-u-sm-9">
                               <input type="text" class="am-form-field tpl-form-no-bg" placeholder="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">微信账号： </label>
                            <div class="am-u-sm-9">
                               <input type="text" class="am-form-field tpl-form-no-bg" placeholder="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">文字简介：</label>
                            <div class="am-u-sm-9">
                                <textarea name="" rows="5" cols="40">
                                    VERO MODA是丹麦国际时装公司BESTSELLER集团旗下知名品牌之一。2001年VERO MODA进入中国市场，面向25-35岁女性的职业休闲装。Vero Moda专为25岁以上拥有超强自我意识和独立性的女士设计。年龄不再敏感，因为Vero Moda女性对时尚有独特的感悟。
                                </textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">保存</button>
                                <button type="button" class="am-btn am-btn-default am-btn-sm" id="cancle">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
    //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });
</script>