<style type="text/css" media="screen">
#preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    } 

    .deleteImg{
        display: inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
         font-size: 1.2rem;
        border:1px solid #ddd;
    }
     .deleteImg:hover{
        cursor: pointer;
     }
.stable{
    display: inline-block !important;
    width: 45% !important;
}
.linkWord{
    width: 5% !important;
}
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 优惠券管理 
            <a href="<?php echo site_url().'/shop/singleShop/shopSalesList';?>" style="font-size:16px;">优惠券列表</a>
            <small>编辑优惠券</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">编辑优惠券</div>
                </div> 
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" enctype="multipart/form-data" action="<?php echo site_url('/shop/singleShop/edit_coupon');?>" method="post">
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="user-email" class="am-u-sm-3 am-form-label">优惠券名称<span class="red">*</span>：</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="name" id="salesName" value="<?php echo $coupon['name'];?>" maxlength="15" class="am-form-field tpl-form-no-bg" placeholder="建议不超过14个字符"  required>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">优惠券类型<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="typeid" id='salesType' onchange="changeSalesType()" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="1" <?php if($coupon['typeid'] == 1){echo "selected";}?>>代金券</option>
                                <option value="2" <?php if($coupon['typeid'] == 2){echo "selected";}?>>折扣券</option>
                            </select>
                        </div>
                    </div>
                    <?php $sale = json_decode($coupon['salerule'],true);?>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6 am-fl" id="voucher" <?php if($coupon['typeid'] == 1){echo 'style="display: block;float: left !important; "';}else{echo 'style="display: none;float: left !important;';}?> >
                        <label for="user-email" class="am-u-sm-3 am-form-label">代金券使用规则<span class="red">*</span>：</label>
                        <div class="am-u-sm-9">
                            <span class="linkWord">满</span>
                            <input type="number" class="stable"   id="meetMoney" name="overflowValue" min="1"  value="<?php echo $sale['overflowValue']?>"/>
                            <span class="linkWord">减</span>
                            <input type="number" class="stable"  id="reduceMoney" name="cutValue"  min="1"  value="<?php echo $sale['cutValue']?>"/>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6 am-fl" id="discount" <?php if($coupon['typeid'] == 2){echo 'style="display: block;float: left !important; "';}else{echo 'style="display: none;float: left !important;';}?>>
                        <label for="user-email" class="am-u-sm-3 am-form-label">折扣率<span class="red">*</span>：</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="discount" id="discount" value="<?php echo $coupon['discount'];?>" class="am-form-field tpl-form-no-bg" placeholder="建议不超过14个字符" >
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">领取次数限制<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="receive_limit" required id="receive_limit" class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="0" <?php if($coupon['receive_limit'] == 0){echo "selected";}?>>不限制</option>
                                <option value="1" <?php if($coupon['receive_limit'] == 1){echo "selected";}?>>仅一次</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="businessTime" class="am-form-label am-u-sm-3">有效时间：</label>
                        <div class="am-u-sm-9">
                            <div class="am-alert am-alert-danger" id="lineTime" style="display: none">
                              <p>开始日期应小于结束日期！</p>
                            </div>
                            <div class="am-g">
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-start">开始日期</button><input type="hidden" id="begin_date" name="begin_date" value="<?php echo $coupon['begin_date'];?>" /><span id="my-startDate"><?php echo $coupon['begin_date'];?></span>
                                <small class="red redtips" style="display: none">请先选择结束日期</small>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-end">结束日期</button><input type="hidden" id="end_date" name="end_date" value="<?php echo $coupon['end_date'];?>" /><span id="my-endDate"><?php echo $coupon['end_date'];?></span>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">核销方式<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <select name="verification" required id="salesmethod" class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="3" <?php if($coupon['verification'] == 3){echo "selected";}?>>到店核销</option>
                                <option value="2" <?php if($coupon['verification'] == 2){echo "selected";}?>>在线抵用</option>
                                <option value="1" <?php if($coupon['verification'] == 1){echo "selected";}?>>不限</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="user-email" class="am-u-sm-3 am-form-label">库存数<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <input type="number" name="stock" min="0"  class="am-form-field tpl-form-no-bg" placeholder="请输入库存数量" value='<?php echo $coupon['stock'];?>'  required>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6 am-text-center">
                        <label for="user-email" class="am-u-sm-3 am-form-label">优惠券内容<span class="red">*</span>:</label>
                        <div class="am-u-sm-9">
                            <textarea rows="5" required class="" name="content">
                                <?php echo $coupon['content'];?>
                            </textarea>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 addpadding am-text-center">
                    <input type="hidden" name="id" value="<?php echo $coupon['id'];?>">
                        <button class="am-btn am-btn-secondary" id="saveSales" type="submit">保存修改</button><button class="am-btn am-btn-default" id="cancle" type="button">取消</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
function changeSalesType() {
    if($('#salesType option:selected').val()=="1"){
        $('#discount').css('display','none');
        $('#voucher').css('display','block');
    }else if($('#salesType option:selected').val()=="2"){
        $('#voucher').css('display','none');
        $('#discount').css('display','block');
    }else{
        alert("请选择优惠券类型！");
    }
  
  }
    //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });
  //删除图片
    $(".deleteImg").click(function(){
        
        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
        
    });


    $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
          $('#begin_date').val($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
          $('#end_date').val($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
      $('#my-start').hover(function(){
        $('.redtips').css('display','block');
      },function(){
        $('.redtips').css('display','none');
      });
  });
    //点击添加优惠券之前的验证
      $('#saveSales').click(function() {
        var salesName = $('#salesName').val(),salesType = $('#salesType option:selected').val(),meetMoney = $('#meetMoney').val(),reduceMoney = $('#reduceMoney').val(),discount = $('#discount').val(),receive_limit = $('#receive_limit option:selected').val(),salesType = $('#salesType option:selected').val(),stock = $('#stock').val(),salesContent = $('#salesContent').val();
        if(salesName=="" || salesType=="" || receive_limit=="" || salesType=="" || stock=="" || salesContent==""){
            alert("您还有未填写项奥~");
            return false;
        }else if($('#end_date').val()=="" || $('#begin_date').val()==""){
            alert("请选择活动时间！");
            return false;
        }else if(meetMoney && reduceMoney && parseInt(meetMoney)<parseInt(reduceMoney)){
            alert("亲，折扣金额大于总金额啦~");
            return false;
        }else if(discount && (parseInt(discount)<0 || parseInt(discount)>1)){
            alert("亲，折扣率是0-1之间的小数奥~");
            return false;
        }else{
            return true;
        }
      });

</script>