<style type="text/css" media="screen">
.am-selected {
    width: 100%!important;
} 
.table-check {
    width: 30px;
} 
.hf-dropdown {
    font-size: 12px!important;
    padding: 5px 6px!important;
}
/*td.am-text-middle img {
    width:80px;
} */
.am-u-sm6 {
    width:60px !important;
    margin:0;
} 
.am-form-group div {
    line-height: 37px;
} 
.stable {
    display: inline-block !important;
    width: 45% !important;
}
.linkWord {
    width: 10% !important;
}
.tableImg {
    width:80px;
}
.deliverOrder {
    border:1px solid #1fb5ac;
    padding:2px 5px;
    color: #15b5ac;
}
.modifyOrder {
    border:1px solid #e0690c;
    padding:2px 5px;
    color: #e0690c;
}
.agreeOrder,.confirmGot,.agreeRefund {
    border:1px solid #e0690c;
    padding:2px 5px;
    color: #e0690c;
}
.smallSize {
    font-size: 14px;
}
td div div p {
    padding:0;
    margin:0;
}
.goodsTitle,.goods_price {
    color: #32323a;
}    
.goods_tags {
    display: inline-block;
    padding: 0 2px;
    border: 1px solid #1fb5ac;
    color: #1fb5ac ;
    font-size: 10px;
}
td div.am-u-sm-12 {
    padding-bottom: 5px;
}
.goodsImg {
    width: 100%;
}

</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 <small>订单管理</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">订单搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" >
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <label for="goodsBatch" class="am-form-label am-u-sm-3">状态:</label>
                        <div class="am-u-sm-9">
                            <select id="orderState" name="state">
                                <option value="">-=请选择一项=-</option>
                                <option value="1">未支付</option>
                                <option value="2">已支付</option>
                                <option value="3">已发货</option>
                                <option value="4">已收货</option>
                                <option value="5">已评价</option>
                                <option value="6">求退货</option>
                                <option value="7">退货中</option>
                                <option value="8">退款成功</option>
                                <option value="9">其他</option>
                                <option value="10">等待退款</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-4" >
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">买家:</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="buyer" name="username" />
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <label for="businessTime" class="am-u-sm-3 am-text-right">下单时间：</label>
                        <div class="am-u-sm-9  am-u-end">
                            <div class="am-alert am-alert-danger" id="lineTime" style="display: none">
                              <p>开始日期应小于结束日期！</p>
                            </div>
                            <div class="am-g">
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-start">开始日期</button><input type="hidden" id="begin_date" name="begin_time" value="" /><span id="my-startDate">2017-01-01</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-end">结束日期</button><input type="hidden" id="end_date" name="end_time" value="" /><span id="my-endDate">2017-01-31</span>
                              </div>
                              <small class="red redtips">请先选择结束日期</small>
                            </div>
                        </div>
                        
                    </div>
                    <input type="hidden" name="storeid" value="<?php echo $storeid;?>">
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchOrder"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">全部订单列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>订单编号 </th>
                                    <th width="40%" class="am-text-center">购买商品 </th>
                                    <th>订单金额 </th>
                                    <th>买家 </th>
                                    <th>订单时间</th>
                                    <th>订单状态 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                                <tr class="trClass"><td colspan="12" class="am-text-center"><img class="imgBox" src="assets/img/huanchong.gif"></td><td></td></tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center pagebox">
                        
                        <div id="Pagination">
                            <div class="pagination">
                                <a class="prev"><i></i>上一页</a>
                                <a class="current">1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <span class="pagination-break">...</span>
                                <a class="ep">15</a>
                                <a class="next">下一页 <i></i></a>
                            </div>
                        </div>
                        <div class="searchPage">
                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>
                          <span class="page-go">跳转<input type="text">页</span>
                          <a href="javascript:;" class="page-btn">确定</a>
                        </div>
                        <div claa="am-text-middle">
                           <span>共<span class="allData">15</span>条数据</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<!--确认发货的提示框-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="express">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">输入发货信息</div>
        <div class="am-modal-bd">
            <!-- 本地生活 信息展示类 -->
            <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action='<?php echo site_url()?>' method='post' enctype='multipart/form-data'>
                <div class="am-form-group am-cf">
                    <label class="am-u-sm-3 am-form-label">名称 <span class="red">*</span></label>
                    <div class="am-u-sm-8">
                        <input type='hidden' name='type_name' value="<?php echo $id;?>" />  
                        <input type="text" placeholder="请输入标题,2-15个字符" name='name' minlength="2" maxlength="15" required onblur="validate(this,2,15,1)">
                    </div>
                    <small class="am-u-sm-1 red redtips1" style="display: none;"><i class="am-icon-close"></i></small>
                    <small class="am-u-sm-1 green blacktips1" style="display: none;"><i class="am-icon-check"></i></small>
                </div>
             
            
                <div class="am-form-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                    <button type="submit" class="am-btn am-btn-danger">提交</button>
                </div>
            </form>
        </div>
    </div> 
</div>
<script type="text/javascript">
    var total_page=0, pageflag = 1, $shopOrder = parseInt(sessionStorage.getItem('shopOrder')) || 0, $isShopOrder = parseInt(sessionStorage.getItem('isShopOrder')) || 0;
    //导入数据
    function uploadFiles(){
        var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象
       // console.log(fileObj.name.split('.')[1]);
        var FileController="<?php echo site_url('/shop/shop/impolt_store');?>";//上传文件的后台地址
        if(fileObj.name.split('.')[1]=='xml' || fileObj.name.split('.')[1]=='xlsx'){
           var form=new FormData();
            form.append('file',fileObj); //文件对象
            //实例化XMLHttpRequest对象
            var xhr=new XMLHttpRequest();
            xhr.open('post',FileController,true);
            xhr.onload=function(){
                alert("导入成功！");
                location.reload();     
            };
            xhr.send(form); 
            return true;
        }else{
            alert("上传文件的格式错误！");
            return false;
        }
        
    }
    //点击前往某一页的函数
    function go_to_page(page_num){
        $('.page_link').removeClass('active_page');
        $('.page_link').eq(page_num).addClass('active_page');
        $("#dataList").children('tr').css("display","none");
        var start_page=parseInt(15)*parseInt(page_num);
        var end_page=parseInt(15)*parseInt(page_num+1);
        $('#dataList').children('tr').slice(start_page,end_page).css('display','');
        current_page = page_num;
        sessionStorage.setItem('shopOrder', current_page);
        $shopOrder = parseInt(sessionStorage.getItem('shopOrder'));
        
    }

    //点击上一页的函数
    function previous(){
        if($('.current').length>1) {
            new_page = parseInt($('.current').eq(0).html()) - 2;
        }else {
            new_page = parseInt($('.current').html()) - 2;
        }
        if(new_page >= 0) {
            go_to_page(new_page);
        }
    }

    //点击下一页的函数
    function next(argu){
        if($('.current').length>1) {
            new_page = parseInt($('.current').eq(1).html());
        }else {
            new_page = parseInt($('.current').html());
        }     
        if(new_page < argu){   
            console.log(new_page + ' ' + argu);
            go_to_page(new_page);
        }
    }
    //一些操作函数
    function someOptions() {
        $('.editOrder').click(function(){//查看订单信息
            var dataId=$(this).attr('data-id');
            $(this).attr("href","<?php echo site_url('/shop/singleShop/sureOrder/" + dataId + "');?>");
        });
         $('.modifyOrder').click(function(){//修改订单信息
            var dataId=$(this).attr('data-id');
            $(this).attr("href","<?php echo site_url('/shop/singleShop/shopEditOrder/" + dataId + "');?>");
        });
        
        for(var i=0;i<$('.deliverOrder').length;i++){
            var dataId=$('.deliverOrder').eq(i).attr('data-id');
            $('.deliverOrder').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");                         
        }

        for(var i=0;i<$('.agreeRefund').length;i++){
            var dataId=$('.agreeRefund').eq(i).attr('data-id');
            $('.agreeRefund').eq(i).attr("data-am-modal","{target: '#agree"+ dataId +"'}");                        
        }
        for(var i=0;i<$('.tpl-del').length;i++){
            var dataId=$('.tpl-del').eq(i).attr('data-id');
            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#de"+ dataId +"'}");                        
        }
        for(var i=0;i<$('.agreeOrder').length;i++){
            var dataId=$('.agreeOrder').eq(i).attr('data-id');
            $('.agreeOrder').eq(i).attr("data-am-modal","{target: '#agreeSales"+ dataId +"'}");                        
        }
        //是否自提
        $('.send_type').change(function () {
            if($(this).val() == "ZT") {
                $('.kuaidiNum').css('display', 'none');
            } else {
                $('.kuaidiNum').css('display', 'block');
            }
        });
        //是否同意退款
        $('.isAgree').change(function () {
            if($(this).val() == "0") {
                $('.refuseInput').css('display', 'block');
            } else {
                $('.refuseInput').css('display', 'none');
            }
        });
        //是否同意退货
        $('.isAgreeReturn').change(function () {
            if($(this).val() == "0") {
                $('.refuseReturnInput').css('display', 'block');
                $('.receiveAddress').css('display', 'none');
            } else {
                $('.refuseReturnInput').css('display', 'none');
                $('.receiveAddress').css('display', 'block');
            }
        });
        //确认退货
        $('.sureReturn').click(function(){
            var dataId = $(this).attr('data-id');
            var isAgreeReturn = $('#isAgreeReturn'+dataId).val();
            var refund_reason_return = $('#refund_reason_return'+dataId).val() || '';
            var return_address = $('#backAddress'+dataId).val() || '';
            console.log('order_id='+dataId+'&isAgree='+ isAgreeReturn +'&refund_reason='+ refund_reason_return + '&return_address='+ return_address);
            if(isAgreeReturn == 0 && !refund_reason_return){
                alert("请正确填写发货信息！");
                return false;          
            }
            if(isAgreeReturn == 1 && !return_address){
                alert("请正确填写发货信息！");
                return false;          
            }
            $.ajax({
                type:'post',
                url:'<?php echo site_url('/shop/SingleShop/order_refund_goods');?>',
                data: 'order_id='+dataId+'&isAgree='+ isAgreeReturn +'&refund_reason='+ refund_reason_return + '&return_address='+ return_address,
                success: function(data){
                  if(data == 1) {
                    getList('<?php echo site_url('/shop/singleShop/store_order');?>','storeid='+<?php echo $storeid;?>);
                  }
                },
                error:function(xhr,type,errorThrown){
                    alert("操作失败，请检查网络设置！");
                }
            });     
            $('#agreeSales'+ dataId).modal('close');
            return true;
        });
        //货已收到
        $('.confirmGot').click(function(){
            var dataId = $(this).attr('data-id');
            var isAgreeReturn = 1;
            var refund_reason_return = '';
            console.log('order_id='+dataId+'&isAgree='+ isAgreeReturn +'&refund_reason='+ refund_reason_return);
            $.ajax({
                type:'post',
                url:'<?php echo site_url('/shop/singleShop/order_refund');?>',
                data: 'order_id='+dataId+'&isAgree='+ isAgreeReturn +'&refund_reason='+ refund_reason_return,
                success: function(data){
                  if(data == 1) {
                    getList('<?php echo site_url('/shop/singleShop/store_order');?>','storeid='+<?php echo $storeid;?>);
                  }
                },
                error:function(xhr,type,errorThrown){
                    alert("操作失败，请检查网络设置！");
                }
            });     
            $('#agreeSales'+ dataId).modal('close');
            return true;
        });
        //确认退款
        $('.sureAgree').click(function(){
            var dataId = $(this).attr('data-id');
            var isAgree = $('#isAgree'+dataId).val();
            var refund_reason = $('#refund_reason'+dataId).val() || '';
            console.log('order_id='+ dataId +'&isAgree='+isAgree+'&refund_reason='+ refund_reason);
            if(isAgree == 0 && !refund_reason){
               alert("请正确填写发货信息！");
                return false;             
            }
            $.ajax({
                type:'post',
                url:'<?php echo site_url('/shop/singleShop/order_refund');?>',
                data: 'order_id='+ dataId +'&isAgree='+isAgree+'&refund_reason='+ refund_reason,
                success: function(data){
                    if(data == 1) {
                        getList('<?php echo site_url('/shop/singleShop/store_order');?>','storeid='+<?php echo $storeid;?>);
                      }
                },
                error:function(xhr,type,errorThrown){
                    alert("操作失败，请检查网络设置！");
                }
            });   
            $('#agree'+ dataId).modal('close');
        });
        //确认发货的AJAX请求
        $('.sureDeliver').click(function(){
            var dataId=$(this).attr('data-id');
            var send_type= $('#send_type'+dataId).val();
            var send_no=$('#send_no'+dataId).val() || '';

            if(send_type){
                $.ajax({
                    type:'post',
                    url:'<?php echo site_url('/shop/singleShop/send_express/');?>',
                    data: 'send_type='+send_type+'&send_no='+ send_no+'&orderid='+dataId,
                    success: function(data){

                        if(data==1){ 
                            getList('<?php echo site_url('/shop/singleShop/store_order');?>','storeid='+<?php echo $storeid;?>);                                          
                            alert("操作成功！");

                        }else{
                            alert("操作失败！");
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        alert("操作失败，请检查网络设置！");
                    }
                });               
            } else {
                alert("请正确填写发货信息！");
                return false;
            }
            $('#'+ dataId).modal('close');
        });
    }
    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){ 
                 
            var res = eval(result); 
            console.log(res);
            if(res != 2 && res != 3){
                var listData = ''; //每页出现的数量
                total_page = Math.ceil(res.length/15); //得到总页数
                for(var i = 0; i < res.length; i++){
                    res[i].goods_data = JSON.parse(res[i].goods_data);

                    for(var j = 0;j < res[i].goods_data.goods_Data.length; j++){
                        res[i].goods_data.goods_Data[j].good_pic = eval(res[i].goods_data.goods_Data[j].good_pic);
                        if(res[i].goods_data.goods_Data[j].good_tags) {
                            res[i].goods_data.goods_Data[j].good_tags = res[i].goods_data.goods_Data[j].good_tags.split(',');
                        }
                    }
                    listData+= template('dataModal',res[i]);
                } 
                document.getElementById('dataList').innerHTML = listData;
                $('.pagebox').css('display', 'block');
                $('.allData').html(res.length);
                if(pageflag) {
                    var opts={};opts.current_page = $shopOrder;
                    $("#Pagination").pagination(total_page, opts);
                    if($shopOrder) {
                        go_to_page($shopOrder);
                    }
                    pageflag = 0;
                } else {
                    $("#Pagination").pagination(total_page);
                    go_to_page(0);
                    
                }
                if(total_page < 5) {
                    $('.searchPage').css('display', 'none');
                }
                someOptions();

            }else{
                $('#dataList').find('tr.trClass').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无订单信息！</p></td></tr>').appendTo('#dataList');
                $('.pagebox').css('display', 'none');
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
            $('#dataList').find('tr.trClass').remove();
            $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无订单信息！</p></td></tr>').appendTo('#dataList');
            $('.pagebox').css('display', 'none');
        }
    });
}
$(document).ready(function(){
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
          $('#begin_date').val($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
          $('#end_date').val($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
    //加载列表数数据
    if($isShopOrder) {
        var orderState=$('#orderState option:selected').val(),buyer=$('#buyer').val(), begin_date = $('#begin_date').val(), end_date = $('#end_date').val();
           console.log('storeid='+<?php echo $storeid;?>+'&state='+ orderState +'&start_time='+ begin_date +'&end_time='+ end_date + '&username='+ buyer);
        getList('<?php echo site_url('/shop/singleShop/order_search');?>','storeid='+<?php echo $storeid;?>+'&state='+ orderState +'&start_time='+ begin_date +'&end_time='+ end_date + '&username='+ buyer);
        sessionStorage.setItem('isShopOrder', 1);
    } else {
        getList('<?php echo site_url('/shop/singleShop/store_order');?>','storeid='+<?php echo $storeid;?>); 
    }
    //点击搜索
    $('.searchOrder').click(function(){
        var orderState=$('#orderState option:selected').val(),buyer=$('#buyer').val(), begin_date = $('#begin_date').val(), end_date = $('#end_date').val();
           console.log('storeid='+<?php echo $storeid;?>+'&state='+ orderState +'&start_time='+ begin_date +'&end_time='+ end_date + '&username='+ buyer);
        getList('<?php echo site_url('/shop/singleShop/order_search');?>','storeid='+<?php echo $storeid;?>+'&state='+ orderState +'&start_time='+ begin_date +'&end_time='+ end_date + '&username='+ buyer);
        sessionStorage.setItem('isShopOrder', 1);
            return true;
        
    });

})
</script>
<script type="text/html" id="dataModal">   
    <tr class="trClass" id="trClass<%= order_id %>" data-id="<%= order_id %>">
        <td class="am-text-middle"><%= order_id %></td>
        <td class="am-text-middle">
        <% for(var j = 0; j < goods_data.goods_Data.length; j++) {%>    
            <div class="am-u-sm-12">
                <div class="am-u-sm-2">
                <% if(goods_data.goods_Data[j].thumb) {%>
                    <img src="<%= goods_data.goods_Data[j].thumb %>" class="goodsImg">
                <% } else { %>
                    <img src="assets/img/nullImg.jpg" class="goodsImg">
                <% } %>
                </div>
                <div class="am-u-sm-8 smallSize">
                    <p class="goodsTitle"><%= goods_data.goods_Data[j].title %></p>
                    <p class="gray">
                        <% if(goods_data.goods_Data[j].stend1) { %>
                        <span><%= goods_data.goods_Data[j].stend1 %>:
<%= goods_data.goods_Data[j].value1 %></span>
                        <% } %>
                        <% if(goods_data.goods_Data[j].stend2) { %>
                        <span><%= goods_data.goods_Data[j].stend2 %>:
<%= goods_data.goods_Data[j].value2 %></span>
                        <% } %>
                        <% if(goods_data.goods_Data[j].stend3) { %>
                        <span><%= goods_data.goods_Data[j].stend3 %>:
<%= goods_data.goods_Data[j].value3 %></span>
                        <% } %>
                        <% if(goods_data.goods_Data[j].stend4) { %>
                        <span><%= goods_data.goods_Data[j].stend4 %>:
<%= goods_data.goods_Data[j].value4 %></span>
                        <% } %>
                        <span class="am-fr"><%= goods_data.stores.store_name %> </span>
                    </p>

                    <% if(goods_data.goods_Data[j].good_tags) { %>
                        <p><% for(var k = 0;k < goods_data.goods_Data[j].good_tags.length; k++) { %>    
                            <span class="goods_tags"><%= goods_data.goods_Data[j].good_tags[k] %></span>
                                
                        <% } %>

                        </p>
                    <% } %>
                </div>
                <div class="am-u-sm-2 am-text-right">
                    <p class="goods_price">￥<%= goods_data.goods_Data[j].price %></p>
                    <p class="gray">x<%= goods_data.goods_Data[j].nums %></p>
                </div>
            </div>
        <% } %>
        </td>
        <td class="am-text-middle"><%= amount %></td>
        <td class="am-text-middle">
        <% if(username) {%>
        <%= username%>
        <%} else {%>
        <%= nickname%>
        <%}%>
        </td>
        <td class="am-text-middle">   
            <%= create_time %>
        </td>
        <%if(order_status==1 && trash == 1) {%>
            <td class="am-text-middle red">
                未支付
            </td>
        <%}else if(order_status==1 && trash == 0){%>
           <td class="am-text-middle red">
                订单已取消
            </td>
        <%}else if(order_status==2){%>
            <td class="am-text-middle">
                已支付&nbsp;&nbsp;
                <a data-id="<%= order_id%>" class="deliverOrder"><i class="am-icon-paper-plane"></i>发货</a>
            </td>
            <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= order_id%>">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">确认发货</div>
                <div class="am-modal-bd">
                    <form class="am-form tpl-form-line-form">
                        <div class="am-form-group am-cf">
                            <label class="am-u-sm-3 am-form-label" style="line-height: 37px">当前操作 </label>
                            <div class="am-u-sm-9 am-form-label am-text-danger am-text-left">确认发货</div>  
                        </div>
                        <div class="am-form-group am-cf">
                            <label class="am-u-sm-3 am-form-label">快递类型<span class="red">*</span> </label>
                            <div class="am-u-sm-9 am-text-left">
                                <select class="send_type am-form-field" id="send_type<%= order_id%>" required data-am-selected="{searchBox: 1,maxHeight: 200}" name="send_type">
                                    <option value="">请选择快递类型</option>
                                    <option value="EMS">EMS</option>
                                    <option value="SF">顺丰快递</option>
                                    <option value="STO">申通快递</option>
                                    <option value="YTO">圆通速递</option>
                                    <option value="ZTO">中通速递</option>
                                    <option value="YD">韵达快递</option>
                                    <option value="HTKY">百世汇通</option>
                                    <option value="PJ">品骏快递</option>
                                    <option value="UAPEX">全一快递</option>
                                    <option value="ZT">自提</option>
                                </select>
                            </div>
                        </div>
                   
                        <div class="am-form-group am-cf kuaidiNum">
                            <label class="am-u-sm-3 am-form-label">快递单号 <span class="red">*</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" placeholder="请输入快递单号！"  id='send_no<%= order_id%>' class="send_no" name='send_no'>
                            </div>
                        </div>
                        <div class="am-form-group am-btn-group-xs">
                            <span type="button" class="am-btn am-btn-default" data-am-modal-close>取消</span>
                            <span  class="am-btn am-btn-danger sureDeliver" data-id="<%= order_id%>" data-am-modal-confirm>发货</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%}else if(order_status==3){%>
            <td class="am-text-middle warning">
                已发货
            </td>
        <%}else if(order_status==4){%>
            <td class="am-text-middle">
                已收货
            </td>
        <%}else if(order_status==5){%>
            <td class="am-text-middle success">
                已评价
            </td>
        <%}else if(order_status==6){%>
            <td class="am-text-middle">
                <p>申请退货退款</p>
                <a data-id="<%= order_id%>" class="agreeOrder"><i class="am-icon-check"></i>同意并等待商品退回</a>
                <div class="am-modal am-modal-confirm" tabindex="-1" id="agreeSales<%= order_id%>">
                    <div class="am-modal-dialog">
                        <div class="am-modal-hd">同意退货</div>
                        <div class="am-modal-bd">
                            <form class="am-form tpl-form-line-form">
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">退款类型：</label>
                                    <div class="am-u-sm-9 am-text-left">
                                        退货退款
                                    </div>
                                </div>
                           
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">退款原因：</label>
                                    <div class="am-u-sm-9 am-text-left">
                                        <% if(buyer_reason.length) { %>
                                            <%= buyer_reason %> 
                                        <%}else {%>
                                           买家未填写
                                        <%}%>
                                    </div>
                                </div>
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">退款说明：</label>
                                    <div class="am-u-sm-9 am-text-left">
                                        <% if(refund_reason.length) { %>
                                            <%= refund_reason %>
                                        <%}else {%>
                                           买家未填写
                                        <%}%>
                                    </div>
                                </div>
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">是否同意<span class="red">*</span>：</label>
                                    <div class="am-u-sm-9">
                                        <select class="am-input isAgreeReturn" required data-am-selected="{searchBox: 1,maxHeight: 200}" name="isAgreeReturn" id="isAgreeReturn<%= order_id%>">
                                            <option value="">输入查找/选择</option>
                                            <option value="1">同意</option>
                                            <option value="0">拒绝</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group am-cf receiveAddress">
                                   <label for="user-email" class="am-u-sm-3 am-form-label">退货地址<span class="red">*</span>：</label>
                                   <div class="am-u-sm-9">
                                      <textarea class="am-form-field" rows="5" id="backAddress<%= order_id %>">
                                          <%= return_address %>
                                      </textarea>
                                   </div>
                                </div> 
                                <div class="am-form-group am-cf refuseReturnInput">
                                   <label for="user-email" class="am-u-sm-3 am-form-label">拒绝理由<span class="red">*</span>：</label>
                                   <div class="am-u-sm-9">
                                      <input type="text" placeholder="请输入拒绝理由！" class="refund_reason_return" name='refund_reason' id="refund_reason_return<%= order_id%>" required />
                                   </div>
                                </div> 
                                <div class="am-form-group am-btn-group-xs">
                                    <span type="button" class="am-btn am-btn-default" data-am-modal-close>取消</span>
                                    <span  class="am-btn am-btn-danger sureReturn" data-id="<%= order_id%>" data-am-modal-confirm>确定</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        <%}else if(order_status==7){%>
            <td class="am-text-middle">
                <p>等待退货物流</p>
                
            </td>
        <%}else if(order_status==8){%>
            <td class="am-text-middle">
                退款成功
            </td>
        <%}else if(order_status==9){%>
            <td class="am-text-middle">
                其他
            </td>
        <%}else if(order_status==10 && admin_orderState == 0){%>
           <%if(order_status==10 && !saleReturn_num){%>
            <td class="am-text-middle">
                <p>仅申请退款</p>
                <a data-id="<%= order_id%>" class="agreeRefund"><i class="am-icon-check"></i>同意并通知管理员</a>
                <div class="am-modal am-modal-confirm" tabindex="-1" id="agree<%= order_id%>">
                    <div class="am-modal-dialog">
                        <div class="am-modal-hd">同意退款</div>
                        <div class="am-modal-bd">
                            <form class="am-form tpl-form-line-form">
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">退款类型：</label>
                                    <div class="am-u-sm-9 am-text-left">
                                        仅退款
                                    </div>
                                </div>
                           
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">退款理由：</label>
                                    <div class="am-u-sm-9 am-text-left">
                                        <% if(buyer_reason.length) { %>
                                            <%= buyer_reason %>
                                        <%}else {%>
                                           买家未填写
                                        <%}%>
                                    </div>
                                </div>
                                <div class="am-form-group am-cf">
                                    <label class="am-u-sm-3 am-form-label">是否同意：</label>
                                    <div class="am-u-sm-9">
                                        <select class="am-input isAgree" required data-am-selected="{searchBox: 1,maxHeight: 200}" name="isAgree" id="isAgree<%= order_id%>">
                                            <option value="">输入查找/选择</option>
                                            <option value="1">同意</option>
                                            <option value="0">拒绝</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group am-cf refuseInput">
                                   <label for="user-email" class="am-u-sm-3 am-form-label">拒绝理由：</label>
                                   <div class="am-u-sm-9">
                                      <input type="text" placeholder="请输入拒绝理由！" class="refund_reason" name='refund_reason' id="refund_reason<%= order_id%>" required />
                                   </div>
                                </div> 
                                <div class="am-form-group am-btn-group-xs">
                                    <span type="button" class="am-btn am-btn-default" data-am-modal-close>取消</span>
                                    <span  class="am-btn am-btn-danger sureAgree" data-id="<%= order_id%>" data-am-modal-confirm>确定</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </td>
             <%}else{%>
                <td>   
                     <p>退货物流已提交</p>
                     <a data-id="<%= order_id%>" class="confirmGot"><i class="am-icon-check"></i>货已收到</a>
                </td>
             <%}%>
        <%} else if(order_status==10 && admin_orderState == 1) { %>
             <td class="am-text-middle">
               等待管理员退款
            </td>
        <%}%>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= order_id%>" class="editOrder">
                    <i class="am-icon-eye"></i> 查看详情
                </a>
             
               <a data-id="<%= order_id%>" class="modifyOrder tpl-table-black-operation-del">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
            </div>
        </td>
    </tr>
    
    
    <div class="am-modal am-modal-confirm" tabindex="-1" id="de<%= order_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= order_id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>
