 
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
} 
.shopState{
    background: #15b5ac;
    border-radius: 5px;
    border: 1px solid #15b5ac;
    padding:5px 5px;
    color: #fff;
    text-align: center;
}

.shopState option{
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding:2px 5px;
    color: #000;
    text-align: center;
}
.shopState option[selected="selected"]{
    background: #15b5ac;

}
.editShop{
    border:1px solid #e0690c !important;
    padding:5px 6px !important;
    color: #e0690c !important;
}
.editShop:hover {
    background: #e0690c !important;
    color: #fff !important;
}
 #preview{
        height:150px !important;
    }
    #preview #imghead,#preview img{
     height:140px !important;
    }
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商铺管理
            <a href="<?php echo site_url().'/shop/shop/index';?>" style="font-size:16px;">商家列表</a><small></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商家查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="yetai" class="am-u-sm-3 am-form-label">分类业态</label>
                        <div class="am-u-sm-9">
                            <select id="yetaiSort">
                                <option value="">-=请选择一项=-</option>
                                <?php foreach($yetai as $val):?>
                                    <option value="<?php echo $val['id']?>"><?php echo $val['type_name']?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="shop_state" class="am-u-sm-3 am-form-label">状态</label>
                        <div class="am-u-sm-9">
                            <select id="shopstate">
                                <option value="">-=请选择一项=-</option>
                                <option value="1">正常</option>
                                <option value="0">冻结</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-3 am-form-label">楼层</label>
                        <div class="am-u-sm-9" id="floorNumber">
                            <select id="source_state">
                                <option value="">-=请选择一项=-</option>
                                <option value="0">F1</option>
                                <option value="1">F2</option>
                                <option value="2">F3</option>
                                <option value="3">F4</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-3 am-form-label">铺号</label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="" id="berth">
                        </div>
                    </div>
                     <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-3 am-form-label">关键字查询</label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="" id="keywords">
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchShop"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear: both;">商家列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/shop/shop/addShop/2';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                    <div class="wx_type_img am-inline">
                                         <input type="file" id="imgUpload" name="xml" onchange="uploadFiles()" class="upload-add fileUpLoad" >
                                          <!-- 图片实时预览 -->
                                          <button class="am-btn am-btn-secondary am-btn-xs"><span class="am-icon-arrow-down"></span> 导入</button>
                                    </div>
                                    <a href="<?php echo site_url('/shop/shop/dowload_store/2');?>" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-arrow-up"></span> 导出</a> 
                                    <a href="Upload/xls/impolt_store.xlsx" class="am-btn am-btn-default am-btn-primary"><span class="am-icon-arrow-up"></span> 下载导入模板</a>
                                    <a data-am-modal="{target:'#joinRecommend'}" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-edit"></span> 加入达人推荐</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="tablecheck"><input type="checkbox" /></th>
                                    <th class="moll_name">商场名称 </th>
                                    <th class="shop_id">商铺编号 </th>
                                    <th class="shop_name">商铺名称 </th>
                                    <th class="shop_type">商铺类型 </th>
                                    <th class="brand">品牌 </th>
                                    <th class="shop_block">街区 </th>
                                    <th class="floor_shopId">楼层/铺位号 </th>
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="shopList">
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center">
                        <div class="" id="paging_list">
                        </div>
                        <p>共<span class="dataNumber"></span>条数据，共<span class="pageNumber"></span>页</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--加入达人推荐的弹窗开始-->
<div class="am-modal am-modal-confirm" tabindex="-1" id="joinRecommend">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">加入达人推荐</div>
        <div class="am-modal-bd">
            <form class="am-form tpl-form-line-form"  data-am-validator enctype='multipart/form-data'>
            <div class="am-form-group am-cf">
                <label class="am-u-sm-2 am-form-label">标题 ：</label>
                <div class="am-u-sm-9 am-u-end">
                    <input type="text" name="" />
                </div>
            </div>
            <div class="am-form-group am-cf">
                <label class="am-u-sm-2 am-form-label">缩略图 ：</label>
                <div class="am-u-sm-9 am-u-end">
                    <div class="wx_type_img">
                     <input type="file" id="imgUpload" name="img4" onchange="previewImage(this)" class="upload-add am-form-field"  required>
                      <!-- 图片实时预览 -->
                      <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                    </div>
                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                    <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                </div>
            </div>
            <div class="am-form-group am-cf">
                <label class="am-u-sm-2 am-form-label">详情 ：</label>
                <div class="am-u-sm-9 am-u-end">
                  <div id="editorContent">
                    <script id="editor" type="text/plain" name='content'></script>
                  </div>
                </div>
            </div>
        </form>
            
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-id="" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<!--加入达人推荐的弹窗结束-->
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    //导入数据
    function uploadFiles(){
        var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象
       // console.log(fileObj.name.split('.')[1]);
        var FileController="<?php echo site_url('/shop/Shop/impolt_store');?>";//上传文件的后台地址
        if(fileObj.name.split('.')[1]=='xml' || fileObj.name.split('.')[1]=='xlsx'){
           var form=new FormData();
            form.append('file',fileObj); //文件对象
            form.append('typeid','2'); //文件对象
            //实例化XMLHttpRequest对象
            var xhr=new XMLHttpRequest();
            xhr.open('post',FileController,true);
            xhr.onload=function(){
                alert("导入成功！");
                location.reload();
            
            };
            xhr.send(form); 
            return true;
        }else{
            alert("上传文件的格式错误！");
            return false;
        }
        
    }

    //实例化编辑器
    var ue = UE.getEditor('editor');
    //删除图片
    $(".deleteImg").click(function(){      
        $(this).prevUntil('.preview').find('img').attr('src','assets/img/nullImg.jpg');
        $(this).prevUntil('.preview').find('input').val(" ");
        $(this).prevUntil('.preview').find('input').files="";
    });
    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){        
            var res = eval(result);
            console.log(res);
            if(res!=2){
                var nums = 10; //每页出现的数量
                var pages = Math.ceil(res.length/nums); //得到总页数
                $('.dataNumber').html(res.length);
                $('.pageNumber').html(pages);
                var thisDate = function(curr){
                    var listData = '' , last = curr*nums - 1;
                    last = last >= res.length ? (res.length-1) : last;
                     for(var i = (curr*nums - nums); i <= last; i++){
                        listData+= template('shopModal',res[i]);
                     }
                    
                    return listData;
                };
                //调用分页
                laypage({
                    cont: 'paging_list',
                    pages: pages,
                    jump: function(obj){
                        document.getElementById('shopList').innerHTML = thisDate(obj.curr);
                        $('.editShop').click(function(){//编辑商家信息
                            var dataId=$(this).attr('data-id');
                            $(this).attr("href","<?php echo site_url('/shop/shop/editShop/" + dataId + "');?>");
                        });
                         $('.manageShop').click(function(){//管理商家信息
                            var dataId=$(this).attr('data-id');
                            $(this).attr("href","<?php echo site_url('/shop/singleShop/shopAdmin/" + dataId + "');?>");
                        });
                        for(var i=0;i<$('.tpl-del').length;i++){
                            var dataId=$('.tpl-del').eq(i).attr('data-id');
                            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
                            if($('.shopState option:selected').eq(i).val()=="0"){
                                $('.shopState').eq(i).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'});
                            }                          
                        }
                        //更改商家的状态
                        $('.shopState').change(function(){
                            var dataId=$(this).attr('data-id');
                            if($(this).find('option:selected').val()=="1"){
                                $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/shop/shop/edit_shop_state');?>',
                                    data: 'id='+ dataId+'&state=1',
                                    success: function(data){
                                        if(data==1){
                                            
                                        }else{
                                            alert("操作失败！");
                                        }
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    } 
                                });
                                $(this).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'});
                            }else{
                                $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/shop/shop/edit_shop_state');?>',
                                    data: 'id='+ dataId+'&state=2',
                                    success: function(data){
                                        if(data==1){

                                        }else{
                                            alert("操作失败！");
                                        }
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                                $(this).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'}); 
                            }
                            
                            
                        });

                        //删除商家的AJAX请求
                        $('.sureDelete').click(function(){
                            var dataId=$(this).attr('data-id');
                            for(var i=0;i<$('.trClass').length;i++){
                                if($('table tbody tr').eq(i).attr('data-id')==dataId){
                                    $.ajax({
                                        type:'post',
                                        url:'<?php echo site_url('/shop/shop/del_shop_store');?>',
                                        data: 'id='+dataId,
                                        success: function(data){
                                            if(data==1){                                           
                                                for(var i=0;i<$('.trClass').length;i++){
                                                    if($('.trClass').eq(i).attr('data-id')==dataId){
                                                        $('.trClass').eq(i).remove();
                                                         getList('<?php echo site_url('/shop/shop/return_shop_page');?>','default=1');
                                                    }
                                                }
                                            }else{
                                                alert("操作失败！");
                                            }
                                            
                                        },
                                        error:function(xhr,type,errorThrown){
                                            alert("操作失败，请检查网络设置！");
                                        }
                                    });
                                }
                            }
                            
                        });
                        
                    }
                })
            }else{
                $('#shopList').find('tr').remove();
                $('.dataNumber').html("");
                $('.pageNumber').html("");
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关商家信息！</p></td></tr>').appendTo('#shopList');
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}
$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/shop/shop/return_shop_page');?>','typeid=2');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/shop/shop/return_shop_page');?>','typeid=2');
    });
    //点击搜索
    $('.searchShop').click(function(){
        var yetaiSort=$('#yetaiSort option:selected').val(),shopstate=$('#shopstate option:selected').val(),floorNumber=$('#floorNumber option:selected').val(),berth=$('#berth').val(),keywords=$('#keywords').val();
        console.log('yetai='+ yetaiSort +'&state='+ shopstate +'&floor='+ floorNumber +'&berth='+ berth +'&sear='+keywords);
       getList('<?php echo site_url('/shop/shop/search_store');?>','yetai='+ yetaiSort +'&state='+ shopstate +'&floor='+ floorNumber +'&berth='+ berth +'&sear='+keywords);
    });
})
</script>
<script type="text/html" id="shopModal">
    <tr class="trClass" data-id="<%= store_id%>">
        <td class="am-text-middle" ><input type="checkbox" data-id="<%= store_id%>" name="commentBox"></td>
        <td>宏帆广场</td>
        <td class="am-text-middle"><%= store_id%></td>
        <td class="am-text-middle"><%= store_name%></td>
        <td class="am-text-middle"><%= store_type%></td>
        <td class="am-text-middle"><%= barnd_name%></td>
        <td class="am-text-middle"><%= block_name%></td>
        <td class="am-text-middle"><%= floor_name%></td>
        <td class="am-text-middle"><%= create_time%></td>
        <td class="am-text-middle">
            <%if(state=="1"){%>
            <select id="" class="shopState" name="shopState" data-id="<%= store_id%>">
                <option value="">-=请选择一项=-</option>
                <option value="1" selected="selected">正常</option>
                <option value="0">冻结</option>
            </select>
            <%}else{%>
            <select id="" class="shopState" name="shopState" data-id="<%= store_id%>">
                <option value="">-=请选择一项=-</option>
                <option value="1">正常</option>
                <option value="0" selected="selected">冻结</option>
            </select>
            <%}%>
        </td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= store_id%>" class="manageShop">
                    <i class="am-icon-gear" ></i> 管理
                </a>
                <a data-id="<%= store_id%>" class="editShop">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= store_id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= store_id%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= store_id%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>

