<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
    .am-selected{
        width: 100%!important;
    }
    .table-check{
        width: 30px;
    }
    .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo base_url().'admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopBaseInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家基础信息
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopInfo';?>" class="active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopFloorRelation';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家楼层关系
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/goodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/singleShop/shopComment';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 评论管理
                </a>
            </li>
        </ul>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理 <small>商家简介</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商家信息 <small>/所在商场：宏帆广场<small></div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form">
                        <!-- <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-pull-left">
                            <label for="user-name" class="am-u-sm-3 am-form-label">所在商场：</label>
                            <div class="am-u-sm-9">
                                <span>宏帆广场</span>
                            </div>
                        </div> -->
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">LOGO：</label>
                            <div class="am-u-sm-9">
                            <div class="wx_type_img">
                                 <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                  <!-- 图片实时预览 -->
                                  <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                  <button class="am-btn am-btn-secondary am-btn-xs"><i class="am-icon-cloud-upload"></i> 添加商家LOGO</button>                           
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group am-backdrop-on-box am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-weibo" class="am-u-sm-3 am-form-label">商家图片<span class="red">*</span>：</label>
                            <div class="am-u-sm-9">
                                <div class="wx_type_img">
                                 <input type="file" id="imgUpload" name="img[]" onchange="previewImage(this)" class="upload-add" required>
                                  <!-- 图片实时预览 -->
                                  <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                  <button class="am-btn am-btn-secondary am-btn-xs"><i class="am-icon-cloud-upload"></i> 添加商家的介绍图片</button>                           
                                </div>
                                <button type="button" class="am-btn am-btn-warning am-btn-xs">注意!</button>
                                    <span class="tpl-form-line-small-title">图片尺寸限制：不小于720*360，长宽比为2：1或者不小于1280*960，长宽比为4：3，视前端效果来定；图片格式支持：PNG、JPG、JPEG；最大支持4M</span> 
                            </div> 
                        </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">客单价：</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="am-form-field tpl-form-no-bg" placeholder="" value="0" data-am-datepicker="" readonly="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">营业时间：</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="am-form-field tpl-form-no-bg" placeholder="9:00-22:00" data-am-datepicker="" readonly="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-email" class="am-u-sm-3 am-form-label">联系电话：</label>
                            <div class="am-u-sm-9">
                                <input type="tel" class="am-form-field tpl-form-no-bg" placeholder="请输入11位的手机号码" data-am-datepicker="" readonly="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">新浪微博： </label>
                            <div class="am-u-sm-9">
                               <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请不要输入@" data-am-datepicker="" readonly="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">腾讯微博：</label>
                            <div class="am-u-sm-9">
                               <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请不要输入@" data-am-datepicker="" readonly="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">微信账号： </label>
                            <div class="am-u-sm-9">
                               <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请不要输入@" data-am-datepicker="" readonly="">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <label class="am-u-sm-3 am-form-label">文字简介：</label>
                            <div class="am-u-sm-9">
                                <input type="text" placeholder="输入SEO关键字" value="VERO MODA是丹麦国际时装公司BESTSELLER集团旗下知名品牌之一。2001年VERO MODA进入中国市场，面向25-35岁女性的职业休闲装。Vero Moda专为25岁以上拥有超强自我意识和独立性的女士设计。年龄不再敏感，因为Vero Moda女性对时尚有独特的感悟。" />
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">保存</button>
                                <button type="button" class="am-btn am-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
