
<style type="text/css" media="screen">
    .am-selected{
        width: 100%!important;
    }
    .table-check{
        width: 30px;
    }
    .hf-dropdown{
        font-size: 12px!important;
    padding: 5px 6px!important;
    }
 #preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }

    .deleteImg{
        display: inline-block;
        background: #ff0000;
        width:60px;
        height:28px;
        line-height: 28px;
        text-align: center;
        position: absolute;
        left:330px;
        top:342px;
        color:#ffffff;
        font-size: 1.2rem;
    }
    .addpadding{
        padding-left:10%;
    }
    .clickUp{
        margin-left: 150px;
    }
    .tableImg{
    width:80px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商家管理
                <a href="<?php echo site_url().'/shop/singleShop/shopOrder';?>" style="font-size:16px;">订单管理</a>
                <small><a href="<?php echo site_url().'/shop/singleShop/sureOrder';?>">确认订单</a></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">订单操作</div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form" action="<?php echo site_url('/shop/SingleShop/edit_store_order');?>" method="post" enctype="multipart/form-data" data-am-validator>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">当前操作：</label>
                            <div class="am-u-sm-9">
                               <p class="red">修改订单</p> 
                            </div>
                        </div>        
                        <?php 
                            $orderinfo = json_decode($order['goods_data'],true);
                        ?>                 
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">订单单号：</label>
                            <div class="am-u-sm-9">
                                <?php echo $order["order_id"];?>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">商品名称：</label>
                            <div class="am-u-sm-9">
                                <?php echo $orderinfo['goodsData'][0]['goodsName'];?>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">商品图片：</label>
                            <div class="am-u-sm-9">
                                <img class="tableImg" src="<?php echo $orderinfo['goodsData'][0]['goodsImg'];?>">
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">买家：</label>
                            <div class="am-u-sm-9">
                                <?php echo user_name($order['buyer']);?>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">买家联系方式：</label>
                            <div class="am-u-sm-9">
                                 <?php echo $orderinfo['sendAddress']['phoneNow'];?>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">买家留言：</label>
                            <div class="am-u-sm-9">
                                <?php echo $orderinfo['sendAddress']['people'];?>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">下单时间：</label>
                            <div class="am-u-sm-9">
                               <?php echo $order['create_time'];?>
                            </div>
                        </div>
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">商品单价：</label>
                            <div class="am-u-sm-9">
                                ￥<?php echo $orderinfo['totalMoney'];?>
                                <!-- ￥<input type="number" value="320" name="" > -->
                            </div>
                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">附加名称：</label>
                            <div class="am-u-sm-9">
                                 <?php if(!empty($order['fee_name'])):?>
                                <?php echo $order['fee_name'];?>
                                 <?php else:?>
                                <input type="text"  name="fee_name" placeholder="例如运费、退款、收费等" >
                            <?php endif;?>
                            </div>
                        </div>

                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label">附加值：</label>
                            <div class="am-u-sm-9">
                            <?php if($order['fee'] != '0'):?>
                                ￥<?php echo $order['fee'];?>
                            <?php else:?>
                                ￥<input type="text" name="fee" placeholder="可以为负值" >
                            <?php endif;?>
                            </div>
                        </div>
               <!--          <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <label for="user-email" class="am-u-sm-3 am-form-label"></label>
                            <div class="am-u-sm-9">
                               <input type="checkbox" name="">同时确认订单
                            </div>
                        </div> -->
                        <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                            <input type="hidden" name="order_id" value="<?php echo $order['order_id'];?>">
                            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success am-btn-sm">确定</button>
                            <button type="button" class="am-btn am-btn-default am-btn-sm" id="cancle">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
  //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(0);
  });
</script>