<style type="text/css">
    td img{
        width: 100px;
        height: 100px;
    }
    .deleteImg{
        display:inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
    }
     .clickUp{
        display: inline-block;
        float: left;
        margin-left: 80px;
        width:100px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
    }

 .preview{
        height:150px !important;
    }
    .preview #imghead,#preview img{
        
        height:140px;
    }
</style>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 系统设置
            <a href="<?php echo site_url().'/systemSet/systemSet';?>" style="font-size:16px;">管理员账号管理</a>
            <small></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <!-- <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">系统管理员账号查询</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="source_state" class="am-u-sm-3 am-form-label">类型：</label>
                        <div class="am-u-sm-9">
                            <select id="source_state">
                                <option value="请选择">请选择</option>
                                <option value="礼品券">礼品券</option>
                                <option value="代金券">代金券</option>
                                <option value="折扣券">折扣券</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="openTime" class="am-u-sm-3 am-form-label">有效期：</label>
                        <div class="am-u-sm-9">
                            <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-xs am-btn-default am-btn-secondary" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6" style="clear: both;">
                        <label for="" class="am-u-sm-3 am-form-label">领取等级：</label>
                        <div class="am-u-sm-9">
                            <select name="" required class="am-form-field tpl-form-no-bg" data-am-selected="{searchBox: 1,maxHeight: 200}">
                                <option value="">输入查找/选择</option>
                                <option value="不限制">不限制</option>
                                <option value="商家促销">超级VIP</option>
                                <option value="商家活动">普通会员</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <label for="" class="am-u-sm-3 am-form-label">审核状态：</label>
                        <div class="am-u-sm-9">
                            <select id="source_state">
                                <option value="请选择">请选择</option>
                                <option value="0">待审核</option>
                                <option value="1">通过审核</option>
                                <option value="2">驳回</option>
                                <option value="3">删除</option>
                                <option value="3">过期</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form> -->
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear:both;">系统管理员列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a data-am-modal="{target: '#addAccount'}"><span class="am-icon-plus"></span> 新增</a></button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--新增账号模态框开始-->
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="addAccount">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新增管理员</div>
                            <div class="am-modal-bd">
                                <!-- 本地生活 信息展示类 -->
                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action='' method='post' >
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">管理员姓名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">  
                                            <input type="text" placeholder="请输入姓名" name='name' minlength="2" minlength="10" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">管理员用户名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">  
                                            <input type="text" placeholder="请输入用户名" name='name' minlength="2" minlength="10" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">管理员密码 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">  
                                            <input type="password" placeholder="请输入账号密码" name='name' minlength="2" minlength="10" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="manageBrand" class="am-u-sm-3 am-form-label">管理员类型 <span class="red">*</span></label>
                                        <div class="am-u-sm-9"> <select id="manageBrand" name="manageBrand" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                            <option value="">输入查找/选择</option>
                                            <option value="普通管理员">普通管理员</option>
                                            <option value="超级管理员">超级管理员</option>
                                            <option value="其他">其他</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="" class="am-u-sm-3 am-form-label">管理员头像 <span class="red">*</span></label>
                                         <div class="am-u-sm-9">
                                            <div class="wx_type_img">
                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>
                                              <!-- 图片实时预览 -->
                                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                              <span class="clickUp"><i class="am-icon-cloud-upload"></i> 选择图片</span>
                                            </div>
                                            <span class="deleteImg am-text-center"><i class="am-icon-trash"></i> 删除</span> 
                                        </div>
                                    </div>
                                
                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                        <button type="submit" class="am-btn am-btn-secondary">新增</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--新增账号模态框结束-->
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="moll_name">管理员ID</th>
                                    <th class="shop_id">姓名</th>
                                    <th class="shop_name">管理员帐户名 </th>
                                    <th class="shop_type">管理员类型 </th>
                                    <th class="shop_type">管理员头像 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="am-text-middle">S1002245</td>
                                    <td class="am-text-middle">王东</td>
                                    <td class="am-text-middle">wangdongTest</td>
                                    <td class="am-text-middle">普通管理员</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-am-modal="{target: '#editAccount'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S1002245</td>
                                    <td class="am-text-middle">王东</td>
                                    <td class="am-text-middle">wangdongTest</td>
                                    <td class="am-text-middle">普通管理员</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-am-modal="{target: '#editAccount'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S1002245</td>
                                    <td class="am-text-middle">王东</td>
                                    <td class="am-text-middle">wangdongTest</td>
                                    <td class="am-text-middle">普通管理员</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-am-modal="{target: '#editAccount'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S1002245</td>
                                    <td class="am-text-middle">王东</td>
                                    <td class="am-text-middle">wangdongTest</td>
                                    <td class="am-text-middle">普通管理员</td>
                                    <td class="am-text-middle"><img src="assets/img/a5.png"></td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a data-am-modal="{target: '#editAccount'}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <!--编辑账号模态框开始-->
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="editAccount">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">编辑管理员</div>
                            <div class="am-modal-bd">
                                <!-- 本地生活 信息展示类 -->
                                <form class="am-form tpl-form-line-form" enctype="multipart/form-data" data-am-validator action='' method='post' >
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">管理员姓名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">  
                                            <input type="text" placeholder="请输入姓名" name='name' minlength="2" minlength="10" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">管理员用户名 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">  
                                            <input type="text" placeholder="请输入用户名" name='name' minlength="2" minlength="10" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label class="am-u-sm-3 am-form-label">管理员密码 <span class="red">*</span></label>
                                        <div class="am-u-sm-9">  
                                            <input type="password" placeholder="请输入账号密码" name='name' minlength="2" minlength="10" required>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="manageBrand" class="am-u-sm-3 am-form-label">管理员类型 <span class="red">*</span></label>
                                        <div class="am-u-sm-9"> <select id="manageBrand" name="manageBrand" required data-am-selected="{searchBox: 1,maxHeight: 200}">
                                            <option value="">输入查找/选择</option>
                                            <option value="普通管理员">普通管理员</option>
                                            <option value="超级管理员">超级管理员</option>
                                            <option value="其他">其他</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf">
                                        <label for="" class="am-u-sm-3 am-form-label">管理员头像 <span class="red">*</span></label>
                                         <div class="am-u-sm-9">
                                            <div class="wx_type_img">
                                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add am-form-field"  required>
                                              <!-- 图片实时预览 -->
                                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                                <span class="clickUp"><i class="am-icon-cloud-upload"></i> 选择图片</span>
                                            </div>
                                            <span class="deleteImg am-text-center"><i class="am-icon-trash"></i> 删除</span> 
                                        </div>
                                    </div>
                                
                                    <div class="am-form-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default" data-am-modal-close>取消</button>
                                        <button type="submit" class="am-btn am-btn-secondary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--编辑账号模态框结束-->
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function uploadFiles(){
        var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象
       // console.log(fileObj.name.split('.')[1]);
        var FileController="<?php echo site_url('/module/localLife/send_market_data');?>";//上传文件的后台地址
        if(fileObj.name.split('.')[1]=='xml' || fileObj.name.split('.')[1]=='xlsx'){
           var form=new FormData();
            form.append('file',fileObj); //文件对象
            //实例化XMLHttpRequest对象
            var xhr=new XMLHttpRequest();
            xhr.open('post',FileController,true);
            xhr.onload=function(){
                alert("导入成功！");
                location.reload();
            
            };
            xhr.send(form); 
            return true;
        }else{
            alert("上传文件的格式错误！");
            return false;
        }
        
    }

    //删除图片
    $(".deleteImg").click(function(){
        
        $(this).prevUntil('.preview').find('img').attr('src','assets/img/nullImg.jpg');
        
    });
</script>