<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
} 
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.am-modal-bd {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.am-modal-bd textarea{
    margin:0 40px;
    margin-top: 30px;
    margin-bottom: 10px;

}
.goodsName{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.commentState{
    background: #15b5ac;
    border-radius: 5px;
    border: 1px solid #15b5ac;
    padding:5px 5px;
    color: #fff;
    text-align: center;
}
.commentState option{
    background: #fff;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding:2px 5px;
    color: #000;
    text-align: center;
}
.commentState option[selected="selected"]{
    background: #15b5ac;
}
.modal-content{
    width: 400px;
    height: 30px;
    margin:20px auto;
    
}
.modal-content span.am-fr{
    color: #15b5ac;
}
.commentImg{
    width:100px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.imgbox{
    width: 100px;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>系统设置
            <a href="<?php echo site_url().'/systemSet/SystemSet/adverManage';?>" style="font-size: 18px;">广告管理
            </a>  
            <small></small>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
    
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">购物-生活研究所
                    </div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th colspan="2">标题 </th>
                                    <th colspan="2">广告缩略图 </th>
                                    <th colspan="2">操作</th>
                                </tr>
                            </thead>
                            <tbody id="commentList">
                            <?php foreach($adver as $k=>$val):?>
                                <?php if($val['ad_type'] == 2):?>
                                <tr class="trClass" data-id="">
                                    <td colspan="2" class="am-text-middle"><?php echo $val['title'];?></td>
                                    <td colspan="2" class="am-text-middle"><img class="imgbox" src="<?php echo $val['pic'];?>"></td>
                                    <td colspan="2" class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/systemSet/SystemSet/adverEdit/'.$val['id'];?>" class="editComment">
                                                <i class="am-icon-pencil"></i> 编辑详情
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            <?php  endif;?>
                            <?php  endforeach;?>
                              
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--批量删除的弹窗-->
 <div class="am-modal am-modal-confirm" tabindex="-1" id="deleteAll">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除提示</div>
        <div class="am-modal-bd">
            <p class="black">你，确定删除所有选中的记录吗？</p>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn deleteAll"  data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script src="assets/laypage/laypage.js"></script>
<script type="text/javascript">
    var deleteArray=[],nums=0,flag=0;

    //异步刷新的ajax请求   
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){          
            var res = eval(result);
            // console.log(res);
            if(res!=2){
                nums = 10; //每页出现的数量
                var pages = Math.ceil(res.length/nums); //得到总页数
                $('.dataNumber').html(res.length);
                $('.pageNumber').html(pages);
                var thisDate = function(curr){
                    var listData = '' , last = curr*nums - 1;
                    last = last >= res.length ? (res.length-1) : last;
                     for(var i = (curr*nums - nums); i <= last; i++){
                        res[i].comment_pic=eval(res[i].comment_pic);
                        listData+= template('commentListModal',res[i]);
                     }
                    
                    return listData;
                };
                //调用分页
                laypage({
                    cont: 'paging_list',
                    pages: pages,
                    jump: function(obj){
                        document.getElementById('commentList').innerHTML = thisDate(obj.curr);
                        //点击选中所有
                         $('.tablecheck').click(function() {
                            if(flag==0){
                              for(var i=0;i<$('.commentBox').length;i++) {
                                document.getElementsByClassName('commentBox')[i].checked=true;
                              }  
                              flag=1;
                            }else{
                               for(var i=0;i<$('.commentBox').length;i++) {
                                // $('.commentBox').eq(i).attr('checked',false);
                                document.getElementsByClassName('commentBox')[i].checked=false;
                                }
                               flag=0;
                            }
                        });
                        for(var i=0;i<$('.tpl-del').length;i++){
                            var id=$('.tpl-del').eq(i).attr('data-id');
                            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ id +"'}");
                            if($('.commentState option:selected').eq(i).val()=="隐藏"){
                                $('.commentState').eq(i).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #15b5ac','padding':'5px 5px','color': '#fff'});
                            }
                            var reid=$('.commendResponse').eq(i).attr('data-id');
                            $('.commendResponse').eq(i).attr("data-am-modal","{target: '#re"+ id +"'}"); 
                            var editid=$('.editComment').eq(i).attr('data-id'); 
                            $('.editComment').eq(i).attr("data-am-modal","{target: '#co"+ id +"'}"); 

                        }
                        //更改评论的状态
                        $('.commentState').change(function(){
                            var id=$(this).attr('data-id');
                            if($(this).find('option:selected').val()=="显示"){
                                $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/shop/singleShop/edit_comment_state');?>',
                                    data: 'goodsid='+ id+'&state=1',
                                    success: function(data){
                                        if(data==1){
    
                                        }else{
                                            alert("操作失败！");
                                        }
                                        
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                            }else{
                                $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/shop/singleShop/edit_comment_state');?>',
                                    data: 'goodsid='+ id+'&state=0',
                                    success: function(data){
                                        if(data==1){

                                        }else{
                                            alert("操作失败！");
                                        }
                                        
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                                $(this).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'}); 
                            }
                            
                            
                        });

                        //单个商品删除的AJAX请求
                        $('.sureDelete').click(function(){
                            var deleteId=$(this).attr('data-id');
                            deleteArray[0]= deleteId;  
                            deleteArray=eval(deleteArray);
                            console.log(deleteArray);                        
                            for(var i=0;i<$('.trClass').length;i++){
                                if($('table tbody tr').eq(i).attr('data-id')==id){
                                    $.ajax({
                                        type:'post',
                                        url:'<?php echo site_url('/shop/singleShop/del_comment_single');?>',
                                        data: 'commentid='+deleteArray,
                                        success: function(data){
                                            alert(data);
                                            if(data==1){                                           
                                                for(var i=0;i<$('.trClass').length;i++){
                                                    if($('.trClass').eq(i).attr('data-id')==id){
                                                        $('.trClass').eq(i).remove();
                                                        getList('<?php echo site_url('/shop/singleShop/comment_list');?>','default=1');
                                                    }
                                                }
                                            }else{
                                                alert("操作失败！");
                                            }
                                            
                                        },
                                        error:function(xhr,type,errorThrown){
                                            alert("操作失败，请检查网络设置！");
                                        }
                                    });
                                }
                            }
                            
                        });
                        
                        //多个商品删除的AJAX请求
                        $('.deleteAll').click(function(){
                            var deleteId=$(this).attr('data-id');
                            var array=[];
                           // alert($('tr.trClass td input:checkbox[name=commentBox]:checked').length);
                            for(var i=0;i<$('tr.trClass td input:checkbox[name=commentBox]:checked').length;i++){
                                
                                array[i]=$('tr.trClass td input:checkbox[name=commentBox]:checked').eq(i).attr("data-id");
                            }
                            
                            deleteArray=JSON.stringify(array);
                            $.ajax({
                                    type:'post',
                                    url:'<?php echo site_url('/shop/singleShop/del_comment');?>',
                                    data: 'commentid='+deleteArray,
                                    success: function(data){
                                        console.log(data);
                                        if(data==1){
                                            getList('<?php echo site_url('/shop/singleShop/comment_list');?>','default=1');
                                        }else{
                                            alert("操作失败！");
                                        }
                                        
                                    },
                                    error:function(xhr,type,errorThrown){
                                        alert("操作失败，请检查网络设置！");
                                    }
                                });
                            
                        });
                        //回复评论的AJAX请求
                        // $('.sureComment').click(function(){
                        //     var id=$(this).attr('data-id');
                        //     for(var i=0;i<$('.trClass').length;i++){
                        //         if($('table tbody tr').eq(i).attr('data-id')==id){
                        //             var contentText=$('#contentText').val();
                        //             $.ajax({
                        //                 type:'post',
                        //                 url:'<?php echo site_url('/shop/singleShop/del_goods/');?>',
                        //                 data: 'goodsid='+contentText,
                        //                 success: function(data){
                        //                     if(data==1){                                           
                        //                         $('table tbody tr').eq(i).find('.commendResponse').html(contentText);  
                        //                     }else{
                        //                         alert("操作失败！");
                        //                     }
                                            
                        //                 },
                        //                 error:function(xhr,type,errorThrown){
                        //                     alert("操作失败，请检查网络设置！");
                        //                 }
                        //             });
                        //         }
                        //     }
                            
                        // });
                        
                    }
                })
            }else{
                for(var i=0;i<$('.trClass').length;i++){
                    $('.trClass').eq(i).remove();
                }
                $('.dataNumber').html("");
                $('.pageNumber').html("");
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关评论信息！</p></td></tr>').appendTo('#commentList');
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}
$(document).ready(function(){
    //加载列表数数据
    // getList('<?php echo site_url('/shop/singleShop/comment_list');?>','default=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/shop/singleShop/comment_list');?>','default=1');
    });
})
</script>
<script type="text/html" id="commentListModal">
    <tr class="trClass" data-id="<%= id%>">
        <td  class="am-text-middle" ><input type="checkbox" data-id="<%= id%>" name="commentBox"></td>
        <td class="am-text-middle"><%= id%></td>
        <td class="am-text-middle"><%= username%></td>
        <td class="am-text-middle goodsName" width="100"><%= title%></td>
        <td class="am-text-middle"><%= commendContent%></td>
        <%if(reply) {%>
        <td class="am-text-middle"><%= reply.seller_comment%></td>
        <%}else {%>
        <td class="am-text-middle">无回复内容</td>
        <%}%>
        
        <td class="am-text-middle"><%= seller_ctime%></td>
        <%if(reply) {%>
        <td class="am-text-middle"><div class="tpl-table-black-operation"><i class="am-icon-toggle-on"></i>已回复</div></td>
        <%}else {%>
        <td class="am-text-middle commendResponse">
        <div class="tpl-table-black-operation"><a class="canResponse" data-id="<%= id%>"><i class="am-icon-toggle-on" ></i>可回复</a></div></td>
        <%}%>
        <%if(state=="1"){%>
        <td class="am-text-middle">        
            <select id="" class="commentState" name="commentState" data-id="<%= id%>">
                <option value="">-=请选择一项=-</option>
                <option value="显示" selected="selected">显示</option>
                <option value="隐藏">隐藏</option>
            </select>
        </td>
        <%}else{%>
        <td class="am-text-middle">
            <select id="" class="commentState" name="commentState" data-id="<%= id%>">
                <option value="">-=请选择一项=-</option>
                <option value="显示">显示</option>
                <option value="隐藏" selected="selected">隐藏</option>
            </select>
        <%}%>
        </td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a data-id="<%= id%>" class="editComment">
                    <i class="am-icon-eye"></i> 查看详情
                </a>
                <a data-id="<%= id%>" class="tpl-table-black-operation-del tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
</div>
</script>
