<style type="text/css">
    td img{
        width: 100px;
        height: 100px;
    }
    .deleteImg{
        display:inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
    }
     .clickUp{
        display: inline-block;
        float: left;
        margin-left: 80px;
        width:100px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
    }

 .preview{
        height:150px !important;
    }
    .preview #imghead,#preview img{
        
        height:140px;
    }
    select.account_type_name{
        border: none;
        border-bottom: 1px solid #c2cad8;
        font-size: 14px;
        color: #555;
        padding-left: 0;
    }
    label.am-form-label {
        font-weight: normal;
    }
    .sureSave {
        margin-right: 20px;
    }
    .tpl-table-black-operation{
        display: none;
    }
</style>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 系统设置
            <a href="<?php echo site_url().'/systemSet/systemSet';?>" style="font-size:16px;">app信息管理</a>
            <small></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear:both;">app版本信息管理</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>版本号</th>
                                    <th>安卓更新地址 </th>
                                    <th>ios更新地址</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="accountList">
                            <form action="<?php echo site_url('/systemSet/SystemSet/edit_app_version');?>" method="post" enctype="multipart/form-data">
                                
                                    <tr class="trClass" id="trClass" >
                                        <td class="am-text-middle">
                                            <input type="text" name="versionNum" value="<?php echo $app['versionNum'];?>" id="versionNum" />
                                        </td>
                                        <td>
                                            <a class="wx_type_img am-inline" >
                                                <input type="file" id="imgUpload" name="file" class="upload-add fileUpLoad">
                                                 <button class="am-btn am-btn-secondary am-btn-xs"><span class="am-icon-refresh"></span> 更新</button>
                                            </a>
                                            <input type="text" value="<?php echo $app['android_path_url']?>" name="android_path_url" />
                                
                                        </td>
                                        <td class="am-text-middle">
                                        <input type="text" value="<?php echo $app['ios_path_url']?>" name="ios_path_url" />
                                        </td>
                                        <td class="am-text-middle">
                                            <input type="hidden" name="id" value="<?php echo $app['id'];?>">
                                        <button type="submit" class="am-btn-primary">确定</button> 
                                        </td>
                                        
                                    </tr>
                                    </form>
                               
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear:both;">app温馨提示管理</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>所属模块</th>
                                    <th>提示内容 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="dataList">

                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">

//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length<minlen || content.length>maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}

//编辑温馨提示的内容
function editWarmTips(obj) {
    var tipsBox = $(obj).parent('td').prevUntil('.tipsBox');
    var content = tipsBox.html();
    $(obj).parents('.trClass1').find('span').css('display', 'none');
    $(obj).parents('.trClass1').find('textarea').css('display', '');
    $(obj).siblings('div.tpl-table-black-operation').css('display', 'block');
    $(obj).css('display', 'none');
}

//保存温馨提示的内容
function saveTips(obj, index) {
   
    var tipsBox1 = $(obj).parents('.trClass1').find('textarea');
    var eidtcontent = tipsBox1.val(),id = $(obj).attr("data-id");
    console.log(eidtcontent);
    if(index == "1") {
        $.ajax({
            type: 'post',
            url: '<?php echo site_url('systemSet/SystemSet/edit_prompt');?>',
            data: 'id='+ id + '&content='+ eidtcontent,
            success: function(result){         
                var res = JSON.parse(result);
                console.log(res);
                if(res != 1){
                    alert("操作失败，请重试！");
                }
                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    }  
    $(obj).parents('.trClass1').find('textarea').css('display', 'none');
    $(obj).parents('.trClass1').find('span').html(eidtcontent).css('display', '');
    $(obj).siblings('button').css('display', 'block');
    $(obj).css('display', 'none');
}


var flag=1,tag=1,str='',listData1='';
    //异步刷新的ajax请求   
    function getList(dataurl,data, index){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){         
            var res = JSON.parse(result);
            console.log(res);
            if(res!=2){
                if(index == "1") {
                    listData = template('accountListModal', res);
                    document.getElementById('accountList').innerHTML = listData;
                }else {
                    for(var i = 0; i < res.length; i++) {
                        listData1 += template('dataModal', res[i]);
                    }
                    document.getElementById('dataList').innerHTML = listData1;
                    for(var i = 0; i < $('.imgUpload').length; i++) {
                        $('.imgUpload').eq(i).attr('onChange','uploadFiles()');
                    }
                }
                
            }else{
                $('#accountList').find('tr').remove();
                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无管理员账号信息！</p></td></tr>').appendTo('#accountList');
            }
            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}

$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('systemSet/SystemSet/get_prompt');?>','default=1', 0);
})
</script>

<script type="text/html" id="dataModal">
    <tr class="trClass1">
        <td class="am-text-middle">
        <%if(module_id == "1") {%>
            首页
        <%}else if(module_id == "2") {%>
            优品汇
        <%}else {%>
            土特产
        <%}%>  
        </td>
        <td class="am-text-middle">
            <span><%= content%></span>
            <textarea class="am-form-field" style="display: none;" placeholder="请输入温馨提示，不超过五十个字"><%= content%></textarea>
        </td>
        <td class="am-text-middle">
            <button data-id="" class="am-btn am-btn-warning am-btn-xs editWarmTips" onclick="editWarmTips(this)">
                <i class="am-icon-pencil"></i> 修改
            </button>
            <div class="tpl-table-black-operation"><a data-id="<%= id%>" onclick="saveTips(this, 1)" class="sureSave"> 确定</a>   <a class="tpl-table-black-operation-del sureCancle" onclick="saveTips(this, 0)"> 取消</a></div>
        </td>
    </tr>
</script>
