<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}

</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 系统管理

            <small> > 邀请列表</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">



    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf">邀请列表</div>

                </div> 
                  <form class="am-form am-form-horizontal am-padding-sm am-text-sm" action="<?php echo site_url('systemSet/SystemSet/searchInvition');?>" method="get">
   
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4 am-fl" >
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">邀请人电话:</label>
                        <div class="am-u-sm-9 am-u-end">
                            <input type="text" name="phone" />
                        </div>
                    </div>
                  
                     <div class="am-form-group am-u-sm-5 am-u-md-5 am-u-lg-5 am-fl" >
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">被邀请人电话:</label>
                        <div class="am-u-sm-8 am-u-end">
                            <input type="text"  name="userPhone" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary searchOrder"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">

                    <div class="widget-title  am-cf">邀请数：<?php echo $count;?></div>

                </div>


                <div class="widget-body  am-fr">

                  


                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>

                                <tr>

                                    <th>编号</th>

                                    <th>被邀请用户名</th>

                                    <th>被邀请用户手机</th>

                                    <th>邀请者手机号</th>

                                    <th>用户来源</th>

                                    <th>邀请时间</th>
                                

                                </tr>

                            </thead>

                            <tbody id="dataList">

                                <!-- more data -->
                                <?php if(!empty($lists)):?>
                                    <?php foreach($lists as $val):?>
                                        <tr>
                                            <td><?php echo $val['id'];?></td>
                                            <td><?php echo $val['nickname'];?></td>
                                          
                                            <td><?php echo $val['userPhone'];?></td>
                                          
                                            <td><?php echo $val['invitationCode'];?></td>
                                            <?php if($val['fromType'] == 1):?>
                                            <td>APP</td>
                                                <?php else:?>
                                            <td>WEB</td>
                                                <?php endif;?>
                                            <td><?php echo $val['createTime'];?></td>

                                          
                                        </tr>
                                     
                                    <?php endforeach;?>
                                <?php else:?>
                                    <th colspan="9">暂无内容！</th>
                                <?php endif;?>
        
                            </tbody>

                        </table>

                    </div>

                    <div class="am-u-lg-12 am-cf am-text-center pagebox">

                        <div id="Pagination">


                               <?php echo $pages;?>


                        </div>

                      

                    </div>

                </div>

            </div>

        </div>

    </div>





</div>

</div>

</body>

</html>



