<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.stable{
    display: inline-block !important;
    width: 45% !important;
} 
.linkWord{
    width: 10% !important;
}
.stable{
    display: inline-block !important;
    width: 45% !important;
}
.linkWord{
    width: 10% !important;
}
.tableImg{
    width:80px;
}
.am-table>tbody>tr.noBorder>td{
    border-top: none;
}


    

</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 系统设置 <small>系统日志</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">日志列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th>IP </th>
                                    <th>地区 </th>
                                    <th>用户名 </th>
                                    <th>操作内容 </th>
                                    <th>登录时间 </th>
                                </tr>
                            </thead>
                            <tbody id="dataList">
                            <td class="am-text-middle">192.168.2.132</td>
                                <td class="am-text-middle">四川省成都市锦江区</td>
                                <td class="am-text-middle">夏目</td>
                                <td class="am-text-middle">添加了一个用户</td>
                                <td class="am-text-middle">2016.02.05</td>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf am-text-center">
                        <div class="linkGroup">             
                            <div id="page_navigation"></div>

                            <div id="jumpBox">
                                跳转到<input type="number" id="jumpNum" min="1" name="" />页 <input type="button" value="确定" class="am-btn-secondary jumpBtn" >
                            </div>
                        </div>
                        <p>共<span class="dataNumber"></span>条数据，共<span class="pageNumber"></span>页</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
    //点击前往某一页的函数
    function go_to_page(page_num){
        $('.page_link').removeClass('active_page');
        $('.page_link').eq(page_num).addClass('active_page');
        $("#dataList").children('tr').css("display","none");
        var start_page=parseInt(15)*parseInt(page_num);
        var end_page=parseInt(15)*parseInt(page_num+1);
        $('#dataList').children('tr').slice(start_page,end_page).css('display','');
        current_page=page_num;
        localStorage.setItem('storeOrderList', page_num);
    }

    //点击上一页的函数
    function previous(){
        new_page = current_page-1;
        console.log(new_page);
        if($('.active_page').prev('.page_link').length==true){
            go_to_page(new_page);
        }
    }

    //点击下一页的函数
    function next(){
        new_page = current_page+1;
        if($('.active_page').next('.page_link').length==true){
            go_to_page(new_page);
        }
    }
    //异步刷新的ajax请求   
    function getList(dataurl,data,changeIndex){
        $.ajax({
            type:'post',
            url:dataurl,
            data: data,
            success: function(result){   
                // console.log(result);      
                var res = eval(result);
                 console.log(res);
                if(res!=2){
                    var listData = ''; //每页出现的数量
                    var pages = Math.ceil(res.length/15); //得到总页数
                    if(pages==1){
                        $('#jumpBox').css('display','none');
                    }
                    $('.dataNumber').html(res.length);
                    $('.pageNumber').html(pages);
                    for(var i = 0; i < res.length; i++){
                        listData+= template('dataModal',res[i]);
                     }
                    document.getElementById('dataList').innerHTML = listData;
                    $('#current_page').val(15);
                    var navigation_html= '<span class="previous_link" onclick="previous()">上一页</span><span class="page_link active_page" onclick="go_to_page(' + 0 + ')" >' + 1 +'</span>';//动态创建上一页按钮
                    var current_link=0;   //当前点击的页数
                    for(var i=1;i<pages;i++){//创建所有页码的a标签
                        navigation_html += '<span class="page_link" onclick="go_to_page(' + i + ')" >' + (i + 1 )+'</span>';
                    }
                    navigation_html += '<span class="next_link" onclick="next()">下一页</span>'
                    $('#page_navigation').html(navigation_html);        //动态创建的页码放入该div中
                    go_to_page(changeIndex); 

                    $('.linkGroup').css('display','block');

                    if(changeIndex==0){

                    }else{
                       go_to_page(changeIndex); 
                    }
                    $('.jumpBtn').click(function () {
                        var jumpNum = parseInt(document.getElementById('jumpNum').value);
                        if(jumpNum>pages) {
                            alert('您当前输入的页数大于总页数！');
                            return false;
                        }else {
                            go_to_page(jumpNum-1);
                            return true;
                        }
                        
                    })
                         
                }else{
                    $('#dataList').find('tr').remove();
                    $('#linkGroup').html("");
                    $('.dataNumber').html("");
                    $('.pageNumber').html("");
                    $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关订单信息！</p></td></tr>').appendTo('#dataList');
                }

                
            },
            error:function(xhr,type,errorThrown){
                alert("网络状况不佳，请稍后重试！");
            }
        });
    }
$(document).ready(function(){
    //加载列表数数据
    var storeOrderList = parseInt(localStorage.getItem('storeOrderList'));
    getList('<?php echo site_url('systemSet/SystemSet/get_system_journal');?>','default=1',storeOrderList);
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('systemSet/SystemSet/get_system_journal');?>','default=1', storeOrderList);
    });
    //点击搜索
    $('.searchOrder').click(function(){
        var orderState=$('#orderState option:selected').val(),startPrice=$('#startPrice').val(),endPrice=$('#endPrice').val(),buyer=$('#buyer').val(),seller=$('#seller').val(),create_time=$('#orderDate').val();
        if((startPrice=="" && endPrice!="") || (startPrice!="" && endPrice=="") ){
            alert("交易总额必须是一个范围！");
            return false;
        }else{
          console.log('order_status='+ orderState +'&startPrice='+ startPrice +'&endPrice='+ endPrice +'&buyer='+ buyer +"$seller="+ seller +"&create_time="+create_time);
         getList('<?php echo site_url('/store/store/order_search');?>','order_status='+ orderState +'&startPrice='+ startPrice +'&endPrice='+ endPrice +'&buyer='+ buyer +"&seller="+ seller +"&create_time="+create_time);
            return true;
        }
        
    });
})
</script>
<script type="text/html" id="dataModal">   
    <tr class="trClass">
        <td class="am-text-middle"><%= userip%></td>
        <td class="am-text-middle"><%= login_address%></td>
        <td class="am-text-middle"><%= username%></td>
        <td class="am-text-middle"><%= content%></td>
        <td class="am-text-middle"><%= create_time%></td>
    </tr>
</script>

