<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
.widget-title{
    font-size:18px;
    color:#000;
}
h4.am-panel-title{
    color:#666 !important;
    font-size:16px !important;
}
.imgbox{
    width: 250px !important;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> Banner管理 
            <a href="<?php echo site_url().'/systemSet/systemSet/bannerList';?>" style="font-size:16px;">Banner列表</a>
            <small></small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">Banner列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12">
                        <div class="am-panel-group" id="accordion">
                            <div class="am-panel am-panel-default am-in">
                                <div class="am-panel-hd">
                                    <h4 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#homepage'}">
                                        首页的banner
                                        <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico ulSign"></span>
                                    </h4>
                                </div>
                               
                                <div id="homepage" class="am-panel-collapse am-collapse am-in">
                                    <div class="am-panel-bd">
                                        <div class="am-form-group">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/systemSet/systemSet/addBanner/1';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                                </div>
                                            </div>
                                        </div>
                                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black">
                                            <thead>
                                                <tr>
                                                    <th class="am-text-middle">编号</th>
                                                    <th class="am-text-middle">名称 </th>
                                                    <th class="am-text-middle">图片 </th>
                                                    <th class="am-text-middle">跳转地址 </th>
                                                    <th class="am-text-middle">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <?php if(!empty($homebanner['banner'])):?>
                                             <?php $home_banner = json_decode($homebanner['banner'],true);?>
                                            <?php foreach($home_banner as $k=>$value):?>
                                                <tr class="gradeX">
                                                    <td class="am-text-middle"><?php $num = $k+1; echo $num;?></td>
                                                    <td class="am-text-middle"><img class="imgbox" src="<?php echo $value['bannerPic'];?>"></td>
                                                    <td class="am-text-middle"><a href="javascript:;"><?php echo $value['url'];?></a></td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                             <a href="<?php echo site_url('/systemSet/systemSet/editBanner/'.$homebanner['id'].'/'.$num);?>">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a onClick="return confirm('确定删除?');" class="tpl-table-black-operation-del tpl-del" href="<?php echo site_url('/systemSet/systemSet/del_banner/'.$homebanner['id'].'/'.$num);?>" >
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <?php endforeach;?>
                                            <?php endif;?>
                                                <!-- more data -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="am-panel am-panel-default">
                                <div class="am-panel-hd">
                                    <h4 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#market'}">
                                        超市比价的banner
                                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico ulSign"></span>
                                    </h4>
                                </div>
                                <div id="market" class="am-panel-collapse am-collapse">
                                    <div class="am-panel-bd">
                                        <div class="am-form-group">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/systemSet/systemSet/addBanner/4';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                                </div>
                                            </div>
                                        </div>
                                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                                            <thead>
                                                <tr>
                                                    <th class="am-text-middle">编号 </th>
                                                    <th class="am-text-middle">名称 </th>
                                                    <th class="am-text-middle">图片 </th>
                                                    <th class="am-text-middle">跳转地址 </th>
                                                    <th class="am-text-middle">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                             <?php if(!empty($supermarketBanner['banner'])):?>
                                             <?php $marketBanner = json_decode($supermarketBanner['banner'],true);?>
                                            <?php foreach($marketBanner as $k=>$value):?>
                                                <tr class="gradeX">
                                                    <td class="am-text-middle"><?php $num=$k+1; echo $num;?></td>
                                                    <td class="am-text-middle"><?php echo $value['name'];?></td>
                                                    <td class="am-text-middle"><img class="imgbox" src="<?php echo $value['bannerPic'];?>"></td>
                                                    <td class="am-text-middle"><a href="javascript:;"><?php echo $value['url'];?></a></td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                             <a href="<?php echo site_url('/systemSet/systemSet/editBanner/'.$supermarketBanner['id'].'/'.$num);?>">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a onClick="return confirm('确定删除?');" href="<?php echo site_url('/systemSet/systemSet/del_banner/'.$supermarketBanner['id'].'/'.$num);?>" class="tpl-table-black-operation-del tpl-del">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <?php endforeach;?>
                                            <?php endif;?>
                                                
                                                <!-- more data -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="am-panel am-panel-default">
                                <div class="am-panel-hd">
                                    <h4 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#shopCenter'}">
                                        购物中心的banner
                                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico ulSign"></span>
                                    </h4>
                                </div>
                                <div id="shopCenter" class="am-panel-collapse am-collapse">
                                    <div class="am-panel-bd">
                                        <div class="am-form-group">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/systemSet/systemSet/addBanner/3';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                                </div>
                                            </div>
                                        </div>
                                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                                            <thead>
                                                <tr>
                                                    <th class="am-text-middle">编号 </th>
                                                    <th class="am-text-middle">名称 </th>
                                                    <th class="am-text-middle">图片 </th>
                                                    <th class="am-text-middle">跳转地址 </th>
                                                    <th class="am-text-middle">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <?php if(!empty($mallBanner['banner'])):?>
                                             <?php $mall = json_decode($mallBanner['banner'],true);?>
                                            <?php foreach($mall as $k=>$value):?>
                                                <tr class="gradeX">
                                                    <td class="am-text-middle"><?php $num=$k+1; echo $num;?></td>
                                                    <td class="am-text-middle"><?php echo $value['name'];?></td>
                                                    <td class="am-text-middle"><img class="imgbox" src="<?php echo $value['bannerPic'];?>"></td>
                                                    <td class="am-text-middle"><a href="javascript:;"><?php echo $value['url'];?></a></td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                             <a href="<?php echo site_url('/systemSet/systemSet/editBanner/'.$mallBanner['id'].'/'.$num);?>">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a onClick="return confirm('确定删除?');" href="<?php echo site_url('/systemSet/systemSet/del_banner/'.$mallBanner['id'].'/'.$num);?>" class="tpl-table-black-operation-del">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <?php endforeach;?>
                                            <?php endif;?>
                                              
                                                <!-- more data -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="am-panel am-panel-default">
                                <div class="am-panel-hd">
                                    <h4 class="am-panel-title" data-am-collapse="{parent:'#accordion',target:'#servePeople'}">
                                        为民服务的banner
                                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico ulSign"></span>
                                    </h4>
                                </div>
                                <div id="servePeople" class="am-panel-collapse am-collapse">
                                    <div class="am-panel-bd">
                                        <div class="am-form-group">
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/systemSet/systemSet/addBanner/5';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                                </div>
                                            </div>
                                        </div>
                                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                                            <thead>
                                                <tr>
                                                    <th class="am-text-middle">编号 </th>
                                                    <th class="am-text-middle">名称 </th>
                                                    <th class="am-text-middle">图片 </th>
                                                    <th class="am-text-middle">跳转地址 </th>
                                                    <th class="am-text-middle">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                 <?php if(!empty($serviceBanner['banner'])):?>
                                             <?php $service = json_decode($serviceBanner['banner'],true);?>
                                            <?php foreach($service as $k=>$value):?>
                                                <tr class="gradeX">
                                                    <td class="am-text-middle"><?php $num=$k+1; echo $num;?></td>
                                                    <td class="am-text-middle"><?php echo $value['name'];?></td>
                                                    <td class="am-text-middle"><img class="imgbox" src="<?php echo $value['bannerPic'];?>"></td>
                                                    <td class="am-text-middle"><a href="javascript:;"><?php echo $value['url'];?></a></td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                             <a href="<?php echo site_url('/systemSet/systemSet/editBanner/'.$serviceBanner['id'].'/'.$num);?>">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a onClick="return confirm('确定删除?');" href="<?php echo site_url('/systemSet/systemSet/del_banner/'.$serviceBanner['id'].'/'.$num);?>" class="tpl-table-black-operation-del">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <?php endforeach;?>
                                            <?php endif;?>
                                              
                                                <!-- more data -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">

//点击展开与收起菜单栏
$('.ulSign').click(function(){
    if($(this).hasClass('am-icon-chevron-up')){
        $(this).removeClass('am-icon-chevron-up');
        $(this).addClass('am-icon-chevron-down');
    }else{
        $(this).removeClass('am-icon-chevron-down');
        $(this).addClass('am-icon-chevron-up');
    }
   
});
</script>