
<div class="tpl-content-wrapper">
<table id="biuuu_city_list">
    
</table>

<div id="biuuu_city"></div>

</div>
<script src="assets/laypage/laypage.js"></script>
<script>

//测试数据
$.ajax({
    type:'post',
    url:"<?php echo site_url('/shop/shop/return_shop_page')?>",
    data: '',
    success: function(result){
        var res = eval(result);
        var nums = 5; //每页出现的数量
        var pages = Math.ceil(res.length/nums); //得到总页数

        var thisDate = function(curr){
            //此处只是演示，实际场景通常是返回已经当前页已经分组好的数据
            var str = '', last = curr*nums - 1;
            last = last >= res.length ? (res.length-1) : last;
            for(var i = (curr*nums - nums); i <= last; i++){
                str += '<tr>'+ '<td>'+res[i]['store_name']+'</td>'+'<td>'+res[i]['barnd_name']+'</td>' +'</tr>';
            }
            return str;
        };
        //调用分页
        laypage({
            cont: 'biuuu_city',
            pages: pages,
            jump: function(obj){
                document.getElementById('biuuu_city_list').innerHTML = thisDate(obj.curr);
            }
        })
    },
});

</script>
