<style type="text/css">
    #preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }

   .deleteImg{
        display: inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:1px solid #ddd;
    }
     .deleteImg:hover{
        cursor: pointer;
     }
    .addpadding{
        margin-left:10%;
    }
    .widget-title{
    font-size:18px;
    color:#000;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon">
            <a href="<?php echo site_url().'/systemSet/systemSet/bannerList';?>">Banner列表</a></span>&nbsp;&nbsp;<small>编辑Banner</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo site_url('/systemSet/systemSet/edit_banner');?>" method="post" enctype="multipart/form-data" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">编辑Banner</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group">
                                <label for="shopName">Banner名称 ：</label>
                                <input type="text" id="shopName" name="name" value="<?php echo $banner['name'];?>" maxlength="10" minlength="2" class="am-form-field" placeholder="建议输入2-10位字符" required onblur="validate(this,2,10,1)" />
                                <small class="red redtips1" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="green blacktips1" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                            <div class="am-form-group">
                                <label for="user-weibo">图片：</label>
                                <div class="wx_type_img">
                                         <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add" multiple="multiple" >
                                          <!-- 图片实时预览 -->
                                          <input type="hidden" name="bannerPic" value="<?php echo $banner['bannerPic'];?>">
                                          <div id="preview"> <img style="border-radius: 3px;" src="<?php echo $banner['bannerPic'];?>" class="am-img-responsive cardView"> </div>
                                          <br />
                                  </div>
                                  <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                  <small class="tpl-form-line-small-title red">提示：图片格式支持：png、jpg、jpeg、gif、webp，图片大小不超过800kb；</small>  
                            </div>
                            <div class="am-form-group">
                                <label for="englishName">跳转地址 ：</label>
                                <input type="text" id="" name="url" value="<?php echo $banner['url'];?>" placeholder='#'/>
                                <small class="red redtips2" style="display: none;"><i class="am-icon-close"></i></small>
                                <small class="green blacktips2" style="display: none;"><i class="am-icon-check"></i></small>
                            </div>
                        </div>
                        </div>
                        <div class="am-form-group addpadding">
                        <input type="hidden" name="id" value='<?php echo $id;?>'>
                        <input type="hidden" name="num" value='<?php echo $num;?>'>
                          <button class="am-btn am-btn-secondary" type="submit">保存</button><button class="am-btn am-btn-default addpadding" id="cancle" type="reset">取消</button> 
                      </div>
                    </div>

                    
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<script type="text/javascript">
//表单验证函数
function validate(obj,minlen,maxlen,i){
    var content=obj.value;
    if(content.length<minlen || content.length>maxlen){
        $('.blacktips'+ i).css('display','none');
        $('.redtips'+ i).css('display','inline-block');
    }else{
        $('.redtips'+ i).css('display','none');
        $('.blacktips'+ i).css('display','inline-block');
    }
}

  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
   //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(0);
  });
  
  //删除图片
  $(".deleteImg").click(function(){
      $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
      $(this).siblings('.wx_type_img').find('input').val("");
  });
</script>

