<?php $this->load->view('common.html');?>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo base_url().'admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/shop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'shop/shop/addShop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增商家
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/addMember';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberCard';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
    <!-- <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 活动审核
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 活动/促销审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 团购审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo base_url().'member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 特卖审核
                </a>
            </li>
        </ul>
    </li> -->
    <li class="sidebar-nav-link">
        <a href="calendar.html">
            <i class="am-icon-map-marker sidebar-nav-link-logo"></i> 本地生活
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="form.html">
            <i class="am-icon-money sidebar-nav-link-logo"></i> 充值缴费
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="chart.html">
            <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="table-list.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="sign-up.html">
            <i class="am-icon-heart sidebar-nav-link-logo"></i> 一键钟情
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 管理员管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-unlock sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="404.html">
            <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
        </a>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员管理 <small>新增会员</small></div>
                    </div>
                </div>
            </div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo base_url('member/member/add_user');?>" method="post" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">会员信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">用户名 <span class="red">*</span>：</label>
                                <input type="text" id="doc-vld-name-2" minlength="2" name="username" placeholder="输入用户名（至少 2 个字符）" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">密码 <span class="red">*</span>：</label>
                                <input type="text" id="doc-vld-name-2" minlength="6" name="password" placeholder="输入密码（至少 6 个字符）" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">昵称：</label>
                                <input type="text" id="doc-vld-email-2" name="nickname" placeholder="输入昵称（至少 2 个字符）"/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-528">手机号 <span class="red">*</span>：</label>
                                <input type="text" id="doc-vld-528" name="phone" class="js-pattern-mobile" placeholder="输入手机号" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-name-2">QQ <span class="red">*</span>：</label>
                                <input type="text" id="doc-vld-name-2" name="qq"  placeholder="请输入QQ" required/>
                            </div>
                            <div class="am-form-group">
                                <label for="doc-vld-email-2">邮箱：</label>
                                <input type="email" id="doc-vld-email-2" name="email" placeholder="输入邮箱"/>
                            </div>


                        </div>
                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">
                            <div class="am-form-group">
                                <label for="doc-vld-email-2">会员等级<span class="red">*</span>：</label>
                                <input type="text" name="level" placeholder="输入会员等级" required/>
                            </div>
                             <div class="am-form-group">
                                <label for="doc-select-1">会员组 <span class="red">*</span>：</label>
                                <select id="doc-select-1" name="gid" required>
                                    <option value="">-=请选择一项=-</option>
                                    <?php foreach($group as $val){?>
                                    <option value="<?php echo $val['gid']?>"><?php echo $val['group_name'];?></option>
                                    <?php }?>
                                </select>
                                <span class="am-form-caret"></span>
                            </div>

                            <div class="am-form-group">
                                <label for="doc-vld-email-2">积分：</label>
                                <input type="number" id="doc-vld-email-2" name="intergral" placeholder="输入积分"/>

                            </div>
                            <div class="am-form-group">
                                <label>性别： </label>
                                <label class="am-radio-inline">
                                    <input type="radio"  value="男" name="gender"> 男
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="gender" value="女"> 女
                                </label>

                            </div>

                            <!--<div class="am-form-group">-->
                                <!--<label for="doc-vld-ta-2">学历：</label>-->
                                <!--<select id="yetai" data-am-selected="{searchBox: 1,maxHeight: 200}">-->
                                    <!--<option value=>输入查找/选择</option>-->
                                    <!--<option value="0">本科</option>-->
                                    <!--<option value="1">研究生以上</option>-->
                                    <!--<option value="2">本科以下</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="am-form-group">-->
                                <!--<label class="am-form-label">爱好：</label>-->
                                <!--<label class="am-checkbox-inline">-->
                                    <!--<input type="checkbox" value="电影" name="docVlCb" minchecked="2" maxchecked="4"> 电影-->
                                <!--</label>-->
                                <!--<label class="am-checkbox-inline">-->
                                    <!--<input type="checkbox" value="交友" name="docVlCb"> 交友-->
                                <!--</label>-->
                                <!--<label class="am-checkbox-inline">-->
                                    <!--<input type="checkbox" value="美食" name="docVlCb"> 美食-->
                                <!--</label>-->
                                <!--<label class="am-checkbox-inline">-->
                                    <!--<input type="checkbox" value="逛街" name="docVlCb"> 逛街-->
                                <!--</label>-->
                                <!--<label class="am-checkbox-inline">-->
                                    <!--<input type="checkbox" value="运动" name="docVlCb"> 运动-->
                                <!--</label>-->
                            <!--</div>-->
                        </div>

                    </div>
                    <!--<div class="widget-head am-cf">-->
                        <!--<div class="widget-title  am-cf">会员卡信息</div>-->
                    <!--</div>-->
                    <!--<div class="widget-body  am-fr">-->
                    <!--<div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">-->
                        <!--<div class="am-form-group">-->
                                <!--<label for="doc-select-1">会员卡类型 <span class="red">*</span>：</label>-->
                                <!--<select id="doc-select-1" required name="cardid">-->
                                    <!--<option value="">-=请选择一项=-</option>-->
                                    <!--<?php foreach($cards as $val){?>-->
                                    <!--<option value="<?php echo $val['id'];?>"><?php echo $val['name'];?></option>-->
                                    <!--<?php }?>-->

                                <!--</select>-->
                                <!--<span class="am-form-caret"></span>-->
                            <!--</div>-->
                             <!--<div class="am-form-group">-->
                                <!--<label for="doc-vld-name-2">会员卡号 <span class="red">*</span>：</label>-->
                                <!--<input type="text" id="doc-vld-name-2" minlength="2" required/>-->
                            <!--</div>-->
                            <!--<div class="am-form-group">-->
                                <!--<label for="doc-vld-name-2">会员积分：</label>-->
                                <!--<input type="number" id="doc-vld-name-2" required/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">-->
                        <!--<div class="am-form-group">-->
                                <!--<label for="doc-select-1">证件类型：</label>-->
                                <!--<select id="doc-select-1">-->
                                    <!--<option value="">-=请选择一项=-</option>-->
                                    <!--<option value="option1">身份证</option>-->
                                    <!--<option value="option2">军官证</option>-->
                                    <!--<option value="option3">护照</option>-->
                                    <!--<option value="option3">其他</option>-->
                                <!--</select>-->
                                <!--<span class="am-form-caret"></span>-->
                            <!--</div>-->
                             <!--<div class="am-form-group">-->
                                <!--<label for="doc-vld-name-2">证件号：</label>-->
                                <!--<input type="text" id="doc-vld-name-2"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                     <div class="am-form-group am-text-center">
                        <button class="am-btn am-btn-secondary" type="submit">提交</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
