

<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员管理

            <a href="<?php echo site_url().'/member/member/memberList';?>" style="font-size:16px;">会员列表</a> 

            <small>编辑会员</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <form class="am-form" action="<?php echo site_url('/member/member/edit_userinfo');?>" method="post" enctype="multipart/form-data" data-am-validator>



            <div class="widget am-cf">

                    <div class="widget-head am-cf">

                        <div class="widget-title  am-cf">会员信息</div>

                    </div>

                    <div class="widget-body  am-fr">

                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">

                            <div class="am-form-group">

                                <label for="doc-vld-name-2">昵称：</label>

                                <input type="text" id="doc-vld-email-2" minlength="2" maxlength="15" name="nickname" placeholder="输入昵称（至少 2 个字符,至多15个字符）" value="<?php echo $userinfo['nickname']?>"/>

                            </div>

                            <div class="am-form-group">

                                <label for="doc-vld-name-2">密码：</label>

                                <input type="password" id="doc-vld-name-2" name="password" placeholder="不输入就是不修改"/>

                            </div>

                            <div class="am-form-group">

                                <label for="doc-vld-name-2">QQ ：</label>

                                <input type="text" id="doc-vld-name-2" name="qq" placeholder="请输入QQ" value="<?php echo $userinfo['qq']?>"/>

                            </div>

                            <div class="am-form-group">

                                <label for="doc-vld-email-2">邮箱：</label>

                                <input type="email" id="doc-vld-email-2" name="email" placeholder="输入邮箱" value="<?php echo $userinfo['email']?>"/>

                            </div>





                        </div>

                        <div class="memberInfo am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6 padding-horizontal-lg">

                            <div class="am-form-group">

                                <label for="doc-vld-name-2">手机号码：</label>

                                <input type="text" id="doc-vld-email-2" value="<?php echo $userinfo['phone']?>"  readonly />
                                

                            </div>



                            <div class="am-form-group">

                                <label for="doc-vld-email-2">积分：</label>

                                <input type="text" name="intergral" value="<?php echo $userinfo['intergral']?>" placeholder="输入积分"/>

                            </div>

                            <div class="am-form-group">

                                <label>性别： </label>

                                <label class="am-radio-inline">

                                    <input type="radio"  value="1" <?php if($userinfo['gender'] == "1"){echo "checked";}?> name="gender"> 男

                                </label>

                                <label class="am-radio-inline">

                                    <input type="radio" name="gender" value="2" <?php if($userinfo['gender'] == "2"){echo "checked";}?>> 女

                                </label>



                            </div>

                            </div>

                    </div>

                     <div class="am-form-group am-text-center">

                         <input type="hidden" name="user_id" value="<?php echo $userid;?>">

                        <button class="am-btn am-btn-secondary" type="submit">提交</button>

                        </div>

                </div>



            </form>



    </div>

</div>

</div>

<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

