<style type="text/css">
    #preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }
    .deleteImg{
        display: inline-block;
        width:60px;
        height:25px;
        line-height: 25px;
        text-align: center;
        color: #666;
        font-size: 1.2rem;
        border:1px solid #ddd;
    }
     .deleteImg:hover{
        cursor: pointer;
     }
    .addpadding{
        padding-left:10%;
    }
    
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员卡管理
             <a href="<?php echo site_url().'/member/member/memberCardAdd';?>" style="font-size: 16px;">新增会员卡</a>
             <small>
            </small>

            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo site_url('/member/member/add_cards')?>" method="post" enctype="multipart/form-data" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">会员卡信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                    <div class="memberInfo am-u-xs-12 am-u-sm-12 am-u-md-12 am-u-lg-12 padding-horizontal-lg">
                    <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="doc-vld-name-1">会员卡名称 <span class="red">*</span>：</label>
                        <input type="text" id="doc-vld-name-1" minlength="2" maxlength="14" name="name" required placeholder="建议不超过十五个字符" />
                    </div>
                    <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="doc-vld-name-2">会员卡等级 <span class="red">*</span>：</label>
                        <input type="number" id="doc-vld-name-2"  name="level" required/>
                    </div>
                    <!--<div class="am-form-group am-u-xs-12 am-u-sm-12 am-u-md-12 am-u-lg-12">-->
                            <!--<label for="doc-select-3">会员卡类型 <span class="red">*</span>：</label>-->
                            <!--<select id="doc-select-3" required>-->
                                <!--<option value="">-=请选择一项=-</option>-->
                                <!--<option value="option1">普通会员卡</option>-->
                                <!--<option value="option2">一级VIP卡</option>-->
                                <!--<option value="option3">二级VIP卡</option>-->
                                <!--<option value="option3">三级VIP卡</option>-->
                                <!--<option value="option3">超级黄金VIP卡</option>-->
                            <!--</select>-->
                            <!--<span class="am-form-caret"></span>-->
                        <!--</div>-->
                        <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                            <label for="doc-vld-name-4">会员卡背景色：</label>
                            <input type="color" id="doc-vld-name-4" name="bg_color" required/>
                        </div>
                        <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                            <label for="doc-vld-name-5">会员卡字体颜色：</label>
                            <input type="color" id="doc-vld-name-5" name="font_color" required/>
                        </div>
                         <div class="am-form-group am-u-xs-12 am-u-sm-12 am-u-md-6 am-u-lg-6 am-backdrop-on-box am-pull-left">
                            <label for="doc-vld-name-6">会员卡卡样 <span class="red">*</span>：</label>
                            <div class="wx_type_img">
                             <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add" required>
                              <!-- 图片实时预览 -->
                              <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                              <br />
                            </div>
                            <div class="am-text-center father">
                                  <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span> 
                                  <small class="tpl-form-line-small-title">提示：图片格式支持：PNG、JPG、JPEG；最大支持2M</small> 
                              </div>  
                         </div>

                        </div>
                        </div>

                    </div>
                     <div class="am-form-group am-text-center">
                        <button type="submit" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-pencil"></span> 新增</button>
                        <button type="button" class="am-btn am-btn-default" id="cancle"><span class="am-icon-refresh"></span> 取消</button>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>
<link rel="stylesheet" type="text/css" href="assets/css/memberCard.css">
<script type="text/javascript">
    //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });

</script>