
<script src="assets/js/echarts.min.js"></script>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员卡管理
             <a href="<?php echo site_url().'/member/member/memberList';?>" style="font-size: 16px;">会员列表</a>
             <small><a href="<?php echo site_url().'/member/member/memberInfo';?>" >查看会员详情</a>
            </small>

            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div class="widget am-cf" style="min-height: 500px;">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">会员简介</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body  widget-body-lg am-text-center">
                    <?php if(empty($userinfo['avatar'])){?>
                    <img class="achievement-image" src="assets/img/user02.png" alt="">
                    <?php }else{?>
                    <img class="achievement-image" src="<?php echo $userinfo['avatar']?>" alt="">
                    <?php }?>
                    <div class="am-cf memberBrief">
                        <label class="am-u-sm-6 am-form-label">昵称： <span class="black"><?php echo $userinfo['nickname']?></span></label>
                        <label class="am-u-sm-6 am-form-label">性别： <span class="black"><?php echo $userinfo['gender']?></span></label>
                    </div>
                    <div class="am-cf memberBrief">
                        <label class="am-u-sm-6 am-form-label">用户名称： <span class="black"><?php echo $userinfo['username']?></span></label>
                        <!-- <label class="am-u-sm-6 am-form-label">用户密码： <span class="black"><?php echo $userinfo['password']?></span></label> -->
                        <label class="am-u-sm-6 am-form-label">电话号码： <span class="black"><?php echo $userinfo['phone']?></span></label>
                    </div>
                    <div class="am-cf memberBrief">
                        <label class="am-u-sm-6 am-form-label">邮箱: <span class="black"> <?php echo $userinfo['qq']?></span></label>
                         <label class="am-u-sm-6 am-form-label">QQ: <span class="black"> <?php echo $userinfo['email']?></span></label>
                    </div>
                    <div class="am-cf memberBrief">
                        <label class="am-u-sm-6 am-form-label">通信口令： <span class="black"><?php echo $userinfo['passport']?></span></label>
                        <!--<label class="am-u-sm-4 am-form-label">优惠券：<span class="black"><?php echo $userinfo['nickname']?></span></label>-->
                        <label class="am-u-sm-6 am-form-label">积分： <span class="black"><?php echo $userinfo['intergral']?></span></label>
                    </div>
                    <div class="am-cf memberBrief">
                        <label class="am-u-sm-12 am-form-label">支付宝账号： <span class="black"><?php echo $userinfo['alipay']?></span></label>
                        <label class="am-u-sm-12 am-form-label">微信号：<span class="black"><?php echo $userinfo['wechat']?></span></label>
                    </div>
                    <div class="am-cf memberBrief">
                        <label class="am-u-sm-12 am-form-label">银联：
                            <span class="black" style="display: inline-block;width: 80%;vertical-align: top;">
                               <?php echo $userinfo['bank']?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
        <div class="widget am-cf" style="min-height: 500px;">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">积分记录</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body  widget-body-lg am-fr">
                <table width="100%" class="am-table am-table-compact tpl-table-black " id="example-r">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>说明</th>
                            <th>时间</th>
                            <th>积分</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if(!empty($inter)){?>
                        <?php foreach($inter as $key=>$v):?>
                        <tr class="gradeX">
                            <td><?php echo $key+1;?></td>
                            <td><?php echo $v['notice']?></td>
                            <td><?php echo $v['create_time'];?></td>
                            <td>
                                <?php echo $v['intergral'];?>
                            </td>
                        </tr>
                        <?php endforeach;?>
                    <?php }else{?>
                        <th colspan="5" style="text-align:center;">暂时没有记录</th>
                       <?php }?>
                        <!-- more data -->
                    </tbody>
                </table>
                <!-- 分页 -->
                <div class="am-u-lg-12 am-cf">
                    <div class="am-fr">
                        <ul class="am-pagination tpl-pagination">
                            <li class="am-disabled"><a href="#">«</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-content">
<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">用户地址</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body  widget-body-lg am-fr">
                <table width="100%" class="am-table am-table-compact am-table-bordered tpl-table-black " id="example-r">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>联系人</th>
                            <th>手机号</th>
                            <th>邮编</th>
                            <th>地址</th>
                            <th>时间</th>
                            <th>是否默认</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if(!empty($address)){?>
                        <?php foreach($address as $k=>$v):?>
                        <tr class="gradeX">
                            <td><?php echo $k+1;?></td>
                            <td><?php echo $v['person']?></td>
                            <td><?php echo $v['phone'];?></td>
                            <td><?php echo $v['postcode'];?></td>
                            <td><?php echo $v['province'];echo $v['city'];echo $v['area'];echo $v['address'];?></td>
                            <td><?php echo $v['create_time'];?></td>
                            <td><?php if($v['state'] == 1){echo "是";}else{echo "否";}?></td>
                        </tr>
                    <?php endforeach;?>
                    <?php }else{?>
                        <th colspan="7" style="text-align:center;">暂无地址记录</th>
                    <?php }?>
                    </tbody>
                </table>
                        <!-- 分页 -->
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">会员消息</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body  widget-body-lg am-fr">
                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black " id="example-r">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <!--<th>发送人</th>-->
                            <th>文章标题</th>
                            <th>内容</th>
                            <th>发布时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?php if(!empty($message)){?>
                        <?php foreach($message as $k=>$v):?>
                        <tr class="gradeX">
                            <td><?php echo $k+1;?></td>
                            <!--<td><?php echo user_name($v['sender']);?></td>-->
                            <td><?php echo $v['title'];?></td>
                            <td><?php echo $v['content'];?></td>
                            <td><?php echo $v['create_time'];?></td>
                        </tr>
                        <?php endforeach;?>
                    <?php }else{?>
                        <th colspan="5" style="text-align:center;">暂无消息记录</th>
                    <?php }?>

                        <!-- more data -->
                    </tbody>
                </table>
                 <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>