<?php $this->load->view('common.html');?>
<style type="text/css">
    #preview{
        height:200px !important;
    }
    #preview #imghead,#preview img{
        
        height:190px;
    }
    .deleteImg{
        display: inline-block;
        background: #ff0000;
        width:60px;
        height:28px;
        line-height: 28px;
        text-align: center;
        position: absolute;
        left:400px;
        top:255px;
        color:#ffffff;
        font-size: 1.2rem;
    }
    .addpadding{
        padding-left:10%;
    }
    .clickUp{
        margin-left: 150px;
    }
</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-cogs sidebar-nav-link-logo"></i> 系统设置
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 管理员账号管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberLimit';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/apliyManage';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 支付账号管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/other';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 其他管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/systemSet/systemSet/webMessage';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 网站信息管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/banner/banner';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> Banner管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-fax sidebar-nav-link-logo"></i> 商场管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollBrief';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商场简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollFloorInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 楼层信息
                </a>
            </li>
             <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollyetaiList';?>" >
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollAddYetai';?>">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增业态
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 店铺管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 店铺列表

                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop/addShop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增店铺

                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 电商管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 
                    商品列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsSort';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品分类
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeOrderList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeDeliveryList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 快递管理
                </a>
            </li>
        </ul>
    </li> 
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
          <!--   <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li> -->
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberCard';?>" class='sub-active'>
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-credit-card sidebar-nav-link-logo"></i> 电子券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/electronic/electronic/addElectronic';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增电子券
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/electronic/electronic';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券列表
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 主页模块
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/localLife/localLifeList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 本地生活
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/module/charge';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值缴费
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 一键钟情
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/homeReport/index';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 家乡报道
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 为民服务
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> HI.团购
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 购物中心
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线金融
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 游戏娱乐
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优品汇
                </a>
            </li>
        </ul>
    </li>


    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="table-list.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li>
        </ul>
    </li>
</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员卡管理
             <a href="<?php echo site_url().'/member/member/memberCard';?>" style="font-size: 16px;">会员卡列表</a>
             <small><a href="<?php echo site_url().'/member/member/memberCardDetail';?>" >编辑会员卡信息</a>
            </small>

            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <form class="am-form" action="<?php echo site_url('/member/member/edit_card');?>" method="post" enctype="multipart/form-data" data-am-validator>
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">会员卡信息</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="memberInfo am-u-xs-12 am-u-sm-12 am-u-md-12 am-u-lg-12 padding-horizontal-lg">
                            <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                                <label for="doc-vld-name-1">会员卡名称 <span class="red">*</span>：</label>
                                <input type="text" id="doc-vld-name-1" name="name" value="<?php echo $card['name'];?>" minlength="2" required/>
                            </div>
                            <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                                <label for="doc-vld-name-1">会员卡等级 <span class="red">*</span>：</label>
                                <input type="text"  name="level" value="<?php echo $card['level'];?>"  required/>
                            </div>
                            <!--<div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">-->
                                <!--<label for="doc-vld-name-2">会员卡编号 <span class="red">*</span>：</label>-->
                                <!--<input type="text" id="doc-vld-name-2" minlength="2"  required/>-->
                            <!--</div>-->
                            <!--<div class="am-form-group am-u-xs-12 am-u-sm-12 am-u-md-12 am-u-lg-12">-->
                                <!--<label for="doc-select-3">会员卡类型 <span class="red">*</span>：</label>-->
                                <!--<select id="doc-select-3" required>-->
                                    <!--<option value="">-=请选择一项=-</option>-->
                                    <!--<option value="option1">普通会员卡</option>-->
                                    <!--<option value="option2">一级VIP卡</option>-->
                                    <!--<option value="option3">二级VIP卡</option>-->
                                    <!--<option value="option3">三级VIP卡</option>-->
                                    <!--<option value="option3">超级黄金VIP卡</option>-->
                                <!--</select>-->
                                <!--<span class="am-form-caret"></span>-->
                            <!--</div>-->
                            <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                                <label for="doc-vld-name-4">会员卡背景色：</label>
                                <input type="color" id="doc-vld-name-4" name="bg_color" value="<?php echo $card['bg_color'];?>" required/>
                            </div>
                            <div class="am-form-group am-u-xs-12 am-u-sm-6 am-u-md-6 am-u-lg-6">
                                <label for="doc-vld-name-5">会员卡字体颜色：</label>
                                <input type="color" id="doc-vld-name-5" name="font_color" value="<?php echo $card['font_color'];?>" required/>
                            </div>
                            <div class="am-form-group am-u-xs-12 am-u-sm-12 am-u-md-6 am-u-lg-6 am-backdrop-on-box am-pull-left">
                                <label for="doc-vld-name-6">会员卡卡样 <span class="red">*</span>：</label>
                                <div class="wx_type_img">
                                 <input type="file" id="imgUpload" name="img" onchange="previewImage(this)" class="upload-add" >
                                  <!-- 图片实时预览 -->
                                    <?php if(empty($card['pic'])):?>
                                  <div id="preview"> <img style="border-radius: 3px;" src="assets/img/nullImg.jpg" class="am-img-responsive cardView"> </div>
                                  <?php else:?>
                                    <input type="hidden" name="pic" value="<?php echo $card['pic'];?>" />
                                    <div id="preview"> <img style="border-radius: 3px;" src="<?php echo $card['pic'];?>" class="am-img-responsive cardView"> </div>
                                    <?php endif;?>
                                    <br /><button class="am-btn am-btn-secondary am-btn-xs clickUp"><i class="am-icon-cloud-upload"></i>选择图片</button>
                                    </div>
                                    <br />
                                    <span class="deleteImg"><i class="am-icon-trash"></i> 删除</span>
                            </div>

                    </div>
                </div>

                <div class="am-form-group am-text-center">
                    <input type="hidden" value="<?php echo $card['id'];?>" name="id" />
                    <button type="submit" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-pencil"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default" id="cancle"><span class="am-icon-refresh"></span> 取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/memberCard.css">
<script type="text/javascript">
    //点击取消返回上一页
  $('#cancle').click(function(){
    history.go(-1);
  });
  //删除图片
    $(".deleteImg").click(function(){
        
        $(this).siblings('.wx_type_img').find('img').attr('src','assets/img/nullImg.jpg');
        
    });
</script>
</body>
</html>
