<style>

.avatar{

    width: 100px;

    height: 100px;

}





</style>



<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员管理 <small>

             <a href="<?php site_url('/member/member/memberList');?>">会员列表</a> <?php if(!empty($title)):?> ><?php echo $title;?><?php endif;?></small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf">会员查询</div>

                </div>

                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" enctype="multipart/form-data" data-am-validator>

                

                    <!--<div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">

                        <label for="shop_state" class="am-u-sm-2 am-form-label">会员卡型</label>

                        <div class="am-u-sm-10">

                            <select id="shop_state" name="card">

                                <option value="">请选择</option>

                                <?php foreach($cards as $val){?>

                                <option value="<?php echo $val['id'];?>"><?php echo $val['name']?></option>

                                <?php }?>

                            </select>

                        </div>

                    </div>-->

                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">

                        <label for="gender" class="am-u-sm-2 am-form-label">性别</label>

                        <div class="am-u-sm-10">

                            <select id="source_state" name="gender">

                                <option value>请选择</option>

                                <option value="1">男</option>

                                <option value="2">女</option>

                            </select>

                        </div>

                    </div>

                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">

                        <label for="businessTime" class="am-u-sm-3 am-text-right">下单时间：</label>

                        <div class="am-u-sm-9  am-u-end">

                            <div class="am-alert am-alert-danger" id="lineTime" style="display: none">

                              <p>开始日期应小于结束日期！</p>

                            </div>

                            <div class="am-g">

                              <div class="am-u-sm-6">

                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-start">开始日期</button><input type="hidden" id="begin_date" name="begin_time" value="" /><span id="my-startDate">2017-01-01</span>

                              </div>

                              <div class="am-u-sm-6">

                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-end">结束日期</button><input type="hidden" id="end_date" name="end_time" value="" /><span id="my-endDate">2017-12-31</span>

                              </div>

                              <small class="red redtips">请先选择结束日期</small>

                            </div>

                        </div>

                        

                    </div>

                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">

                        <label class="am-u-sm-2 am-form-label">关键字</label>

                        <div class="am-u-sm-10">

                            <input type="text" placeholder="姓名 昵称 手机号" id="searchKey" name="sear">

                        </div>

                    </div>

                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">

                        <button type="button" class="am-btn am-btn-secondary searchGoods"><i class="am-icon-search"></i> 查询</button>

                    </div>

                </form>

                <div class="widget-head am-cf">

                    <div class="widget-title  am-cf" style="clear: both;">会员列表</div>

                    <div class="widget-title  am-cf" style="clear: both;">会员注册总数：<?php echo $userNum;?></div>  
                    <div class="widget-title  am-cf" style="clear: both;">今天会员注册数：<?php echo $newNum;?></div> 
                    <div class="widget-title  am-cf" style="clear: both;">昨天会员注册数：<?php echo $yesterday;?></div>

                </div> 

                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">

                        <div class="am-form-group">

                            <div class="am-btn-toolbar">

                                <div class="am-btn-group am-btn-group-xs">

                                   <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> <a href="<?php echo site_url().'/member/member/addMember';?>">新增</a></button>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="am-u-sm-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>

                                <tr>

                                    <th>编号</th>

                                    <th>姓名</th>

                                    <th>昵称</th>

                                    <th>头像</th>

                                    <th>电话</th>

                                    <th>性别</th>

                                    <th>会员积分</th>

                                    <th>注册时间</th>

                                    <th>状态</th>

                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody id="dataList">

                           

                                

                         

                            </tbody>

                        </table>

                    </div>

                    <div class="am-u-lg-12 am-cf am-text-center pagebox">

                        <div id="Pagination">

                            <div class="pagination">

                                <a class="prev"><i></i>上一页</a>

                                <a class="current">1</a>

                                <a >2</a>

                                <a>3</a>

                                <a>4</a>

                                <span class="pagination-break">...</span>

                                <a class="ep">15</a>

                                <a class="next">下一页 <i></i></a>

                            </div>

                        </div>

                        <div class="searchPage">

                          <span class="page-sum">共<strong class="allPage">15</strong>页</span>

                          <span class="page-go">跳转<input type="text">页</span>

                          <a href="javascript:;" class="page-btn">确定</a>

                        </div>

                        <div claa="am-text-middle">

                           <span class="green">共<span class="allData">15</span>条数据</span> 

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

</div>

<div class="goTop"><a href="javascript:scroll(0,0)" type="button"><img src="assets/img/top.png" alt="点我回到顶部"></a></div>

<script type="text/javascript">

$(function() {

    var startDate = new Date(2017, 04, 01);

    var endDate = new Date(2017, 04, 30);

    var $alert = $('#my-alert');

    $('#my-start').datepicker().

      on('changeDate.datepicker.amui', function(event) {

        if (event.date.valueOf() > endDate.valueOf()) {

          $alert.find('p').text('开始日期应小于结束日期！').end().show();

        } else {

          $alert.hide();

          startDate = new Date(event.date);

          $('#my-startDate').text($('#my-start').data('date'));

          $('#begin_date').val($('#my-start').data('date'));

        }

        $(this).datepicker('close');

      });



    $('#my-end').datepicker().

      on('changeDate.datepicker.amui', function(event) {

        if (event.date.valueOf() < startDate.valueOf()) {

          $alert.find('p').text('结束日期应大于开始日期！').end().show();

        } else {

          $alert.hide();

          endDate = new Date(event.date);

          $('#my-endDate').text($('#my-end').data('date'));

          $('#end_date').val($('#my-end').data('date'));

        }

        $(this).datepicker('close');

      });

});

    var total_page=0,pageflag = 1, $memeberList = parseInt(sessionStorage.getItem('memeberList')) || 0, $ismemeberList = parseInt(sessionStorage.getItem('ismemeberList')) || 0;

    //点击前往某一页的函数

    function go_to_page(page_num){

        $('.page_link').removeClass('active_page');

        $('.page_link').eq(page_num).addClass('active_page');

        $("#dataList").children('tr').css("display","none");

        var start_page=parseInt(15)*parseInt(page_num);

        var end_page=parseInt(15)*parseInt(page_num+1);

        $('#dataList').children('tr').slice(start_page,end_page).css('display','');

        current_page=page_num;

        sessionStorage.setItem('memeberList', current_page);

        $memeberList = parseInt(sessionStorage.getItem('memeberList'));     

    }



    //点击上一页的函数

    function previous(){

        if($('.current').length>1) {

            new_page = parseInt($('.current').eq(0).html()) - 2;

        }else {

            new_page = parseInt($('.current').html()) - 2;

        }

        if(new_page >= 0) {

            go_to_page(new_page);

        }

    }



    //点击下一页的函数

    function next(argu){

        if($('.current').length>1) {

            new_page = parseInt($('.current').eq(1).html());

        }else {

            new_page = parseInt($('.current').html());

        }     

        if(new_page < argu){   

            console.log(new_page + ' ' + argu);

            go_to_page(new_page);

        }

    }

    //一些操作函数

    function someOptions() {

        $('.editGoods').click(function(){//编辑商品信息

            var dataId=$(this).attr('data-id');

            $(this).attr("href","<?php echo site_url('/shop/singleShop/goodsDetail/" + dataId + "');?>");

        });

        for(var i=0;i<$('.tpl-del').length;i++){

            var dataId=$('.tpl-del').eq(i).attr('data-id');

            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");

            if($('.goodsState option:selected').eq(i).val()=="0"){

                $('.goodsState').eq(i).css({'background':' #e0690c','border-radius':'5px','border':'1px solid #e0690c','padding':'5px 5px','color': '#fff'});

            }                          

        }

        //点击选中所有

        $('.tablecheck').click(function() {

            var start_page=parseInt(15)*parseInt($storeGoodsList);

            var end_page=parseInt(15)*parseInt($storeGoodsList+1);

            if(flag==0){

              for(var i = start_page; i < end_page; i++) {

                if(document.getElementsByClassName('commentBox')[i]){

                    document.getElementsByClassName('commentBox')[i].checked=true;

                }        

              }   

              flag=1;

            }else{

               for(var i = start_page; i < end_page; i++) {

                if(document.getElementsByClassName('commentBox')[i]){

                    document.getElementsByClassName('commentBox')[i].checked=false;

                }        

              }  

               flag=0;

            }

        });

    }

    //异步刷新的ajax请求   

    function getList(dataurl,data){

        $.ajax({

            type:'post',

            url:dataurl,

            data: data,

            success: function(result){

                var res = eval(result);

                // console.log(result); 
                var str = '';

                if(res != 2 && res != 3){

                    // var listData = '15'; //每页出现的数量

                    total_page = "<?php echo $userNum/15;?>"; //得到总页数

                    for(var i = 0; i < res.length; i++){

                        res[i].avatar = eval(res[i].avatar);
                        if(res[i].avatar){
                            headpic = res[i].avatar[0].picImg;
                        }else{
                            headpic = '';
                        }
                        str += ' <tr class="trClass" id="trClass" data-id="'+res[i].user_id+'">';
                        str += '<td class="am-text-middle">'+res[i].user_id+'</td>';
                        str += '<td class="am-text-middle">'+res[i].nickname+'</td>';
                        str += '<td class="am-text-middle">'+res[i].nickname+'</td>';
                        str += '<td class="am-text-middle">'
                                if(headpic){
                                    str += '<img class="avatar" alt="" src="'+headpic+'">';
                                }else{
                                    str += 'zaneu';
                                }
                        str += '</td>';
                        str += '<td class="am-text-middle">'+res[i].phone+'</td>';
                        str += '<td class="am-text-middle">'+res[i].gender+'</td>';
                        str += '<td class="am-text-middle">'+res[i].intergral+'</td>';
                        str += '<td class="am-text-middle">'+res[i].create_time+'</td>';
                        str += '<td class="am-text-middle">'+res[i].gender+'</td>';

                     }
                     // console.log(str)


                    document.getElementById('dataList').innerHTML = str;

                    $('.pagebox').css('display', 'block');

                    $('.allData').html(res.length);

                    if(total_page <= 1) {

                        $('#Pagination').css('display', 'none');

                        $('.searchPage').css('display', 'none');

                    } else {

                        if(pageflag) {

                            var opts={};opts.current_page = $memeberList;

                            $("#Pagination").pagination(total_page, opts);

                            go_to_page($memeberList);

                            pageflag = 0;

                        } else {

                            $("#Pagination").pagination(total_page);

                            go_to_page(0);

                            

                        }

                        if(total_page < 5) {

                            $('.searchPage').css('display', 'none');

                        }

                    }

                    

                    someOptions();

                }else{

                    $('#dataList').find('tr').remove();

                    $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关商品信息！</p></td></tr>').appendTo('#dataList');

                    $('.pagebox').css('display', 'none');

                }

                

            },

            error:function(xhr,type,errorThrown){

                alert("网络状况不佳，请稍后重试！");

                $('#dataList').find('tr').remove();

                $('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关商品信息！</p></td></tr>').appendTo('#dataList');

                $('.pagebox').css('display', 'none');

            }

        });

    }

$(document).ready(function(){

    //加载列表数数据

    if($ismemeberList) {

        var gender=$('#source_state option:selected').val(),begin_date = $('#begin_date').val(), end_date = $('#end_date').val(), keywords = $('#searchKey').val();

        // console.log('gender='+ gender +'&start_time='+ begin_date  +'&end_time='+ end_date  +'&sear='+ keywords);

        getList('<?php echo site_url('/member/Member/search');?>','gender='+ gender +'&start_time='+ begin_date  +'&end_time='+ end_date  +'&sear='+ keywords);

        sessionStorage.setItem('ismemeberList', 1);

    } else {

       getList('<?php echo site_url('/member/Member/ret_member_list');?>','default=1');

    }

    //点击搜索

    $('.searchGoods').click(function(){

        var gender=$('#source_state option:selected').val(),begin_date = $('#begin_date').val(), end_date = $('#end_date').val(), keywords = $('#searchKey').val();

        // console.log('gender='+ gender +'&start_time='+ begin_date  +'&end_time='+ end_date  +'&sear='+ keywords);

         getList('<?php echo site_url('/member/Member/search');?>','gender='+ gender +'&start_time='+ begin_date  +'&end_time='+ end_date  +'&sear='+ keywords);

        sessionStorage.setItem('ismemeberList', 1);

        

    });



})

</script>

<script type="text/html" id="dataModal">

    <tr class="trClass" id="trClass" data-id="<%= user_id %>">

        <td class="am-text-middle" ><%= user_id %></td>

        <td class="am-text-middle">

        <%if(username) { %>

                <%= username %>

            <% } else { %>

                <%= nickname %>

            <% } %>

        </td>

        <td class="am-text-middle">

            <%if(nickname) { %>

                <%= nickname %>

            <% } else { %>

                暂无

            <% } %>

        </td>

        <td class="am-text-middle">

            <% if(avatar) { %>

            <img class='avatar' alt="" src="<%= avatar[0].picImg %>">

            <% } else { %>

            暂无

            <% } %>

        </td>

        <td class="am-text-middle"><%= phone %></td>

        <td class="am-text-middle"><%= gender %></td>

        <td class="am-text-middle"><%= intergral %></td>

        <td class="am-text-middle"><%= create_time %></td>



        <td class="am-text-middle">

            <% if(state == 0) { %>

            <span style="color:red;">正常</span>

            <% } else { %>

            <span style="color:#5eb95e;"> </span>

            <% } %>

        </td>

        <td class="am-text-middle">

            <div class="tpl-table-black-operation">

                <a href="<?php echo site_url().'/member/Member/memberInfo/<%= user_id %>';?>" class="tpl-table-black-operation-look lookDetail">

                    <i class="am-icon-eye" ></i> 查看详情

                </a>

                <a class="editMember" href="<?php echo site_url().'/member/Member/editMember/<%= user_id %>';?>">

                    <i class="am-icon-pencil"></i> 编辑

                </a>

                <a class="tpl-table-black-operation-del" data-am-modal="{target: '#delete<%= user_id %>'}">

                    <i class="am-icon-trash"></i> 删除

                </a>

            </div>

        </td>

    </tr> 

    <div class="am-modal am-modal-confirm" tabindex="-1" id="delete<%= user_id %>">

        <div class="am-modal-dialog">

            <div class="am-modal-hd">删除提示</div>

            <div class="am-modal-bd">

                <p class="black">你，确定要删除这条记录吗？</p>

            </div>

            <div class="am-modal-footer">

                <span class="am-modal-btn" data-am-modal-cancel>取消</span>

                <span class="am-modal-btn sureDelete" data-id="<%= goods_id%>" data-am-modal-confirm>确定</span>

            </div>

        </div>

    </div>

</script>





