<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员管理 <small>
                         <a href="<?php site_url('/member/member/memberList');?>">会员列表</a> <?php if(!empty($title)):?> ><?php echo $title;?><?php endif;?></small></div>
                    </div>
                </div>
            </div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">会员查询</div>
                </div>
                <form action="<?php echo site_url('/member/member/search');?>" method="post" class="am-form am-form-horizontal am-padding-sm am-text-sm" enctype="multipart/form-data" data-am-validator>
                
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="shop_state" class="am-u-sm-2 am-form-label">会员卡型</label>
                        <div class="am-u-sm-10">
                            <select id="shop_state" name="card">
                                <option value="">请选择</option>
                                <?php foreach($cards as $val){?>
                                <option value="<?php echo $val['id'];?>"><?php echo $val['name']?></option>
                                <?php }?>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-2 am-form-label">性别</label>
                        <div class="am-u-sm-10">
                            <select id="source_state" name="gender">
                                <option value>请选择</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="shop_block" class="am-u-sm-2 am-form-label">会员状态</label>
                        <div class="am-u-sm-10">
                            <select id="shop_block" name="state">
                                <option value>请选择</option>
                                <option value="0">正常</option>
                                <option value="1">已屏蔽</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="source_state" class="am-u-sm-2 am-form-label">关键字</label>
                        <div class="am-u-sm-10">
                            <input type="text" placeholder="姓名 昵称 手机号" name="sear">
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf" style="clear: both;">会员列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                   <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> <a href="<?php echo site_url().'/member/member/addMember';?>">新增</a></button>
                                    <!--<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-arrow-down"></span> 批量放入分组</button>-->

                                    <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-arrow-up"></span> 导出</button>-->
                                    <button type="button" onclick="reload()" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                                <script>
                                    function reload(){
                                        window.location.reload();
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox"></th>
                                    <th class="member_name">姓名</th>
                                    <th class="member_id">昵称</th>
                                    <th>电话</th>
                                    <th class="member_name">QQ</th>
                                    <th class="member_type">邮箱</th>
                                    <th class="member_group">会员卡类型</th>
                                    <th class="member_sex">性别</th>
                                    <th class="member_jifen">会员积分</th>
                                    <th>注册时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php if(!empty($users)){?>
                                <?php foreach($users as $value):?>
                                <tr class="gradeX">
                                    <td><input type="checkbox" name='id[]' value="<?php echo $value['user_id']?>"></td>
                                    <td><?php echo $value['username']?></td>
                                    <td class="am-text-middle"><?php echo $value['nickname']?></td>
                                    <td class="am-text-middle"><?php echo $value['phone']?></td>
                                    <td class="am-text-middle"><?php echo $value['qq']?></td>
                                    <td class="am-text-middle"><?php echo $value['email']?></td>
                                    <td class="am-text-middle"><?php echo get_card_name($value['card_id']);?></td>
                                    <td class="am-text-middle"><?php echo $value['gender']?></td>
                                    <td class="am-text-middle"><?php echo $value['intergral']?></td>
                                    <td class="am-text-middle"><?php echo $value['create_time']?></td>
                                    <td class="am-text-middle">
                                    	<?php if($value['state'] == 1):?>
                                   		<span style="color:red;">被冻结</span>
	                                    <?php else:?>
  										<span style="color:#5eb95e;">正常</span>
	                                    <?php endif;?>
                                    </td>
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a href="<?php echo site_url().'/member/member/memberInfo/'.$value['user_id'];?>" class="tpl-table-black-operation-look">
                                                <i class="am-icon-eye" ></i> 查看详情
                                            </a>
                                        <?php if($value['state'] == 1):?>
                                            <a href="<?php echo site_url('/member/member/up_user_state/2/'.$value['user_id']);?>" class="tpl-table-black-operation-set">
                                                <i class="am-icon-gear" ></i> 解除冻结
                                            </a>
                                              <?php else:?>
  										  	<a href="<?php echo site_url('/member/member/up_user_state/1/'.$value['user_id']);?>" class="tpl-table-black-operation-set">
                                                <i class="am-icon-gear" ></i> 冻结
                                            </a>
	                                    	<?php endif;?>
                                            <a href="<?php echo site_url().'/member/member/editMember/'.$value['user_id'];?>">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a onClick="return confirm('确定删除?');" href="<?php echo site_url().'/member/member/delMember/'.$value['user_id'];?>" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete<?php echo $value['user_id'];?>'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                <!-- 删除弹框 -->
                                <div class="am-modal am-modal-confirm" tabindex="-1" id="delete1">
                                  <div class="am-modal-dialog">
                                    <div class="am-modal-hd">删除提示</div>
                                    <div class="am-modal-bd">
                                      <p class="black">你，确定要删除这条记录吗？</p>
                                    </div>
                                    <div class="am-modal-footer">
                                      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                                      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                                    </div>
                                  </div>
                                </div>
                                <!-- more data -->
                            <?php endforeach;?>
                            <?php }else{?>
                                <th colspan="16" style="text-align:center;">暂无用户</th>
                            <?php }?>
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                        	<?php echo $pages;?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

