<style type="text/css" media="screen">

.am-selected{

width: 100%!important;

}

.table-check{

width: 30px;

}

.hf-dropdown{

font-size: 12px!important;

padding: 5px 6px!important;

}

.am-imgContainer{

    width:50%;

    }

.deleteImg{

        display:inline-block;

        width:60px;

        height:25px;

        line-height: 25px;

        text-align: center;

        color: #666;

        font-size: 1.2rem;

        border:  1px solid #ddd;

    }

     .clickUp{

        display: inline-block;

        float: left;

        margin-left: 100px;

    }



 .preview{

        height:170px !important;

    }

    .preview #imghead,#preview img{

        

        height:160px;

    }

    .am-modal-bd input[type='radio'] {

        width: 50%;

        border: none;

    }

    .tpl-del {

        border: 1px solid #ff0000 !important;

        color: #ff0000 !important;

    }

    select.am-form-field {

        border: 1px solid #c2cad8 !important;

        border-radius: 5px !important;

    }

.isRecommand {

    width: 85px;

    background: #4db14d;

    border-radius: 5px;

    border: 1px solid #4db14d;

    padding:5px 5px;

    color: #fff;

    text-align: center;

}

.isRecommand option {

    background: #fff;

    border-radius: 5px;

    border: 1px solid #aaa;

    padding:2px 5px;

    color: #000;

    text-align: center;

} 

.otherMessage {

    display: none;

}



</style>
<!-- 新分页开始 -->
<style>
    .page_div {margin-top: 20px;margin-bottom: 20px;font-size: 15px;font-family: "microsoft yahei";color: #666666;margin-right: 10px;padding-left: 20px;box-sizing: border-box;text-align: center;-moz-user-select:none;-webkit-user-select:none;}
    .page_div a {min-width: 32px;height: 40px;border: 1px solid #dce0e0!important;text-align: center;margin: 0 4px;cursor: pointer;line-height: 40px;color: #666666;font-size: 13px;display: inline-block;}
    #firstPage,#lastPage {width: 50px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    #prePage, #nextPage {width: 70px;color: #1fb5ac;border: 1px solid #1fb5ac!important;}
    .page_div .current {background-color: #1fb5ac;border-color: #1fb5ac;color: #FFFFFF;}
    .totalPages {margin: 0 10px;}
    .totalPages span, .totalSize span {color: #1fb5ac;margin: 0 5px;}
</style>
<script src="assets/js/pagingY.js"></script> 

<!-- 内容区域 -->

<div class="tpl-content-wrapper">

<div class="container-fluid am-cf">

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">

            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 活动管理

            <small> > 元宵猜灯谜</small></div>

        </div>

    </div>

</div>

<div class="row-content am-cf">


    <!-- 招聘信息 -->

    <div class="row">

        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-cf">活动搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm" >
                  
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4 am-u-end" >
                        <label for="goodsPrice" class="am-form-label am-u-sm-3 am-u-end">回答状态:</label>
                        <div class="am-u-sm-9 am-u-end">
                            <select id="questionStates" name="questionStates" >
                                <option value="0">请选择一项</option>
                                <option value="1">已回答</option>
                                <option value="2">未回答</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4 am-u-end" >
                        <label for="goodsPrice" class="am-form-label am-u-sm-3 am-u-end">关键字:</label>
                        <div class="am-u-sm-9 am-u-end">
                            <input type="text" id="search" name="sear">
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="button" class="am-btn am-btn-secondary searchOrder"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">

                    <div class="widget-title  am-cf">灯谜列表 <a href="<?php echo site_url('/activity/Activity/LanternAnswer');?>" class="am-btn am-btn-default am-btn-secondary am-btn-xs">回答纪录</a>  </div>

                </div>

                <div class="widget-body  am-fr">
                   
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">

                        <div class="am-form-group">

                            <div class="am-btn-toolbar">

                                <div class="am-btn-group am-btn-group-xs">

                                      <a type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" data-am-modal="{target: '#addLanern'}"><span class="am-icon-arrow-up" ></span> 新增</a>  
                                        <div class="wx_type_img am-inline">

                                         <input type="file" id="imgUpload" name="xml" onchange="uploadFiles()" class="upload-add fileUpLoad" >

                                         
                                          <button class="am-btn am-btn-secondary am-btn-xs"><span class="am-icon-arrow-down"></span> 导入</button>

                                        </div>
                                     <!-- <a type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" data-am-modal="{target: '#exportFile'}"><span class="am-icon-arrow-up" ></span> 导出</a>   -->

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="am-modal am-modal-confirm" tabindex="-1" id="addLanern">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">新增灯谜问题</div>
                            <div class="am-modal-bd">
                                <form class="am-form tpl-form-line-form" action="<?php echo site_url('/activity/Activity/addLanern');?>" method="post">
                                    <div class="am-form-group am-cf" style="min-height: 100px;">
                                        <label class="am-u-sm-4 am-form-label">问题：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <textarea rows="4" name="title"></textarea>
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">答案A：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="A" >
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">答案B：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="B" >
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">答案C：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="C" >
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">答案D：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="D" >
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">答案E：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="D" >
                                        </div>
                                    </div><div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">答案F：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="D" >
                                        </div>
                                    </div>
                                    <div class="am-form-group am-cf" >
                                        <label class="am-u-sm-4 am-form-label">正确答案：</label>
                                        <div class="am-u-sm-6 am-u-end">
                                            <input type="text" name="realAnswer" placeholder="例如：A或B或C">
                                        </div>
                                    </div>
                                   
                                    <div class="am-form-group am-cf">
                                        <button class="am-btn am-btn-default am-btn-xs sureExport" type="button" data-am-modal-cancel>取消</button>
                                        <button class="am-btn am-btn-xs am-btn-secondary sureExport" type="submit" data-am-modal-confirm>确定</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  

        
                    <div class="am-u-sm-12 am-u-xs-12">

                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">

                            <thead>
                                <tr>

                                    <th>编号</th>
                                 
                                    <th>灯谜问题</th>
                                    <th>答案A</th>
                                    <th>答案B</th>
                                    <th>答案C</th>
                                    <th>答案D</th>
                                    <th>答案E</th>
                                    <th>答案F</th>
                                    <th>正确答案</th>
                                    
                                    <th>创建时间</th>
                                    <th>回答状态</th>
                                    <th>操作</th>

                                </tr>

                            </thead>

                            <tbody id="infolistDiv">

                             
        
                            </tbody>

                        </table>
                        <script type="text/html" id="infolist">
                            <% for(var i=0; i<list.length; i++){ %>
                                <tr>
                                        <td><%=list[i].id%></td>
                                        <td><%=list[i].title%></td>
                                        <td><%=list[i].A%></td>
                                        <td><%=list[i].B%></td>
                                        <td><%=list[i].C%></td>
                                        <td><%=list[i].D%></td>
                                        <td><%=list[i].E%></td>
                                        <td><%=list[i].F%></td>
                                        <td><%=list[i].realAnswer%></td>
                               
                                        <td><%=list[i].mysqlTime%></td>
                                        <!-- ✔️ 是否已经回答对 0没有回答对 1回答对 -->
                                        <%if(list[i].isCompleted == '1'){%>
                                        <td>已回答成功</td>
                                        <%}else{%>
                                        <td>未回答</td>
                                        <%}%>
                                        <td>
                                           <div class="tpl-table-black-operation">
                                               
                                                <a href="javascript:;" class="tpl-table-black-operation-set" data-am-modal="{target: '#m_edite<%= list[i].id%>'}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                
                                                <a href="<?php echo site_url('/activity/Activity/delLanern/');?><%= list[i].id%>" onclick="return confirm('确定删除?');" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除

                                                </a>

                                            </div>  
                                        </td>
                                        <div class="am-modal am-modal-confirm" tabindex="-1" id="m_edite<%=list[i].id%>">
                                            <div class="am-modal-dialog">
                                                <div class="am-modal-hd">编辑灯谜问题</div>
                                                <div class="am-modal-bd">
                                                    <!-- <form class="am-form tpl-form-line-form" action="<?php echo site_url('/activity/Activity/editLanern');?>" method="post"> -->
                                                        <form>
                                                       <div class="am-form-group am-cf" style="min-height: 100px;">
                                                            <label class="am-u-sm-4 am-form-label">问题：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <textarea rows="4" name="title"><%=list[i].title%></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">答案A：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="A" value="<%=list[i].A%>">
                                                            </div>
                                                        </div>
                                                        <div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">答案B：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="B" value="<%=list[i].B%>">
                                                            </div>
                                                        </div>
                                                        <div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">答案C：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="C" value="<%=list[i].C%>">
                                                            </div>
                                                        </div>
                                                        <div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">答案D：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="D" value="<%=list[i].D%>">
                                                            </div>
                                                        </div>
                                                        <div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">答案E：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="E" value="<%=list[i].E%>">
                                                            </div>
                                                        </div><div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">答案F：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="F" value="<%=list[i].F%>">
                                                            </div>
                                                        </div>
                                                        <div class="am-form-group am-cf" >
                                                            <label class="am-u-sm-4 am-form-label">正确答案：</label>
                                                            <div class="am-u-sm-6 am-u-end">
                                                                <input type="text" name="realAnswer" placeholder="例如：A或B或C" value="<%=list[i].realAnswer%>">
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="am-form-group am-cf">
                                                            <input type="hidden" name="id" value="<%=list[i].id%>">
                                                            <button class="am-btn am-btn-default am-btn-xs" type="button" data-am-modal-cancel>取消</button>
                                                            <button class="am-btn am-btn-xs am-btn-secondary" id="submitFrom" type="submit" data-am-modal-confirm>确定</button>
                                                        </div>
                                                        </form>
 
                                                    <!-- </form> -->
                                                </div>
                                            </div>
                                        </div>
                                </tr>

                                        
                            <%}%> 
                        </script>

                    </div>
                    <div value="1 0"></div>
                    <div id="page" class="page_div"></div>

                </div>

            </div>

        </div>

    </div>





</div>

</div>

<script> 
     function uploadFiles(){

            var fileObj=document.getElementsByClassName('fileUpLoad')[0].files[0];//获取文件对象

           // console.log(fileObj.name.split('.')[1]);

            var FileController="<?php echo site_url('/activity/Activity/ImportLanern');?>";//上传文件的后台地址

            if(fileObj.name.split('.')[1]=='xml' || fileObj.name.split('.')[1]=='xlsx' || fileObj.name.split('.')[1]=='xls'){

               var form=new FormData();

                form.append('file',fileObj); //文件对象

                //实例化XMLHttpRequest对象

                var xhr=new XMLHttpRequest();

                xhr.open('post',FileController,true);

                xhr.onload=function(){

                    alert("导入成功！");

                    window.location.reload();
                };

                xhr.send(form); 

                return true;

            }else{

                alert("上传文件的格式错误！");

                return false;

            }

            

        }

    $(function () {  

        


        var startDate = new Date(2014, 11, 20);
        var endDate = new Date(2014, 11, 25);
        var $alert = $('#my-alert');
        $('#my-start').datepicker().
          on('changeDate.datepicker.amui', function(event) {
            if (event.date.valueOf() > endDate.valueOf()) {
              $alert.find('p').text('开始日期应小于结束日期！').end().show();
            } else {
              $alert.hide();
              startDate = new Date(event.date);
              $('#my-startDate').text($('#my-start').data('date'));
              $('#begin_date').val($('#my-start').data('date'));
            }
            $(this).datepicker('close');
          });

        $('#my-end').datepicker().
          on('changeDate.datepicker.amui', function(event) {
            if (event.date.valueOf() < startDate.valueOf()) {
              $alert.find('p').text('结束日期应大于开始日期！').end().show();
            } else {
              $alert.hide();
              endDate = new Date(event.date);
              $('#my-endDate').text($('#my-end').data('date'));
              $('#end_date').val($('#my-end').data('date'));
            }
            $(this).datepicker('close');
          });
        $('#my-start1').datepicker().
          on('changeDate.datepicker.amui', function(event) {
            if (event.date.valueOf() > endDate.valueOf()) {
              $alert.find('p').text('开始日期应小于结束日期！').end().show();
            } else {
              $alert.hide();
              startDate = new Date(event.date);
              $('#my-startDate1').text($('#my-start1').data('date'));
              $('#begin_date1').val($('#my-start1').data('date'));
            }
            $(this).datepicker('close');
          });

        $('#my-end1').datepicker().
          on('changeDate.datepicker.amui', function(event) {
            if (event.date.valueOf() < startDate.valueOf()) {
              $alert.find('p').text('结束日期应大于开始日期！').end().show();
            } else {
              $alert.hide();
              endDate = new Date(event.date);
              $('#my-endDate1').text($('#my-end1').data('date'));
              $('#end_date1').val($('#my-end1').data('date'));
            }
            $(this).datepicker('close');
          });
    
       
    }) ;



$(document).ready(function(){



    // 初始化节点，无数据关联
    $("#page").paging({
        pageNo: 1,
        totalPage: 10,
        totalSize: 100,
        callback: function(num) {
            getListinfo(num,'','',"<?php echo site_url("/activity/Activity/retLantern");?>");
        }
    })
    
    // 初始化,加载第一页
    var page = "<?php if(!isset($_SESSION['lanternNum'])){echo '0';}else{echo $_SESSION['lanternNum']/10 +1;}?>";


    getListinfo(page,'','',"<?php echo site_url("/activity/Activity/retLantern");?>");
    
    // 新分页方法
    function getListinfo(num,state,sear,url) {

        var pagenum10 = (num-1) *10;
       
        $.ajax({
            url: url,
            type: "post",
            data: {
                'start':pagenum10,
                'count':10,
                'state':state,
                'sear':sear,
            },
            // dataType: "json",
            success: function(data) {
                console.log(data);
                if(data != 2){
                    var res = JSON.parse(data);
                    var allpage = Math.ceil(res.total/10);  
                    //分页
                    $("#page").paging({
                        pageNo: num,
                        totalPage: allpage,
                        totalSize: res.total,
                        callback: function(num) { //点击页码的 回调 方法
                            // console.log(num);
                            getListinfo(num,state,sear,"<?php echo site_url("/activity/Activity/retLantern");?>");
                        }
                    })
                    // 铺数据
                    var dataobj = {};
                    var lists = res.subjects;
                    // 头像
 					lists.forEach(function(ele,index){
 						// console.log(ele.pic.length)
                        if(ele.pic && ele.pic.length > 5){
                          ele.pic = JSON.parse(ele.pic)[0].picImg;
                        }else{
                        	ele.pic='';
                        }
                    })
                    
                    dataobj.list = lists;
                    var html=template("infolist",dataobj);
                    document.getElementById("infolistDiv").innerHTML = html;
                }else{
                    $('#infolistDiv').find('tr').remove();
                
                	$('<tr class="trClass"><td colspan="12" class="am-text-center"><p id="nullMessage">暂无相关信息！</p></td></tr>').appendTo('#infolistDiv');

                }
            },
            error:function(data){
                console.log(data);
            }
        })
    }
    

    //点击搜索

    $('.searchOrder').click(function(){

        var state = $('#questionStates option:selected').val(), sear = $('#search').val();
        console.log(state,sear)

        getListinfo(1,state,sear,"<?php echo site_url("/activity/Activity/retLantern");?>");

    });



})

</script> 



</body>

</html>



