<?php $this->load->view('common.html');?>
<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}

</style>
<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="<?php echo site_url().'/admin';?>">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 管理中心
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-building sidebar-nav-link-logo"></i> 商场管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollBrief';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商场简介
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/moll/moll/mollFloorInfo';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 楼层信息
                </a>
            </li>
             <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态配置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollyetaiList';?>" >
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 业态列表
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="<?php echo site_url().'/moll/moll/mollAddYetai';?>">
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增业态
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商家管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商家列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/shop/shop/addShop';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增商家
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title active">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 商城管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsList';?>" >
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 
                    商品列表
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeGoodsSort';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品分类
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeOrderList';?>" class="sub-active">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 订单管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/store/store/storeDeliveryList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 快递管理
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-users sidebar-nav-link-logo"></i> 会员管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberGroup';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员组
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberLimit';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 权限管理
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/addMember';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增会员
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员列表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberCard';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 会员卡管理
                </a>
            </li>
        </ul>
    </li>
     <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-tag sidebar-nav-link-logo"></i> 主页模块
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/localLife/localLifeList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 本地生活
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/module/charge';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 充值缴费
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 一键钟情
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/module/homeReport/index';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 家乡报道
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 为民服务
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> HI.团购
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 购物中心
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 在线金融
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 游戏娱乐
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="<?php echo site_url().'/member/member/memberList';?>">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 优品汇
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="chart.html">
            <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表

        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="javascript:;" class="sidebar-nav-sub-title">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 卡券管理
            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
        </a>
        <ul class="sidebar-nav sidebar-nav-sub">
            <li class="sidebar-nav-link">
                <a href="table-list.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 电子券
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="table-list-img.html">
                    <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 积分
                </a>
            </li>
        </ul>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-key sidebar-nav-link-logo"></i> 管理员管理
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="login.html">
            <i class="am-icon-unlock sidebar-nav-link-logo"></i> 登录
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="404.html">
            <i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误
        </a>
    </li>

</ul>
</div>
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商城管理 <small>订单列表</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">订单搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsType" class="am-form-label am-u-sm-4">条件搜索:</label>
                        <div class="am-u-sm-8">
                            <select id="goodsType" name="goodsType">
                                <option value="">-=请选择一项=-</option>
                                <option value="option1">商品名称</option>
                                <option value="option2">卖家</option>
                                <option value="option2">买家</option>
                                <option value="option2">订单金额</option>
                                <option value="option2">附加金额</option>
                                <option value="option2">附加名称</option>
                                <option value="option2">买家名称</option>
                                <option value="option2">买家地址</option>
                                <option value="option2">买家邮编</option>
                                <option value="option2">买家电话</option>
                                <option value="option2">买家手机</option>
                                <option value="option2">发货快递</option>
                                <option value="option2">发货单号</option>
                                <option value="option2">备注</option>
                            </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsBatch" class="am-form-label am-u-sm-4">状态:</label>
                        <div class="am-u-sm-8">
                        <select id="goodsBatch" name="goodsBatch">
                            <option value="">-=请选择一项=-</option>
                            <option value="option1">待确认</option>
                            <option value="option2">待付款</option>
                            <option value="option2">待发货</option>
                            <option value="option2">已发货</option>
                            <option value="option2">交易成功</option>
                            <option value="option2">申请退款</option>
                            <option value="option2">已退款</option>
                            <option value="option2">货到付款</option>
                            <option value="option2">买家关闭</option>
                            <option value="option2">卖家关闭</option>

                        </select>
                        </div>
                    </div>
                     <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsBatch" class="am-form-label am-u-sm-4">排序方式:</label>
                        <div class="am-u-sm-8">
                        <select id="goodsBatch" name="goodsBatch">
                            <option value="">-=请选择一项=-</option>
                            <option value="option1">下单时间降序</option>
                            <option value="option2">下单时间升序</option>
                            <option value="option2">更新时间降序</option>
                            <option value="option2">更新时间升序</option>
                            <option value="option2">商品单价降序</option>
                            <option value="option2">商品单价生序</option>
                            <option value="option2">购买数量降序</option>
                            <option value="option2">购买数量升序</option>
                            <option value="option2">订单金额降序</option>
                            <option value="option2">订单金额升序</option>
                            <option value="option2">附加金额降序</option>
                            <option value="option2">附加金额升序</option>
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">交易总额:</label>
                        <div class="am-u-sm-8">
                            <div class="am-u-sm-4"><input type="number" class="am-u-sm-4" id="startPrice" name="startPrice" min="0" /></div>
                            <div class="am-u-sm-4 am-text-center">至</div>
                            <div class="am-u-sm-4 am-fl"><input type="number" class="am-u-sm-4" id="endPrice" name="endPrice" min="1" /></div>
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-6 am-u-md-6 am-u-lg-6">
                        <label for="businessTime" class="am-form-label am-u-sm-2">下单时间：</label>
                        <div class="am-u-sm-10">
                            <div class="am-alert am-alert-danger" id="lineTime" style="display: none">
                              <p>开始日期应小于结束日期！</p>
                            </div>
                            <div class="am-g">
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs am-margin-right" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs am-margin-right" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">订单单号:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">商品单号:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3" style="float:left;">
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">卖家:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="goodsPrice" class="am-form-label am-u-sm-4">买家:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3 am-fl">
                        <label for="source_state" class="am-u-sm-4 am-form-label">关键词搜索:</label>
                        <div class="am-u-sm-8">
                            <input type="text" placeholder="请输入搜素的关键字">
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">订单列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox"></th>
                                    <th class="shop_id">缩略图 </th>
                                    <th class="moll_name">商品或服务 </th>
                                    <th class="shop_id">交易总额 </th>
                                    <th class="shop_name">卖家 </th>
                                    <th class="shop_type">买家 </th>
                                    <th class="shop_yetai">下单时间 </th>
                                    <th class="brand">更新时间 </th>
                                    <th class="shop_block">状态 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">上衣</td>
                                    <td class="am-text-middle">destoon</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2</td>
                                    <td class="am-text-middle">10</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">5</td>  
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">上衣</td>
                                    <td class="am-text-middle">destoon</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2</td>
                                    <td class="am-text-middle">10</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">5</td>  
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">上衣</td>
                                    <td class="am-text-middle">destoon</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2</td>
                                    <td class="am-text-middle">10</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">5</td>  
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">上衣</td>
                                    <td class="am-text-middle">destoon</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2</td>
                                    <td class="am-text-middle">10</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">5</td>  
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle"><input type="checkbox"></td>
                                    <td class="am-text-middle">F1003</td>
                                    <td class="am-text-middle">上衣</td>
                                    <td class="am-text-middle">destoon</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2</td>
                                    <td class="am-text-middle">10</td>
                                    <td class="am-text-middle">200</td>
                                    <td class="am-text-middle">5</td>  
                                    <td class="am-text-middle">
                                        <div class="tpl-table-black-operation">
                                            <a onClick="return confirm('确定删除?');" href="#" class="tpl-table-black-operation-del" data-am-modal="{target: '#delete'}">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.datatables.min.js"></script>
<script src="assets/js/dataTables.responsive.min.js"></script>
<script src="assets/js/app.js"></script>
<script type="text/javascript">
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
</script>
</body>
</html>
