<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}
.tpl-del{
    border: 1px solid #ff0000 !important;
    color: #ff0000 !important;
}
.refresh{
    cursor: pointer;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span>商城管理 &nbsp;&nbsp;<a href="<?php echo site_url().'/store/store/storeGoodsSort';?>" style="font-size:16px;">商品分类</a>
            </div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">商品搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-3 am-u-md-3 am-u-lg-3">
                        <label for="source_state" class="am-u-sm-4 am-form-label">分类搜索:</label>
                        <div class="am-u-sm-8">
                            <input type="text" id="searchKey" placeholder="请输入搜素的关键字">
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-9 am-u-md-9 am-u-lg-9 am-text-left">
                        <button type="button" class="am-btn am-btn-secondary am-btn-xs searchSort"><i class="am-icon-search"></i> 搜索</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">商品列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><a href="<?php echo site_url().'/store/store/storeAddSort';?>"><span class="am-icon-plus"></span> 新增</a></button>
                                  <!--   <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-arrow-down"></span> 导入</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-arrow-up"></span> 导出</button> -->
                                    <button type="button" class="am-btn am-btn-default am-btn-danger refresh"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    
                                    <th class="moll_name">分类编号</th>
                                    <th class="shop_name">分类名 </th>
                                    <th class="shop_name">ICON </th>
                                    <th class="shop_name">ICON背景色 </th>
                                    <th class="shop_yetai">索引 </th>
                                    <th class="shop_id">上级ID </th>
                                    <th class="shop_id">排序 </th>
                                    <th class="shop_id">创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="storeSortList">
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fl" id="paging_list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/artTemplate-native.js"></script>
<script src="assets/laypage/laypage.js"></script>
<script type="text/javascript">
    //异步刷新的ajax请求
    
    function getList(dataurl,data){
        $.ajax({
        type:'post',
        url:dataurl,
        data: data,
        success: function(result){
            //alert(result + '<br />');
            var res = eval(result);
            if(res.length){
                var nums = 2; //每页出现的数量
                var pages = Math.ceil(res.length/nums); //得到总页数
                var thisDate = function(curr){
                    var listData = '' , last = curr*nums - 1;
                    last = last >= res.length ? (res.length-1) : last;
                     for(var i = (curr*nums - nums); i <= last; i++){
                        listData+= template('storeSortModal',res[i]);
                     }
                    
                    return listData;
                };
                //调用分页
                laypage({
                    cont: 'paging_list',
                    pages: pages,
                    jump: function(obj){
                        document.getElementById('storeSortList').innerHTML = thisDate(obj.curr);
                        $('.editSort').click(function(){//编辑分类信息
                            var dataId=$(this).attr('data-id');
                            $(this).attr("href","<?php echo site_url('/store/store/storeEditSort/" + dataId + "');?>");
                        });
                        for(var i=0;i<$('.tpl-del').length;i++){
                            var dataId=$('.tpl-del').eq(i).attr('data-id');
                            $('.tpl-del').eq(i).attr("data-am-modal","{target: '#"+ dataId +"'}");
                        }
                        $('.sureDelete').click(function(){
                            var dataId=$(this).attr('data-id');
                            for(var i=0;i<$('.trClass').length;i++){
                                if($('table tbody tr').eq(i).attr('data-id')==dataId){
                                    $('table tbody tr').eq(i).remove();
                                    $.ajax({
                                        type:'post',
                                        url:'<?php echo site_url('/store/store/del_store_cate');?>',
                                        data: 'id='+dataId,
                                        success: function(data){
                                            if(data==1){
                                               
                                                for(var i=0;i<$('.trClass').length;i++){
                                                    if($('.trClass').eq(i).attr('data-id')==dataId){
                                                        $('.trClass').eq(i).remove();
                                                        getList('<?php echo site_url('/store/store/goods_cates');?>','id=1');
                                                    }
                                                }
                                            }else{
                                                alert("操作失败！");
                                            }
                                            
                                        },
                                        error:function(xhr,type,errorThrown){
                                            alert("操作失败，请检查网络设置！");
                                        }
                                    });
                                    getList();
                                }
                            }
                            
                        })
                        
                    }
                })
            }else{
                $('#storeGoodsList').html("对不起，没有更多数据了！");
            }

            
        },
        error:function(xhr,type,errorThrown){
            alert("网络状况不佳，请稍后重试！");
        }
    });
}
$(document).ready(function(){
    //加载列表数数据
    getList('<?php echo site_url('/store/store/goods_cates');?>','id=1');
    //刷新页面
    $('.refresh').click(function(){
        getList('<?php echo site_url('/store/store/goods_cates');?>','id=1');
    });
    //点击搜索
    $('.searchSort').click(function(){
        var keywords=$('#searchKey').val();
        getList('<?php echo site_url('/store/store/search_cate');?>','sear='+keywords);
    });
})
</script>
<script type="text/html" id="storeSortModal">
    <tr class="trClass" data-id="<%= catid%>">
        <td class="am-text-middle"><%= catid%></td>
        <td class="am-text-middle"><%= catname%></td>
        <%if(icon) {%>
        <td class="am-text-middle">
            <img src="<%= icon%>" class="am-img-responsive" alt=""/>
        </td>
        <%} else {%>
        <td class="am-text-middle">
            
        </td>
        <%}%>
        <td class="am-text-middle"><input type="color" value="<%= icon_color%>" name="" /></td>
        <td class="am-text-middle"><%= letter%></td>
        <%if(parentid==0) {%>
        <td class="am-text-middle">--</td>
        <%} else {%>
        <td class="am-text-middle"><%= parentid%></td>
        <%}%>
        <td class="am-text-middle"><%= sort%></td>
        <td class="am-text-middle"><%= create_time%></td>
        <td class="am-text-middle">
            <div class="tpl-table-black-operation">
                <a  data-id="<%= catid%>" class="editSort">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a data-id="<%= catid%>" class="tpl-del">
                    <i class="am-icon-trash"></i> 删除
                </a>
            </div>
        </td>
    </tr>
     <div class="am-modal am-modal-confirm" tabindex="-1" id="<%= catid%>">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">删除提示</div>
            <div class="am-modal-bd">
                <p class="black">你，确定要删除这条记录吗？</p>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn sureDelete" data-id="<%= catid%>" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</script>
