<style type="text/css" media="screen">
.am-selected{
width: 100%!important;
}
.table-check{
width: 30px;
}
.hf-dropdown{
font-size: 12px!important;
padding: 5px 6px!important;
}
td.am-text-middle img{
    width:80px;
}
.am-u-sm6{
    width:60px !important;
    margin:0;
}
.am-form-group div{
    line-height: 37px;
}
.stable{
    display: inline-block !important;
    width: 45% !important;
}
.linkWord{
    width: 10% !important;
}
.stable{
    display: inline-block !important;
    width: 45% !important;
}
.linkWord{
    width: 10% !important;
}
.tableImg{
    width:80px;
}
.am-table>tbody>tr.noBorder>td{
    border-top: none;
}
</style>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商城管理 <small>订单列表</small></div>
        </div>
    </div>
</div>
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">订单搜索</div>
                </div>
                <form class="am-form am-form-horizontal am-padding-sm am-text-sm">
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsBatch" class="am-form-label am-u-sm-3">状态:</label>
                        <div class="am-u-sm-9">
                        <select id="" name="goodsBatch">
                            <option value="">-=请选择一项=-</option>
                            <option value="option1">待确认</option>
                            <option value="option2">待付款</option>
                            <option value="option2">待发货</option>
                            <option value="option2">已发货</option>
                            <option value="option2">交易成功</option>
                            <option value="option2">申请退款</option>
                            <option value="option2">已退款</option>
                            <option value="option2">货到付款</option>
                            <option value="option2">买家关闭</option>
                            <option value="option2">卖家关闭</option>

                        </select>
                        </div>
                    </div>
                     <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsBatch" class="am-form-label am-u-sm-3">排序方式:</label>
                        <div class="am-u-sm-9">
                        <select id="" name="goodsBatch">
                            <option value="">-=请选择一项=-</option>
                            <option value="option1">下单时间降序</option>
                            <option value="option2">下单时间升序</option>
                            <option value="option2">更新时间降序</option>
                            <option value="option2">更新时间升序</option>
                            <option value="option2">商品单价降序</option>
                            <option value="option2">商品单价生序</option>
                            <option value="option2">购买数量降序</option>
                            <option value="option2">购买数量升序</option>
                            <option value="option2">订单金额降序</option>
                            <option value="option2">订单金额升序</option>
                            <option value="option2">附加金额降序</option>
                            <option value="option2">附加金额升序</option>
                        </select>
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsPrice" class="am-form-label am-u-sm-3 am-fl">交易总额:</label>
                        <div class="am-u-sm-9">
                            <input type="number" class="stable" name="startPrice" min="1"  />
                            <span class="linkWord">至</span>
                            <input type="number" class="stable" name="endPrice" min="1"  />
                        </div>
                    </div>
                    <div class="am-form-group am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="businessTime" class="am-form-label am-u-sm-3">下单时间：</label>
                        <div class="am-u-sm-9">
                            <div class="am-alert am-alert-danger" id="lineTime" style="display: none">
                              <p>开始日期应小于结束日期！</p>
                            </div>
                            <div class="am-g">
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-start">开始日期</button><span id="my-startDate">2014-12-20</span>
                              </div>
                              <div class="am-u-sm-6">
                                <button type="button" class="am-btn am-btn-default am-btn-secondary am-btn-xs" id="my-end">结束日期</button><span id="my-endDate">2014-12-25</span>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">订单单号:</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">商品单号:</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4" style="float:left;">
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">卖家:</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4">
                        <label for="goodsPrice" class="am-form-label am-u-sm-3">买家:</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="startPrice" name="startPrice" />
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-4 am-u-md-4 am-u-lg-4 am-fl">
                        <label for="source_state" class="am-u-sm-3 am-form-label">关键词搜索:</label>
                        <div class="am-u-sm-9">
                            <input type="text" placeholder="请输入搜素的关键字">
                        </div>
                    </div>
                    <div class="am-form-group am-inline am-u-sm-12 am-u-md-12 am-u-lg-12 am-text-center">
                        <button type="submit" class="am-btn am-btn-secondary"><i class="am-icon-search"></i> 查询</button>
                    </div>
                </form>
                <div class="widget-head am-cf" style="clear:both;">
                    <div class="widget-title  am-cf">订单列表</div>
                </div>
                <div class="widget-body  am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-refresh "></span> 刷新</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black ">
                            <thead>
                                <tr>
                                    <th class="shop_id">订单编号 </th>
                                    <th class="moll_name">商品或服务 </th>
                                    <th class="shop_name">卖家 </th>
                                    <th class="shop_type">买家 </th>
                                    <th class="shop_id">订单总额 </th>
                                    
                                    <th class="shop_yetai">下单时间 </th>
                                    <th class="brand">更新时间 </th>
                                    <th class="shop_block">状态 </th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="am-text-middle">S12345678
                                    </td>
                                    <td class="am-text-middle"><a href="javascript:;">韩版上装</a></td>
                                    <td class="am-text-middle">寒渊阁</td>                                 
                                    <td class="am-text-middle">寒渊阁粉丝</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2016-10-25<br />10:12:13</td>
                                    <td class="am-text-middle">2016-10-25<br />10:12:13</td>
                                    <td class="am-text-middle">待确认</td>
                                    <td class="am-text-middle">
                                    <div class="tpl-table-black-operation am-fr" >
                                            <a href="<?php echo site_url().'/store/store/storeOrderDetail';?>" class=""><i class="am-icon am-icon-eye"></i>
                                                 查看详情
                                            </a>
                                        </div>  
                                    </td>
                                </tr>
                                <tr>
                                    <td class="am-text-middle">S12345678
                                    </td>
                                    <td class="am-text-middle"><a href="javascript:;">韩版上装</a></td>
                                    <td class="am-text-middle">寒渊阁</td>                                 
                                    <td class="am-text-middle">寒渊阁粉丝</td>
                                    <td class="am-text-middle">300.00</td>
                                    <td class="am-text-middle">2016-10-25<br />10:12:13</td>
                                    <td class="am-text-middle">2016-10-25<br />10:12:13</td>
                                    <td class="am-text-middle">待确认</td>
                                    <td class="am-text-middle">
                                    <div class="tpl-table-black-operation am-fr" >
                                            <a href="<?php echo site_url().'/store/store/storeOrderDetail';?>" class=""><i class="am-icon am-icon-eye"></i>
                                                 查看详情
                                            </a>
                                        </div>  
                                    </td>
                                </tr>
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <ul class="am-pagination tpl-pagination">
                                <li class="am-disabled"><a href="#">«</a></li>
                                <li class="am-active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2014, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-startDate').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-endDate').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
</script>
